<template>
  <div class="faq"
       :data-color="backgroundColor"
        id="v-tour-help3">
       <div class="logo pruebacss" >
      <a class="simple-text logo-normal">
          <h6 style="color:darkblue; font-weight:bold"> Guía de Usuario 
             <el-button type="danger" class="btn-magnify" name="close" size="mini" plain @click="minimizeFaqbar">
                  <i class="fa fa-times"></i>
              </el-button>
          </h6>
      </a>
       <div class="faq-wrapper" ref="sidebarScrollArea">
          <a class="simple-text" href="#pablo">
          </a>
        <collapse>
            <collapse-item title="Agregar nuevo Subriesgo" name="1">
              <div>
                Para agregar un subriesgo realiza lo siguiente:
                <ol> 
                  <li>Dirijete a la parte superior derecha de la pantalla identificación de riesgo y presionar el botón
                      <p-button type="info" class="btn-magnify" icon round size="mid"><i class="fa fa-plus"></i></p-button>
                  </li>
                  <li>Dentro del modal llena los datos solicitados y presiona agregar</li>
                </ol>
              </div>
            </collapse-item>
            <collapse-item title="Editar impactos y probabilidades" name="2">
              <div>
                Antes de editar, asegurate de que realmente es necesario modificar los parámetros de dicho subriesgo 
                <ol> 
                  <li>Dirijete a la parte derecha del subriesgo en cuestión y presionar el botón
                    <p-button type="info" class="btn-magnify" size="sm" icon><i class="fa fa-edit"></i></p-button>
                  </li>
                  <li>Da click en Si, Cambiar</li>
                  <li>En el centro del cuadro de edición encontrarás los valores de Impacto y Probabilidad, al dar click serás 
                      redireccionado a la pantalla de Configuración de Parámetros </li>
                  <li>Al fondo de la pantalla podrás ver el botón 
                      <p-button  type="info" class="btn-magnify" icon round><i class="el-icon-plus "></i></p-button>
                      al dar click aparecerán los datos a llenar para poder
                      agregar un nuevo parámetro al subriesgo deseado</li>
                </ol>
              </div>
            </collapse-item>
            <collapse-item title="Agregar parámetros a Subriesgos" name="3">
              <div>
                <ol>
                  <li>En la etiqueta Nuevo parámetro coloca el título de tu nuevo parámetro</li>
                  <li>Ajusta los niveles de impacto y probabilidad</li>
                  <li>Mide el promedio y el nivel indicados para verificar que son los que deseas</li>
                </ol>
                  ** Si lo requires, el botón Matriz te indica los valores por color
              </div>
            </collapse-item>
          </collapse>
       </div>
    </div>
    <!-- <div class="faq-wrapper" ref="sidebarScrollArea">
      <slot>
      </slot>
      <ul class="nav">
        <slot name="links">
          <faq-item v-for="(link, index) in linksBand"
                        :key="link.name + index"
                        :link="link">
            <faq-item v-for="(subMenu, index) in link.children"
                          :key="subMenu.name + index"
                          :link="subMenu" >           
            </faq-item>
          </faq-item>
        </slot>
      </ul>
    </div> -->
  </div>
</template>
<script>
  import 'perfect-scrollbar/dist/css/perfect-scrollbar.css'
  import {Collapse, CollapseItem, Tabs, TabPane, Card} from 'src/components/UIComponents'
  import Vue from "vue";
  import { Button, Select } from 'element-ui';            

  Vue.component(Button.name, Button);
  export default {
    components: {
      TabPane,
      Tabs,
      CollapseItem,
      Collapse,
      Card,
      [Button.name]: Button
    },

    props: {

      backgroundColor: {
        type: String,
        default: 'pad-black',
        validator: (value) => {
          let acceptedValues = ['white', 'brown', 'black','pad-black']
          return acceptedValues.indexOf(value) !== -1
        },
        description: 'Sidebar background color (white|brown|black|pad-black)'
      },
      autoClose: {
        type: Boolean,
        default: false
      }
    },
    data(){
      return{
        linksBand:[
          {
    name: 'Subcontratación',
    icon: 'fa fa-handshake-o',
    children: [
      {
        name: 'Monitoreo',
        path: '*'
      },
      {
        name: 'Planes de acción',
        path: '*'
      },
      {
        name: 'Revisión y auditoría',
        path: '*'
      },
      {
        name: 'Comunicación',
        path: '*'
      },
      {
        name: 'E-learning',
        path: '*'
      }
    ]
  },
  {
    name: 'Datos Personales',
    icon: 'fa fa-newspaper-o',
    children: [
      {
        name: 'Monitoreo',
        path: '*'
      },
      {
        name: 'Planes de acción',
        path: '*'
      },
      {
        name: 'Revisión y auditoría',
        path: '*'
      },
      {
        name: 'Comunicación',
        path: '*'
      },
      {
        name: 'E-learning',
        path: '*'
      }
    ]
  },
        ]
      }

    },
    provide() {
      return {
        autoClose: this.autoClose
      }
    },
    methods: {
      async initScrollBarAsync () {
        const PerfectScroll = await import('perfect-scrollbar')
        PerfectScroll.initialize(this.$refs.sidebarScrollArea)
      },
      hideFaqbar() {
        this.$faq.displaySidebar(false)
      },
      minimizeFaqbar() {
        this.$faq.toggleMinimize()
      },
    },
    
    mounted () {
      this.minimizeFaqbar()
      this.initScrollBarAsync()
    },
    beforeDestroy () {
      if (this.$faq.showSidebar) {
        this.$faq.showSidebar = false
      }
    }
  }

</script>
<style lang="scss" scope>
@import "src/assets/sass/paper/_variables.scss";
  @media (min-width: 992px) {
    .navbar-search-form-mobile,
    .nav-mobile-menu{
      display: none;
    }
  }
  .card-collapse .card .card-header a[data-toggle="collapse"]{
    font-weight: bold;
  }
  .card-collapse .card .card-header a[data-toggle="collapse"] i {
   /*  float: left;
    right: 0; */
    padding: 5px 10px;
  }
  .pruebacss{
    animation-duration: .5s;
    animation-name: slidein;
    box-shadow:$sidebar-box-shadow;
    height:100%;
  }

  @keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
.el-button--danger.is-plain[name="close"] {
    color: #e2445c;
    background: #fff0;
    margin-left: 130px;
    border-color: #f3b4bf00;
}
</style>

