<template>
  <div class="sidebar"
       :data-color="backgroundColor"
       :data-active-color="activeColor">
    <div class="logo">
      <a class="simple-text logo-normal"
         href="#">
         <b> {{ title }}</b>
      </a>
    </div>
    <div class="sidebar-wrapper" ref="sidebarScrollArea">
      <!--slot>

      </slot-->
      <ul class="nav">
        <slot name="links">
          <sidebar-item :id="'menu-' + index1" v-for="(link, index1) in sidebarElements"
                        :key="link.name + index1"
                        :link="link">
            <sidebar-item :id="'sub-' + index2" :style="sizeHeight(subMenu.name)" v-for="(subMenu, index2) in link.children"
                          :key="subMenu.name + index2"
                          :link="subMenu" >
              <sidebar-item :id="'item-' + index3" style="padding-left:5%;"  v-for="(subLink, index3) in subMenu.children"
                          :key="subMenu.name + index3"
                          :link="subLink">
                <sidebar-item :id="'itemChild-'+index3+'-' + index4" style="padding-left:20%;" :style="sizeHeight2(subL.name)" v-for="(subL, index4) in subLink.children"
                          :key="subLink.name + index4"
                          :link="subL">                  
                </sidebar-item>  
              </sidebar-item>            
            </sidebar-item>
          </sidebar-item>
        </slot>

      </ul>
    </div>
  </div>
</template>
<script>
import "perfect-scrollbar/dist/css/perfect-scrollbar.css";
import getUsers from "../../../api/user/user";
import { mapGetters, mapState, mapMutations } from "vuex";
import { gralErrorMethods } from "src/mixins/generalMethods.js";
import { Validator } from "vee-validate";
export default {
  props: {
    title: {
      type: String,
      default: "PAD",
      description: "Sidebar title"
    },
    backgroundColor: {
      type: String,
      default: "pad-primary",
      validator: value => {
        let acceptedValues = [
          "white",
          "brown",
          "black",
          "pad-black",
          "pad-primary"
        ];
        return acceptedValues.indexOf(value) !== -1;
      },
      description:
        "Sidebar background color (white|brown|black|pad-black|pad-primary)"
    },
    activeColor: {
      type: String,
      default: "success",
      validator: value => {
        let acceptedValues = [
          "primary",
          "info",
          "success",
          "warning",
          "danger"
        ];
        return acceptedValues.indexOf(value) !== -1;
      },
      description:
        "Sidebar active text color (primary|info|success|warning|danger)"
    },
    logo: {
      type: String,
      default: "/static/img/vue-logo.png",
      description: "Sidebar Logo"
    },
    sidebarLinks: {
      type: Array,
      default: () => [],
      description:
        "Sidebar links. Can be also provided as children components (sidebar-item)"
    },
    autoClose: {
      type: Boolean,
      default: true
    }
  },
  provide() {
    return {
      autoClose: this.autoClose
    };
  },

  computed: {
    ...mapState("user", ["myUser"]),
    ...mapState("organization", ["premium"]),

    sidebarElements() {
      // if(this.premium || this.premium===null){
      //   if(this.myUser.role == "superadmin"){
      //     return this.sidebarLinks
      //   }
      //   let jsonArray = JSON.stringify(this.sidebarLinks)
      //   let mySidebarLinks = JSON.parse(jsonArray)
      //   mySidebarLinks.map(element =>{
      //     if(element.name=="Sistema PAD"){
      //       element.children = element.children.filter(link => (link.path != "/padSystem/administration" && link.path != "/padSystem/monitor"))
      //     }
      //   })
      //   return mySidebarLinks
      // } else {
      //   let jsonArray = JSON.stringify(this.sidebarLinks)
      //   let mySidebarLinks = JSON.parse(jsonArray)
      //   mySidebarLinks.map(link => {
      //     if (link.name != 'Diagnóstico') {
      //       link.path = '#'
      //       link.children = [{name:"Blocked"}]
      //     }
      //   })
      //   return mySidebarLinks
      // }
      if (this.premium["serviceUserProfile"] || this.premium === {}) {
        if (this.premium === {}) {
          return this.sidebarLinks;
        }
        let someModuleObtained = "someModuleObtained";
        let allModules = [
          "moduleAnticorruption",
          "moduleMoney",
          "modulePenal",
          "moduleContinuidad"
        ];
        let serviceDocMgt = "serviceDocMgt";
        let jsonArray = JSON.stringify(this.sidebarLinks);
        let mySidebarLinks = JSON.parse(jsonArray);
        if (!this.premium[someModuleObtained]) {
          mySidebarLinks.map(link => {
            if (link.premiumTag === someModuleObtained) {
              link.path = "#";
              link.children = [{ name: "blocked" }];
            }
          });
          mySidebarLinks.map(link => {
            if (link.name == "Sistema PAD") {
              link.children = link.children.filter(
                linkChildren => linkChildren.premiumTag !== someModuleObtained
              );
            }
          });
        }
        allModules.map(moduleTag => {
          if (!this.premium[moduleTag]) {
            mySidebarLinks.map(link => {
              if (link.premiumTag === moduleTag) {
                link.path = "#";
                link.children = [{ name: "blocked" }];
              }
            });
          }
        });
        if (!this.premium[serviceDocMgt]) {
          mySidebarLinks.map(link => {
            if (link.name == "Sistema PAD") {
              link.children = link.children.filter(
                linkChildren => linkChildren.premiumTag !== serviceDocMgt
              );
            }
          });
        }
        if (this.myUser.role == "superadmin") {
          return mySidebarLinks;
        }
        mySidebarLinks.map(element => {
          if (element.name == "Sistema PAD") {
            element.children = element.children.filter(
              link =>
                link.path != "/padSystem/administration" &&
                link.path != "/padSystem/monitor"
            );
          }
        });

        return mySidebarLinks;
      } else {
        let jsonArray = JSON.stringify(this.sidebarLinks);
        let mySidebarLinks = JSON.parse(jsonArray);
        mySidebarLinks.map(link => {
          if (link.name != "Diagnóstico") {
            link.path = "#";
            link.children = [{ name: "blocked" }];
          }
        });
        return mySidebarLinks;
      }
    }
  },

  methods: {
    sizeHeight(nom) {
      if (nom === "Planes de acción")
        return "height:2rem; left:0.7rem; position:relative; ";
      if (nom === "Monitoreo")
        return "height:2rem; left:0.7rem; position:relative;";
      if (nom === "Revisión y auditoría")
        return "height:2rem; left:0.7rem; position:relative;";
      if (nom === "Opciones") return "height:1.5rem;";
      if (nom === "Gestor documental") return "height:1.5rem;";
      if (nom === "Administración") return "height:1.5rem;";
      if (nom === "Monitor") return "height:1.5rem;";
    },
    sizeHeight2(nom) {
      if (nom === "Tabla de riesgos") return "height:3rem;";
      if (nom === "Evaluación de riesgo residual") return "height:3rem;";
      if (nom === "Priorización en el tratamiento de riesgos")
        return "height:3rem;";
      if (nom === "Mapa de Riesgos") return "height:3rem;";
    },
    async initScrollBarAsync() {
      const PerfectScroll = await import("perfect-scrollbar");
      PerfectScroll.initialize(this.$refs.sidebarScrollArea);
    }
  },

  async mounted() {
    await this.$store.dispatch("organization/getInfoOrg", {
      access_token: this.$cookies.get("token"),
      org_id: this.$store.state.auth.organizationId
    });
    this.initScrollBarAsync();
  },
  beforeDestroy() {
    if (this.$sidebar.showSidebar) {
      this.$sidebar.showSidebar = false;
    }
  }
};
</script>
<style lang="scss">
@media (min-width: 992px) {
  .navbar-search-form-mobile,
  .nav-mobile-menu {
    display: none;
  }
}
</style>
