<template>  
  <component :is="baseComponent"
             :to="link.path ? link.path : '/'"
             :class="{active: isActive}"
             tag="li">
    <a v-if="isMenu"
       data-toggle="collapse"
       href="#"
       @click.prevent="collapseMenu">
      <i :class="link.icon"></i>
      <p :style="heigh(link.name)">{{breakText(link.name)}}<b class="caret" :class="{rotated: !collapsed}"></b></p>
    </a>
    <collapse-transition v-if="$slots.default || this.isMenu">
      <div v-show="!collapsed" class="collapse-menu">
        <ul class="nav">
          <slot></slot>
        </ul>
      </div>
    </collapse-transition>
    
    <slot name="title" v-if="children.length === 0 && !$slots.default && link.path">
      
      <component
        :to="link.path"
        :is="elementType(link, false)"
        :class="{active: link}"
        :target="link.target"
        @click.native.stop="onItemClick"
        :href="link.path">

        <template v-if="addLink">
          <i v-if="link.name==='Evaluación de Controles' && num === true"  :class=" link.icon"></i> 
          <span v-else :class="sideBaricon"  >{{link.name.substring(0, 1)}}</span>
          <span class="sidebar-normal"  :style="sort(link.name)" >{{breakText(link.name)}}</span>
          
        </template>
        <template v-else>
          <i  :class="link.icon"></i> 
          <p>{{breakText(link.name)}}</p>
        </template>
      </component>
    </slot>
  </component>
</template>
<script>
  import { CollapseTransition } from 'vue2-transitions';
  import Vue from 'vue'

  export default {
    components: {
      CollapseTransition
    },
    props: {
      menu: {
        type: Boolean,
        default: false,
        description: 'Whether item is a menu containing multiple items'
      },
      link: {
        type: Object,
        default: () => {
          return {
            name: '',
            path: '',
            children: []
          }
        },
        description: 'Link object'
      }
    },
    provide() {
      return {
        addLink: this.addChild,
        removeLink: this.removeChild
      }
    },
    inject: {
      addLink: { default: null },
      removeLink: { default: null },
      autoClose: { default: false },
    },
    data() {
      return {
        children: [],
        collapsed: true,
        isClosed: true,
        user: '',
        num:true
      }
    },
    computed: {
      baseComponent() {
        return this.isMenu || this.link.isRoute ? 'li' : 'router-link'
      },
      isMenu() {
        return this.children.length > 0 || this.menu === true
      },
      isActive() {
        if (this.$route) {
          let matchingRoute = this.children
            .find((c) => this.$route.path.startsWith(c.link.path))
          if (matchingRoute !== undefined) {
            return true
          } 
        }
        return false
      }
    },
    methods: {
      sideBaricon(){
        if(!isActive){
          return 'sidebar-mini-icon'
        } else {
          return 'sidebar-mini-icon-c'
        }
      },
      sideBar(){
        if(isActive){
         return 'sidebar-normal'
        }
      },
      sort(nom){
        if (nom === 'Evaluación de Controles'){
          return 'top:5px;left:0rem;'
        }
      },
      heigh(nom){
        if(nom === 'Evaluación y Tratamiento de Riesgo'){
          return 'line-height: 18px !important;top: .4rem !important;'
        }
      },
      breakText(text){
        if(text.length < 28){
          return text
        }else{
          let arrayWords = text.split(' ')
          let newText = arrayWords.shift()
          let i = 1
          while( arrayWords.length > 0){
            if( i%3 === 0){
              newText += '\n\t     '
            }
            i++
            newText += ` ${arrayWords.shift()}`
          }
          return newText
        }
      },
      toggleMenu() {
        this.isClosed = !this.isClosed
      },
      editarperfil(){
        this.$router.push({ name: "User" })
      },

      addChild(item) {
        const index = this.$slots.default.indexOf(item.$vnode)
        this.children.splice(index, 0, item)
      },
      removeChild(item) {
        const tabs = this.children
        const index = tabs.indexOf(item)
        tabs.splice(index, 1)
      },
      elementType(link, isParent = true) {
        if (link.isRoute === false) {
          return isParent ? 'li' : 'a'
        } else {
          return 'router-link'
        }
      },
      collapseMenu() {
        this.collapsed = !this.collapsed
      },
      onItemClick() {
        if(this.autoClose) {
          this.$sidebar.showSidebar = false;
        }
      }
    },
    mounted() {
      if (this.addLink) {
        this.addLink(this)
      }
      if (this.link.collapsed !== undefined) {
        this.collapsed = this.link.collapsed
      }
      if (this.isActive && this.isMenu) {
        this.collapsed = false
      }
    },
    destroyed() {
      if (this.$el && this.$el.parentNode) {
        this.$el.parentNode.removeChild(this.$el)
      }
      if (this.removeLink) {
        this.removeLink(this)
      }
    }
    
  }
</script>
<style scoped>
  .caret.rotated {
    transform: rotate(180deg);
  }
  
</style>
