<!--YA NO SE USA-->
<template>
  <div class="user">
    <div  id="second-step" class="photo">
      <img :src="this.imagenvalor" alt="..."    >
    </div>
    <div class="info" id="v-step-1">
      <a data-toggle="collapse" :aria-expanded="!isClosed" @click="toggleMenu" href="#">
         <span>
          {{ user }}
           <b class="caret"></b>
        </span>
      </a>
      <div class="clearfix"></div>
      <div>
        <collapse-transition>
          <ul class="nav nav-menu" v-show="!isClosed">
            <li>
                <a href="#">
                  <span class="sidebar-mini-icon">Mp</span>
                  <span class="sidebar-normal">Mi Perfil</span>
                </a>
            </li>
            
            <li>
              <a v-on:click="editarperfil">
                <span class="sidebar-mini-icon">Ep</span>
                <span class="sidebar-normal">Editar Perfil</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="sidebar-mini-icon">O</span>
                <span class="sidebar-normal">Opciones</span>
              </a>
            </li>
            
          </ul>
        </collapse-transition>
      </div>
      
    </div>
  </div>
</template>
<script>
  import { CollapseTransition } from 'vue2-transitions'
  import getUsers from '../../../api/user/user'

  export default {
    components: {
      CollapseTransition,
    },
    data() {
      return {
        isClosed: true,
        user: '',
        picture:'',
        img_cmp:'',
        name:'',
        phone:'',
        mobile:'',
        id:'',
        acces_token:'',
      }
    },
    computed:{
     imagenvalor(){
         return this.$store.getters['user/getimagen']   
     }  
    },
    methods: {
      toggleMenu() {
        this.isClosed = !this.isClosed
        
      },
      editarperfil(){
        this.$router.push({ name: "userProfile" })
      },
      obtenerUsuario(){
     //   console.log("en get usuario de user menu");
        getUsers.getUsuario()
        .then(x => {
          
          this.picture=x.data.picture;
          this.name=x.data.name;
          this.phone=x.data.phone;
          this.mobile=x.data.mobile;
          this.acces_token=localStorage.getItem('access_token')
          this.id=x.data.id
          this.$store.dispatch('user/selectimagen',this.picture);
          this.$store.dispatch('user/select_name',this.name);
          this.$store.dispatch('user/select_phone',this.phone);
          this.$store.dispatch('user/select_mobile',this.mobile);
          this.$store.dispatch('user/select_access_token',this.acces_token);
          this.$store.dispatch('user/select_id',this.id);
          
      })  
        .catch(error => { 
          if (error.message === "Network Error"){
            this.showGenericError("Obtener usuario sin exito", "Por el momento no es posible obtener datos, error network")
          }else{
            this.showGenericError("Obtener usuario sin exito", "No datos, Err: en getusers")
          }
        })

      },
      
    },
    mounted () {
     this.user = this.$store.getters['auth/getemail']
    //cambiar por el getter del vuex
     this.obtenerUsuario();
     this.$store.dispatch('user/selectimagen',this.picture);

   //  this.picture=this.$store.getters['user/getimagen']
    }, 
  }
</script>
<style scoped>
  .nav.nav-menu {
    margin-top: 0;
  }
</style>
