<template>
  <div>
    <!--inicio card-->
    <div class="row">
      <div class="col-md-1 col-sm-12"></div>
      <div class="col-md-5 col-sm-12" @click="handleBlog('blog')">
            <cardlink title="Editar Blog"
                      icon="fa fa-rss"
                      colors="#5e7"
                      image="url('../static/img/blog4.jpg')"
                      @click="handleBlog('blog')">
          </cardlink>
      </div>
      <div class="col-md-5 col-sm-12"  @click="handleBlog('news')">
            <cardlink title="Editar Noticias"
                      icon="fa fa-newspaper-o"
                      colors="#5e7"
                      image="url('../static/img/news1.jpg')"
                      @click="handleBlog('news')">
          </cardlink>
      </div>
      <div class="col-md-1 col-sm-12"></div>
    </div>      
          <!--fin card-->  
  </div>  
</template>
<script>
import Vue from "vue";
import {gralMethods, gralErrorMethods} from 'src/mixins/generalMethods.js'
import {mapState, mapGetters, mapMutations } from 'vuex';
import { Card } from 'src/components/UIComponents'
import cardlink from 'src/components/UIComponents/LinkCard.vue'


export default {
  components: {
   
    Card,
    cardlink
  },
  mixins: [gralMethods, gralErrorMethods],
  computed: {
    ...mapState ('blog',['blogsTable']),
  },
  methods: {  
    handleBlog(type) { 
      this.$router.push({ name: 'blogTable', query: {moduleId:this.moduleId, type: type} });
    },
    
  }
};
</script>
<style lang="scss" scoped>


.el-table .td-actions {
  button.btn {
    margin-right: 5px;
  }
  .div .div .fg-input .textarea[name="description"]{
  width:50%;
  height:25%;
}
}
</style>