<template>
    <div>
      <el-page-header style="padding-bottom:30px;" @back="goBack" title="Ir a Administración" ></el-page-header>
      <div class="card">
        <div class="card-header">
          <div class="row row-no-gutters">
                <div class="col-sm-5">  
                    <h3 class="card-title" v-if="type == 'blog'">Blogs</h3>
                    <h3 class="card-title" v-else>Noticias</h3> 
                </div>
          </div>      
        </div> 

        <div class="card-body row">
          <div class="col-sm-12">
            <el-table v-loading="loading" 
            element-loading-background="rgba(256, 256, 256, 0.9)" 
            element-loading-text="obteniendo tus blogs..."
            element-loading-spinner="el-icon-loading"
            class="table-blog" :data="blogsTable" header-row-class-name="text-primary" :key="changeCounter">
              <el-table-column type="index" class-name="th-contend"></el-table-column>

              <el-table-column
                prop="title"
                label="Título"
                min-width="150"
                class-name="th-contend"
              ></el-table-column>
              <el-table-column
                prop="meta.description"
                label="Descripción"
                min-width="300"
                class-name="th-contend"
              ></el-table-column>
              <el-table-column
                class-name="action-buttons td-actions"
                align="right"
                label="Acciones"
                fixed="right"
              >
                <template slot-scope="props">
                  <el-tooltip content="Editar" placement="left">
                      <p-button type="info" class="btn-magnify" size="sm" icon @click="showSwal1(props.row)">
                    <i class="fa fa-edit"></i>
                  </p-button>
                  </el-tooltip>
                  <el-tooltip content="Eliminar" placement="left">
                  <p-button type="danger" class="btn-magnify" size="sm" icon @click="handleDelete(props.$index)">
                    <i class="fa fa-times"></i>
                  </p-button>
                  </el-tooltip>
                </template>
              </el-table-column>
            </el-table>
          </div>
        </div>
      </div>
      <div class="text-right">
        <p-button type="info" @click="handleAdd()" class="btn-magnify" icon round><i class="el-icon-plus"></i></p-button>
      </div>
    </div>
   
</template>
<script>
import Vue from "vue";
import * as R from 'ramda'
import blogs from 'src/api/blogs/blogs'
import { Table, TableColumn, Col, PageHeader } from "element-ui";
import { Select, Option } from "element-ui";
import PSwitch from "src/components/UIComponents/Switch.vue";
import swal from "sweetalert2";
import { Tooltip, Tag, Popover } from 'element-ui'
import { Validator } from 'vee-validate'
import {gralMethods, gralErrorMethods, gralErrorLog} from 'src/mixins/generalMethods.js'
import {mapState, mapGetters, mapMutations } from 'vuex';
import { Card } from 'src/components/UIComponents'
import cardlink from 'src/components/UIComponents/LinkCard.vue'

Vue.use(Table);
Vue.use(TableColumn);
Vue.use(Popover);
Vue.use(Tag);
Vue.use(PageHeader);

export default {
  components: {
    PSwitch,
    [Select.name]: Select,
    [Option.name]: Option,
    [Tooltip.name]: Tooltip,
    Card,
    cardlink
  },
  mixins: [gralMethods, gralErrorMethods, gralErrorLog],
  computed: {
    ...mapGetters ('blog',['blogsTable']),
  },
  data() {
    return {
      showBlog:false,
      loading: true,
      access_token: '',
      moduleId:'',
      // this variable indicates if table has change in order to make an explicit update
      changeCounter: 0,
      type: 'blog'
    };
  },
  created () {
    this.access_token = this.$cookies.get("token")

    // get the module from url 
    this.moduleId = this.$route.path.split('/')[1] 
    this.type = this.$route.query.type 
    this.$store.dispatch('blog/selectBlogs',this.type)
    .then( response => {  
      this.loading = false
    })
    .catch (error => {
      if (error.response.status == 404) {
        this.loading = false
      } else {
        this.loading = false
        this.notifyError(error)
        this.writteGenericError("BlogTable.vue", error, "selectBlogs")
      }
    })
  },
  methods: {  
    changeBlog(){
        this.showBlog = true;
      },
    handleAdd() {
      this.$router.push({ name: "editBlog" , query: { blog: '', type: this.type } });
    },
    handleDelete(index) {
      this.showSwal()
      .then((res) => {
        if (res) {
          this.$store.dispatch('blog/deleteBlog',{ access_token:this.access_token, id: this.blogsTable[index].id}  )    
          .then( status => {
              swal({
                title: "¡Eliminado!",
                text: "",
                type: "success",
                confirmButtonClass: "btn btn-success btn-fill",
                buttonsStyling: false
              }).catch(swal.noop)
          })
          .catch(error => {
            this.notifyError(error, 'Problemas al borrar')
            this.writteGenericError("BlogTable.vue", error, "Problemas al borrar")
          })
        }
      })
      .catch(error => console.log(error))
    },
    showSwal() {
      return swal({
          title: "¿Estas seguro?",
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "btn btn-success btn-fill",
          cancelButtonClass: "btn btn-danger btn-fill",
          confirmButtonText: "Si, Eliminar",
          cancelButtonText: "Cancelar",
          buttonsStyling: false
      })
      .then ((response) => response ? response : false )
      .catch((error) => error ? console.log(error) : false)
    },
    showSwal1(item) {
      swal({
        title: "¿Estas seguro?",
        type: "warning",
        showCancelButton: true,
        confirmButtonClass: "btn btn-success btn-fill",
        cancelButtonClass: "btn btn-danger btn-fill",
        cancelButtonText: "Cancelar",
        confirmButtonText: "Si, cambiar",
        buttonsStyling: false
      }).then((result) => {
        if (result) {
          this.$router.push({ name: "editBlog" , query: { blog:item, type: this.type } });
        }
      }).catch(swal.noop)
    },
    goBack() {
      this.$router.push({name: 'administration'})
    },
  }
};
</script>
<style lang="scss" scoped>


.el-table .td-actions {
  button.btn {
    margin-right: 5px;
  }
  .div .div .fg-input .textarea[name="description"]{
  width:50%;
  height:25%;
}
}
</style>