<template>
    <div class="card" v-loading="loading" 
          element-loading-background="rgba(256, 256, 256, 0.9)" 
          element-loading-text="Guardando cambios"
          element-loading-spinner="el-icon-loading">
        <div class="card-header" >
            <h4 class="title ml-5" v-if="type == 'blog'">EDICIÓN DE BLOG</h4>
            <h4 class="title ml-5" v-else>EDICIÓN DE NOTICIA</h4>
        </div>
        <div class="card-body">
          <div class="row">
           <div class="col-md-3 text-left ml-3">
             <h5>Título</h5>
           </div>
           <div class="col-md-8 mb-3">
             <fg-input type="text"
                      :placeholder="'Título de' + name"
                      v-model="Blog.title"
                      name="title"
                      v-validate="modelValidations.title"
                      data-vv-as="title"
             >
             </fg-input>
           </div>
          </div>
          <div class="row">
           <div class="col-md-3 text-left ml-3">
            <p v-if="type == 'blog'">Selecciona Imagen para el Blog</p>
            <p v-else>Selecciona Imagen para la noticia</p>
           </div>
           <div class="col-md-4 mb-3">
            <div v-if="this.Blog.imageurl">
               <img :src="this.Blog.imageurl" class="img-blog mr-5">
            </div>
            <div v-if="this.selectedFile[0]">
               <img :src="this.selectedFile[0]" class="img-blog mr-5"><el-button type="button" class="btn btn-danger el-icon-close" @click="dropSelectedFile"></el-button>
             </div>
             <form ref="form" class="inputfile">
               <input type="file" name="file" id="file" class="inputfile " accept=".png, .jpg, .jpeg" @change="onFileSelected($event)"/>
             </form>  
               <label for="file"><i class="fa fa-cloud-upload"></i> Choose a file</label>
               <label v-if="this.selectedFile[0]" type="text">Nombre de archivo: {{picture}}</label>
               
           </div>
          </div>
          <div class="row">
           <div class="col-md-3 text-left ml-3">
            <h5>Descripción</h5>
           </div>
           <div class="col-md-8 mb-3">
            <textarea-autosize class="input-form"  autofocus  :placeholder="'Descripción de' + name "
                                type="text"  v-model="Blog.description"  name="description" 
                                v-validate="modelValidations.description"
                                :error="getError('description')" data-vv-as="description"
                                >
            </textarea-autosize>
           </div>
          </div>
          <div class="row">
              <div class="col-md-3 text-left ml-3">
                  <h5>Contenido</h5>
              </div>
                <div class="col-md-8">
                        <div class="editor">
                            <editor-menu-bar class="mb-3" :editor="editor" >
                            <div class="justify-content-center menubar" slot-scope="{ commands, isActive }" >

                                <button
                                class="menubar__button" 
                                :class="{ 'is-active': isActive.bold() }"
                                @click="commands.bold"
                                >
                                <i class="fa fa-bold" aria-hidden="true"></i>
                                </button>

                                <button
                                class="menubar__button"
                                :class="{ 'is-active': isActive.italic() }"
                                @click="commands.italic"
                                >
                                <i class="fa fa-italic" aria-hidden="true"></i>
                                </button>

                                <button
                                class="menubar__button"
                                :class="{ 'is-active': isActive.strike() }"
                                @click="commands.strike"
                                >
                                <i class="fa fa-strikethrough" aria-hidden="true"></i>
                                </button>

                                <button
                                class="menubar__button"
                                :class="{ 'is-active': isActive.underline() }"
                                @click="commands.underline"
                                >
                                <i class="fa fa-underline" aria-hidden="true"></i>
                                </button>

                                <button
                                class="menubar__button"
                                :class="{ 'is-active': isActive.code() }"
                                @click="commands.code"
                                >
                                <i class="fa fa-code" aria-hidden="true"></i>
                                </button>

                                <button
                                class="menubar__button"
                                :class="{ 'is-active': isActive.paragraph() }"
                                @click="commands.paragraph"
                                >
                                <i class="fa fa-paragraph" aria-hidden="true"></i>
                                </button>

                                <button
                                class="menubar__button"
                                :class="{ 'is-active': isActive.heading({ level: 1 }) }"
                                @click="commands.heading({ level: 1 })"
                                >
                                H1
                                </button>

                                <button
                                class="menubar__button"
                                :class="{ 'is-active': isActive.heading({ level: 2 }) }"
                                @click="commands.heading({ level: 2 })"
                                >
                                H2
                                </button>

                                <button
                                class="menubar__button"
                                :class="{ 'is-active': isActive.heading({ level: 3 }) }"
                                @click="commands.heading({ level: 3 })"
                                >
                                H3
                                </button>

                                <button
                                class="menubar__button"
                                :class="{ 'is-active': isActive.bullet_list() }"
                                @click="commands.bullet_list"
                                >
                                <i class="fa fa-list" aria-hidden="true"></i>
                                </button>

                                <button
                                class="menubar__button"
                                :class="{ 'is-active': isActive.ordered_list() }"
                                @click="commands.ordered_list"
                                >
                                <i class="fa fa-list-ol" aria-hidden="true"></i>
                                </button>

                                <button
                                class="menubar__button"
                                :class="{ 'is-active': isActive.blockquote() }"
                                @click="commands.blockquote"
                                >
                                <i class="fa fa-quote-right" aria-hidden="true"></i>                             
                                </button>

                                <button
                                class="menubar__button"
                                :class="{ 'is-active': isActive.code_block() }"
                                @click="commands.code_block"
                                >
                                <i class="fa fa-code" aria-hidden="true"></i>
                                </button>

                                <button
                                class="menubar__button"
                                @click="commands.horizontal_rule"
                                >
                                -
                                </button>

                                <button
                                class="menubar__button"
                                @click="commands.undo"
                                >
                                <i class="fa fa-undo" aria-hidden="true"></i>
                                </button>

                                <button
                                class="menubar__button"
                                @click="commands.redo"
                                >
                                <i class="fa fa-repeat" aria-hidden="true"></i>
                                </button>

                            </div>
                            </editor-menu-bar>
                        </div>
                        <div class="editor__content">
                            <editor-content  :editor="editor"/>
                        </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-center">
                <p-button type="danger" @click="showSwalRegresar()"> Cancelar  </p-button>
            </div>
            <div class="col-sm-6 text-center ">
                <p-button type="success" @click="validate()"> Guardar  </p-button>
            </div>   
        </div>
    </div>
</template>
<script>
import Vue from 'vue'
import * as R from 'ramda'
import swal from "sweetalert2";
import user from 'src/api/user/user'
import VueTextareaAutosize from 'vue-textarea-autosize'
import Modal from 'src/components/UIComponents/Modal.vue'
import {gralMethods, gralErrorMethods, gralErrorLog} from 'src/mixins/generalMethods.js'
import SubirFoto from 'src/components/Dashboard/UserProfile/UploadFoto.vue'
import { Editor, EditorContent, EditorMenuBar } from "tiptap"
import {
  Blockquote,
  CodeBlock,
  HardBreak,
  Heading,
  HorizontalRule,
  OrderedList,
  BulletList,
  ListItem,
  TodoItem,
  TodoList,
  Bold,
  Code,
  Italic,
  Link,
  Strike,
  Underline,
  History,
} from "tiptap-extensions"
import { mapGetters, mapState } from 'vuex';

Vue.use(VueTextareaAutosize);

export default {
    components: {
        Modal,
        SubirFoto,
        EditorContent,
        EditorMenuBar,
  },
  mixins: [gralMethods, gralErrorMethods, gralErrorLog],  
  data() {
    return {
        loading:false,
        editor: new Editor({
        extensions: [
          new Blockquote(),
          new BulletList(),
          new CodeBlock(),
          new HardBreak(),
          new Heading({ levels: [1, 2, 3] }),
          new HorizontalRule(),
          new ListItem(),
          new OrderedList(),
          new TodoItem(),
          new TodoList(),
          new Link(),
          new Bold(),
          new Code(),
          new Italic(),
          new Strike(),
          new Underline(),
          new History(),
        ],
        content: ''
      }),
      isEditing: false,
      type: 'blog',
      selectedFile:[] ,
      helpBlog: [],
      blogAux: [],
      picture: null ,
      max_size: '700000',
      name:'',
      Blog:
        {
          id:'',
          title:'',
          content: '',
          description: '',
          imageurl: '',
          author: '',
        },
      modelValidations: {
          title: {
            required: true,
            min: 1
          },
          description: {
            required: true,
            min: 1
          },/*
          imageurl: {
            required: true,
            min:1,
          },
          contenido:{
            required: true,
            min:1
          } */
      }  
    }
  },
  created() {
      this.type = this.$route.query.type
      if (this.$route.query.type === "news"){
        this.name = ' la noticia' 
      } else {
        this.name = ' el blog'
      }
      this.access_token = this.$cookies.get("token")
      if ((this.$route.query.blog !== '') && (this.$route.query.blog !== undefined)){
          this.isEditing = true
          let indiceBlog
          this.helpBlog = [] 
          this.blogAux=[]
          this.helpBlog = JSON.parse(JSON.stringify(this.$store.state.blog.blogsTable))
          this.helpBlog.forEach((item, index) => {
              if (item.id === this.$route.query.blog.id){
                  indiceBlog = index
                } 
          })
          this.blogAux = Object.assign(this.blogAux, this.helpBlog[indiceBlog])
          if(this.blogAux.id){
            this.Blog.id = this.blogAux.id
            this.Blog.title = this.blogAux.title
            this.Blog.content = this.blogAux.content
            this.Blog.description = this.blogAux.meta.description
            this.Blog.imageurl = this.blogAux.imageurl
            this.Blog.auth = this.blogAux.meta.author
            this.editor.setContent(this.Blog.content)
          } else {
            this.showSwalRefresh() 
          }
      } else { this.isEditing = false }

  },
  beforeDestroy() {
      this.editor.destroy()
  },
  computed: {
    ...mapState ('user', ['myUser'])
  },
  methods: {
      onFileSelected(event) {
          
          this.selectedFile = []
          

          const files=event.target.files;  

          if(event.length>1){
            this.showGenericError("Error: Seleccionar solo un elemento")
          }
          else{
            if(this.picture === event.target.files){
              this.dropSelectedFile()
            } else {
              Array.from(files).forEach(file =>  this.addImage(file))
              this.picture = files[0].name
            }
          }
      },
      addImage(file){
        if(!file.type.match("image.*")) {
            this.showGenericError(": Tipo de Archivo erróneo", "Seleccionar archivo tipo imagen")
            return;
        }
        const filesize=file.size;

        if(filesize>this.max_size) { 
          this.showGenericError(": El archivo es muy grande", "Excede el límite de tamaño 700 kb")
          var inputImage = document.getElementById("file");
          this.picture=''
          inputImage.value = '';
          return;
        } else {
            const img=new Image(),
            reader=new FileReader();
            reader.onload=(e)=>this.selectedFile.push(e.target.result);
            reader.readAsDataURL(file);
        }
      },
      showSwalRegresar() {
          swal({
            title: "¿Estas seguro?",
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn btn-success btn-fill",
            cancelButtonClass: "btn btn-danger btn-fill",
            cancelButtonText: "Cancelar",
            confirmButtonText: "Si, cancelar edición",
            buttonsStyling: false
          }).then((result) => {
            if (result) {
                this.$router.push({ name: "blogTable", query: {type: this.type}});
            }
          }).catch(swal.noop)
      },
      showSwalRefresh() {
        let title
        if(this.type === "news"){
          title = "noticia"
        } else {
          title = "blog"
        }
          swal({
            title: "No se encontro " + title +'. Todos los cambios que quiera realizar no serán almacenados. Regresar a la tabla '+title+".",
            type: "warning",
            confirmButtonClass: "btn btn-success btn-fill",
            confirmButtonText: "Regresar",
            buttonsStyling: true
          }).then((result) => {
            if (result) {
                this.$router.push({ name: "blogTable", query: {type: this.type}});
            }
          }).catch(swal.noop)
      },
      getError(fieldName){
          return this.errors.first(fieldName)
      },
      validate(){
          return this.$validator.validateAll().then(isValid => {
              if(isValid){
                  this.save()
                } else {
                    swal ({
                        text: 'Por favor llene los campos faltantes',
                        timer: 2000,
                        showConfirmButton: false
                    }).catch(swal.noop)
                }
          })
      },
      async save() {

          this.Blog.imageurl=this.selectedFile[0];
          this.Blog.content = this.editor.getHTML()
          this.Blog.author = this.myUser.name
          this.loading=true
          /* if ((this.Blog.imageurl === '') || (this.Blog.imageurl === undefined)){
            this.showGenericWarning('¡su blog no tiene imagen!!')
            return
          } */

          let paramsApi = {
              id: this.Blog.id,
              access_token: this.access_token,
              title: this.Blog.title,
              content: this.Blog.content,
              meta: { description: this.Blog.description, author: this.Blog.author},
              imageurl: this.Blog.imageurl,
              type:this.type
          }
          try {
              if (this.isEditing) {
                  let status = await this.$store.dispatch('blog/updateBlog',paramsApi)
                  if(this.type=== 'blog')
                    this.showGenericSuccess('¡Blog actualizado con éxito!')
                  else
                    this.showGenericSuccess('¡Noticia actualizada con éxito!')
                  this.loading=false
                  this.$router.push ({ name: "blogTable", query: { type: this.type} })
                } else {   
                    let status = await this.$store.dispatch('blog/addBlog', paramsApi)
                    if(this.type=== 'blog')
                      this.showGenericSuccess('¡Blog agregado con éxito!')
                    else
                      this.showGenericSuccess('¡Noticia agregada con éxito!')
                    this.loading=false
                    this.$router.push ({ name: "blogTable", query: { type: this.type} })   
                }
            } catch (error) {
                this.notifyError(error, 'Problemas al guardar')
                this.loading=false
                this.writteGenericError("EditBlog.vue", error, "Error en updateBlog")
            }
    },
    dropSelectedFile (){
      this.$refs.form.reset()
      this.selectedFile[0]=null
      this.picture=null

    }
  }
}
</script>
<style lang="scss" scope>
@import "src/assets/sass/paper/_variables.scss";
.menubar__button {
  border: none;
}
.editor__content{
    background: white;
    color: black;
    background-clip: padding-box;
    border-radius: 4px;
    border: 1px solid #E3E3E3;
    padding: 5px 5px;
    margin-bottom: 23px;
*:focus {
    outline: none 
}
}
.input-form{
    width:100%;
    background:white;
    border-radius: 4px;
    border: 1px solid #E3E3E3;
  &:focus {
    border: solid 1px #ddd;
    background:#fff;
    color:#000;
    outline:none
  }
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    font-size: 1.10em;
    font-weight: 700;
    color: rgb(53, 132, 236);
    background-color: white;
    display: inline-block;
    cursor: pointer;
    padding: 5px 5px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: rgb(241, 221, 221);
}
.img-blog {
  width: 9rem;
  height: 6rem;
}
 
</style>
