<template>
  <div>
    <div class="card" style="height:80px">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-6" name="content">
            <h3 class="card-title" name="title">Gestor Documental</h3>
          </div>
          <div class="col-sm-6 text-right" v-if="myUser.roleDocMgt=='owner'">
            <p-button type="danger" @click="roleAssignment()" round>Asignar Roles</p-button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3" v-for="(folder, index) in folders " :key="index">
        <div class="card">
          <div class="card-header">
            <i v-show="myUser.roleDocMgt != 'user'" class="fa fa-trash delete" @click="deleteFolder(index)"></i>
          </div>
          <div
            class="card-body text-center vertical-content"
            @click="goTo(folder.name, folder.id)"
            v-if="!edits[index]"
          ><i class="fa fa-folder icon-folder icon"></i>
            <div class="align-cont">
              
              <span v-show="myUser.roleDocMgt != 'user'" v-if="!edits[index]" class="title-name" @click=" editFolder(index)">{{folder.name}}</span>
              <span v-show="myUser.roleDocMgt == 'user'" >{{folder.name}}</span>
            </div>
          </div>
          <div class="card-body text-center vertical-content" v-else>
            <span v-if="!edits[index]" class="title" @click=" editFolder(index)">{{folder.name}}</span>
            <fg-input
              placeholder="Nombre"
              v-model="nameNewFolder"
              v-validate="'required'"
              name="name"
              data-vv-as="nombre"
              @keyup.enter="validate(index)"
              @blur="validateInput(index)"
              @keyup.esc="closeEdit(index)"
            ></fg-input>
          </div>
        </div>
      </div>
      <div class="col-sm-3"   v-show="showFolder">
        <div class="card">
          <div class="card-body text-center vertical-content">
            <fg-input
              placeholder="Nombre"
              v-model="nameNewFolder"
              v-validate="'required'"
              name="name"
              data-vv-as="nombre"
              @keyup.enter="validate()"
              @blur="validateInput(index)"
              @keyup.esc="cancel()"
            ></fg-input>
          </div>
        </div>
      </div>
      <div class="col-sm-3" v-show="myUser.roleDocMgt != 'user'">
        <div class="card" @click="addFolder"
          v-loading="loading" 
          element-loading-background="rgba(256, 256, 256, 0.9)" 
          element-loading-text="obteniendo carpetas"
          element-loading-spinner="el-icon-loading"
        >
          <div class="card-body text-center vertical-content-new-folder">
            <i class="fa fa-plus"></i>
            Agregar nuevo folder
          </div>
        </div>
      </div>
    </div>
    <div class="row" v-if="myUser.roleDocMgt == 'user' && sinInfo">
      <div class="col-lg-12 text-center">
        <div class="card-body">
          <h5 style="color: gray"> {{msgSinInfo}} </h5>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import { mapState, mapGetters } from 'vuex';
import swal from 'sweetalert2'
import { Validator } from 'vee-validate'
import * as R from 'ramda'
import {gralErrorMethods, gralErrorLog} from 'src/mixins/generalMethods.js'

export default {
  components: {

  },
  data () {
    return {
      sinInfo: true,
      msgSinInfo: 'Aún no existen folders',
      showFolder: false,
      nameNewFolder: '',
      edits: [],
      loading: true,
      modelValidations: {
        name: {
          required: true,
          min: 1
        }
      },
      orgId: '',
    }
  },
  mixins: [gralErrorMethods, gralErrorLog],
  computed: {
    ...mapState('folders', ['folders']),
    ...mapState('user', ['myUser']),
    isEditingFolder () {
      return this.edits.filter((edit) => edit).length > 0
    },
  },
  async created () {
    this.orgId = this.$store.state.auth.organizationId
    let access_token = this.$cookies.get("token")
    try{
      await this.$store.dispatch('folders/retrieveFolders', access_token)
        this.sinInfo = false      
      this.folders.map((folder) => {
        this.edits.push(false)
      })
    }catch(error){
      if (error.response.status == 404) {
        this.sinInfo = true
      }
      if(error.response.status != 404 ){
        this.notifyError(error,"No es posible obtener los folders")
        this.writteGenericError("FileManagerMenu.vue", error, "Error en retrieveFolders")
      }      
    }
    finally{
      this.loading = false;
    }
  },
  methods: {
    goTo (valor, id) {
      if (this.isEditingFolder || this.showFolder) {
        return
      } else {
        localStorage.setItem('folderNameId', JSON.stringify({name: valor, id: id}))
        this.$router.push({ name: 'fileManager', params: {id:"all"}})
      }
    },
    roleAssignment () {
      this.$router.push({ name: 'rolesFM' })
    },
    alertEdition (flag) {
      if (flag == '2') {
        swal({
          text: 'Nombre de folder no válido',
          timer: 1800,
          showConfirmButton: false
        }).catch(swal.noop)
      } else {
        swal({
          text: 'Aún tienes un campo en edición',
          timer: 1800,
          showConfirmButton: false
        }).catch(swal.noop)
      }
    },
    editFolder (index) {
      if (this.isEditingFolder || this.showFolder) {
        this.alertEdition()
        return
      }

      this.$set(this.edits, index, !this.edits[index])
      //Vue.set(this.edits, index, !this.edits[index])
      this.nameNewFolder = this.folders[index].name
      this.$nextTick(() => {
        document.getElementsByName('name')[0].focus()
      })
    },
    showSwal () {
      return swal({
        title: "¿Estás seguro?",
        text: `Se elminará la carpeta permanentemente`,
        type: "warning",
        showCancelButton: true,
        confirmButtonClass: "btn btn-success btn-fill",
        cancelButtonClass: "btn btn-danger btn-fill",
        confirmButtonText: "Sí, Eliminar",
        cancelButtonText: "Cancelar",
        buttonsStyling: false
      })
        .then((response) => response ? response : false)
        .catch((error) => error ? console.log(error) : false)
    },
    deleteFolder (index) {
      if (this.isEditingFolder) {
        this.alertEdition()
        return
      }

      this.showSwal()
        .then((res) => {
          if (res) {
            let folderCommit = this.folders[index]
            let paramsApi = {
              access_token: this.$cookies.get("token"),
              index: index,
              orgId: this.orgId,
              id : folderCommit.id
            }

            this.$store.dispatch('folders/deleteFolder', paramsApi)
              .then((response) => {
                console.log(response)
                if (response.status === 200 ) {
                  this.$socket.emit('gestorFolder', { paramsApi }, this.$store.state.auth.organizationId, 'DELETE');
                } else {
                  this.showGenericError('servidor', 'estatus : ' + status )
                }
              })
              .catch(error => {
                if(error.response.status === 409) {
                  swal({
                    text: 'No es posible eliminar la carpeta',
                    timer: 2000,
                    showConfirmButton: false
                  }).catch(swal.noop)
                } else {
                  this.writteGenericError("FileManagerMenu.vue", error, "Error en deleteFoler")
                } 
              })
          }
        })
    },
    closeEdit (index) {
      this.nameNewFolder = ''
      Vue.set(this.edits, index, false)
    },
    addFolder () {
      if (this.isEditingFolder) {
        this.alertEdition()
        return
      }

      this.edits.push(false)
      this.nameNewFolder = ''
      this.showFolder = true
      this.$nextTick(() => {
        document.getElementsByName('name')[0].focus()
      })
    },
    cancel () {
      this.showFolder = false
      this.nameNewFolder = ''
    },
    saveFolder () {
      if (this.nameNewFolder == '') {
        this.alertEdition('2')
        return
      }

      let paramsApi = {
        access_token: this.$cookies.get("token"),
        name: this.nameNewFolder,
        organization_id: this.$store.state.auth.organizationId
      }

      this.$store.dispatch('folders/addFolder', paramsApi)
        .then((response) => {
          if (response.status === 200) {
            let row = response.data
            this.$socket.emit('gestorFolder', row , this.$store.state.auth.organizationId, 'ADD');
          } else {
            this.showGenericError('servidor', 'estatus : ' + status )
          }
          this.nameNewFolder = ''
          this.showFolder = false
        })
        .catch((error) => {
            this.notifyError(error,"No es posible agregar un nuevo folder")
            this.writteGenericError("FileManagerMenu.vue", error, "Error en addFolder")
        })
    },
     validateInput (index) {
      return this.$validator.validateAll().then(isValid => {
        if (isValid) {
          if (this.showFolder) {
            this.saveFolder()
          } else {
            this.updateName(index)
          }
        } else {
          if (this.showFolder) {
            this.cancel()
          } else {
            this.closeEdit(index)
          }
        }
      })
    },
    validate (index) {
      return this.$validator.validateAll().then(isValid => {
        if (isValid) {
          if (this.showFolder) {
            this.saveFolder()
          } else {
            this.updateName(index)
          }
        } else {
          this.alertEdition('2')
          if (this.showFolder) {
            this.cancel()
          } else {
            this.closeEdit(index)
          }
        }
      })
    },
    updateName (index) {
      if (this.nameNewFolder == '') {
        this.alertEdition('2')
        return
      }

      let paramsApi = {
        access_token: this.$cookies.get("token"),
        name: this.nameNewFolder,
        index: index, 
        orgId: this.orgId
      }

      this.$store.dispatch('folders/updateFolder', paramsApi)
        .then((status) => {
          if (status === 200) {
            this.$socket.emit('gestorFolder', paramsApi , this.$store.state.auth.organizationId, 'UPDATE');
          } else {
            this.showGenericError('servidor', 'estatus : ' + status )
          }
          this.closeEdit(index)
          this.nameNewFolder = ''
        })
        .catch((error) => {
          this.notifyError(error," No es posible actualizar el nombre del Folder")
          this.writteGenericError("FileManagerMenu.vue", error, "Error en updateFolder")          
        })
    }
  }
}
</script>

<style lang="scss" scoped>
@import "src/assets/sass/paper/_variables.scss";

@media screen and (min-width:576px) and (max-width:755px){
  h3[name="title"]{
    font-size: 1.7em;
  
  }
}
@media screen and (min-width:992px) and (max-width:1045px){
  h3[name="title"]{
    font-size: 1.8em;
  }
}
@media screen and (max-width:414px){
  h3[name="title"]{
    font-size: 1.5em;
  }
  div[name="content"]{
    text-align: center;
  }
}
.icon{
  padding:0.2rem;
}
.title-name{
    border:none;
    &:hover{
      background:rgba(0,0,0,0.1);
      border-radius:4px;
      border:1px dashed $primary-color;
    }
  }
.icon-folder{
  color: $primary-color;
  font-size:20px;
}
.title:hover{
  background:darken(#fff,4);
  border-radius:10px;
  border-style:dashed;
  border-color:3px #000;
  
}
.card {
  height: 200px;
  cursor: pointer;
}
.vertical-content {
  margin-top: 15%;
}
.vertical-content-new-folder {
  margin-top: 25%;
}
.edit {
  cursor: pointer;
  font-size: 15px;
  padding-left: 7px;
  color: $info-color;
  &:hover {
    color: $info-states-color;
  }
}
.delete {
  float: right;
  cursor: pointer;
  font-size: 15px;
  padding-left: 10px;
  color: $danger-color;
  &:hover {
    color: $danger-states-color;
  }
}

</style>
