<template>
<div>
  <el-page-header style="padding-bottom:20px;" @back="goBack" title="Ir a carpetas" :content="nameFolder">
  </el-page-header>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Documentos</h4>
    </div>
    <div class="card-body">
      <el-pagination
            :current-page.sync="pagination.currentPage"
            :page-size="pagination.perPage"
            layout="total, prev, pager, next"
            :total="infoFile.length">
          </el-pagination> 
      <p-button v-show="myUser.roleDocMgt == 'lead'" id="step-2" 
                  type="default" 
                  link 
                  @click="handleAdd()">
          <i class="fa fa-plus"></i>  Subir documento
      </p-button> 
      <div class="row">
        <div class="col-sm-12 mt-2">
          <el-table class="tbl-manage-files" 
            ref="fileDataTable"
            highlight-current-row
            :data="infoFiles" 
            header-row-class-name="text-primary"
            v-loading="loadingTable" 
            element-loading-background="rgba(256, 256, 256, 0.9)" 
            element-loading-text="obteniendo archivos de esta carpeta"
            @filter-change="setFilters"
            element-loading-spinner="el-icon-loading"
          >
            <el-table-column
              label="Archivo">
              <template slot-scope="scope">
                <i class="fa fa-file-o"></i>
                <span style="margin-left: 10px"> <a href="" @click.prevent="downloadFile(scope.row)">{{ scope.row.fileName }} </a></span>
              </template>
            </el-table-column>
            <el-table-column
              label="Versión"
              width="80"
              align="center"
              prop="version">
            </el-table-column>
            <el-table-column
              label="Estatus"
              width="250"
              prop="status"
              :filters="myUser.roleDocMgt == 'admin' ? statusFiles : statusFiles.filter(status => status.value != 'deleted')"
              :filter-method="filterHandler">
              <template slot-scope="scope">
                <span @mouseover="handleStatus(scope.row)">
                <el-tag 
                        @click="displayStatus"
                        :style="'color:white; background:' + scope.row.color + ' !important ; font-weight: 700; cursor:'+cursorType+';'">{{scope.row.status}}</el-tag>
                </span>
              </template>
            </el-table-column>
            <el-table-column
              label="Vigencia"
              width="180"
              prop="validity">
              <template slot-scope="scope">
                <i class="el-icon-time"></i>
                <span style="margin-left: 10px">{{ scope.row.validity }}</span>
              </template>
            </el-table-column>
            <el-table-column
              label="Operaciones"
              width="120"
              min-width="120"
            >
              <template slot-scope="scope">

                <p-button type="primary" 
                          class="btn-magnify" 
                          @click="openLog(scope.row)"
                          size="sm">
                  Histórico
                </p-button>

              </template>
            </el-table-column>
            <el-table-column
              label="Acción"
              width="70"
              min-width="70"
              align="center">
              <template slot-scope="scope">
                <el-tooltip content="Cancelar" v-show="myUser.roleDocMgt=='admin' && scope.row.status!=='Publicado' && scope.row.status!=='Cancelado' && scope.row.status!=='Eliminado'" placement="left">
                <p-button type="danger" class="btn-magnify" size="sm" icon @click="rowAux = scope.row;validateCanceled()">
                  <i class="fa fa-ban"></i>
                </p-button>
                </el-tooltip>
                <el-tooltip v-show="scope.row.status=='Publicado' && myUser.roleDocMgt=='lead'" content="Eliminar" placement="left">
                <p-button type="danger" class="btn-magnify" size="sm" icon @click="rowAux = scope.row;changeStatus('requestDelete', false)">
                  <i class="fa fa-trash"></i>
                </p-button>
                </el-tooltip>
              </template>
            </el-table-column>
          </el-table>
        </div>
      </div>  
    </div>
  </div>

  <el-drawer
    title="Historico de operaciones"
    :visible.sync="showDrawerLog"
    size="320px">
    <h5 style="padding-left:5%; color: #ff931e; font-size: 20px;">Archivo <span style="color:#757575; font-size: 17.5px;">{{fileNameHistoric}}</span></h5>
    <hr>
    <div class="col-sm-12">
        <time-line type="simple">
          <time-line-item v-for="historic in historico" :key="historic.id" class="timeline-inverted" badgeType="primary" badgeIcon="nc-icon nc-single-copy-04">
            <badge slot="header" style="text-transform:initial" type="info">{{historic.userId}} {{historic.activity}}.</badge>
            <p slot="content">
              {{historic.detail}}
            </p>
            <h6 slot="footer" style="text-transform:none;color:#757575;">
              <i class="fa fa-block-o"></i>
              {{historic.timelog}}
            </h6>
          </time-line-item>
        </time-line>
      </div>
  </el-drawer>

  <el-dialog title="Estatus"  :visible.sync="dialogDelete">
    <el-steps :active="statusStepDelete" align-center finish-status="success">
      <el-step title="Eliminación" description="Eliminación de archivo"></el-step>
    </el-steps>
    <div class="form-steps">
      <div class="text-center" v-if="myUser.roleDocMgt=='lead'">
          <card style="background-color: #cde4f9; border-radius:10px;">
            <div  class="card-header">
               <i style="font-size:30px;margin-top:-50px" class="fa fa-cogs"></i>
            </div>
            <div class="card-body mb-3">
              <h6>Documento en proceso de revisión de eliminación</h6>
            </div>
          </card>
      </div>
      <div v-else>
        <div class="text-center">
          <a href="" @click.prevent="downloadFile(rowAux)">{{rowAux.fileName}}</a>
          <hr>
          <fg-input label="Decisión">
            <el-switch
              style="display: block"
              v-model="deleteFile"
              active-color="#13ce66"
              inactive-color="#ff4949"
              active-text="Eliminar"
              inactive-text="No Eliminar">
            </el-switch>
          </fg-input>
        </div>
        <div v-if="deleteFile == true" class="text-center">
          <p-button type="success" round
            style="margin-right: 20px"
            @click="approveDelete">
            Confirmar Eliminación
          </p-button>
        </div>
        <div v-else>
          <div class="text-center">
            <fg-input label="Observaciones" style="padding-top:20px;">
              <textarea-autosize v-model="detail" style="width:100%; box-shadown: none; padding: 10px;"  rows="1" :min-height="15" :max-height="500" type="text"></textarea-autosize>
            </fg-input>
            <p-button type="danger" round
              style="margin-right: 20px"
              @click="approveDelete">
              Rechazar Eliminación
            </p-button>
          </div>
        </div>
      </div>
    </div>
  </el-dialog>

  <el-dialog title="Estatus"  :visible.sync="dialogTableVisible" @close="handleRemove">
    <el-steps :active="statusStep" align-center finish-status="success">
      <el-step title="Paso 1" description="Cargar archivo"></el-step>
      <el-step title="Paso 2" description="Solicitar revisión"></el-step>
      <el-step title="Paso 3" description="Revisión de archivo"></el-step>
      <el-step title="Paso 4" description="Publicación"></el-step>
    </el-steps>
    <div class="form-steps">
      <div v-if="statusStep==0" 
           v-loading="loading" 
           element-loading-background="rgba(256,256,256,0.9)"
           element-loading-text="Subiendo archivo"
           element-loading-spinner="el-icon-loading"
      >
        <el-upload v-if="isDisable"
          class="upload-demo text-center"
          drag
          action=""
          ref="upload"
          :http-request="previewFile"
          :file-list="fileList"
          :limit="1"
          >
          <i class="el-icon-upload"></i>
          <div  class="el-upload__text">Arrastra tu archivo aquí o <em>da clic para cargar</em></div>
          <div class="el-upload__tip" slot="tip">Documentos mayores a 3MB pueden tardar más</div>
        </el-upload>
        <el-upload v-else
          class="upload-demo text-center"
          action=""
          ref="upload"
          :on-preview="handlePreview"
          :on-remove="handleDelete"
          :file-list="fileList"
          :limit="1"
          >
        </el-upload>
        <div  v-show="showAreas">
          <div class="row mt-3">
            <div class="col-sm-2 mt-2">
                <i class="fa fa-times delete" @click="cancelAreas"></i>
            </div> 
            <div class="col-sm-4 text-right mt-3">
              <h6 style="text-transform:capitalize"><b>Áreas involucradas</b></h6>      
            </div>
            <div class="col-sm-6 text-center mb-3">
                <template>
                  <el-select style="width:max-content" v-model="involvedAreas" multiple placeholder="Opciones">
                    <el-option
                      v-for="item in filterAreasWithAuthorizers"
                      :key="item.name"
                      :label="item.name"
                      :value="item.value">
                    </el-option>
                  </el-select>
                </template>
            </div>   
          </div>
        </div>
        <div class="text-center">
          <p-button type="info" round 
                    :disabled="isDisable"
                    @click="addAreas">
                    Agregar Áreas
          </p-button>
          <p-button type="success" round
                    style="margin-left: 40px"
                    :disabled="isDisable"
                    @click="review">
                    Solicitar Revisión
          </p-button>
        </div>
      </div>
      <div v-else-if="statusStep==1 && !newFile">
        <div class="text-center mb-3" v-if="!viewStep">
          <div  v-show="showAreas">
            <div class="row mt-3">
              <div class="col-sm-2 mt-2">
                  <i class="fa fa-times delete" @click="cancelAreas"></i>
              </div> 
              <div class="col-sm-4 text-right mt-3">
                <h6 style="text-transform:capitalize"><b>Áreas involucradas</b></h6>      
              </div>
              <div class="col-sm-6 text-center mb-3">
                  <template>
                    <el-select style="width:max-content" v-model="involvedAreas" multiple placeholder="Opciones">
                      <el-option
                        v-for="item in filterAreasWithAuthorizers"
                        :key="item.name"
                        :label="item.name"
                        :value="item.value">
                      </el-option>
                    </el-select>
                  </template>
              </div>  
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <p-button type="info" round
                        style="margin-left: 100px"
                        @click="addAreas">
                        Agregar Áreas
              </p-button>
            </div>
            <div class="col-sm-6">
              <p-button type="success" round
                        style="margin-right: 100px"
                        @click="review">
                        Solicitar Revisión
              </p-button>
            </div>
          </div>
        </div>
        <div class="text-center" v-if="viewStep">
          <card style="background-color: #cde4f9; border-radius:10px;">
            <div  class="card-header">
               <i style="font-size:30px;margin-top:-50px" class="fa fa-cogs"></i>
            </div>
            <div class="card-body mb-3">
              <h6>Documento en revisión</h6>
            </div>
          </card>
        </div>
      </div>
      <div v-else-if="statusStep==1 && newFile" >
        <div class="text-center mb-3">
            <a href="" class="text-center" style="font-weight:bold" @click.prevent="downloadFile(rowAux)">{{rowAux.fileName}}</a>
            <hr style="border-top: 1px solid green;width: 50px">
          <div class="row" v-loading="loading" 
                element-loading-background="rgba(256,256,256,0.9)"
                element-loading-text="Subiendo archivo"
                element-loading-spinner="el-icon-loading"
          >
            <div class="col-sm-6">
              <el-upload
                class="upload-demo"
                action=""
                :http-request="uploadVersion"
                :on-preview="handlePreview"
                :on-remove="deleteVersion"
                :limit="1"
                :file-list="fileList">
                <p-button type="danger" round
                        style="margin-left: 30px">
                        Subir nueva versión
              </p-button>
              </el-upload>
            </div>
            <div class="col-sm-6">
              <p-button type="success" round
                        style="margin-right: 50px"
                        :disabled="disableNewFile"
                        @click="review">
                        Solicitar Revisión
              </p-button>
            </div>
          </div>
        </div>
      </div>
      <div v-else-if="statusStep==2" >
        <div class="text-center">
          <a href="" @click.prevent="downloadFile(rowAux)">{{rowAux.fileName}}</a>
          <hr style="border-top: 1px solid green;width: 50px">          
          <fg-input label="Decisión">
            <el-switch
              style="display: block"
              v-model="approved"
              active-color="#13ce66"
              inactive-color="#ff4949"
              active-text="Aprobado"
              inactive-text="Rechazado">
            </el-switch>
          </fg-input>
        </div>
        <div v-if="approved == true" class="text-center">
          <p-button type="success" round
            style="margin-right: 20px"
            @click="approve">
            Dar Visto Bueno
          </p-button>
        </div>
        <div v-else>
          <div class="text-center">
            <fg-input label="Observaciones" style="padding-top:20px;">
              <textarea-autosize v-model="detail" style="width:100%; box-shadown: none; padding: 10px;"  rows="1" :min-height="15" :max-height="500" type="text"></textarea-autosize>
            </fg-input>
            <p-button type="danger" round
              style="margin-right: 20px"
              @click="approve">
              Confirmar Rechazo
            </p-button>
          </div>
        </div>
      </div>

      <div  v-else>
        <div class="text-center">
          <p style="font-weight:bold">{{rowAux.fileName}}</p>
          <hr style="border-top: 1px solid green;width: 50px">
          <fg-input label="Decisión">
            <el-switch
              style="display: block"
              v-model="publishFile"
              active-color="#13ce66"
              inactive-color="#ff4949"
              active-text="Publicar"
              inactive-text="No Publicar">
            </el-switch>
          </fg-input>
        </div>
        <div v-if="publishFile == true" class="text-center">
          <p-button type="success" round
            style="margin-right: 20px"
            @click="changeStatus('published')">
            Publicar
          </p-button>
        </div>
        <div v-else>
          <div class="text-center">
            <fg-input label="Observaciones" style="padding-top:20px;">
              <textarea-autosize v-model="detail" style="width:100%; box-shadown: none; padding: 10px;"  rows="1" :min-height="15" :max-height="500" type="text"></textarea-autosize>
            </fg-input>
            <p-button type="danger" round
              style="margin-right: 20px"
              @click="changeStatus('draft')">
              No Publicar
            </p-button>
          </div>
        </div>
      </div>
    </div>
  </el-dialog>
</div>
</template>


<script>
import Vue from 'vue'
import swal from 'sweetalert2'
import {Table, TableColumn, Drawer, Tag, PageHeader, Badge, Dialog, Steps, Step, Upload,Switch, DatePicker} from 'element-ui'
import { Select, Option, Pagination } from "element-ui";
import VueTextareaAutosize from 'vue-textarea-autosize'
import { TimeLine, TimeLineItem, Card, Dropdown, BadgeCustom } from 'src/components/UIComponents'
import {mapState} from 'vuex';
import * as R from 'ramda'
import {gralErrorMethods, gralErrorLog} from 'src/mixins/generalMethods.js'
import { Tooltip } from 'element-ui'
//import Modal from 'src/components/UIComponents/Modal.vue'

Vue.use(Table)
Vue.use(TableColumn)
Vue.use(Drawer)
Vue.use(Tag)
Vue.use(Badge)
Vue.use(PageHeader)
Vue.use(VueTextareaAutosize)
Vue.use(Dialog)
Vue.use(Step)
Vue.use(Steps)
Vue.use(Upload)
Vue.use(Switch)
Vue.use(DatePicker)
Vue.use(Pagination)

export default {
  components:{
    TimeLine,
    TimeLineItem,
    Card,
    Dropdown,
    [Select.name]: Select,
    [Option.name]: Option,
    [Tooltip.name]: Tooltip,
    //Badge: BadgeCustom
  },
  data(){
    return {
      filtersTable: [],
      nameFolder: '',
      pickerOptions: {
        shortcuts: [{
          text: 'Hoy',
          onClick(picker) {
            picker.$emit('pick', new Date());
          }
        }, {
          text: 'Mañana',
          onClick(picker) {
            const date = new Date();
            date.setTime(date.getTime() + 3600 * 1000 * 24);
            picker.$emit('pick', date);
          }
        }, {
          text: 'En una semana',
          onClick(picker) {
            const date = new Date();
            date.setTime(date.getTime() + 3600 * 1000 * 24 * 7);
            picker.$emit('pick', date);
          }
        }]
      },
      assigned: {
        value: 0,
        name: ''
      },
      statusFiles: [ 
        {text: 'Borrador', value: 'draft', color:'blue' }, 
        {text: 'Recordatorio Borrador', value: 'draftReminder', color:'blue' }, 
        {text: 'Revisión', value: 'review', color:'orange' }, 
        {text: 'Recordatorio Revisión', value: 'reviewReminder', color:'orange' },
        {text: 'Conciliación', value: 'conciliation', color:'purple' },
        {text: 'Recordatorio Conciliación', value: 'conciliationReminder', color:'purple' },
        {text: 'Recordatorio Conciliación Eliminación', value: 'conciliationDeleteReminder', color:'purple' },
        {text: 'Conciliación Eliminación', value: 'conciliationDelete', color:'purple' },
        {text: 'Cancelado', value: 'canceled', color:'red' }, 
        {text: 'Eliminado', value: 'deleted', color:'red' },
        {text: 'Aprobación Dueño', value: 'inApprovalPO', color:'cian' }, 
        {text: 'Aprobación Líder Técnico', value: 'inApprovalTL', color:'cian' }, 
        {text: 'Aprobación Administrador', value: 'inApprovalAD', color:'cian' },
        {text: 'Publicado', value: 'published', color:'green' },
        {text: 'Aprobación Eliminación', value: 'requestDelete', color:'brown' },
        {text: 'Recordatorio Aprobación Eliminación', value: 'requestDeleteReminder', color:'brown' },
      ],
      pagination:{
      perPage: 10,
      currentPage: 1
      },
      involvedAreas: [],
      showAreas: false,
      showDrawerLog: false,
      dialogTableVisible: false,
      response:'',
      statusStep: 1,
      approved: true,
      dateExpires: '',
      historico: [],
      fileNameHistoric: '',
      fileList: [],
      fileList2: [],
      adminMembers: [],
      rowAux: [],
      fileUpload: [], 
      viewStep: false,
      isDisable: true,
      loading: false,
      loadingTable: true,
      dialogDelete: false,
      statusStepDelete: 0,
      deleteFile: false,
      publishFile: true,
      detail: '',
      newFile: false,
      disableNewFile: true,
      version: ''
    }
  },
  computed: {
    ...mapState('files',['files']),
    ...mapState('organization', ['roles', 'areas']),
    ...mapState('user', ['members', 'myUser']),

    filterAreasWithAuthorizers(){
    return this.areas.filter(area => area.authorizer !== null)
    },

    infoFile () {
      let newFile = []

      this.files.map((dataFile) => {
        if(this.filtersTable.length == 0 || this.filtersTable.includes(dataFile.status)){ 
          if(dataFile.status == "deleted" && this.myUser.roleDocMgt != "admin"){
            return
          }
          const Data = R.pick(['id', 'key', 'dateUpdate', 'fileName', 'fileUrl', 'version', 'logUsersAccess', 'status', "validity", 'areaInvolved'],dataFile)
          Data.dateUpdate = dataFile.dateUpdate.split('T')[0]
          Data.version = dataFile.version[dataFile.version.length - 1].versionNumber
          if (Data.areaInvolved === undefined) { Data.areaInvolved = [] }
          this.statusFiles.map((estado) => {
            if (estado.value == Data.status) {
              Data.status = estado.text
              Data.color = estado.color
              return
            }
          })
          newFile.push(Data)
        }
      })
      return newFile
    },

    infoFiles(){
        var start, end;
        start = this.pagination.perPage * (this.pagination.currentPage -1)
        end = start + this.pagination.perPage
        if( end > this.infoFile.length ){
          end = this.infoFile.length
        }
        return this.infoFile.slice(start, end)
    },

    cursorType(){
      let cursorType = "not-allowed"
      switch (this.myUser.roleDocMgt) {
        case 'lead':
          if (this.rowAux.status == 'Borrador' || this.rowAux.status == 'Recordatorio Borrador') {
            cursorType = "pointer"
            this.statusStep = 1;
            this.viewStep = false
            
            if (this.rowAux.logUsersAccess[this.rowAux.logUsersAccess.length - 1].activity == "add" ) {
              this.viewStep = false
              this.newFile = false
            } else {
              this.newFile = true 
              this.viewStep = true
              this.disableNewFile = true
            }
          } 
          if (this.rowAux.status == 'Aprobación Líder Técnico') {
            cursorType = "pointer"
            this.statusStep = 3;
          }
          if (this.rowAux.status == 'Conciliación' ||  this.rowAux.status == 'Recordatorio Conciliación') {
            if ( this.isMyAreaInvolvedAndAmIAuthorizer() ) {
              this.statusStep = 3;
              cursorType = "pointer"
            } else {
              this.statusStep = 2;
            }

          }
          if (this.rowAux.status == 'Aprobación Eliminación' || this.rowAux.status == 'Recordatorio Aprobación Eliminación') {
            cursorType = "pointer"
          }
          if (this.rowAux.status == 'Conciliación Eliminación' || this.rowAux.status == 'Recordatorio Conciliación Eliminación') {
            if ( this.isMyAreaInvolvedAndAmIAuthorizer() ) {
              cursorType = "pointer"
            }
          }
          break;
        case 'admin':
          if (this.rowAux.status == 'Revisión' || this.rowAux.status == 'Recordatorio Revisión' || this.rowAux.status == 'Aprobación Administrador') {
            this.statusStep = 2;
            cursorType = "pointer"
          } 
          if (this.rowAux.status == 'Aprobación Administrador') {
            this.statusStep = 3;
            cursorType = "pointer"
          }
          break;
        case 'owner':
          if (this.rowAux.status == 'Aprobación Dueño') {
            cursorType = "pointer"
            this.statusStep = 3;
          }          
          if (this.rowAux.status == 'Aprobación Eliminación') {
            cursorType = "pointer"
          }
          break;
        default:
          break;
      }
      return cursorType
    },

    getFileCreator(){
      let logAdd = this.rowAux.logUsersAccess.find( log => log.activity == "add")
      return logAdd.userId
    }
    
  },
  watch:{
    members: async function (newValue, oldValue) {
      await this.adminMember()
    }
  },
  created () {
    this.$store.dispatch('user/getMembers', this.$cookies.get("token"))
    const {name, id} = JSON.parse(localStorage.getItem('folderNameId'))
    let fileIdNotification = localStorage.getItem('fileNotification')
    if ((name !== '') && (name != undefined)) {
      this.nameFolder = name

      let access_token = this.$cookies.get("token")
      this.$store.dispatch('files/retrieveFiles', { access_token: access_token, folderId: id} )
      .then(() => {
        this.loadingTable = false;
        this.adminMember();
        if(fileIdNotification !== null && fileIdNotification != "undefined" && fileIdNotification !== undefined ){
          this.displayStatusFileNotification(fileIdNotification)
          localStorage.removeItem('fileNotification')
        }
      })
    } else {
      this.goBack()
    }
  },
  mixins: [gralErrorMethods, gralErrorLog],
  methods: {
    openLog (row) {
      this.showDrawerLog = true
      this.fileNameHistoric = ''
      this.historico = []

      this.fileNameHistoric = row.fileName

      row.logUsersAccess.forEach(element => {
        let timelog = ''

        timelog = this.getNotificationTimeAgo(element.dateAccess)

        const Data = R.pick(['activity'], element)
              Data.userId = this.getMember(element.userId)
              Data.detail = element.detail
              Data.fileName = row.fileName
              Data.timelog = timelog

        switch (Data.activity) {
          case 'add':
            Data.activity = ' agregó el archivo '
            break;
          case 'modify': 
            Data.activity = ' modificó el archivo '
            break;
          case 'download': 
            Data.activity = ' descargó el archivo '
            break;
          case 'draft':
            Data.activity = 'regresó el archivo a borrador '
            break;
          case 'draftReminder':
            Data.activity = 'Se mandó recordatorio al Líder de Usuario que cargó del archivo'
            break;
          case 'review':
            Data.activity = ' solicitó la aprobación del archivo'
            break;
          case 'reviewReminder':
            Data.activity = 'Se mandó recordatorio al Administrador'
            break;
          case 'conciliation':
            Data.activity = ' solicitó visto bueno a las Áreas involucradas'
            break;
          case 'conciliationReminder':
            Data.activity = 'Se mandó recordatorio a las Áreas involucradas'
            break;
          case 'canceled':
            Data.activity = ' canceló el archivo'
            break;
          case 'inApprovalPO':
            Data.activity = 'Se solicitó visto bueno del Dueño del proceso'
            break;
          case 'inApprovalTL':
            Data.activity = 'Se solicitó visto bueno del Líder de usuario'
            break;
          case 'inApprovalAD':
            Data.activity = 'Se solicitó visto bueno del Administrador'
            break;
          case 'published':
            Data.activity = ' publicó el archivo'
            break;
          case 'requestDelete':
            Data.activity = ' solicitó borrar el archivo'
            break;
          case 'delete':
            Data.activity = ' eliminó una versión del archivo'
          break;
          case 'deleted':
            Data.activity = ' aprobó la eliminación del archivo'
          break;
        }

        this.historico.push(Data)
      })
    },
    displayStatusFileNotification(fileId){
      let fileNotify = this.infoFile.find(file => file.id == fileId)
      if(fileNotify !== undefined){
        this.rowAux = fileNotify
        this.$refs.fileDataTable.setCurrentRow(this.rowAux)
        while(this.infoFiles.find(myFile => myFile.id == this.rowAux.id) == undefined){
          this.pagination.currentPage++
        }
        if(this.cursorType == "pointer"){
          this.displayStatus()
        }
      }else{
        swal({
          title: "No se puede mostrar archivo",
          text: 'Ha sido eliminado',
          allowEscapeKey: false,
          allowOutsideClick: false,
          type: "warning",
          showCancelButton: false,
          confirmButtonClass: "btn btn-warning btn-fill",
          confirmButtonText: "OK"
        })        
        return
      }
    },
    getMember (member) {    
      let nameMember = ''
      this.members.map((element) => {
        if (element._id == member){
          nameMember = element.name
        }
      })
      if (member == this.myUser._id){
          nameMember = this.myUser.name
        }
      return nameMember
    },
    adminMember (){
      this.adminMembers = []

      this.members.map((element) => {
        if (element.roleDocMgt == 'admin'){
          this.adminMembers.push(element)
        }
      })
    },
    getLeads(){
      let leads = []
      leads.push(this.rowAux.logUsersAccess[0].userId)

      this.rowAux.areaInvolved.map( area =>{
        let areaAuth = this.areas.find(myArea => myArea.value == area.area)
        if(areaAuth !== undefined){
          if(areaAuth.authorizer !== null){
            leads.push(areaAuth.authorizer)
          }
        }
      })
      return leads
    },
    getAuthorizersArea(areasInvolved){
      let authorizers = []
      areasInvolved.map( areaInv =>{
        let areaInfo = this.areas.find(area => area.value == areaInv.area)
        authorizers.push(areaInfo.authorizer)
      })

      // let authorizers = this.members.filter(member => member.authorizer && areas.find( area => member.ocupation == area.area) !== undefined && member.roleDocMgt == 'lead')
      // authorizers.map(auth => {
      //   auth = auth._id
      // })

      return authorizers
    },
    getProcessOwner(){
      let ownerId = []
      let owner = this.members.find(member => member.roleDocMgt == 'owner')

      if(owner !== undefined){
          ownerId.push(owner._id)
      }
      return ownerId
    },
    addAreas () {
      this.showAreas = true
    },
    cancelAreas () {
      this.involvedAreas = []
      this.showAreas = false
    },
    uploadVersion (file){
      this.loading = true
      this.fileUpload = []
      this.fileUpload = file.file
      if (this.fileUpload !== undefined) {
        this.disableNewFile = false
        this.version = ''
        this.uploadVersionFile()
      }
    },
    uploadVersionFile(){
      let paramsApi  = {
          access_token: this.$cookies.get("token"),
          data: { 
            file: this.fileUpload,
            key_file: this.rowAux.key
          }
      }

      this.$store.dispatch("files/addVersionFile", paramsApi)
            .then((response)=>{ 
              this.loading = false
              if (response.status === 200 ) {
                  let data = response.data
                  this.$socket.emit('gestorFile', { data }, this.$store.state.auth.organizationId, 'UPDATE');
              } else {
                this.showGenericError('servidor', 'estatus : ' + status )
              }
              // validación respuesta archivo
            })
            .catch(error =>{ 
              this.disableNewFile = true
              this.loading = false
              this.dialogTableVisible = false;
              this.handleRemove()
              this.notifyError(error,"No se pudo subir archivo") 
              this.writteGenericError("FileManager.vue", error, "Error en addVersionFile")
              })

    },
    previewFile(file){
      this.loading = true
      this.fileUpload = []
      this.fileUpload = file.file
      if (this.fileUpload !== undefined) {
        this.isDisable = false
        this.uploadFile()
      }
    },
    uploadFile () {
      const {id} = JSON.parse(localStorage.getItem('folderNameId'))
      // Upload File
      let paramsApi  = {
          access_token: this.$cookies.get("token"),
          data: { 
            file: this.fileUpload,
            origin: this.nameFolder,
            moduleId: this.$route.path.split('/')[1],
            folderId: id,
            //areaInvolved: this.involvedAreas
          }
      }

      this.$store.dispatch("files/addFiles", paramsApi)
            .then(()=>{ 
              this.loading = false
              this.rowAux = this.files[this.files.length -1]
              let rowSocket = this.rowAux
              this.$socket.emit('gestorFile', { rowSocket }, this.$store.state.auth.organizationId, 'ADD');
              // validación respuesta archivo
            })
            .catch(error =>{ 
              this.loading = false
              this.dialogTableVisible = false;
              this.isDisable = true
              this.handleRemove()
              this.notifyError(error,"No se pudo subir archivo") 
              this.writteGenericError("FileManager.vue", error, "Error en addFiles")
              })

    },
    downloadFile (file) {
      let paramsApi = {
        access_token: this.$cookies.get("token"),
        key: file.key,
        name: file.fileName,
      }
      this.$store.dispatch('task/downloadFiles', paramsApi)
        .then() 
        .catch(error => { 
           this.notifyError(error,"No es posible descargar archivo")
           this.writteGenericError("FileManager.vue", error, "Error en downloadFiles")
        })
    },
    validateCanceled(){
      swal({
          title: "¿Estás seguro?",
          text: "Si continuas no podrás volver a activar el archivo seleccionado",
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "btn btn-success btn-fill",
          cancelButtonClass: "btn btn-danger btn-fill",
          confirmButtonText: "Sí, estoy seguro",
          cancelButtonText: "Regresar",
          buttonsStyling: false
      })
      .then ((response) => {
        if(response){
          this.changeStatus('canceled', false)
        }
      })
      .catch((error) => {})
    },
    changeStatus (status, approvedAreas) {
      let target = []
      let title, bodyN, path = 'updateFiles'

      switch (status) {
        case 'draft':
          target = this.getLeads()
          title = 'Documento Rechazado'
          bodyN = 'El documento ' + this.rowAux.fileName + ' cargado al folder ' + this.nameFolder +
                  ' ha sido Rechazado'
        break;
        case 'review': 
          if (this.adminMembers.length < 1) {
              swal({
                title: "No es posible Solicitar Revisión",
                text: 'No hay administradores por el momento',
                allowEscapeKey: false,
                allowOutsideClick: false,
                type: "warning",
                showCancelButton: false,
                confirmButtonClass: "btn btn-warning btn-fill",
                confirmButtonText: "OK"
              })        
              return
          }
          target.push(this.adminMembers[0]._id)
          title = 'Solicitud de revisión de documento'
          bodyN = 'Revisar documento ' + this.rowAux.fileName + ' cargado al folder ' + this.nameFolder
        break;
        case 'conciliation':
          target = this.getAuthorizersArea(this.rowAux.areaInvolved)
          if(target.includes(null)){
            target = []
            target.push(this.getFileCreator)
            target.push(this.adminMembers[0]._id)
            title = 'Autorizadores no definidos'
            bodyN = "Es necesario definir autorizadores en todas las áreas involucradas en el documento " + this.rowAux.fileName + ' cargado al folder ' + this.nameFolder + " para continuar con el proceso, favor de contactar al administrador"
            status = "review"
          }else{
            title = 'Solicitud de revisión de documento'
            bodyN = 'Revisar documento ' + this.rowAux.fileName + ' cargado al folder ' + this.nameFolder
          }
        break;
        case 'inApprovalPO':
          target = this.getProcessOwner()
          if (target.length < 1) {
              swal({
                title: "No es posible solicitar Aprobación",
                text: 'No existe un Dueño de Proceso',
                allowEscapeKey: false,
                allowOutsideClick: false,
                type: "warning",
                showCancelButton: false,
                confirmButtonClass: "btn btn-warning btn-fill",
                confirmButtonText: "OK"
              })        
              return
          }
          title = 'Solicitud de publicación de documento'
          bodyN = 'Publicar documento ' + this.rowAux.fileName + ' cargado al folder ' + this.nameFolder
        break;
        case 'published':
          target = ['ALL']
          title = 'Publicación de documento'
          bodyN = 'El documento ' + this.rowAux.fileName + ' cargado al folder ' + this.nameFolder +
                  ' ha sido Publicado'
        break;
        case 'canceled':
          target = ['ALL']
          title = 'Cancelación de documento'
          bodyN = 'El documento ' + this.rowAux.fileName + ' cargado al folder ' + this.nameFolder +
                  ' ha sido Cancelado'
        break;
        case 'requestDelete':
          target = this.getProcessOwner()
          title = 'Solicitud de eliminación de documento'
          bodyN = 'Eliminar el documento ' + this.rowAux.fileName + ' cargado al folder ' + this.nameFolder
        break;
        case 'deleted':
          target = ['ALL']
          title = 'Documento Eliminado'
          bodyN = 'El documento ' + this.rowAux.fileName + ' cargado al folder ' + this.nameFolder +
                  ' ha sido Eliminado'
        break;
        case 'deleteDenied':
          target = this.leadRequestDelete()
          title = 'Eliminación del documento Denegada'
          bodyN = 'El documento ' + this.rowAux.fileName + ' cargado al folder ' + this.nameFolder +
                  ' fue denegada su eliminación'
          status = 'published'
        break;
      }
      
      let paramsApi = {
        access_token: this.$cookies.get("token"),
        id: this.rowAux.id,
        status
      }

      if (approvedAreas) {
        paramsApi.areaInvolved = this.rowAux.areaInvolved
      }

      this.$store.dispatch("files/" + path, paramsApi)
            .then((response)=>{ 
                this.sendNotification(title,bodyN,target)
                if(path != 'deleteFile'){
                  this.setLogs(status)
                }
                this.dialogDelete = false
                this.dialogTableVisible = false
                if (response.status === 200 || response.status === 204) {
                  if (paramsApi.status == 'deleted'){
                    let id = paramsApi.id
                    this.$socket.emit('gestorFile', { id }, this.$store.state.auth.organizationId, 'DELETE FILE');
                  } else {
                    let data = response.data
                    this.$socket.emit('gestorFile', { data }, this.$store.state.auth.organizationId, 'UPDATE');
                  }
                } else {
                  this.showGenericError('servidor', 'estatus : ' + status )
                }
            })
            .catch(error =>{
              this.notifyError(error,"No es posible actualizar Estado del archivo")
              this.dialogDelete = false
              this.dialogTableVisible = false
              this.writteGenericError("FileManager.vue", error, "Error en " + path)
            }) 
    },
    setLogs (status) {
      let newParams = {
              access_token: this.$cookies.get("token"),
              id: this.rowAux.id,
              activity: status,
              detail: this.detail
      }

      this.$store.dispatch("files/setLogFiles", newParams)
        .then((response) => {
          this.detail = ''
          if (response.status === 200 ) {
            let data = response.data
                  this.$socket.emit('gestorFile', { data }, this.$store.state.auth.organizationId, 'UPDATE');
                } else {
                  this.showGenericError('servidor', 'estatus : ' + status )
                }
          })
        .catch(error =>{
              this.notifyError(error,"No es posible actualizar el histórico")
              this.detail = ''
              this.writteGenericError("FileManager.vue", error, "Error en setLogFiles")
            }) 
    },
    uploadAreas () {
      let auxArea = []
      
      this.involvedAreas.map(area => {
        auxArea.push({ area: area, isAuthorized: ''})
      })
      
      let newParams = {
              access_token: this.$cookies.get("token"),
              id: this.rowAux.id,
              areaInvolved: auxArea
      }

      this.$store.dispatch("files/updateFiles", newParams)
            .then((response)=>{ 
              this.involvedAreas = []
              if (response.status === 200 ) {
                  let data = response.data
                  this.$socket.emit('gestorFile', { data }, this.$store.state.auth.organizationId, 'UPDATE');
                } else {
                  this.showGenericError('servidor', 'estatus : ' + status )
                }
            })
            .catch(error =>{
              this.notifyError(error,"No es posible agregar áreas involucradas")
              this.involvedAreas = []              
              this.writteGenericError("FileManager.vue", error, "Error en updateFiles")
            }) 

    },
    sendNotification (title, bodyN, target) {
      // Send notificaction
      const {name, id} = JSON.parse(localStorage.getItem('folderNameId'))
      var newNotifications = {
              access_token: this.$cookies.get("token"),
              orgId: this.$store.state.auth.organizationId,
              title,
              bodyN,
              target,
              link: "fileManager",
              typeN: 'revision',
              optionsN: {name, id, idFile: this.rowAux.id}
            }
            this.$store.dispatch("notifications/addNotification", newNotifications)
            .then(()=>{})
            .catch(error =>{
              this.notifyError(error,"No se pudo enviar la notificación a los miembros de la organización")
              this.writteGenericError("FileManager.vue", error, "Error en addNotification")
            }) 
    },
    generateArray (item) {
      const Data = R.pick(['id', 'dateUpdate', 'fileName', 'fileUrl', 'version', 'logUsersAccess', 'status', "validity"],item)
        Data.dateUpdate = item.dateUpdate.split('T')[0]
        Data.version = item.version[item.version.length - 1].versionNumber
        
        this.statusFiles.map((estado) => {
          if (estado.value == Data.status) {
            Data.status = estado.text
            Data.color = estado.color
            return
          }
        })
        this.infoFile.push(Data)
    },
    setFilters(value){
      this.filtersTable = Object.values(value)[0]
    },
    filterHandler(value, row, column) {
      const property = column['property'];
      let nameStatus
      this.statusFiles.map((estado) => {
          if (estado.value === value) {
            nameStatus = estado.text
            return
          }
        })
      return row[property] === nameStatus;
    },
    getNotificationTimeAgo(time){
        var seconds = 0, minutes = 0, hours = 0, days = 0
        var text = ''
        var createdAt =new Date(time)
        seconds = (new Date().getTime() - createdAt.getTime())/ 1000
        if(seconds > 59){
          minutes = Math.floor(seconds / 60)
        }
        if(minutes > 59){
          hours = Math.floor(minutes / 60)
        }
        if(hours > 23 ){
          days = Math.floor(hours / 24)
        }

        if(days > 7){
          text = 'Desde el día ' + createdAt.getDate() + '/' + (createdAt.getMonth()+1) + '/' + createdAt.getFullYear()
        }else if(days > 0){
          text = `Desde hace ${days} días` 
        }else if(hours > 0){
          text = `Desde hace ${hours} horas` 
        }else if(minutes > 0){
          text = `Desde hace ${minutes} minutos` 
        }else {
          text = `Desde hace ${seconds} segundos` 
        }

        return text
    },
    goBack() {
      this.$router.push({name: 'fileManagerMenu'})
    },
    next() {
      if (this.statusStep++ > 3) this.statusStep = 0;
    },
    handleAdd(){
      this.fileList = []
        this.isDisable = true
        this.dialogTableVisible = true;
        this.statusStep = 0;
    },
    displayStatus(){
      if(this.cursorType == "pointer"){
        switch(this.rowAux.status){
          case 'Aprobación Eliminación':
          case 'Recordatorio Aprobación Eliminación':
          case 'Conciliación Eliminación':
          case 'Recordatorio Conciliación Eliminación':
            this.dialogDelete = true            
          break;
          default:
            this.dialogTableVisible = true
          break;
        }
      }
    },
    handleStatus(row) {
      this.rowAux = row
    },
    isMyAreaInvolvedAndAmIAuthorizer () {

      let ai = this.rowAux.areaInvolved.find(areaAux => areaAux.area == this.myUser.ocupation )
      if( ai === undefined){
        return false
      }
      ai = this.areas.find(area => area.value == ai.area)
      return ai.authorizer == this.myUser._id

    },
    leadRequestDelete(){
      let userReqDel = []
      let myLog = this.rowAux.logUsersAccess.find(log => log.activity == "delete")
      if(myLog !== undefined){
        userReqDel.push(myLog.userId)
      }
      return userReqDel
    },
    review () {
      //put por id y status
      this.dialogTableVisible = false;
      this.showAreas = false
      this.changeStatus('review')
      this.uploadAreas()
    },
    handlePreview(){},
    handleRemove () {
      this.fileUpload = []
      this.fileList = []
      this.isDisable = true
      this.disableNewFile = true
      this.showAreas = false
      this.loading = false
      this.version = ''
    },
    handleDelete () {
      let paramsApi = {
        access_token: this.$cookies.get("token"),
        id: this.rowAux.id,
        status
      }
      this.$store.dispatch('files/deleteFile', paramsApi)
      .then(() => { 
        let id = paramsApi.id
        this.handleRemove() ;
        this.$socket.emit('gestorFile', { id }, this.$store.state.auth.organizationId, 'DELETE FILE');
      })
      .catch((error) => {
        this.notifyError(error," No es posible eliminar el archivo cargado")
        this.writteGenericError("FileManager.vue", error, "Error en deleteFile")
      })
    },
    deleteVersion () {
      this.version = ''
      this.files.map(element => {
        if (this.rowAux.id == element.id) {
            this.version = element.version[element.version.length - 1].versionId
        }
      })
      let paramsApi = {
        access_token: this.$cookies.get("token"),
        keyFile: this.rowAux.key,
        versionId: this.version
      }
      this.$store.dispatch('files/deleteVersionFile', paramsApi)
      .then((response) => { 
        this.handleRemove();
        if (response.status === 200 ) {
          let data = response.data
                  this.$socket.emit('gestorFile', { data }, this.$store.state.auth.organizationId, 'UPDATE');
                } else {
                  this.showGenericError('servidor', 'estatus : ' + status )
                }
       })
      .catch((error) => {
        this.notifyError(error," No es posible eliminar la versión del archivo")
        this.writteGenericError("FileManager.vue", error, "Error en deleteVersionFile")
      })
    },
    allAreaIsApprovedDelete (areas) {
      let results = areas.filter(area => area.isAuthorized == 'AE')
      return results.length == areas.length
    },
    allAreaNoApprovedDelete (areas) {
      let results = areas.filter(area => area.isAuthorized == 'NAE')
      return results.length == areas.length
    },
    allAreaIsApproved (areas) {
      let results = areas.filter(area => (area.isAuthorized == 'NA' || area.isAuthorized == ''))
      return !(results.length > 0) 
    },
    allAreaNoApproved (areas) {
      let results = areas.filter(area => area.isAuthorized == 'NA')
      return results.length == areas.length
    },
    getValueStatus (status) {
      let value = this.statusFiles.find(st => st.text == status)
      return value.value
    },
    approveDelete () {
      let newStatus = this.getValueStatus(this.rowAux.status)
      let approvedAreas = false 

      if (this.deleteFile) {
        switch (this.rowAux.status) {
          case 'Aprobación Eliminación':
          case 'Recordatorio Aprobación Eliminación':
            newStatus = 'deleted'
          break;
          case 'Conciliación Eliminación':
          case 'Recordatorio Conciliación Eliminación':
            this.rowAux.areaInvolved.map(area => {
              if (area.area == this.myUser.ocupation) {
                  area.authorized = 'AE'
              }
            })
            approvedAreas = true
            if (this.allAreaIsApprovedDelete(this.rowAux.areaInvolved)){
              newStatus = 'deleted'
            }
          break;
        }
      } else {
        switch (this.rowAux.status) {
          case 'Aprobación Eliminación':
          case 'Recordatorio Aprobación Eliminación':            
            newStatus = 'deleteDenied'
          break;
          case 'Conciliación Eliminación':
          case 'Recordatorio Conciliación Eliminación':
            this.rowAux.areaInvolved.map(area => {
              if (area.area == this.myUser.ocupation) {
                  area.authorized = 'NAE'
              }
            })
            approvedAreas = true
            if (this.allAreaIsNoApprovedDelete(this.rowAux.areaInvolved)){
              newStatus = 'deletedDenied'
            }
          break;
        }
      }
      this.changeStatus(newStatus, approvedAreas)
    },
    approve () {
      let newStatus = this.getValueStatus(this.rowAux.status)
      let approvedAreas = false 
      if (this.approved) {
        if (this.rowAux.status == 'Revisión' || this.rowAux.status == 'Recordatorio Revisión') {
          if (this.rowAux.areaInvolved.length > 0) {
            newStatus = 'conciliation'
          } else {
            newStatus = 'inApprovalPO'
          }
        } else {
          this.rowAux.areaInvolved.map(area => {
            if (area.area == this.myUser.ocupation) {
              area.isAuthorized = 'A'
            }
          })
          approvedAreas = true

          if ((this.rowAux.status == 'Conciliación' || this.rowAux.status == 'Recordatorio Conciliación') && this.allAreaIsApproved(this.rowAux.areaInvolved)) {
            newStatus = 'inApprovalPO'
          } else 
          if ((this.rowAux.status == 'Conciliación' || this.rowAux.status == 'Recordatorio Conciliación') && this.allAreaNoApproved(this.rowAux.areaInvolved)) {
            newStatus = 'draft'              
          }
        }
      } else {
        if (this.rowAux.status == 'Revisión' || this.rowAux.status == 'Recordatorio Revisión') {
            newStatus = 'draft'              
        }
        if (this.rowAux.status == 'Conciliación' || this.rowAux.status == 'Recordatorio Conciliación') {
          this.rowAux.areaInvolved.map(area => {
              if (area.value == this.myUser.ocupation) {
                area.isAuthorized = 'NA'
              }
          })
          approvedAreas = true
        }
        if ((this.rowAux.status == 'Conciliación' || this.rowAux.status == 'Recordatorio Conciliación') && this.allAreaNoApproved(this.rowAux.areaInvolved)) {
            newStatus = 'draft'                      
        }
      }
      this.changeStatus(newStatus, approvedAreas)
    }
  }
}
</script>

<style lang="scss" scoped>

.tbl-manage-files{
  font-size: 16px;
}
.el-icon-time{
  font-weight: 700;
}
.item {
  margin-top: 10px;
}
.form-steps{
  padding-top: 50px;
} 
.delete{
  cursor: pointer; font-size: 15px; float:right;
  color: darkslategray;
  &:hover{
  color: rgb(182, 26, 26); 
  }
}
</style>

