<template>
  <div>
    <div class="card" style="margin-bottom:0px !important; margin-bottom: 20px;">
      <div class="card-header">
        <div class="row">
          <div class="text-center col-sm-12 col-md-6">
            <h3 class="card-title">MONITOR DE ERRORES</h3>
          </div>
          <div class="col-md-3"></div>
          <div class="col-md-3" style="padding-top: 5px;">
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-4">
              <el-input v-model="searchDate"  placeholder="Fecha"/>
            </div>
            <div class="col-sm-4">
              <el-input v-model="searchHour"  placeholder="Hora"/>
            </div>
            <div class="col-sm-4">
              <el-input v-model="searchUser"  placeholder="Usuario"/>
            </div>
          </div>
          <el-table
            :data="tableData.filter(data => !searchHour && !searchUser && !searchDate 
                                                        || data.user.toLowerCase().includes(searchUser.toLowerCase()) 
                                                        && data.hour.toLowerCase().includes(searchHour.toLowerCase()) 
                                                        && data.date.toLowerCase().includes(searchDate.toLowerCase())) "
            style="width: 100%">
              <el-table-column type="expand" prop="date" >
                <template slot-scope="props">
                  <p>Modulo: {{ props.row.moduleId }}</p>
                  <p>Dominio: {{ props.row.domain }}</p>
                  <p>Excepcion Name: {{ props.row.exceptionName }}</p>
                  <p>Excepcion Message: {{ props.row.exceptionMessage }}</p>
                  <p>Excepcion Stack: {{ props.row.exceptionStack }}</p>
                  <p>Descripcion: {{ props.row.description }}</p>
                </template>
              </el-table-column>
              <el-table-column
                label="Fecha"
                prop="date">
              </el-table-column>
              <el-table-column
                label="Hora"
                prop="hour">
              </el-table-column>
              <el-table-column
                label="Usuario"
                prop="user">
              </el-table-column>
          </el-table>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Vue from "vue";
import { Table, TableColumn, Col, Input } from "element-ui";
import { Validator } from 'vee-validate'
import {gralMethods, gralErrorMethods, gralErrorLog} from 'src/mixins/generalMethods.js'
import {mapState, mapGetters, mapMutations } from 'vuex';

Vue.use(Table);
Vue.use(TableColumn);
Vue.use(Input);

export default {
  name:'monitor',
  components: {
  },
  mixins: [gralMethods, gralErrorMethods, gralErrorLog],
  computed: {
  },
  data() {
    return {
      loading: true,
      access_token: '',
      moduleId:'',
      tableData: [],
      searchUser: '',
      searchHour: '',
      searchDate: '',
    };
  },
  created () {
    this.access_token = this.$cookies.get("token")
    this.moduleId = this.$route.path.split('/')[1] 
    this.$store.dispatch('systemlog/getSystemLog',{ access_token:this.access_token }  )
    .then( x => {  
      this.tableData = x.data.rows
    })
    .catch (error => {
      this.notifyError(error)
    })
  }
};
</script>
<style lang="scss" scoped>
</style>