<template>
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Tablero de control</h3>
    </div>
    <div class="card-body">
      <el-collapse accordion>
        <el-collapse-item name="1" v-if="premium['moduleAnticorruption']">
          <template slot="title">
            Tablero Anticorrupción
          </template>
          <table class="table">
              <thead class="header-table">
                <tr>
                  <th> Característica</th>
                  <th class="td-actions text-right">¿Mostrar?</th>
                </tr>
              </thead>
              <tbody>
              <tr v-for="(item, index) in dashboardFlags" :key="index">
                <td >
                  {{item.label}}
                </td>
                <td class="td-actions text-right">
                  <p-switch
                    type="info"
                    :value="item.show"
                    @input="updateDashboardFlags(index, ...arguments)"
                    on-text="Si"
                    off-text="No">
                  </p-switch>
                </td>
              </tr>
            </tbody>
          </table>
        </el-collapse-item>
      </el-collapse>
    </div>
  </div>
</template>
<script>

import Vue from 'vue'
import { Collapse, CollapseItem } from 'element-ui'
import PSwitch from 'src/components/UIComponents/Switch.vue'

import { mapState, mapGetters } from 'vuex';

Vue.use(Collapse)
Vue.use(CollapseItem)

export default {
  name: 'options',
  components: {
    PSwitch
  },
  computed: {
    ...mapGetters('user', ['dashboardFlags']),
    ...mapState("organization", ["premium"])
  }, 
  data () {
    return {
    }
  },
  methods: {
    updateDashboardFlags (index, value) {
      let access_token = this.$cookies.get("token")
      this.$store.dispatch('user/setFlags',{ access_token, flags: {dashboard: { [index]: { show: value } } } })
    },
  }
}
</script>

<style lang="scss" scoped>
@import "src/assets/sass/paper/_variables.scss";
.header-table{ 
  font-weight: $font-weight-bold;
  padding-bottom: 0;
  text-transform: uppercase;
  border: 0;
  .cell {
    text-overflow: clip; 
  }
}

</style>

