<template>
  <div>
    <el-page-header
      style="padding-bottom:20px;"
      @back="goBack"
      title="Ir a carpetas"
      content="Roles del Gestor Documental"
    ></el-page-header>
    <div class="card">
      <div class="card-body">
        <div class="row-owner">
          <div class="row">
            <div class="col-lg-12">
              <h6 class="mt-3" >
                <b>Dueño del proceso</b>
              </h6>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <el-select
                v-model="ownerOfDocMgt"
                placeholder="Seleccionar"
                value-key="_id"
                class="select-default"
              >
                <el-option
                  class="select-default"
                  v-for="member in members"
                  :key="member._id"
                  :label="member.name"
                  :value="member"
                ></el-option>
              </el-select>
            </div>
          </div>
        </div>
        <div class="row-admin">
          <div class="row mt-3">
            <div class="col-lg-12">
              <h6 class="mt-3" >
                <b>Administrador</b>
              </h6>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <el-select
                v-model="adminOfDocMgt"
                placeholder="Seleccionar"
                value-key="_id"
                class="select-default"
              >
                <el-option
                  class="select-default"
                  v-for="member in candidatesAdmin"
                  :key="member._id"
                  :label="member.name"
                  :value="member"
                ></el-option>
              </el-select>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-sm-6">
            <h6 class="mt-4" >
              <b>Lideres de usuario</b>
            </h6>
          </div>
          <div class="col-sm-6">
            <el-select
              class="select-default mt-3"
              v-model="areaFilter"
              clearable
              placeholder="Mostrando todas las áreas"
              value-key="value">
              <el-option
                class="select-default"
                v-for="area in areas"
                :key="area.value"
                :label="area.name"
                :value="area"
              ></el-option>
            </el-select>
          </div>
          <div class="col-lg-12">
            <el-table :data="candidatesLead" 
              header-row-class-name="text-primary"
              v-loading="loading" 
              element-loading-background="rgba(256, 256, 256, 0.9)" 
              element-loading-text="obteniendo información"
              element-loading-spinner="el-icon-loading"
            >
              <el-table-column min-width="60" width="60">
                <template slot-scope="scope">
                  <el-avatar fit="cover" :src="scope.row.picture"></el-avatar>
                </template>
              </el-table-column>
              <el-table-column prop="name" min-width="150" width="250" class-name="th-contend"></el-table-column>
              <el-table-column min-width="100" class-name="th-contend" label="Área">
                <template slot-scope="scope">
                  {{getAreaName(scope.row.ocupation)}}
                </template>
              </el-table-column>            
              <el-table-column min-width="80" label="Lider de usario" class-name="th-contend" fixed="right">
                <template slot-scope="scope">
                  <p-switch type="success" 
                    class="authorized-sw"
                    @input="updateLead(scope.row,...arguments)"
                    :value="scope.row.roleDocMgt === 'lead'"
                    on-text="Si" 
                    off-text="No">
                  </p-switch>
                  <el-radio
                    class="authorized"
                    v-if="scope.row.roleDocMgt === 'lead'"
                    v-model="$data['authByAreaLocal'][scope.row.ocupation]"
                    :label="scope.row._id"
                    @change="updateAuthorizer(scope.row._id, scope.row.ocupation)"
                    border
                  >Autorizador</el-radio>
                </template>
              </el-table-column>
            </el-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import { PageHeader, Avatar, Radio } from 'element-ui'
import { mapState, mapGetters } from 'vuex'
import { Select, Option } from "element-ui";
import { Table, TableColumn, Col } from "element-ui";
import PSwitch from 'src/components/UIComponents/Switch.vue'
import { gralErrorMethods, gralErrorLog } from 'src/mixins/generalMethods.js'

Vue.use(PageHeader)
Vue.use(Table);
Vue.use(TableColumn);
Vue.use(Avatar);
Vue.use(Radio);

export default {
  components: {
    [Select.name]: Select,
    [Option.name]: Option,
    PSwitch
  },
  data () {
    return {
      leads: [],
      admin: null,
      loading: true,
      areaFilter: null,
      currentOwnerId: null,
      currentAdminId: null,
      authByAreaLocal : null
    }
  },
  mixins: [gralErrorMethods, gralErrorLog],
  computed: {
    ...mapState('organization', ['roles', 'areas']),
    ...mapState('user', ['members', 'myUser']),
    ...mapGetters('user', ['candidatesAdmin', 'candidatesLead']),
    ...mapGetters('organization', ['authByArea']),
    ownerOfDocMgt: {
      set (member) {
        this.updateOwner(member)
      },
      get () {
        return this.members.find(member => member.roleDocMgt == 'owner' ? member : null)
      }
    },
    adminOfDocMgt: {
      set (member) {
        if (member._id !== undefined) {
          this.updateAdmin(member)
        } else { return }
      },
      get () {
        return this.members.find(member => member.roleDocMgt == 'admin' ? member : null)
      }
    }
  },
  watch: {
    areaFilter: function(newValue, oldValue) {
      this.$store.commit('user/SET_MEMBERS_FILTERED',newValue.value)
      return newValue
    },
    ownerOfDocMgt (value) { 
      if (value._id !== this.myUser._id) {
        this.$router.push({name:'fileManagerMenu'})
      }
    }
    
  },
  async created () {
    let access_token = this.$cookies.get("token")

    await this.$store.dispatch('user/getMembers', this.$cookies.get("token"))
    this.loading = false
    this.$store.commit('user/SET_MEMBERS_FILTERED')

    if (this.adminOfDocMgt === undefined) {
      this.adminOfDocMgt = []
    } else {
      this.currentAdminId = this.adminOfDocMgt._id
    }
    // este id nos ayudara para saber quien es el actual owner y admin previo a asignar los nuevos
    this.currentOwnerId = this.ownerOfDocMgt._id
    

    // pasamos los autorizadores de cada area  a una variable local
    this.authByAreaLocal = this.authByArea

  },
  methods: {
    goBack () {
      this.$router.push({ name: 'fileManagerMenu' })
    },
    async updateAuthorizer(authorizer, value){
      let paramsApi = {
        access_token: this.$cookies.get("token"),
        authorizer,
        value,
      }
      try {
        await this.$store.dispatch('organization/updateAreaAuthorizer', paramsApi)
        let data = {
          authorizer,
          value
        }
        this.$socket.emit('memberRoles', data, this.$store.state.auth.organizationId, 'UPDATE_AUTHORIZER');
        this.authByAreaLocal = this.authByArea
      }
      catch (error) {
        this.notifyError(error, 'Hubo problemas al actualizar autorizador')
        this.writteGenericError("RolesFM.vue", error, "Error en updateAreaAuthorizer")
      }
    },
    async updateOwner (member) {
      let newRole = 'owner'
      let resUpdateRole = null

      resUpdateRole = await this.updateRole(member, newRole)

      if (resUpdateRole.status == 200 && this.currentOwnerId) {
        this.setAsAnUser(this.currentOwnerId)
        let data = {
          _id: member._id,
          roleDocMgt: newRole
        }
        this.socketUpdateEmit(data)

        data._id = this.currentOwnerId
        data.roleDocMgt = "user"
        this.socketUpdateEmit(data)
      }

      this.currentOwnerId = this.ownerOfDocMgt._id
      // En caso de que el nuevo owner sea el actual admin, tenemos que borrar la variable para 
      // evitar que se actualice cuando se ejecute updateAdmin
      if (this.currentAdminId === this.currentOwnerId) {
        this.currentAdminId = null
      }
    },
    async updateAdmin (member) {
      if(this.currentAdminId == member._id){
        return
      }
      let newRole = 'admin'
      let resUpdateRole = null

      resUpdateRole = await this.updateRole(member, newRole)

      if (resUpdateRole.status == 200 ) {
        
        let data = {
          _id: member._id,
          roleDocMgt: newRole
        }
        this.socketUpdateEmit(data)

        if(this.currentAdminId){
          this.setAsAnUser(this.currentAdminId)
          data._id = this.currentAdminId
          data.roleDocMgt = "user"
          this.socketUpdateEmit(data)
        }
        
      }
      
      this.currentAdminId = this.adminOfDocMgt._id
    },
    async updateLead (member, role){
      role = role ? "lead" : "user"
      this.updateRole(member, role)
      .then(()=>{
        let data = {
          _id: member._id,
          roleDocMgt: role
        }
        this.socketUpdateEmit(data)
      })
    },
    async updateRole (member, newRole) {
      let userInfo = {
        access_token: this.$cookies.get("token"),
        id: member._id,
        roleDocMgt: newRole
      }
      try {
        if(this.authByAreaLocal[member.ocupation] == member._id){
          await this.updateAuthorizer(null, member.ocupation)
        }
        return this.$store.dispatch('user/updateMemberDocMgtRole', userInfo)
      }
      catch (error) {
        this.notifyError(error, 'Sin autorización')
        this.writteGenericError("RolesFM.vue", error, "Error en updateMemberDocMgtRole")
      }
    },
    socketUpdateEmit(data){
      this.$socket.emit('memberRoles', data, this.$store.state.auth.organizationId, 'UPDATE_MEMBER_INFO');
    },
    async setAsAnUser (userId) {
      let userInfo = {
        access_token: this.$cookies.get("token"),
        id: userId,
        roleDocMgt: 'user'
      }
      console.log('this.userInfo', userInfo)
      try {
        return this.$store.dispatch('user/updateMemberDocMgtRole', userInfo)
      } catch (error) {
        this.notifyError(error, 'Sin autorización')
        this.writteGenericError("RolesFM.vue", error, "Error en updateMemberDocMgtRole")        
      }
    },
    getAreaName(value){
      let myArea = this.areas.find(area => area.value == value)
      return myArea !== undefined ? myArea.name : ""
    }
  }
}
</script>

<style lang="scss" scoped>
.authorized {
  color: purple;
}
.authorized-sw{
  margin-right: 20px;
}
.el-select {
  width: 100%;
}
</style>

