<template>
  <div id="graphic-evaluation">
    <!-- <div class='row'> -->
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-12">
            <h3 class="card-title">Tabla de Riesgos</h3>
            <br>
          </div>
        </div>
      </div>
      <hr>
      <div class="card-body">
        <div class="row text-center" :donutchart="dataBarStack1">
          <div class="col-lg-3 col-lg-2 col-lg-4" v-for="index in tam" :key="index">
            <div class="card content-card">
              <div class="card-title">
                <h3>{{getTitle(index-1)}}</h3>
              </div>
              <donut-chart v-if="premium['moduleAnticorruption']" style="box-shadow:none;" :color="getColor(index-1)" :percentarr="getData(index-1)"></donut-chart>
              <el-tooltip effect="dark" placement="top" v-else>
                <div slot="content">
                  <div style="color:white;">{{getMessage(index-1)}}</div><br>
                  <div style="text-align: center; text-decoration: underline; cursor:pointer"><a @click="$router.push({name:'pricing', params: {id:myUser._id}})" style="color:white;">Solucione aquí</a></div>
                </div>
                <donut-chart style="box-shadow:none;" :color="getColor(index-1)" :percentarr="getData(index-1)"></donut-chart>
              </el-tooltip>
              <br />
              <div>
                <h5>{{getSubTitle(index-1)}}</h5>
              </div>
              <br />
              <p class="cart-text">{{mensaje[index-1]}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
 
  </div>
  <!-- </div> -->
</template>

<script>
import Vue from 'vue'
import ChartCard from 'src/components/UIComponents/Cards/ChartCard'
import VeeValidate from 'vee-validate'
import { mapState } from 'vuex'
import { gralErrorMethods, gralMethods, gralErrorLog } from 'src/mixins/generalMethods'
import DonutChart from 'src/components/UIComponents/Cards/DonutChart.vue'
import ChartDataLabels from 'chartjs-plugin-datalabels'
Chart.plugins.unregister(ChartDataLabels)
import { Tooltip } from 'element-ui'

Vue.use(VeeValidate)

export default {
  mixins: [gralErrorMethods, gralMethods, gralErrorLog],
  components: {
    ChartCard,
    DonutChart,
    [Tooltip.name]: Tooltip
  },
  data () {
    return {
      moduleId: 'anticorruption',
      subTypeOf: 'diagnostic',
      cards: [],
      colors: [],
      answers: [],
      tam: 0,
      mensaje: [
        'Es el porcentaje en el que el personal directivo de la empresa, declara abiertamente su compromiso a una tolerancia cero a la corrupción.',
        'Es el porcentaje en que la empresa cumple con un sistema de gestión en cumplimiento normativo, entre ellas la de prácticas Éticas y de Integridad Empresarial.',
        'Es el porcentaje de cumplimiento respecto a la ley en el combate contra la corrupción y de controles para evitar riesgos de responsabilidad penal tanto de directivos, representantes como empleados'],
      attendedPieChartColor: 'rgba(76,175,80,1)',
      WOAttendedPieChartColor: 'rgba(117,117,117,1)'
    }
  },
  created () {
    this.$store
      .dispatch('sections/setSections', {
        access_token: this.$cookies.get("token"),
        moduleId: this.moduleId,
        subTypeOf: this.subTypeOf
      })
      .catch(error => {
        this.notifyError(error, 'Ha ocurrido un problema, intentelo mas tarde')
        this.loading = false
        this.writteGenericError('Graphic.vue', error, 'Error en setSections')
      })
    //this.colors=['#35A97A','#FABE3C','#FF0040']
    this.colors = ['#35A97A', '#FABE3C', '#FF0040']
    this.tam = this.answers.length
  },
  computed: {
    ...mapState('sections', ['resultQuestions']),
    ...mapState('sections', ['infoProgressSections']),
    ...mapState("organization", ["premium"]),
    ...mapState("user", ["myUser"]),
    getSections () {
      return this.$store.getters['sections/getSections']
    },
    dataBarStack1 () {
      var sections = this.getSections.infoSections
      this.countAnswers()
      var dataBarStack = {
        labels: [],
        datasets: [
          {
            label: 'Contestadas con SI',
            data: [],
            backgroundColor: this.attendedPieChartColor, //green
            datalabels: {
              color: '#FFFFFF'
            }
          },
          {
            label: 'Contestadas con PARCIAL',
            data: [],
            backgroundColor: '#FFA000', //green
            datalabels: {
              color: '#FFFFFF'
            }
          },
          {
            label: 'Contestadas con NO',
            data: [],
            backgroundColor: '#FF5252', // red
            datalabels: {
              color: '#FFFFFF'
            }
          },
          {
            label: 'Sin Contestar',
            data: [],
            backgroundColor: this.WOAttendedPieChartColor, // red
            datalabels: {
              color: '#FFFFFF'
            }
          }
        ]
      }
      if (this.answers.length > 0) {
        this.answers.map(answer => {
          dataBarStack.labels.push(answer.name)
          dataBarStack.datasets[0].data.push(parseInt(answer.si))
          dataBarStack.datasets[1].data.push(parseInt(answer.parcial))
          dataBarStack.datasets[2].data.push(parseInt(answer.no))
          dataBarStack.datasets[3].data.push(parseInt(answer.sinContestar))
        })
      }
      this.tam = this.answers.length
      return dataBarStack
    }
  },
  methods: {
    countAnswers () {
      this.answers = []
      this.resultQuestions.map(element => {
        let si = 0,
          sinContestar = 0,
          parcial = 0,
          no = 0
        element.map(item => {
          if (item.result == 1) {
            si = si + 1
          }
          if (item.result == 0.5) {
            parcial = parcial + 1
          }
          if (item.result == 0) {
            no = no + 1
          }
          if (item.result == -1 || item.result === undefined) {
            sinContestar = sinContestar + 1
          }
        })
        this.answers.push({
          name: element[0].typeOf,
          si: si,
          no: no,
          parcial: parcial,
          sinContestar: sinContestar
        })
      })
      this.answers = this.sortByKey(this.answers, 'name')
      this.answers.forEach(item => {
        this.setTitle(item)
      })
    },
    setTitle (item) {
      this.infoProgressSections.map(element => {
        if (element.questions.typeOf == item.name) {
          item.name = element.questions.title
          item.desc = element.questions.description
        }
      })
    },
    sortByKey (array, key) {
      return array.sort(function (a, b) {
        var x = a[key]
        var y = b[key]
        return x < y ? -1 : x > y ? 1 : 0
      })
    },
    getData (index) {
      var datos = this.answers[index]
      var si, no, parcial, nada, Total, pct, value
      Total = datos.si + datos.no + datos.parcial + datos.sinContestar
      pct = datos.si * 1 + datos.no * 0 + datos.parcial * 0.5
      value = (pct * 100) / Total
      value = parseFloat(value).toFixed(2)
      var complement = 100 - value
      return [value, complement]
    },
    getTitle (index) {
      return this.answers[index].name
    },
    getSubTitle (index) {
      return this.answers[index].desc
    },
    getColor (index) {
      var datos = this.getData(index)
      var color
      if (datos[0] > 66)
        //verde
        color = 0
      if (datos[0] < 66 && datos[0] >= 33.1)
        //anaranjado
        color = 1
      if (datos[0] < 33.1) color = 2
      return [this.colors[color], '#f0f0f0']
      //return ['blue', '#f0f0f0']
    },
    getMessage (index) {
      var datos = this.getData(index)
      var message
      if (datos[0] > 66)
        message = '¡Bajo nivel de riesgo! exposición baja pero requiere de su revisión a detalle.'
      if (datos[0] < 66 && datos[0] >= 33.1)
        message = '¡Nivel de riesgo medio! exposición media a sanciones desde $84 mil pesos hasta $84 millones de pesos.'
      if (datos[0] < 33.1) 
        message = '¡Alto nivel de riesgo! exposición alta a sanciones de hasta $84 millones de pesos.'
      return message
    }
  }
}
</script>
<style lang='scss' scoped>
@import "src/assets/sass/paper/_variables.scss";
.titleLabel {
  text-transform: lowercase;
}
.titleLabel::first-letter {
  text-transform: uppercase;
}

.columnaCode {
  font-size: 15px;
}
.code {
  font-style: italic;
  font-weight: bold;
}
.colorModule {
  font-style: italic;
  font-weight: bold;
}
.trybutton {
  width: 200px;
  height: 50px;
  margin: 0 auto;
  background: white;
  border: 5px solid;
  border-radius: 10px;
  font: bold 15px Helvetica, Sans-Serif;
  text-transform: uppercase;
}
.title-chart {
  text-transform: uppercase;
  font-weight: bold;
}
.title-leyenda {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  color: rgb(25, 171, 219);
}
.lista-leyenda {
  column-count: 3;
  list-style: none;
  text-transform: capitalize;
  font-weight: bold;
  color: rgb(25, 171, 219);
}
.legend-field {
  font-size: $font-size-blockquote;
}
.fa-circle {
  font-weight: 700;
}
.card-title {
  padding: 10px;
  height: 40px;
  background: transparent;
  border-radius: $border-radius-extreme;
}
.card[data-v-b306bcfe] {
  box-shadow: none;
}
.cart-text {
  padding: 5%;
  text-align: justify;
  line-height: 1.6;
}
.btn-link[name="evaluar"] {
  border: 0;
  padding: 2rem 0.7rem;
  background-color: transparent;
}
.content-card{
  box-shadow: none;
}
</style>
