<template>
<div class='col-lg-12 col-md-12 text-center'>

 <p-button type="danger" v-if="!$store.state.organization.premium['moduleAnticorruption']"
    @click="goToPricing" 
    round class="btn-magnify" 
    size="mid">
    Comprar Ahora
  </p-button>
  <tabs pills type="primary" icons centered tab-content-classes="tab-space">
    <tab-pane id="evaluation" key="evaluation">
      <span slot="title" id="titleDiagnostic">
          <i class="nc-icon nc-check-2"></i> Evaluación
      </span>
      <sect-eval></sect-eval>
    </tab-pane>
    <tab-pane id="graphic-evaluation" key="graphic-evaluation">
      <span slot="title" id="graphDiagnostic">
          <i class="nc-icon nc-chart-pie-36"></i> Resultados
      </span>
      <graphic></graphic>
    </tab-pane>
  </tabs>
  </div>
</template>
<script>
import SectEval from 'src/components/Dashboard/Anticorruption/Evaluation/SectEval'
import Graphic from 'src/components/Dashboard/Autoevaluation/Graphic'
import {mapState, mapGetters} from 'vuex';
import swal from "sweetalert2"

import { Tabs, TabPane} from 'src/components/UIComponents'
export default {
   components: {
    SectEval,
    Graphic,
    TabPane,
    swal,
    Tabs
   },
    data() {
      return {
        access_token:''
      }
    },
    computed:{
      ...mapState("organization", ["premium"]),
      ...mapState("user", ["myUser"])
    },
    methods: {
      goToPricing(){
        this.$router.push({name: 'pricing', params: {id: this.access_token}})
      }

    },
    created(){
      this.access_token=this.$cookies.get("token")
      if ( (this.myUser.flags.firstTime || this.myUser.flags.firstTime === undefined) && !this.premium['moduleAnticorruption'] ) {
           swal({
             title: '¡Bienvenido! ',
             buttonsStyling: true,
             confirmButtonClass: 'btn btn-success btn-fill',
             html: 'Sistema automatizado de cumplimiento normativo <br><br> ' +
             'Metodología PAD'
           })
          let paramsApi = {access_token: this.access_token, flags: {firstTime: false }, id: this.myUser._id}
          this.$store.dispatch('user/setFlags', paramsApi)
       } 
      }
}
</script>
<style lang="scss" scoped>

</style>
