<template>
  <div class="card">
    <div class="card-header">
      <h4 class="title">{{title}}</h4>
    </div>
    <div class="table-full-width table-tasks">
      <table class="table" v-if="members.length > 0">
        <thead>
          <tr v-for="(member, index) in members" :key="index">
            <td class="img-row">
              <div class="img-wrapper">
                <img :src="member.picture" class="img-raised">
              </div>
            </td>
            <td>
              {{member.name}}
              <br>
            </td>
            <td class="td-actions text-right">
              <p-switch
                :disabled="myUser.role !== 'admin'"
                type="info"
                @input="auditor(index)"
                :value="member.isAuditor"
                on-text="Si"
                off-text="No"></p-switch>
            </td>
          </tr>
        </thead>
      </table>
      <h5 v-else style="padding:75px;" >
          <i class="el-icon-warning length"></i>  
          <h5 style="color:rgb(179,179,179); font-size:100%;">No hay mas miembros en la organización</h5>
      </h5>   
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import swal from "sweetalert2";
import { gralErrorMethods, gralErrorLog } from 'src/mixins/generalMethods.js'
import PSwitch from 'src/components/UIComponents/Switch.vue'
import { round, values } from 'd3';


export default {
  components: {
    PSwitch
  },
  name: "auditors-card",
  mixins: [gralErrorMethods, gralErrorLog],
  data () {
    return {
      title: "Auditores",
    }
  },
  computed: {
    ...mapState('user', ['members', 'myUser']),
    ...mapState('organization', ['roles']),
  },
  created () {
    this.$store.dispatch('user/getMembers', this.$cookies.get("token"))
      .then(() => { })
      .catch(error=>{
            this.notifyError(error, ' Error al obtener Members')
            this.writteGenericError("OrgMembers.vue", error, "Error al obtener Members, getMembers ")
      })
  },
  methods: {
    auditor (index) {
      let oldValue = this.members[index].isAuditor
      let paramsApi = {access_token:this.$cookies.get('token'), id:this.members[index]._id, isAuditor:!oldValue}
      this.$store.dispatch('user/updateUserInfo', paramsApi)
      .then(()=> {
        this.showGenericSuccess("Actualización exitosa")
        let data = {_id:this.members[index]._id, isAuditor:!oldValue}
        if(data != null){
          this.$socket.emit('memberRoles',data, this.$store.state.auth.organizationid,'UPDATE_MEMBER_INFO');
        }
      })

    },
    showSwal () {
      return swal({
        title: "¿Estas seguro que desea eliminar al usuario?",
        text: `No podra ser recuperado, a menos que cree una cuenta de nuevo`,
        type: "warning",
        showCancelButton: true,
        confirmButtonClass: "btn btn-success btn-fill",
        cancelButtonClass: "btn btn-danger btn-fill",
        confirmButtonText: "Si, Eliminar",
        cancelButtonText: "Cancelar",
        buttonsStyling: false
      })
        .then((response) => response ? response : false)
        .catch((error) => error ? console.log(error) : false)
    }
  }
}
</script>

<style lang="scss" scoped>
.table > tbody > tr > td {
  text-transform: none;
}
</style>
