<template>
  <div class="card" v-loading="loading" 
          element-loading-background="rgba(256, 256, 256, 0.9)" 
          element-loading-text="Actualizando Telefonos"
          element-loading-spinner="el-icon-loading">
    <div class="card-header" >
      <h4 class="title">Editar Perfil Usuario</h4>
    </div>
    <div class="card-body">
      <form v-on:submit.prevent data-vv-scope="form-user">
        <div class="row">        
          <div class="col-md-6">
            <fg-input :error="getError('form-user.Telefono')" label="Teléfono">
              <vue-tel-input v-model="phoneAux"
                            style="border"
                            @onInput="onInputPhone"
                            v-validate="modelValidations.phone"
                            defaultCountry='MX'
                            name="Telefono"
                            placeholder="Telefono * "
                            class="select-default nc-icon nc-mobile border">
              </vue-tel-input> 
            </fg-input>
          </div>
          <div class="col-md-6">
            <fg-input :error="getError('form-user.Celular')" label="Celular">           
              <vue-tel-input v-model="mobileAux"
                            style="border"
                            @onInput="onInputMobile"
                            v-validate="modelValidations.mobile"
                            defaultCountry='MX'
                            name="Celular"
                            placeholder="Celular * "
                            class="select-default nc-icon nc-mobile border">
              </vue-tel-input> 
            </fg-input>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <fg-input :error="getError('form-user.occupation')" label="Ocupación">
              <el-select v-model="myOcupation"
                      class="select-default"
                      name="occupation"
                      placeholder="Seleccione Cargo  *"
                      data-vv-as="Cargo"
                      v-validate="{required: true}">
                <el-option v-for="option in areas"
                          class="select-default"
                          :value="option.value"
                          :label="option.name"
                          :key="option.name">
                </el-option>
              </el-select>
            </fg-input>  
          </div>
        </div>

        <div class="row ">
          <div class = "col-md-12 text-center">
            <button type="submit" class="btn btn-info btn-fill btn-wd" @click="validate('form-user')">Actualizar Perfil Usuario</button>
          </div>
          <div class="clearfix"></div>
        </div>
      </form>
    </div>

    <hr>
    
    <div class="card-body">
      <div class="card-header">
        <h4 class="title">Editar Perfil Compañía</h4>
      </div>
      <form v-on:submit.prevent data-vv-scope="form-org">
        <div class="row">
          <div class="col-md-5">
            <fg-input type="text"                      
                      label="Dominio"
                      :disabled="true"
                      placeholder=""
                      v-model="domain"                 
                      required:false>
            </fg-input>
          </div>
          <div class="col-md-5">
            <fg-input type="text"
                      label="Compañia"
                      :placeholder="'Compañia'"
                      :disabled="myUser.role != 'admin'"
                      v-model="myName"
                      data-vv-as="Compañia"
                      name="company"
                      :error="getError('form-org.company')"
                      v-validate="{required: true}">
            </fg-input>
          </div>
          <div class="col-md-5">
            <fg-input type="text"
                      label="Url"
                      :placeholder="'URL'"
                      :disabled="myUser.role != 'admin'"
                      v-model="myURL">
            </fg-input>
          </div>
          <div class="col-md-5">
            <fg-input type="text"
                      :disabled="myUser.role != 'admin'"
                      label="Código Postal"
                      name="ZIPCODE"
                      data-vv-as="C.P."
                      :error="getError('form-org.ZIPCODE')"
                      :placeholder="'C.P.'"
                      v-model="myZipcode"
                      v-validate="{required: true, alpha_num: true, max: 7}">
            </fg-input>
          </div>
          <div class="col-md-5">
            <fg-input type="text"
                      :disabled="myUser.role != 'admin'"
                      label="Ciudad"
                      name="CITY"
                      data-vv-as="Ciudad"
                      :error="getError('form-org.CITY')"
                      :placeholder="'Ciudad'"
                      v-model="myCity"                 
                      v-validate="{required: true, alpha_spaces: true}">
            </fg-input>
          </div>
          <div class="col-md-5">
            <fg-input type="text"
                      :disabled="myUser.role != 'admin'"
                      label="País"
                      name="COUNTRY"
                      data-vv-as="País"
                      :error="getError('form-org.COUNTRY')"
                      :placeholder="'País'"
                      v-model="myCountry"                 
                      v-validate="{required: true, alpha_spaces: true}">
            </fg-input>
          </div>
        </div>
        <div class="row ">
          <div class = "col-md-12 text-center">
            <button v-if="myUser.role == 'admin'" type="submit" class="btn btn-info btn-fill btn-wd" @click.prevent="validate('form-org')">Actualizar Perfil Compañía</button>
          </div>
          <div class="clearfix"></div>
        </div>
      </form>
    </div>
    
  </div>  
</template>
<script>
  
  import 'vue-tel-input/dist/vue-tel-input.css';
  import VueTelInput from 'vue-tel-input'
  import Swal from "sweetalert2"
  import {gralErrorMethods, gralErrorLog} from 'src/mixins/generalMethods.js'
  import { Validator } from 'vee-validate'
  import { Select, Option } from 'element-ui'
  import { mapGetters, mapState, mapMutations } from 'vuex';
  import PhoneNumber from 'awesome-phonenumber'

  export default {
    components:{
      [Select.name]: Select,
      [Option.name]: Option,
    },
    data (){
      return {
        loading:false,
        actualizable:false,
        phone_db:'',
        phoneAux: '',
        mobileAux: '',
        myOcupation: '',
        okMobile: 'no',
        okPhone:'no',
        modelValidations: {
          phone: {
            required: true,       
            min:10,
            verify_fixedLine: true
          },
          mobile: {
            required: true,
            verify_fixedLine: true,
            min:10
          },
        },
        
        Usuario: {},
        phoneup:'',
        mmobileup:'',
        Updatedata:
        {
          access_token:'',
          name: '',
          phone: '',
          mobile: '',
          picture:'',
        },
        recover_name:'',
      }
    },
    mixins: [gralErrorMethods, gralErrorLog],
    created() {
      this.$store.dispatch("organization/getInfoOrg",{access_token: this.$cookies.get("token"), org_id: this.$store.state.auth.organizationId})
      .then(() =>{
        this.$store.dispatch("user/getUser", {access_token: this.$cookies.get("token")})
        .then(()=>{
          this.phoneAux="+"+this.myUser.phone
          this.mobileAux="+"+this.myUser.mobile
          this.myOcupation = this.myUser.ocupation

          const phoneNumber = {
            getMessage: field => `El campo ${field} no es valido`,
            validate(value){
              return new Promise(resolve =>{
                let phone = new PhoneNumber(value)
                resolve({valid: phone.isValid()})
              })
            }
          }
          Validator.extend('verify_fixedLine', phoneNumber)
        })
        .catch(error=>{
          this.notifyError(error)
          this.writteGenericError("EditProfile.vue", error, "Error getUser ")
        })
      })
      .catch(error=>{
        this.notifyError(error)
        this.writteGenericError("EditProfile.vue", error, "Error getInfoOrg ")     
      })
      
    },  
    computed:
    {
      ...mapState ('organization',['name', 'domain', 'url', 'zipcode', 'city', 'country', 'areas']),
      ...mapState ('user',['myUser']),
      myName:{
        get () { return this.name},
        set (value) { this.SET_NAME(value) }
      },
      myURL:{
        get () { return this.url},
        set (value) { this.SET_URL(value) }
      },
      myZipcode:{
        get () { return this.zipcode},
        set (value) { this.SET_ZIPCODE(value) }
      },
      myCity:{
        get () { return this.city},
        set (value) { this.SET_CITY(value) }
      },
      myCountry:{
        get () { return this.country},
        set (value) { this.SET_COUNTRY(value) }
      },
    },
    methods: {
      ...mapMutations('user',['set_phone', 'set_mobile', 'SET_OCUPATION', 'SET_ROLEDOCMGT']),
      ...mapMutations('organization',['SET_URL', 'SET_ZIPCODE', 'SET_CITY', 'SET_COUNTRY', 'SET_NAME']),
      onInputPhone({ number, isValid, country }) {
        this.okPhone = isValid
        if (isValid)
        {
          this.phoneAux= this.phoneAux.replace(/ /g, "")
        }
      },
      onInputMobile({ number, isValid, country }) {
       this.okMobile = isValid
       if (isValid)
       {
         this.mobileAux = this.mobileAux.replace(/ /g, "")
       }
      },
      validate (scope) {
        return this.$validator.validateAll(scope).then(isValid => {
          if (isValid){
            if(scope == 'form-user'){
              let myArea = this.areas.find(area => area.value == this.myUser.ocupation)
              if(myArea.authorizer == this.myUser._id && this.myOcupation != this.myUser.ocupation){
                Swal({
                    title: "¿Estás seguro de que deseas cambiar de área?",
                    text: "Eres autorizador de tu actual área, si continuas con el cambio, dejaras de ser autorizador de ambas áreas hasta que se te reasigne de nuevo el cargo",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn btn-success btn-fill",
                    cancelButtonClass: "btn btn-danger btn-fill",
                    confirmButtonText: "Sí, Eliminar",
                    cancelButtonText: "Cancelar",
                    buttonsStyling: false
                })
                .then ((response) => this.updateUser("user") ) 
                .catch((error) => this.myOcupation = this.myUser.ocupation)
              }else{
                this.updateUser()
              }
            }else{
              this.updateOrg()
            }
          }
          else{
            return false
          }
        })
      },
      getError (fieldName) {
        return this.errors.first(fieldName)
      },
      showUpdate(datatitle) {
        Swal({
          title: datatitle,
          allowEscapeKey: false,
          allowOutsideClick: false,
          type: "success",
          showCancelButton: false,
          confirmButtonClass: "btn btn-success btn-fill",
          confirmButtonText: "OK"
        }).then((result) => {
          if (result) {
            
          }
        })         
      },
      async updateUser(roleDocMgt) {   
        let paramsApiInfo = {
          phone: this.phoneAux,
          mobile: this.mobileAux,
          ocupation: this.myOcupation,
          access_token: this.$cookies.get("token"),
          id: this.myUser._id,
          roleDocMgt: "user"
        }
        let data
        if(this.myOcupation == this.myUser.ocupation){
          data = null
        }else{
          data = {
            _id: this.myUser._id,
            ocupation: this.myOcupation,
            roleDocMgt: 'user'
          }
        }
        try {
          if(roleDocMgt !== undefined){
            let paramsApi = {
              access_token: this.$cookies.get("token"),
              authorizer: null,
              value: this.myUser.ocupation,
            }
            await this.$store.dispatch('organization/updateAreaAuthorizer', paramsApi)
            paramsApiInfo.roleDocMgt = roleDocMgt
          }
        }catch (error) {
          this.notifyError(error, 'Hubo problemas al actualizar autorizador')
        }finally{
          this.$store.dispatch("user/updateUserInfo", paramsApiInfo)
          .then(()=>{
            this.showUpdate("Actualización exitosa")
            if(data != null){
              this.$socket.emit('memberRoles', data, this.$store.state.auth.organizationId, 'UPDATE_MEMBER_INFO');
            }
          })
          .catch(error=>{
            this.notifyError(error)
            this.writteGenericError("EditProfile.vue", error, "Error updateUserProfile ")
          })
        }        
      },
      updateOrg() {
        this.$store.dispatch("organization/updateInfoOrg", {access_token: this.$cookies.get("token"), org_id:this.$store.state.auth.organizationId})
        .then(()=>{
          this.showUpdate("Actualización exitosa")
        })
        .catch(error=>{
          this.notifyError(error)
          this.writteGenericError("EditProfile.vue", error, "Error updateInfoOrg ")
        })
      },
    }
  }
</script>
<style lang="scss" scoped>
@media screen and (max-width:414px) and (min-width:346px){
   .el-select-dropdown__item {
     position: relative;
     margin-left: 2rem;
     font-size: 12px;  
   }
 
}
 @media screen and(max-width:345px) and (min-width:320px){
    .el-select-dropdown__item{
    position: relative;
    margin-left: 5rem !important;
    font-size: 12px;
  }
  }
</style>
