<template>
  <div class="card">
    <div class="card-header">
      <h4 class="title">{{title}}</h4>
    </div>

    <div class="table-full-width table-tasks">
      <table class="table" v-if="members.length > 0">
        <tbody>
          <tr v-for="(member, index) in members" :key="index">
            <td class="img-row">
              <div class="img-wrapper">
                <img :src="member.picture" class="img-raised">
              </div>
            </td>
            <td>
              {{member.name}}
              <br>
              <p-switch
                :disabled="myUser.role !== 'admin'"
                type="info"
                @input="update(index, ...arguments)"
                :value="member.role === 'admin'"
                on-text="Admin"
                off-text="Usua"></p-switch>
            </td>
            <td class="td-actions text-right">
              <p-button :disabled="myUser.role !== 'admin'" size="sm" type="danger" outline icon round @click="deleteUser(member._id)">
                <i class="fa fa-trash"></i>
              </p-button>
            </td>
          </tr>
        </tbody>
      </table>
      <h5 v-else style="padding:75px;" >
          <i class="el-icon-warning length"></i>  
          <h5 style="color:rgb(179,179,179); font-size:100%;">No hay mas miembros en la organización</h5>
      </h5>   

    </div>

  </div>
</template>

<script>
import { mapState } from 'vuex';
import swal from "sweetalert2";
import { gralErrorMethods, gralErrorLog } from 'src/mixins/generalMethods.js'
import PSwitch from 'src/components/UIComponents/Switch.vue'
import { round, values } from 'd3';


export default {
  components: {
    PSwitch
  },
  name: "members-card",
  mixins: [gralErrorMethods, gralErrorLog],
  data () {
    return {
      title: "Miembros de la organización"
    }
  },
  computed: {
    ...mapState('user', ['members', 'myUser']),
    ...mapState('organization', ['roles']),
  },
  created () {
    this.$store.dispatch('user/getMembers', this.$cookies.get("token"))
      .then(() => { })
      .catch(error=>{
            this.notifyError(error, ' Error al obtener Members')
            this.writteGenericError("OrgMembers.vue", error, "Error al obtener Members, getMembers ")
      })
  },
  methods: {
    getCompleteRole (role) {
      return this.roles[role]
    },
    update (index, value) {
      value = value ? "admin" : "user"
      if(value == 'user' && this.members.filter(member => member.role == 'admin').length <= 1){
        swal({
          title: "No es posible realizar la acción",
          text: 'Debe siempre existir al menos un administrador',
          allowEscapeKey: false,
          allowOutsideClick: false,
          type: "warning",
          showCancelButton: false,
          confirmButtonClass: "btn btn-warning btn-fill",
          confirmButtonText: "OK"
        })     
        return
      }
      this.$store.dispatch("user/updateMemberRole", { index, value, access_token: this.$cookies.get("token") })
      .then(() => {
        let data = {
          _id: this.members[index]._id,
          role: value
        }
        this.$socket.emit('memberRoles', data, this.$store.state.auth.organizationId, 'UPDATE_MEMBER_INFO');
      })
      .catch(error=>{
            this.notifyError(error, ' Error al actualizar roles')
            this.writteGenericError("OrgMember.vue", error, "Error updateUserProfile ")
      })
    },
    showSwal () {
      return swal({
        title: "¿Estas seguro que desea eliminar al usuario?",
        text: `No podra ser recuperado, a menos que cree una cuenta de nuevo`,
        type: "warning",
        showCancelButton: true,
        confirmButtonClass: "btn btn-success btn-fill",
        cancelButtonClass: "btn btn-danger btn-fill",
        confirmButtonText: "Si, Eliminar",
        cancelButtonText: "Cancelar",
        buttonsStyling: false
      })
        .then((response) => response ? response : false)
        .catch((error) => error ? console.log(error) : false)
    },
    deleteUser (id) {
      this.showSwal()
        .then((res) => {
          if (res) {
            this.$store.dispatch('user/deleteMember', { access_token: this.$cookies.get("token"), id: id })
              .then(() => {
                this.$socket.emit('memberRoles', id, this.$store.state.auth.organizationId, 'DELETE_MEMBER');
              })
              .catch(error => {
                this.notifyError(error, ' Error al eliminar member')
                this.writteGenericError("OrgMembers.vue", error, "Error deleteMember ")
              })
          }
        })
        .catch(error => console.log(error))
    }
  }
}
</script>

<style lang="scss" scoped>
.table > tbody > tr > td {
  text-transform: none;
}
</style>
