<template slot-scope="props">
  <div  class="text-center"  v-loading="loading" 
          element-loading-background="rgba(256, 256, 256, 0.9)" 
          element-loading-text="Subiendo Imagen"
          element-loading-spinner="el-icon-loading">
   
    <img   class="avatar border-gray" :src="myUser.picture" :alt="'Foto de perfil'">
    <div class="card-header">
        <div class="uploader"  
            @dragenter="OnDragEnter" 
            @dragleave="OnDragLeave" 
            @dragover.prevent 
            @drop="onDrop"
            :class="{dragging:isDraging}">
            <div v-show="images.length">
              <div class="upload-control" v-show="images.length" >
                <label for="file" id="seleccion" >Selecciona el Archivo</label>
                <button id="update" @click="update($event)">Subir</button>
              </div>
            </div>
            <div v-show="!images.length">
              <i class="fa fa-cloud-upload"></i>
              <p>Inserta la imagen aquí</p>
              <div>O</div>
              <div class="file-input">
                  <label for="file" id="seleccion org">Selecciona el Archivo</label>
                  <input type="file" id="file" @change="OnInputChange" multiple>
              </div>
            </div>
            <div class="images-preview" v-show="images.length">
              <div class="img-wrapper" v-for="(image,index) in images" :key="index">
                
                 <img class="avatar border-gray" :src="image" :alt="`Imagen Subida ${index}`">
                 <div class="details">
                    <span class="name" v-text="files[index].name"></span>
                    <span class="size"  v-text="files[index].size"></span>
                 </div>
              </div>
            </div>  
          </div>
        </div>
      <div>
    </div>
  </div>
  
</template>

<script>

  import Swal from "sweetalert2"
  import {gralErrorMethods, gralErrorLog} from 'src/mixins/generalMethods.js'
  import { mapState  } from 'vuex';

  export default {
      name: 'SubirFoto',
     
      data: () => ({
          loading:false,
          isDraging: false,
          dragCount: 0,
          files:[],
          images:[],
          max_size:'200000',//tamaño de imagen a 200 KB
      }),
     props: {
       'showModal':Boolean,
     },
     mixins: [gralErrorMethods, gralErrorLog],
    mounted()
    {
      this.clean();
    
    },   
    computed:{
      ...mapState("user", ['myUser']),
    },
    methods:{
      update(){ 
        this.loading=true;
        this.updatedatabase();
        this.clean();
      },
      updatedatabase(){
        this.$store.dispatch("user/updateProfilePhoto", {access_token:this.$cookies.get("token"), file: this.files[0]})
        .then(() => {
          this.$emit('closeModal');
          this.loading=false;
          let data = {
            _id: this.myUser._id,
            picture: this.myUser.picture
          }
          this.$socket.emit('memberRoles', data, this.$store.state.auth.organizationId, 'UPDATE_MEMBER_INFO');
        })
        .catch(error => {
          this.loading=false;
          this.$emit('closeModal');
          if (error.message === "Network Error"){
            this.showGenericError("Actualizacion sin exito", "Por el momento no es posible actualizar datos, intentelo mas tarde Network Error")
            this.writteGenericError("UploadFoto.vue", error, "Error NetworkError ")
          }else{
            this.showGenericError("Actualizacion sin exito", "Por el momento no es posible actualizar imagen, Error: uploadfoto")
            this.writteGenericError("UploadFoto.vue", error, "Error UpdateProfileFoto ")
          }
        })
      },
      OnInputChange(e){
           this.clean();
           const files=e.target.files;  
           if(files.length>1){
             //mandar error 
              this.showGenericError(": Cantidad de objetos insertados  "+files.length, " . Seleccionar solo un elemento")
            }
            else{
              Array.from(files).forEach(file =>  this.addImage(file))
            }
        },
        OnDragEnter(e)
        {
          e.preventDefault();
          this.dragCount++;
          this.isDraging=true;    
        },
        OnDragLeave(e)
        {
          e.preventDefault();
          this.dragCount--;
          if(this.dragCount<= 0)
            this.isDraging=false;
        },
        onDrop(e)
        {
          this.clean();
          e.preventDefault();
          e.stopPropagation();
          this.isDraging=false;
          const files=e.dataTransfer.files;
          if(files.length>1){
            //Error de muchos elementos
             this.showGenericError(": Cantidad de objetos insertados  "+files.length, " . Seleccionar solo un elemento")
          }
          else{
            Array.from(files).forEach(file =>  this.addImage(file))
          }  
        },
        clean(){
            this.images=[];
            this.files=[];      
      },
        addImage(file){
          if(!file.type.match("image.*"))
          {
            this.showGenericError(" en Tipo de Archivo:", "Seleccionar archivo tipo imagen")
            return;
          }
          const filesize=file.size;
          
          if(filesize>this.max_size)
          { 
            this.showGenericError(": Archivo muy grande", "Excede el limite de tamaño de 200 KB")
            return;
          }
          else{ 
            this.files.push(file);
            const img=new Image(),
            reader=new FileReader();
            reader.onload=(e)=>this.images.push(e.target.result);
            reader.readAsDataURL(file);
          }
        }
      }, 
    
   }
</script>
<style lang="scss" scoped>
.uploader{
    width: 100%;
    color: white;
    padding: 40px 20px;
    text-align: center;
    border-radius: 10px;
    border: 3px dashed #FFF;
    font-size: 20px;
    position: relative;
    background: dodgerblue;

    &.dragging{
      background: #FFF;
      color:dodgerblue;
      border: 3px dashed dodgerblue;

      .file-input label{
        background: dodgerblue;
        color: white;
      }

    }
    i{
      font-size: 85px;
    }
    .file-input{
      width: 200px;
      margin: auto;
      height: 60px;
      position: relative;
      
      label,
      input{
        background: white;
        color: dodgerblue;
        width: 100%;
        position: absolute; 
        left: 0px; 
        top: 0px; 
        padding: 10px; 
        border-radius: 4px; 
        margin-top: 7px; 
        cursor: pointer;
      } 
      input{
        opacity: 50; 
        z-index:-2
      }   
    }
  }
.images-preview{
   display: flex;
   flex-wrap: wrap;
   margin-top: 20px;

   .img-wrapper 
   {
     width: 160px;
     display:flex;
     flex-direction: column;
     margin: 10px;
     height: 200px;
     justify-content:center;
     justify-self: center;
     background: #FFF;
     box-shadow: 5px 5px 20px #3e3737;

     img{
       max-height: 105px;
       align-self: center;

     }
   }
   .details{
     font-size: 11px;
     background: #FFF;
     color: black;
     display: flex;
     flex-direction: column;
     align-items: self-star;
     padding: 3px 3px;
     .name
     {
       overflow: hidden;
       height: 20px;
     }
   } 
}
.upload-control{
     position: absolute;
     width: 100%;
     background: white;
     top:0;
     left: 0;
     border-top-left-radius: 7px;
     border-top-right-radius: 7px;
     padding: 10px;
     padding-bottom: 4px;
     text-align: right;

     button,label{
       background: dodgerblue;
       border: 2px solid dodgerblue;
       border-radius: 3px;
       color:white;
       font-size: 15px;
       cursor: pointer;
     }
     label{
       padding: 2px 5px;
       margin-right: 10px;

     }
   }
</style>
