<template>
  <div>
    <div class="row">
      <div class="col-lg-4 col-md-5">
        <user-card></user-card>
        <members-card></members-card>
      </div> 
      <div class="col-lg-8 col-md-7">
        <edit-profile>
        </edit-profile>
      </div>
      <div class="col-lg-4 col-m-5">
        <auditors-card></auditors-card>
      </div>
    </div>
  </div> 
</template>
<script>
  
  import EditProfile from 'src/components/Dashboard/UserProfile/EditProfile.vue'
  import UserCard from 'src/components/Dashboard/UserProfile/UserCard.vue'
  import MembersCard from 'src/components/Dashboard/UserProfile/OrgMembers.vue'
  import AuditorsCard from 'src/components/Dashboard/UserProfile/Auditores.vue'
  

  export default {
    components: {
      AuditorsCard,
      MembersCard,
      EditProfile,
      UserCard
    }
  }

</script>
<style>

</style>

