<template>
  <div class="card card-user"  v-loading="loading" 
          element-loading-background="rgba(256, 256, 256, 0.9)" 
          element-loading-text="Actualizando Nombre"
          element-loading-spinner="el-icon-loading">
    <div class="image">
      <img src="/static/img/background/damir-bosnjak.jpg" alt="...">
    </div>
    <div class="card-body">
      <div class="author cont" >  
        <el-tooltip content="Editar" placement="top">
          <button type="button" class="btn btn-icon-mini btn-neutral el-tooltip btn-icon btn-round btn-info avatar border-gray " aria-describedby="el-tooltip-8657" tabindex="0" @click="muestra_modal" ><!----><i class="nc-icon nc-ruler-pencil style-icon"  ></i><span><img class="avatar border-gray bg-gray" @click="muestra_modal" :src="myUser.picture" alt="..."></span><!----></button>   
        </el-tooltip>
          <div v-if="showModal">
            <modal :show.sync="showModal" @keyup.esc="showModal = false" @close="cancel">
              <h4 slot="header" class="title title-up"  > Selecciona Imagen de Perfil </h4>                   
              <subirFoto @closeModal="showModal = false">
              </SubirFoto>
            </modal>
          </div>
      </div>
      <form data-vv-scope="newName" v-on:submit.prevent>
        
        
        <!--p class="Nombre text-center"  v-if="show_input_name" -->
          <fg-input type="text"
                    @mouseover="getFocus()"
                    placeholder="Nombre de Usuario"
                    v-if="show_input_name"
                    name="name"
                    id="usr"
                    v-validate="{required: true, min: 1}"
                    v-model="myName" 
                    :error="getError('newName.name')"
                    @blur="editar_nombre"
                    @keyup.enter="editar_nombre">
          </fg-input> 
        <!--/p-->
        <p class="text-center title-name" v-else  @click="mostrar_input" >
          {{ this.myName}}
        </p>
      </form>
      <p class="email text-center">
        Correo: <b>{{ email }}</b>
      </p>       
    </div> 
   
  </div>
</template>
<script>

  import Swal from "sweetalert2"
  import Modal from 'src/components/UIComponents/Modal.vue'
  import SubirFoto from 'src/components/Dashboard/UserProfile/UploadFoto.vue'
  import {gralErrorMethods, gralErrorLog} from 'src/mixins/generalMethods.js'
  import { Validator } from 'vee-validate'
  import { mapGetters, mapState, mapMutations } from 'vuex';
  import {Tooltip} from 'element-ui'
  
  export default {
      components:
     {
      SubirFoto,
      [Tooltip.name]: Tooltip,
      Modal
     },
    data(){
      return{
        loading:false,
        token_id:'',
        _id:'',
        showModal: false,
        myName: '',
        onFocusTitle: '',
         Usuario:
        {
          _id:'',
          name: '',
          email: '',
          phone: '',
          mobile: '',
          organization: '',
          picture:'',
        },
        Updatedata:
        {
          access_token:'',
          name: '',
          phone: '',
          mobile: '',
          picture:'',
        },
        datos_Usuario:'',
        show_input_name:false,
        show_icon_edit:false,
        file:'',
        
      }
    },
    mixins: [gralErrorMethods, gralErrorLog],
    computed:{
      ...mapState ('user',['myUser']),
      ...mapState ('auth',['email']),
    } ,
    created(){
      this.$store.dispatch("user/getUser",  {access_token: this.$cookies.get("token")})
      .then(()=>{
        this.myName = this.myUser.name
      })
    },
    methods: {
      changeEdit(value){
        if(this.myName.length < 1 || this.myName.length <= 0){
          this.myName = this.onFocusTitle
          console.log(this.onFocusTitle.length)
          if (this.onFocusTitle.length < 1 || this.onFocusTitle.length <= 0 ){
             this.onFocusTitle = this.myName
          }
        } else {
        this.isEdit = value
        }      
      },  
      getFocus(){
        this.onFocusTitle = document.getElementById("usr").value
        document.getElementById("usr").focus()
      },
      cancel(){
      this.showModal = false;
      },
      ...mapMutations('user',['setimagen', 'set_name']),
      validate (scope) {        
        return this.$validator.validateAll(scope).then(isValid => {
          return isValid
        })
      },
      async editar_nombre(){
        if(await this.validate("newName")){
          this.actualizarUsuario()
        }
      },
      muestra_modal()
      {
        this.showModal=true;        
      },
      mostrar_input(){
        this.show_input_name=true;
      },
      showUpdate(datatitle) {
        Swal({
          title: datatitle,
          allowEscapeKey: false,
          allowOutsideClick: false,
          type: "success",
          showCancelButton: false,
          confirmButtonClass: "btn btn-success btn-fill",
          confirmButtonText: "OK"
        }).then((result) => {
          if (result) {
            
          }
        })
      },
      actualizarUsuario(){   
        let paramsAPI ={
          access_token: this.$cookies.get("token"),
          name: this.myName,
          id: this.myUser._id
        }
        this.show_input_name=false;
        this.$store.dispatch("user/updateUserInfo", paramsAPI)
        .then(()=>{
          let data = {
            _id: this.myUser._id,
            name: this.myName, 
          }
          this.$socket.emit('memberRoles', data, this.$store.state.auth.organizationId, 'UPDATE_MEMBER_INFO');
        })
        .catch(error=>{
          this.notifyError(error)
          this.writteGenericError("UserCard.vue", error, "Error updateUserInfo ")
        })
      },
      onfileSelected(event){
        this.Usuario.picture=event.target.files[0]
      },  
      getError (fieldName) {
        return this.errors.first(fieldName)
      }
   }
  }
 //import Task from '/Mainboard/Task.vue'
</script>
<style lang="scss" scoped>
@import "src/assets/sass/paper/_variables.scss";
  .bg-gray{
    cursor:pointer;
   &:hover{
      opacity:0.2;
      cursor:pointer;
   }
  }
  .title-name{
    border:none;
    &:hover{
      background:rgba(0,0,0,0.1);
      border-radius:4px;
      border:1px dashed $primary-color;
    }
  }
  .style-icon{
        height:100%;
        width:100%;
        background:#fff;
        color:$new-blue;
        opacity:1;
        &:hover{
          position:overlay;
        }
      }
  .image_wrapper{
    position:relative;
    width:102px;
    float:left;
    margin:10px;
  }
</style>
