  <template>
  <div>
    <el-page-header style="padding-bottom:20px;" @back="goBack" title="Ir a plan de acción" content="Detalle de Tareas">
    </el-page-header>
    <div id="calendar_container"></div>
    <div class="card" style="margin-bottom:0px !important; margin-bottom: 20px;">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-12 col-md-12 text-center">
            <div class="row">
              <div class="mr-1 ml-1">
                <el-tooltip content="Agregar Tarea" placement="top">
                  <p-button
                    type="info"
                    @click="addNewTask"
                    class="btn-magnify"
                    icon
                    round
                    size="mid"
                  >
                    <i class="fa fa-plus"></i>
                  </p-button>
                </el-tooltip>
              </div>
              <div class="mr-1 ml-1">
                <el-tooltip content="Borrar" placement="top">
                  <p-button type="danger" @click="del" icon round class="btn-magnify" size="mid">
                    <i class="el-icon-delete" aria-hidden="true"></i>
                  </p-button>
                </el-tooltip>
              </div>
              <div class="mr-1 ml-1">
                <el-tooltip content="Disminuir Sangría" placement="top">
                  <p-button
                    type="success"
                    @click="outdent"
                    icon
                    round
                    class="btn-magnify"
                    size="mid"
                  >
                    <i class="el-icon-caret-left" aria-hidden="true"></i>
                  </p-button>
                </el-tooltip>
              </div>
              <div class="mr-1 ml-1">
                <el-tooltip content="Aumentar Sangría" placement="top">
                  <p-button
                    type="success"
                    @click="indent"
                    class="btn-magnify"
                    icon
                    round
                    size="mid"
                  >
                    <i class="el-icon-caret-right"></i>
                  </p-button>
                </el-tooltip>
              </div>
              <div class="mr-1 ml-1">
                <el-tooltip content="Adjuntar Archivos" placement="top">
                  <p-button
                    type="warning"
                    @click="attach"
                    icon
                    round
                    class="btn-magnify"
                    size="mid"
                  >
                    <i class="el-icon-paperclip"></i>
                  </p-button>
                </el-tooltip>
              </div>
              <div class="mr-1 ml-1">
                <el-tooltip content="Exportar" placement="top">
                  <el-dropdown trigger="click" id="exportDD" round @command="handleExport">
                    <p-button
                      type="info"
                      @click="dropdownButton()"
                      icon
                      round
                      class="btn-magnify"
                      size="mid"
                    >
                      <i class="el-icon-upload2" aria-hidden="true"></i>
                    </p-button>
                    <el-dropdown-menu slot="dropdown">
                      <el-dropdown-item command="MS">MS Project</el-dropdown-item>
                      <el-dropdown-item command="PNG">PNG</el-dropdown-item>
                      <el-dropdown-item command="PDF">PDF</el-dropdown-item>
                      <el-dropdown-item command="excel">EXCEL</el-dropdown-item>
                    </el-dropdown-menu>
                  </el-dropdown>
                </el-tooltip>
              </div>
              <div class="mr-1 ml-1">
                <el-tooltip content="Importar" placement="top">
                  <p-button
                    type="info"
                    @click="importExcelButton()"
                    icon
                    round
                    class="btn-magnify"
                    size="mid"
                  >
                    <i class="el-icon-document" aria-hidden="true"></i>
                  </p-button>
                </el-tooltip>
              </div>
              <div class="mr-1 ml-1">
                <el-tooltip content="Mostrar Línea de Tiempo" placement="top">
                  <p-button
                    type="black"
                    @click="hideShowTimeLine"
                    icon
                    round
                    :class="iconTimeline"
                    size="mid"
                  ></p-button>
                </el-tooltip>
              </div>
              <div class="col-sm-12 col-md-4">
                <div class="row">
                  <div class="col-sm-12">Zoom</div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <el-slider
                      @change="handleZoom"
                      :step="33"
                      :format-tooltip="formatTooltip"
                      v-model="sliderValue"
                    ></el-slider>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <input type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" id="file" ref="file" hidden @change="importExcel()" single>
    </div>
    <div class="container-gantt" ref="gantt"></div>
  </div>
</template>

  <script>

import 'src/external/dhtmlx-gantt'
import "src/external/dhtmlx-gantt/codebase/locale/locale_es"
import 'src/external/dhtmlx-gantt/codebase/ext/dhtmlxgantt_keyboard_navigation.js'
import 'src/external/dhtmlx-gantt/codebase/ext/dhtmlxgantt_multiselect.js'
import 'src/external/dhtmlx-gantt/codebase/ext/dhtmlxgantt_undo.js'
import 'src/external/dhtmlx-gantt/codebase/ext/dhtmlxgantt_api.js'
import 'src/external/dhtmlx-gantt/codebase/ext/dhtmlxgantt_auto_scheduling.js'

import XLSX from 'xlsx';
import * as ganttFunctions from 'src/plugins/ganttFunctions.js'

import Vue from 'vue'
import ContextMenu from 'src/components/UIComponents/ContextMenu.vue'
import { Slider, Button, ButtonGroup, Tooltip, Dropdown, DropdownMenu, DropdownItem, PageHeader } from "element-ui"
import { TaskExcel } from 'src/constructors/taskExcel.js'
import { Data, Link } from 'src/constructors/gantt.js'
import {gralMethods, gralErrorMethods} from 'src/mixins/generalMethods'
import * as R from 'ramda'
import { mapState } from 'vuex';

Vue.use(Slider)
Vue.use(Button)
Vue.use(ButtonGroup)
Vue.use(Tooltip)
Vue.use(Dropdown)
Vue.use(DropdownMenu)
Vue.use(DropdownItem)
Vue.use(PageHeader)

export default {
  name: 'gantt',
  components: {
    Slider,
    ContextMenu,
    ButtonGroup,
    Tooltip,
    Dropdown,
    DropdownMenu,
    DropdownItem
  },
  mixins: [gralMethods, gralErrorMethods],
  props: {
    tasks: {
      type: Object,
      default () {
        return { data: [], links: [] }
      }
    },
    mode: {
      type: String,
      default () {
        return "normal"
      }
    }
  },
  data () {
    return {
      moduleId: null,
      indexPlace: -1,
      fileExcel: '',
      lastIndexUp: -1,
      lastShortCut: '',
      deletedTaskIdParent: '',
      columnName: '',
      access_token: '',
      sliderValue: 0,
      advance: 0,
      allChildren: [],
      showTimeline: false,
      iconTimeline: 'el-icon-s-unfold',
      optionsContextMenu: [
        {
          name: 'Agregar',
          slug: 'add',
          icon: 'el-icon-plus'
        },
        {
          name: 'Borrar',
          slug: 'delete',
          icon: 'el-icon-plus'
        }
      ]
    }
  },
  created(){
    this.moduleId = this.$route.path.split('/')[1] 
  },
  methods: {
    goBack(){
      this.$router.push({name: this._getNameRoute("actionplan", this.moduleId)})
    },
    dropdownButton () {
      document.getElementById("exportDD").click()
    },
    importExcelButton () {
      document.getElementById("file").click()
    },
    handleZoom () {
      switch (this.sliderValue) {
        case 0:
          this.day()
          break;
        case 33:
          this.week()
          break;
        case 66:
          this.month()
          break;
        case 99:
          this.year()
          break;
        default:
          break;
      }
    },
    formatTooltip (val) {
      let label = ""
      switch (val) {
        case 0:
          label = "Día"
          break;
        case 33:
          label = "Semana"
          break;
        case 66:
          label = "Mes"
          break;
        case 99:
          label = "Año"
          break;
        default:
          break;
      }
      return label
    },
    handleExport (command) {
      switch (command) {
        case 'MS':
          this.expPMS()
          break;
        case 'PNG':
          this.expPNG()
          break;
        case 'PDF':
          this.expPDF()
          break;
        case 'excel':
          this.expExcel()
          break;
        default:
          break;
      }
    },
    hideShowTimeLine () {
      if (this.showTimeline) {
        this.iconTimeline = 'el-icon-s-fold',
          gantt.config.layout = {
            css: "gantt_container",
            cols: [
              {
                gravity: 2,
                rows: [
                  { view: "grid", scrollX: "gridScroll", scrollable: true, scrollY: "scrollVer" },
                  { view: "scrollbar", id: "gridScroll", group: "horizontal" }
                ]
              },
              { resizer: true, width: 1 },
              { view: "scrollbar", id: "scrollVer" }
            ]
          }
      } else {
        this.iconTimeline = 'el-icon-s-unfold',
          gantt.config.layout = {
            css: "gantt_container",
            cols: [
              {
                gravity: 2,
                rows: [
                  { view: "grid", scrollX: "gridScroll", scrollable: true, scrollY: "scrollVer" },
                  { view: "scrollbar", id: "gridScroll", group: "horizontal" }
                ]
              },
              { resizer: true, width: 1 },
              {
                gravity: 2,
                rows: [
                  { view: "timeline", scrollX: "scrollHor", scrollY: "scrollVer" },
                  { view: "scrollbar", id: "scrollHor", group: "horizontal" }
                ]
              },
              { view: "scrollbar", id: "scrollVer" }
            ]
          }
      }
      this.showTimeline = !this.showTimeline
      gantt.ext.inlineEditors.hide()
      this.mount(gantt)

    },
    optionClickedCM (event) {
      window.alert(JSON.stringify(event))
    },
    $_initGanttEvents: function () {
      if (gantt.$_eventsInitialized)
        return;

      gantt.attachEvent("onContextMenu", (id, linkId, event) => {
        if (id) {
          console.log('emitt' + id)
          //this.$refs.vueSimpleContextMenu.showMenu(event, id)
          //this.$emit('context-menu', event, id)
          return false
        }
        return true
      })



      /*gantt.attachEvent('onAfterTaskUpdate', (id, task) => {  
        console.log("Tarea update ", JSON.stringify(task, null,2))  
        if(task.type == "placeholder")  {
          console.log("Es placeholder", task)
        }else{
          console.log("Yo hago el emit del task after update", task)
          this.$emit('task-updated', id, 'updated', task)
        }
        
      })*/

      
      gantt.$_eventsInitialized = true;
    },
    getAllChildren (id) {
      this.allChildren.push(id.toString())
      var children = gantt.getChildren(id)
      if (children.length > 0) {
        for (var i = 0; i < children.length; i++) {
          if (gantt.getChildren(children[i]).length > 0) {
            this.allChildren.push(children[i].toString())
            this.getAllChildren(children[i])
          }
          else {
            this.allChildren.push(children[i].toString())
          }
        }
      }
    },
    indent () {
      gantt.batchUpdate(() => {
        this.columnName = "indent"
        gantt.eachSelectedTask(function (task_id, val) {
          if (gantt.getTask(task_id).type != 'placeholder') {
            var prev_id = gantt.getPrevSibling(task_id);
            while (gantt.isSelectedTask(prev_id)) {
              var prev = gantt.getPrevSibling(prev_id);
              if (!prev) break;
              prev_id = prev;
            }
            if (prev_id) {
              var new_parent = gantt.getTask(prev_id);
              gantt.moveTask(task_id, gantt.getChildren(new_parent.id).length, new_parent.id);
              new_parent.type = gantt.config.types.project;
              new_parent.$open = true;
              gantt.updateTask(task_id);
              return task_id;
            }
          }
        })
        this.columnName = ""
      })
    },
    outdent () {
      var parentsIds = []
      var initialIndexes = {};
      var initialSiblings = {};
      gantt.eachSelectedTask(function (task_id) {
        if (gantt.getTask(task_id).type != 'placeholder') {
          parentsIds.push(gantt.getTask(task_id).parent)
          initialIndexes[task_id] = gantt.getTaskIndex(task_id);
          initialSiblings[task_id] = {
            first: null
          };
          var currentId = task_id;
          while (gantt.isTaskExists(gantt.getPrevSibling(currentId)) && gantt.isSelectedTask(gantt.getPrevSibling(currentId))) {
            currentId = gantt.getPrevSibling(currentId);
          }
          initialSiblings[task_id].first = currentId;
        }
      });
      gantt.batchUpdate(() => {
        this.columnName = "outdent"
        gantt.eachSelectedTask(
          function (task_id) {
            var cur_task = gantt.getTask(task_id);
            var old_parent = cur_task.parent;
            if (gantt.isTaskExists(old_parent) && old_parent != gantt.config.root_id) {
              var index = gantt.getTaskIndex(old_parent) + 1;
              var prevSibling = initialSiblings[task_id].first;
              if (gantt.isSelectedTask(prevSibling)) {
                index += (initialIndexes[task_id] - initialIndexes[prevSibling]);
              }
              gantt.moveTask(task_id, index, gantt.getParent(cur_task.parent));
              if (!gantt.hasChild(old_parent))
                gantt.getTask(old_parent).type = gantt.config.types.task;
              gantt.updateTask(old_parent);
              gantt.updateTask(task_id);
              console.log(gantt.getTask(old_parent).text)
              return task_id;
            }
          })
      })
      this.columnName = "progress"
      var parents = [...new Set(parentsIds)]
      parents.map(id => {        {
          var childs = gantt.getChildren(id)
          if (childs.length > 0) {
            this.progressProjectUpdate(gantt.getTask(childs[0]))
          } else {
            gantt.getTask(id).progress = 0
          }
        }      })
      gantt.render()

    },
    attach () {
      this.$emit('task-attach', gantt.getLastSelectedTask())
    },
    addNewTask () {
      const { Inicio, Fin } = ganttFunctions.getValidDate()
      const selected = gantt.getSelectedTasks()
      if (typeof selected !== 'undefined') {
        if (selected.length > 0) {
          const last = gantt.getTask(selected[selected.length - 1])
          if (gantt.hasChild(last.id)) {
            gantt.addTask({
              assigned: "",
              comments: "",
              text: "Nueva tarea",
              progress: 0,
              avance: 0,
              start_date: Inicio,
              end_date: Fin,
              type: "task",
              originType: 'newTask',
              filesIdDocument:[]
            }, last.id, 0)
          } else {
            if (gantt.getParent(last.id) != 0) {
              gantt.addTask({
                assigned: "",
                comments: "",
                text: "Nueva tarea",
                progress: 0,
                avance: 0,
                start_date: Inicio,
                end_date: Fin,
                type: "task",
                originType: 'newTask',
                filesIdDocument:[]
              }, gantt.getParent(last.id), gantt.getTaskIndex(last.id) + 1)
            } else {
              gantt.addTask({
                assigned: "",
                comments: "",
                text: "Nueva tarea",
                progress: 0,
                avance: 0,
                start_date: Inicio,
                end_date: Fin,
                type: "task",
                originType: 'newTask',
                filesIdDocument:[]
              }, gantt.getParent(last.id), gantt.getGlobalTaskIndex(last.id) + 1)
            }
          }
        } else {
          const minDate = new Date()
          gantt.addTask({
            assigned: "",
            comments: "",
            text: "Nueva tarea",
            progress: 0,
            avance: 0,
            start_date: Inicio,
            end_date: Fin,
            type: "task",
            originType: 'newTask',
            filesIdDocument:[]
          });
        }
      }
      this.$emit('task-updated', -1, 'moved', gantt.serialize(), -1)
    },
    // TODO: Insertar tareas abajo de la seleccionada. Tomar en cuenta las tareas anidadas.
    addTask () {
      var taskId = gantt.getSelectedId()

      if (taskId) {
        var task = gantt.getTask(taskId)
        if (task.type == 'placeholder') {
          return
        }
        var taskIndex = gantt.getGlobalTaskIndex(taskId)
        taskIndex += 1
        const { Inicio, Fin } = ganttFunctions.getValidDate()
        gantt.addTask({
          assigned: "",
          comments: "",
          text: "Nueva tarea",
          progress: 0,
          avance: 0,
          start_date: Inicio,
          end_date: Fin,
          type: "task",
          originType: 'newTask',
          filesIdDocument:[]
        }, task.parent, taskIndex)
        this.$emit('task-updated', -1, 'moved', gantt.serialize(), -1)
      }
    },
    del () {
      const unique = (value, index, self) => {
        return self.indexOf(value) === index;
      }
      var selected = []
      var selectedLinks = []
      gantt.batchUpdate(function () {
        gantt.eachSelectedTask(function (task_id) {
          if (gantt.getTask(task_id).type != "placeholder")
            selected.push(task_id.toString())
        });
      });
      this.allChildren = []
      for (var i = 0; i < selected.length; i++) {
        this.getAllChildren(selected[i])
      }
      const uniqueValues = this.allChildren.filter(unique);
      var delTreeSelected = uniqueValues.reverse()

      for (var i = 0; i < delTreeSelected.length; i++) {
        var gts = gantt.getTask(uniqueValues[i]).$source
        var gtt = gantt.getTask(uniqueValues[i]).$target
        for (var j = 0; j < gts.length; j++) {
          selectedLinks.push(gts[j])
        }
        for (var k = 0; k < gtt.length; k++) {
          selectedLinks.push(gtt[k])
        }
      }
      const uniqueLinks = selectedLinks.filter(unique);
      for (var i = 0; i < uniqueLinks.length; i++) {
        gantt.deleteLink(uniqueLinks[i]);
      }
      for (var i = 0; i < delTreeSelected.length; i++) {
        if (gantt.isTaskExists(uniqueValues[i])) {
          gantt.deleteTask(delTreeSelected[i]);
        }
      }
    },
    progressProjectUpdate (task) {
      var progressProject = 0
      var numChilds = gantt.getChildren(task.parent).length
      var idTaskChilds = gantt.getChildren(task.parent)
      var totalDaysTasks = 0
      for (var i = 0; i < numChilds; i++) {
        var childTask = gantt.getTask(idTaskChilds[i])
        totalDaysTasks += childTask.duration
      }
      for (var i = 0; i < numChilds; i++) {
        var childTask = gantt.getTask(idTaskChilds[i])
        var progressEachTask = (100 / totalDaysTasks) * childTask.duration * childTask.progress
        progressProject += progressEachTask
      }
      gantt.getTask(task.parent).progress = progressProject / 100
      this.advance = (progressProject / 100).toFixed(2)
      gantt.updateTask(task.parent)
    },
    progressProjectDelete (parent) {
      console.log("parent ", gantt.getTask(parent).text)
      var progressProject = 0
      var numChilds = gantt.getChildren(parent).length
      var idTaskChilds = gantt.getChildren(parent)
      var totalDaysTasks = 0
      for (var i = 0; i < numChilds; i++) {
        var childTask = gantt.getTask(idTaskChilds[i])
        totalDaysTasks += childTask.duration
      }
      for (var i = 0; i < numChilds; i++) {
        var childTask = gantt.getTask(idTaskChilds[i])
        var progressEachTask = (100 / totalDaysTasks) * childTask.duration * childTask.progress
        progressProject += progressEachTask
      }
      gantt.getTask(parent).progress = progressProject / 100
      if (gantt.getTask(parent).parent != 0 && this.columns != "outdent")
        gantt.updateTask(parent)
    },
    async sentMassiveTasks (id) {
      let idOrg = this.$store.state.auth.organizationId
      await this.$emit('task-updated', id, 'updated', gantt.getTask(id), this.advance)
      await this.$emit('task-updated', id, 'moved', gantt.serialize(), this.advance)
      this.$socket.emit('ganttEvent', gantt.serialize() , 'UPDATE_TASK', idOrg, id);
    },
    mount (gantt) {
      var thisVue = this
      var progressTask = 0
      var reopen = false;
      var reopen_column = '';
      gantt.init(this.$refs.gantt)
      gantt.clearAll()
      var onBeforeEditStart = gantt.ext.inlineEditors.attachEvent("onBeforeEditStart", function(state){
        let task = gantt.getTask(state.id)
        if(task.type === 'project' && (state.columnName === 'start_date' || state.columnName === 'progress' || state.columnName === 'end_date' )){
          thisVue.$notify({
            message: 'Estos campos son autocompletados por los datos de las tareas internas del proyecto y no pueden ser modificadas directamente',
            title: 'Campos NO editables',
            type: 'danger'
          })
          gantt.unselectTask()  
          return false
        }
        if(state.columnName === 'fileIdGantt'){
          if(task.filesIdDocument.length > 0){
            thisVue.attach()
          }
          return false
        }
      });
      var onEditStart = gantt.ext.inlineEditors.attachEvent("onEditStart", (state) => {
        gantt.removeShortcut("right", "taskCell");
        gantt.removeShortcut("left", "taskCell");
        this.columnName = state.columnName
        if (reopen) {
          gantt.ext.inlineEditors.hide()
          reopen = false;
          reopen_column = '';
        }
        if (state.columnName == "progress") {
          var task = gantt.getTask(state.id);
          var element = document.getElementsByTagName("input")[0]
          element.value = parseInt(element.value * 100);
        }
      });
      var onEditEnd = gantt.ext.inlineEditors.attachEvent("onEditEnd", (state) => {
        gantt.addShortcut("right", function () {
          var e = gantt.getGridColumns();
          this.columnIndex < e.length - 1 && this.moveTo(new gantt.$keyboardNavigation.TaskCell(this.taskId, this.columnIndex + 1))
        }, "taskCell");
        gantt.addShortcut("left", function () {
          this.columnIndex > 0 && this.moveTo(new gantt.$keyboardNavigation.TaskCell(this.taskId, this.columnIndex - 1))
        }, "taskCell");
        if (reopen) {
          gantt.ext.inlineEditors.show(state.id, reopen_column);
          gantt.ext.inlineEditors.setValue();
        }
        else gantt.render();
      });

      var onBeforeSave = gantt.ext.inlineEditors.attachEvent("onBeforeSave", (state) => {
        if (state.columnName == "progress" && isNaN(state.newValue)) {
          reopen = true;
          reopen_column = 'progress';
          return false;
        }
        else if (state.columnName == "progress" && (Number(state.newValue) > 100 || Number(state.newValue) < 0)) {
          reopen = true;
          reopen_column = 'progress';
          return false;
        }
        else if (state.columnName == "progress") {
          var task = gantt.getTask(state.id);
          if (task.type != "project") {
            state.newValue /= 100;
            task.advance = state.newValue * 100
            task.progress = state.newValue
            progressTask = state.newValue
            this.advance = progressTask
          }
          else {
            state.oldValue /= 100;
            task.advance = state.oldValue * 100
            task.progress = state.oldValue
            progressTask = state.oldValue
            this.advance = progressTask
          }
          reopen = false;
          return true;
        }
        /*else
        {
          progressTask = 0
          this.advance = progressTask
        }*/
        if (state.columnName == "duration") {
          if (state.newValue < 0) {
            state.newValue = state.oldValue
          }
        }
        return true;
      });
      var myTasks = this.$props.tasks.data.map(task => { return new Data(task) })
      var myLinks = this.$props.tasks.links.map(link => { return new Link(link) })
      gantt.parse({ data: myTasks, links: myLinks })
    },
    setScaleConfig (value) {
      switch (value) {
        case "1":
          gantt.config.scale_unit = "day";
          gantt.config.step = 1;
          gantt.config.date_scale = "%d %M";
          gantt.config.subscales = [];
          gantt.config.scale_height = 27;
          gantt.templates.date_scale = null;
          gantt.config.min_column_width = 50;
          gantt.templates.scale_cell_class = function (date) {
            if (!gantt.isWorkTime(date)) return "weekend";
          };
          gantt.templates.timeline_cell_class = function (item, date) {
            if (!gantt.isWorkTime(date)) return "weekend";
          };
          break;
        case "2":
          var weekScaleTemplate = function (date) {
            var dateToStr = gantt.date.date_to_str("%d %M");
            var endDate = gantt.date.add(gantt.date.add(date, 1, "week"), -1, "day");
            return dateToStr(date) + " - " + dateToStr(endDate);
          }
          gantt.config.scale_unit = "week";
          gantt.config.step = 1;
          gantt.templates.date_scale = weekScaleTemplate;
          gantt.config.min_column_width = 100;
          gantt.config.scale_height = 27;
          gantt.config.subscales = [];
          gantt.templates.scale_cell_class = function (date) {
            if (!gantt.isWorkTime(date)) return "noweekend";
          };
          gantt.templates.timeline_cell_class = function (item, date) {
            if (!gantt.isWorkTime(date)) return "noweekend";
          };
          break;
        case "3":
          gantt.config.scale_unit = "month";
          gantt.config.date_scale = "%F, %Y";
          gantt.config.scale_height = 27;
          gantt.templates.date_scale = null;
          gantt.config.subscales = [];
          gantt.config.min_column_width = 150;
          gantt.templates.scale_cell_class = function (date) {
            if (!gantt.isWorkTime(date)) return "noweekend";
          };
          gantt.templates.task_cell_class = function (item, date) {
            if (!gantt.isWorkTime(date)) return "noweekend";
          };
          break;
        case "4":
          gantt.config.scale_unit = "year";
          gantt.config.step = 1;
          gantt.config.date_scale = "%Y";
          gantt.config.min_column_width = 200;
          gantt.config.scale_height = 54;
          gantt.templates.date_scale = null;
          gantt.config.subscales = [
            { unit: "month", step: 1, date: "%M" }
          ];
          gantt.templates.scale_cell_class = function (date) {
            if (!gantt.isWorkTime(date)) return "noweekend";
          };
          gantt.templates.task_cell_class = function (item, date) {
            if (!gantt.isWorkTime(date)) return "noweekend";
          };
          break;
      }
    },
    day () {
      this.setScaleConfig("1")
      gantt.render();
    },
    week () {
      this.setScaleConfig("2")
      gantt.render();
    },
    month () {
      this.setScaleConfig("3")
      gantt.render();
    },
    year () {
      this.setScaleConfig("4")
      gantt.render();
    },
    expPMS () {
      gantt.exportToMSProject({
        raw: true
      });
    },
    expPNG () {
      gantt.exportToPNG({
        raw: true
      })
    },
    expPDF () {
      gantt.exportToPDF({
        raw: true
      })
    },
    expExcel () {
      var data = gantt.serialize().data
      data.pop()
      gantt.exportToExcel({
        name: "Tasks.xlsx",
        data: data,
        columns: [
          { id: "text", header: "Tarea", width: 150 },
          { id: "duration", header: "Duracion", width: 10 },
          { id: "start_date", header: "Inicio", width: 20, type: Date },
          { id: "end_date", header: "Fin", width: 20, type: Date },
          { id: "assigned", header: "Responsable", width: 100 },
          { id: "progress", header: "Progreso", width: 10 },
          { id: "comments", header: "Comentarios", width: 100 },
          { id: "predecessors", header: "Predecesor", width: 150 },
        ],
        raw: true
      });
    },
    get_header_row (sheet) {
      var headers = [], range = XLSX.utils.decode_range(sheet['!ref']);
      var C, R = range.s.r; /* start in the first row */
      for (C = range.s.c; C <= range.e.c; ++C) { /* walk every column in the range */
        var cell = sheet[XLSX.utils.encode_cell({ c: C, r: R })] /* find the cell in the first row */
        var hdr = "UNKNOWN " + C; // <-- replace with your desired default 
        if (cell && cell.t) hdr = XLSX.utils.format_cell(cell);
        headers.push(hdr);
      }
      return headers;
    },
    fixdata (data) {
      var o = "", l = 0, w = 10240;
      for (; l < data.byteLength / w; ++l) o += String.fromCharCode.apply(null, new Uint8Array(data.slice(l * w, l * w + w)));
      o += String.fromCharCode.apply(null, new Uint8Array(data.slice(l * w)));
      return o;
    },
    workbook_to_json (workbook) {
      var result = {};
      workbook.SheetNames.forEach(function (sheetName) {
        var roa = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[sheetName]);
        if (roa.length > 0) {
          result[sheetName] = roa;
        }
      });
      return result;
    },
    importExcel () {
      var thisVue = this
      this.fileExcel = this.$refs.file.files[0]
      var reader = new FileReader(), name = this.fileExcel.name
      var regExp = /(?:\.([^.]+))?$/;
      var ext = regExp.exec(name)[1];
      if(ext === "xls" || ext === "xlsx" )
      {
        reader.onload = function (e) {
          var results,
            data = e.target.result,
            fixedData = thisVue.fixdata(data),
            workbook = XLSX.read(btoa(fixedData), { type: 'base64' }),
            firstSheetName = workbook.SheetNames[0],
            worksheet = workbook.Sheets[firstSheetName];
          results = XLSX.utils.sheet_to_json(worksheet);
          results.map(async task => {
            task.Progreso = parseFloat(task.Progreso)
            const { Inicio, Fin } = ganttFunctions.fixDatesFromExcel(task.Inicio, task.Fin)
            task.Inicio = Inicio
            task.Fin = Fin
            task.originType = 'newTask'
            await gantt.addTask(new TaskExcel(task))

          })
        }
        reader.readAsArrayBuffer(this.fileExcel);
      }
      else
      {
        this.showGenericError("Tipo de archivo no soportado")
      }
    },
    setStyleRow (task) {
      if (task.type == 'placeholder') {
        return task.text
      }
      var timeNow, timeEndDate
      timeNow = new Date()
      timeEndDate = new Date(task.end_date)
      timeEndDate.setHours(23, 59)
      switch (this.$props.mode) {
        case "late":
          if ((timeNow - timeEndDate) > 0 && task.progress < 1) {
            return `<div style="color:#FF0040">${task.text}</div>`
          }
          break;
        case "notStarted":
          if ((timeNow - timeEndDate) <= 0 && task.progress == 0) {
            return `<div style="color:#2B85CD">${task.text}</div>`
          }
          break;
        case "inProgress":
          if ((timeNow - timeEndDate) <= 0 && (task.progress > 0 && task.progress < 1)) {
            return `<div style="color:#FABE3C">${task.text}</div>`
          }
          break;
        case "completed":
          if (task.progress == 1) {
            return `<div style="color:#35A97A">${task.text}</div>`
          }
          break;
        default:
          return task.text
          break;
      }
      return task.text
    }
  },
  mounted () {
    this.$_initGanttEvents();
    gantt = Gantt.getGanttInstance();
    var thisVue = this

    gantt.config.editor_types.select_member = {
      show: function (id, column, config, placeholder) {
      var html = "<div><select>";
        var list = thisVue.members;
          if (list) {
            for (var i = 0; i < list.length; i++) {
              if(list !== undefined && list[i].key == list){
                continue;
              }
              html += "<option value='" + list[i]._id + "' style='background-image:url('https://i.blogs.es/aa1b9a/luna-100mpx/450_1000.jpg');>"+ list[i].name + "</option>";
            }
          }
          html += "</select></div>";
        placeholder.innerHTML = html;
      },
      hide: function () {
        gantt.render();
      },
    
      set_value: function (value, id, column, node) {
        var options = node.firstChild.firstChild;
        if(value){
          for (var i = 0; i < options.length; i++) {
            if (options[i].value == value) options[i].selected = true;  	
          }    
        }
      },
    
      get_value: function (id, column, node) {
        var task = gantt.getTask(id);
        var selected_options = node.firstChild.firstChild.selectedOptions
        var values = [];
        for (var i = 0; i < selected_options.length; i++) {
          values.push(selected_options[i].value)
        }
        return values.join()
      },
    
      is_changed: function (value, id, column, node) {
        return true;
      },
    
      is_valid: function (value, id, column, node) {
        return true;
      },
    
      save: function (id, column, node) {
      },
      focus: function (node) {
      }
    }


    var progressTask = this.advance
    var predecessors = { type: "predecessor", map_to: "auto" };
    var taskEditor = { type: "text", map_to: "text" };
    var durationEditor = { type: "number", map_to: "duration", min: 0, max: 100 };
    var avanceEditor = { type: "text", map_to: "avance" };
    var memberEditor = { type: "select_member", map_to: "assigned" };
    var commentsEditor = { type: "text", map_to: "comments" };
    var progress_editor = { type: "text", map_to: "avance" };
    var dateEditorStart = { type: "date", map_to: "start_date", min: new Date(2018, 0, 1), max: new Date(2030, 0, 1) };
    var dateEditorEnd = { type: "date", map_to: "end_date", min: new Date(2018, 0, 1), max: new Date(2030, 0, 1) };
    gantt.config.columns = [
      // {name:"add",        label:"" ,resize: true },
      { name: "order", min_width: 40, max_width: 70, align: "left", label: "No. ID", resize: true, template: function (t) { return gantt.getWBSCode(t) } },
      { name: "text", label: "Tarea", hide: false, align: "left", min_width: 250, tree: true, editor: taskEditor, resize: true, template: thisVue.setStyleRow },
      { name: "duration", label: "Duración (Días)", align: "center", min_width: 100, editor: durationEditor, resize: true },
      { name: "start_date", label: "Inicio", align: "center", min_width: 90, editor: dateEditorStart, resize: true },
      { name: "end_date", label: "Fin", align: "center", min_width: 90, editor: dateEditorEnd, resize: true },
      { name: "assigned", label: "Responsable", align: "left", min_width: 150, editor: memberEditor, resize: true, template: function(obj){
          let member = thisVue.members.find(member => member._id === obj.assigned)
          return member ? `<img width="20px" height="20px" src="${member.picture}">&nbsp;  ${member.name}` : ``
        } 
      },
      {name: "progress", label: "Progreso", align: "center", width: 100, resize: true, editor: progress_editor, template: function (obj, start, end, task) {
          if (obj.progress == null) {
            return "0%"
          }
          var x = obj.progress * 100
          return Math.round(x) + "%";
        }
      },
      { name: "fileIdGantt", label: "Archivos", align: "center", editor: taskEditor, min_width: 150, resize: true, template: function(obj){
          let docs = obj.filesIdDocument ? obj.filesIdDocument.filter(doc => doc.origin === 'gantt') : []
          return docs.length > 0 ? '<i class="el-icon-paperclip" style="color: #0f5dac; font-size: 1.2em">' : ''
        } 
      },
      { name: "comments", resize: true, label: "Comentarios", align: "center", min_width: 150, editor: commentsEditor },
      {        name: "predecessors", resize: true, label: "Predecesor", min_width: 90, align: "left", editor: predecessors, resize: true, template: function (task) {
          var links = task.$target;
          var labels = [];
          for (var i = 0; i < links.length; i++) {
            var link = gantt.getLink(links[i]);
            var pred = gantt.getTask(link.source);
            labels.push(gantt.getWBSCode(pred));
          }
          return labels.join(", ")
        }
      }
    ]

    gantt.config.layout = {
      css: "gantt_container",
      cols: [
        {
          gravity: 2,
          rows: [
            { view: "grid", scrollX: "gridScroll", scrollable: true, scrollY: "scrollVer" },
            { view: "scrollbar", id: "gridScroll", group: "horizontal" }
          ]
        },
        { resizer: true, width: 1 },
        { view: "scrollbar", id: "scrollVer" }
      ]
    }
    gantt.templates.grid_folder = function (item) {
      var icon;
      if (item.assigned) {
        icon = (item.$open ? "openAssigned.gif" : "closedAssigned.gif")
      }
      else {
        icon = (item.$open ? "open.gif" : "closed.gif")
      }
      return "<div class='gantt_tree_icon' style='background-image:url(" + icon + "')></div>";
    };
    gantt.templates.grid_file = function (item) {
      var icon;
      if (item.assigned) {
        icon = (item.$open ? "openAssigned.gif" : "closedAssigned.gif")
      }
      else {
        icon = (item.$open ? "open.gif" : "closed.gif")
      }
      return "<div class='gantt_tree_icon' style='background-image:url(" + icon + "')></div>";
    };

    // custom templates for header
    gantt.templates.grid_header_class = function (columnName, column) {
      return "headerGantt";
    };

    gantt.templates.timeline_cell_class = function (date) {
      if (!gantt.isWorkTime(date)) return "weekend";
    };
    gantt.templates.timeline_cell_class = function (item, date) {
      if (!gantt.isWorkTime(date)) return "weekend";
    };

    gantt.templates.task_class =
      gantt.templates.grid_row_class =
      gantt.templates.task_row_class = function (start, end, task) {
        if (gantt.isSelectedTask(task.id))
          return "gantt_selected";
      };

    gantt.attachEvent('onTaskSelected', (id) => {
      let task = gantt.getTask(id)

      if (task.type == "placeholder") {
        return false
      }
      this.$emit('task-selected', task)
      gantt.render();
    })

    gantt.attachEvent("onBeforeLightbox", function (id) {
        var task = gantt.getTask(id);
        const { Inicio, Fin } = ganttFunctions.getValidDate()
        if (task.$new) {
          task.assigned = ""
          task.comments = ""
          task.avance = 0
          task.start_date = Inicio
          task.end_date = Fin
          task.originType = 'newTask'
          gantt.addTask(task);
          return false;
        }
        return false;
      })

    gantt.attachEvent('onAfterTaskAdd', (id, task) => {
      let idOrg = this.$store.state.auth.organizationId
      if (task.type == "placeholder") {
        const { Inicio, Fin } = ganttFunctions.getValidDate()
        task.start_date = Inicio
        task.end_date = Fin
        task.assigned = ""
        task.comments = ""
        task.filesIdDocument = []
        task.text = "Crear nueva tarea"
        task.originType = 'newTask'
        task.progress = task.progress || 0
      } else {
        this.$emit('task-updated', id, 'inserted', task)
        this.$socket.emit('ganttEvent', gantt.serialize() , 'ADD_TASK', idOrg, id);
        task.progress = task.progress || 0
        if (gantt.getSelectedId() == id) {
          this.$emit('task-selected', task)
        }
      }
    })

    gantt.attachEvent('onBeforeTaskDelete', (id) => {
      this.deletedTaskIdParent = gantt.getTask(id).parent

    })



    gantt.attachEvent('onAfterTaskDelete', (id) => {
      let idOrg = this.$store.state.auth.organizationId
      this.$socket.emit('ganttEvent', gantt.serialize() , 'DELETE_TASK', idOrg, id);
      this.$emit('task-updated', id, 'deleted')
      this.columnName = "delete"
      if (this.deletedTaskIdParent != 0)
        this.progressProjectDelete(this.deletedTaskIdParent)
      if (!gantt.getSelectedId()) {
        this.$emit('task-selected', null)
      }
    })

    gantt.attachEvent('onBeforeTaskUpdate', (id, task) => {
      let taskUpdate = gantt.getTask(id)
      if(taskUpdate.originType === 'predefined'){
        taskUpdate.next_day_monitory = taskUpdate.end_date
      }
      let idOrg = this.$store.state.auth.organizationId
      if (task.type == "placeholder") {
      } else {
        progressTask = this.advance
        this.$emit('task-updated', id, 'updated', task, progressTask)
        this.$socket.emit('ganttEvent', gantt.serialize() , 'UPDATE_TASK', idOrg, id);
      }
      if (task.parent != 0 && this.columnName === "progress") {
        this.progressProjectUpdate(task)
      }
      if (task.parent != 0 && this.columnName === "delete") {
        this.progressProjectDelete(task.parent)
      }
      if (task.parent != 0 && this.columnName === "indent") {
        this.progressProjectUpdate(task)
      }
      if (task.parent != 0 && this.columnName === "outdent") {
        this.progressProjectUpdate(task)
      }
    })

    gantt.attachEvent('onAfterTaskUpdate', (id, task) => {
      if (this.columnName == "delete" || this.columnName == "progress")
        this.columnName = ''
    })

    gantt.attachEvent('onAfterLinkAdd', (id, link) => {
      let idOrg = this.$store.state.auth.organizationId
      this.$emit('link-updated', id, 'inserted', link)
      this.$socket.emit('ganttEvent', gantt.serialize() , 'ADD_LINK', idOrg, id);
    })

    gantt.attachEvent('onAfterLinkUpdate', (id, link) => {
      let idOrg = this.$store.state.auth.organizationId
      this.$emit('link-updated', id, 'updated', link)
      this.$socket.emit('ganttEvent', gantt.serialize() , 'UPDATE_LINK', idOrg, id);
    })

    gantt.attachEvent('onAfterLinkDelete', (id, link) => {
      let idOrg = this.$store.state.auth.organizationId
      this.$emit('link-updated', id, 'deleted')
      this.$socket.emit('ganttEvent', gantt.serialize() , 'DELETE_LINK', idOrg, id);
    })

    gantt.attachEvent("onBeforeRowDragEnd", function (id, parent, tindex) {
      let taskPlaceholder = gantt.serialize()
      var task = gantt.getTask(id);
      if (task.type == "placeholder")
        return false;
      thisVue.sentMassiveTasks(id)
      return true;
    });

    gantt.attachEvent("onRowDragEnd", function (id, parent, tindex) {
      let taskPlaceholder = gantt.serialize()
      let place = taskPlaceholder.data.find(task => task.type == "placeholder")
      let indexActualTask = taskPlaceholder.data.findIndex(task => task.id == id)
      taskPlaceholder = taskPlaceholder.data.findIndex(task => task.type == "placeholder")
      if(indexActualTask > taskPlaceholder){
        gantt.moveTask(place.id, indexActualTask)
        return false
      }
    });

    gantt.attachEvent("onBeforeTaskDrag", function (id, mode, e) {
      thisVue.columnName = "progress"
      this.columnName = "progress"
      return true;
    });

    gantt.attachEvent("onAfterTaskDrag", function (id, mode, e) {
      thisVue.columnName = "progress"
      gantt.getTask(id).avance = gantt.getTask(id).progress * 100
      return true;
    });

    gantt.attachEvent('onTaskCreated', (task) => {
      task.assigned = ""
      task.comments = ""
      task.avance = 0
    })

    gantt.addShortcut("shift+up", function (e) {

      if (thisVue.lastShortCut == "shift+up" || thisVue.lastShortCut == "") {
        var lastTask = gantt.getLastSelectedTask()
        if (lastTask != null) {
          var nextIndex = gantt.getGlobalTaskIndex(lastTask) - 1
          var task = gantt.getTaskByIndex(nextIndex)
          if (task != null) {
            gantt.toggleTaskSelection(task.id);
            thisVue.lastShortCut = "shift+up"
            thisVue.lastIndexUp = nextIndex
            if (gantt.getSelectedTasks().length == 1) {
              thisVue.lastShortCut = ""
            }
          }
        } else {
          thisVue.lastShortCut = ""
        }

      } else {
        var lastTask = gantt.getLastSelectedTask()
        if (lastTask != null) {
          gantt.toggleTaskSelection(lastTask);
          thisVue.lastShortCut = "shift+down"
          if (gantt.getSelectedTasks().length == 1) {
            thisVue.lastShortCut = ""
          }
        } else {
          thisVue.lastShortCut = ""
        }
      }
    }, "taskCell");

    gantt.addShortcut("shift+down", function (e) {
      if (thisVue.lastShortCut == "shift+down" || thisVue.lastShortCut == "") {
        var lastTask = gantt.getLastSelectedTask()
        if (lastTask != null) {
          var nextIndex = gantt.getGlobalTaskIndex(lastTask) + 1
          var task = gantt.getTaskByIndex(nextIndex)
          if (task.type != "placeholder" && task != null) {
            gantt.toggleTaskSelection(task.id);
            thisVue.lastShortCut = "shift+down"
            if (gantt.getSelectedTasks().length == 1) {
              thisVue.lastShortCut = ""
            }
          }
        } else {
          thisVue.lastShortCut = ""
        }

      } else {
        var lastTask = gantt.getTaskByIndex(thisVue.lastIndexUp)
        if (lastTask.id != null) {
          gantt.toggleTaskSelection(lastTask.id);
          thisVue.lastShortCut = "shift+up"
          if (gantt.getSelectedTasks().length == 1) {
            thisVue.lastShortCut = ""
          }
        } else {
          thisVue.lastShortCut = ""
        }
        thisVue.lastIndexUp += 1
      }
    }, "taskCell");

    gantt.addShortcut("shift+right", function (e) {
      thisVue.indent()
    }, "taskCell");

    gantt.addShortcut("shift+left", function (e) {
      thisVue.outdent()
    }, "taskCell");

    gantt.config.auto_scheduling_strict = true;
    gantt.config.auto_scheduling_descendant_links = false;
    gantt.config.row_height = 28;
    gantt.config.grid_resize = true;
    gantt.config.auto_types = true;
    gantt.config.work_time = true;
    gantt.config.fit_tasks = true;
    gantt.config.smart_scales = true;
    gantt.config.placeholder_task = true;
    gantt.config.keyboard_navigation = true;
    gantt.config.keyboard_navigation_cells = true;
    gantt.config.order_branch_free = true;
    gantt.config.order_branch = "marker";
    gantt.config.open_tree_initially = true;
    gantt.config.show_errors = false;
    gantt.config.inline_editors_date_processing = "keepDuration";
    gantt.config.keep_grid_width = true; 
    this.setScaleConfig("1")
    this.mount(gantt)
  },
  computed: {
    ...mapState('user', ['members']),
    textButtonHideShowTimeLine () {
      if (this.showTimeline) {
        return "Ocultar Línea de Tiempo"
      }
      return "Mostrar Línea de tiempo"
    }
  }
}
</script>

<style lang="scss" scoped>
@import "src/assets/sass/paper/_variables.scss";
@import "../../../external/dhtmlx-gantt/codebase/dhtmlxgantt.css";

.trans {
  background-color: #909399;
  border-radius: 4px;
  color: #fff;

  &:hover {
    background-color: darken(rgb(158, 158, 158), 1%);
  }
  &:focus {
    border-radius: none;
    color: dark;
    background-color: rgba(192, 186, 186, 0.116);
    transition: background-color cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}
.left {
  text-align: right;
  font-size: 30%;
  position: absolute;
  padding: 0.8rem;
  padding-left: 1.5rem;
  padding-right: 1.5em;
}
.btn-right {
  padding-left: 2rem;
}
.weekend {
  background: rgb(231, 231, 229);
}
.container-gantt {
  padding: 0;
  height: 580px;
  width: 100%;
}
.headerGantt {
  background-color: $smoke-bg !important;
  color: $brand-primary !important;
  font-size: 0.75em;
  text-transform: uppercase;
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-bold;
}
.zoom {
  float: right;
  margin-right: 15px;
  width: 20%;
}
.btn-success {
  background-color: $success-color;
}
.btn-info {
  background-color: $info-color;
}
.btn-danger {
  background-color: $danger-color;
}
.btn-warning {
  background-color: $warning-color;
  &:hover {
    background-color: darken($warning-color, 20%);
  }
}
.grid {
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  padding: 5px;
}
.grid-item {
  background-color: transparent;
  padding-right: 2rem;
}
/deep/ .gantt_layout_cell_border_right{
  border-right:.5px solid #cecece
}
/deep/ .gantt_layout_cell_border_bottom{
  border-bottom:.5px solid #cecece
}
</style>