<template>
  <div class="gantt-component">
    <div v-if="showModalFile">
      <modal :show.sync="showModalFile"   headerClasses="justify-content-center" @close="closeModal" style="overflow: auto;"> 
        <h4 slot="header" class="title title-up">Selecciona Archivos de Evidencias </h4>
        <uploadfiles :id.sync="this.id" :showModalFile.sync="this.showModalFile" :item.sync="this.selectedTask" :origin.sync="this.origin" @close="closeModal" >
        </uploadfiles>
      </modal>
    </div>
    <gantt v-if="showGantt" class="left-container" 
      :tasks="ganttTask" 
      :mode="$route.params.mode"
      @task-updated="logTaskUpdate" 
      @task-attach="taskAttach" 
      @link-updated="logLinkUpdate" 
      @task-selected="selectTask">
    </gantt>
  </div>
</template>

<script>
import Gantt from "./Gantt.vue";

import "src/external/dhtmlx-gantt";
import "src/external/dhtmlx-gantt/codebase/ext/dhtmlxgantt_keyboard_navigation.js";
import "src/external/dhtmlx-gantt/codebase/locale/locale_es";
import { mapState, mapGetters, mapMutations } from "vuex";
import {
  gralMethods,
  gralErrorMethods,
  gralErrorLog
} from "src/mixins/generalMethods.js";
import Modal from "src/components/UIComponents/Modal.vue";
import uploadfiles from "src/components/Dashboard/Anticorruption/UploadFiles.vue";

export default {
  name: "app",
  components: {
    Gantt,
    Modal,
    uploadfiles
  },
  mixins: [gralMethods, gralErrorMethods, gralErrorLog],
  data() {
    return {
      access_token: "",
      selectedTask: null,
      optionsContextMenu: [
        {
          name: "Agregar",
          slug: "add",
          icon: "el-icon-plus"
        },
        {
          name: "Borrar",
          slug: "delete",
          icon: "el-icon-plus"
        }
      ],
      ganttLinks: {
        id: "",
        source: "",
        target: "",
        type: ""
      },
      showModalFile: false,
      id: "",
      origin: "gantt",
      moduleId: "",
      showGantt: false
    };
  },
  filters: {
    toPercent(val) {
      if (!val) return "0";
      return Math.round(+val * 100);
    },
    niceDate(obj) {
      return `${obj.getFullYear()} / ${obj.getMonth() + 1} / ${obj.getDate()}`;
    }
  },
  created() {
    this.moduleId = this.$route.path.split("/")[1];
    var params = {
      access_token: this.$cookies.get("token"),
      moduleId: this.moduleId
    };
    this.$store
      .dispatch("task/retriveTasks", params)
      .then(() => {
        this.showGantt = true;
      })
      .catch(error => {
        this.showGantt = true;
        if (error.response.status !== 404) {
          this.notifyError(
            error,
            "El servidor no esta disponible, intente más tarde"
          );
          this.writteGenericError(
            "ActionPlan.vue",
            error,
            "Error en red, retrieveTasks"
          );
        }
      });
    this.$store
      .dispatch("user/getMembers", this.$cookies.get("token"))
      .then(() => {})
      .catch(error => {
        this.notifyError(error, " Error al obtener Members");
        this.writteGenericError(
          "ganttChart.vue",
          error,
          "Error al obtener Members, getMembers "
        );
      });
  },
  methods: {
    taskAttach(task) {
      this.moduleId = this.$route.path.split("/")[1];
      if (task) {
        this.id = Number(task);
        if (this.selectedTask) this.showModalFile = true;
      } else {
        this.showGenericError("No ha seleccionado tarea");
      }
    },
    selectTask(task) {
      this.selectedTask = task;
    },
    logTaskUpdate(id, mode, task, progressTask) {
      let access_token = this.$cookies.get("token");
      let moduleId = this.$route.path.split("/")[1];
      let data = gantt.getTask(id);

      let paramsApi = {
        access_token,
        moduleId,
        id,
        data
      };

      if (mode == "inserted") {
        this.$store
          .dispatch("task/addTasks", paramsApi)
          .then(response => {
            console.log(response);
          })
          .catch(error => {
            this.notifyError(
              error,
              "No se puede realizar la operacion, intente mas tarde"
            );
            this.writteGenericError("ganttChart.vue", error, "addTask");
          });
      }
      if (mode == "updated" && progressTask == 0) {
        this.$store
          .dispatch("task/updateTasks", paramsApi)
          .then(response => {
            console.log(response);
          })
          .catch(error => {
            this.notifyError(
              error,
              "No se puede realizar la operacion, intente mas tarde"
            );
            this.writteGenericError("ganttChart.vue", error, "updateTask");
          });
      }
      if (mode == "updated" && progressTask > 0) {
        paramsApi.data.avance = progressTask * 100;
        this.$store
          .dispatch("task/updateTasks", paramsApi)
          .then(response => {
            console.log(response);
          })
          .catch(error => {
            this.notifyError(
              error,
              "No se puede realizar la operacion, intente mas tarde"
            );
            this.writteGenericError("ganttChart.vue", error, "updateTask");
          });
      }
      if (mode == "deleted") {
        this.$store
          .dispatch("task/deleteTasks", paramsApi)
          .then(response => {
            console.log(response);
          })
          .catch(error => {
            this.notifyError(
              error,
              "No se puede realizar la operacion, intente mas tarde"
            );
            this.writteGenericError("ganttChart.vue", error, "deleteTask");
          });
      }
      if (mode == "moved") {
        delete paramsApi.id;
        delete paramsApi.data;
        paramsApi.tasks = task;
        paramsApi.tasks.data = paramsApi.tasks.data.filter(
          task => task.type != "placeholder"
        );
        paramsApi.tasks.data.map(task => {
          task.open = false;

          var dates = task.start_date.split(" ");
          var date = dates[0].split("-");
          task.start_date =
            date[2] + "-" + date[1] + "-" + date[0] + " " + dates[1] + ":00";

          dates = task.end_date.split(" ");
          date = dates[0].split("-");
          task.end_date =
            date[2] + "-" + date[1] + "-" + date[0] + " " + dates[1] + ":00";
        });
        this.$store
          .dispatch("task/massiveLoadTasks", paramsApi)
          .then(res => {})
          .catch(error => {
            this.notifyError(
              error,
              "No se puede realizar la operacion, intente mas tarde"
            );
            this.writteGenericError("ganttChart.vue", error, "massiveTask");
          });
      }
    },
    logLinkUpdate(id, mode, link) {
      let access_token = this.$cookies.get("token");
      let moduleId = this.$route.path.split("/")[1];

      let paramsApi = {
        access_token,
        moduleId,
        id
      };

      if (mode == "inserted") {
        this.ganttLinks.id = id;
        this.ganttLinks.source = parseInt(link.source);
        this.ganttLinks.target = parseInt(link.target);
        this.ganttLinks.type = parseInt(link.type);

        paramsApi.ganttLinksParams = this.ganttLinks;
        this.$store
          .dispatch("task/addLinks", paramsApi)
          .then(response => {
            console.log(response);
          })
          .catch(error => {
            this.notifyError(
              error,
              "No se puede realizar la operacion, intente mas tarde"
            );
            this.writteGenericError("ganttChart.vue", error, "addLinks");
          });
      }
      if (mode == "deleted") {
        this.$store
          .dispatch("task/deleteLinks", paramsApi)
          .then(response => {
            console.log(response);
          })
          .catch(error => {
            this.notifyError(
              error,
              "No se puede realizar la operacion, intente mas tarde"
            );
            this.writteGenericError("ganttChart.vue", error, "addLinks");
          });
      }
    },
    closeModal() {
      this.showModalFile = false;
    }
  },
  computed: {
    ...mapGetters("task", ["getGanttTasksLinks"]),
    ...mapState("task", ["ganttTask"])
  }
};
</script>

<style scoped>
.left-container {
  overflow: hidden;
  position: relative;
  height: 100%;
}
.weekend {
  background: rgb(231, 231, 229);
}
</style>
