<template>
  <footer class="footer footer-black footer-white">
    <div class="container-fluid">
      <div class="row">
        <div class="credits ml-auto">
          <div class="copyright">
            PAD COMPLIANCE &copy;
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>
<script>
  export default {
    name: 'main-footer'
  }
</script>
<style lang="scss" scoped>
  @media screen and (max-height: 530px) {
    .copyright{
      line-height: none;
      display: none;
    }
  }
</style>
