<template>
  <div>
    <popTemp v-bind:nombrePopup="valuePopTemp"></popTemp>
    <el-page-header
      style="padding-bottom:20px;"
      @back="goBack"
      title="Ir a Identificación de Riesgos"
      content="Configuración de parámetros"
    ></el-page-header>
    <div class="card">
      <div class="card-body">
        <div class="row row-no-gutters">
          <div class="col-sm-3">
            <h6 class="move">
              <b>CONJUNTO DE SUBRIESGOS</b>
            </h6>
          </div>
          <div class="col-sm-5">
            <fg-input>
              <el-select
                class="select-default mt-2"
                name="riesgos"
                v-model="subriskId"
                v-on:change="selectRiesgo(subriskId)"
              >
                <el-option
                  v-for="r in tablaRiesgos"
                  class="select-default"
                  :label="r.title"
                  :value="r._id"
                  :key="r._id"
                ></el-option>
              </el-select>
            </fg-input>
          </div>
          <div class="col-sm-2">
            <h6 class="move">
              <b>PROMEDIO</b>
            </h6>
          </div>
          <div class="col-sm-2" style="margin-top:0.3rem;">
            <p-button
              style="width:90%;"
              class="responsive"
              slot="footer"
              name="drk"
              :style="colorRiskMatrix(1,this.average,2)"
              round
            >{{labelRisk(average)}}</p-button>
          </div>
        </div>
      </div>
      <div class="content-flex">
        <div class="grid1">
          <p-button type="default" link @click="addRisk(),getParam" class="btn-add-risk">
            <i class="fa fa-plus"></i> Agregar Nuevo Parámetro
          </p-button>
        </div>
        <div class="grid2">
         

          <el-tooltip content="Cuestionario" placement="top" v-if="moduleId !== 'anticorruption'">
        
        
              <div v-if="moduleId==='continuidad'">
                <!--
              <div v-if="myUser.role==='admin'">
                ¿Desea mostrar el botón de Cuestionario?
                <p-switch
                type="info"
                v-model="flagQues"
                @input="updateFlag()"
                on-text="SI"
                off-text="NO"></p-switch>
                 <p-button type="info" @click="showModalChoice()" class="btn-magnify" size="mid" v-if="this.myUser.flags.hidebottonQuesContinuidad">
              <i class="fa fa-file-text-o" aria-hidden="true"></i> Cuestionario
            </p-button>
              
              -->
              </div>
              <div v-else>
                
                <p-button type="info" @click="showModalChoice()" class="btn-magnify" size="mid" >
              <i class="fa fa-file-text-o" aria-hidden="true"></i> Cuestionario
            </p-button>
              
                </div>
<!-- 
            </div>
            <div v-else>
            <p-button type="info" @click="showModalChoice()" class="btn-magnify" size="mid">
              <i class="fa fa-file-text-o" aria-hidden="true"></i> Cuestionario
            </p-button>
            </div>
            -->
          </el-tooltip>
          <el-tooltip content="Combinar valores" placement="top" v-else>
            <p-button
              type="info"
              @click="showModalChoice()"
              icon
              round
              class="btn-magnify"
              size="mid"
            >
              <i class="fa fa-code-fork" aria-hidden="true"></i>
            </p-button>
          </el-tooltip>
        </div>
      </div>
    </div>

    <div
      class="card"
      v-if="loading"
      v-loading="loading"
      element-loading-background="rgba(256, 256, 256, 0.9)"
      element-loading-text="obteniendo parámetros..."
      element-loading-spinner="el-icon-loading"
    ></div>
    <div class="paramsTable" v-else>
      <div class="card" v-for="(tablaParam,index) in tablaParams" :key="tablaParam.id">
        <div class="card-body">
          <div class="content-flex">
            <div class="grid1">
              <fg-input
                :id="'in'+ index"
                type="text"
                @mouseover="getFocus(index)"
                @click="tablaParam.title=''"
                v-if="isEditing[index].edit"
                v-on:change="onChange(tablaParam)"
                @blur="changeEdit(index, false)"
                @keyup.enter="changeEdit(index, false)"
                v-model.trim="tablaParam.title"
              ></fg-input>
              <h6
                class="title-param"
                v-else
                @click="changeEdit(index,true)"
                name="tit"
              >{{tablaParam.title}}</h6>
            </div>
            <div class="grid2">
              <p-button
                class="btn-danger"
                @click.prevent="deleteRisk(tablaParam)"
                slot="footer"
                icon
              >
                <i class="fa fa-trash-o"></i>
              </p-button>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="move">
                <b>IMPACTO</b>
              </h6>
            </div>
            <div class="col-sm-5">
              <fg-input>
                <el-select
                  class="select-default"
                  :placeholder="moduleId !== '' ? getLabelProbOrImp(tablaParam.impact.value, JSON.parse(JSON.stringify(impactsCatalog))) : 'Sin definir'"
                  v-model="tablaParam.impact"
                  v-on:change="onChange(tablaParam)"
                >
                  <el-option
                    v-for="option in impactsCatalog"
                    class="select-default"
                    :value="option"
                    :key="option.value"
                  >{{option.label + '( '+option.value+')'}}</el-option>
                </el-select>
              </fg-input>
            </div>
            <div class="col-sm-2">
              <h6 class="move">
                <b>Nivel</b>
              </h6>
            </div>
            <div class="col-sm-2">
              <p-button
                slot="footer"
                style="width:90%;"
                name="drk"
                :style="colorRiskMatrix(1,tablaParam.level.value,2)"
                round
              >{{ labelRisk(tablaParam.level.value)}}</p-button>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="move">
                <b>Probabilidad</b>
              </h6>
            </div>
            <div class="col-sm-5">
              <fg-input>
                <el-select
                  class="select-default"
                  :placeholder="moduleId !== '' ? getLabelProbOrImp(tablaParam.probability.value, JSON.parse(JSON.stringify(probabilitiesCatalog))) : 'Sin definir'"
                  v-model="tablaParam.probability"
                  v-on:change="onChange(tablaParam)"
                >
                  <el-option
                    v-for="option in probabilitiesCatalog"
                    class="select-default"
                    :value="option"
                    :key="option.value"
                  >{{option.label + '( ' + option.value+' )'}}</el-option>
                </el-select>
              </fg-input>
            </div>
            <div class="col-sm-2">
              <h6 class="move">
                <b></b>
              </h6>
            </div>
            <div class="col-sm-2">
              <p-button
                slot="footer"
                style=" width:90%; background-color:black !important;"
                name="drk"
                round
                @click.prevent="showSwal1(tablaParam)"
              >VER MATRIZ</p-button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Modal de Combinar con-->
    <div class="impactProb">
      <modal
        :show.sync="showChoice"
        class="modal-primary"
        :show-close="true"
        headerClasses="justify-content-center"
        @close="showChoice=false"
        type="mini"
      >
        <div slot="header" class="modal-profile ml-auto mr-auto">
          <i class="nc-icon nc-bulb-63"></i>
        </div>
        <p style="text-align:center">Combinar con:</p>
        <template slot="footer">
          <div class="left-side">
            <p-button type="info" link @click="showModalTemp('IMP')">Impacto</p-button>
          </div>
          <div class="divider"></div>
          <div class="right-side">
            <p-button type="info" link @click="showModalTemp('PROB')">Probabilidad</p-button>
          </div>
        </template>
      </modal>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import { mapState } from "vuex";
import { PageHeader, Table, TableColumn } from "element-ui";
import { Select, Option } from "element-ui";
import PSwitch from "src/components/UIComponents/Switch.vue";
import Modal from "src/components/UIComponents/Modal.vue";
import { Card } from "src/components/UIComponents";
import { Badge } from "src/components/UIComponents";
import BootstrapVue from "bootstrap-vue";
import Swal from "sweetalert2";
import PopTemp from "../MatrizRiesgos/PopUpTemp";
import riskApi from "../../../api/risk/matrix";
import { Tooltip } from "element-ui";
import {
  gralMethods,
  gralErrorMethods,
  gralErrorLog
} from "src/mixins/generalMethods.js";

Vue.use(Table);
Vue.use(TableColumn);
Vue.use(Select);
Vue.use(Option);
Vue.component(Badge.name, Badge);
Vue.use(BootstrapVue);
Vue.use(PageHeader);

var consecutivo = 1;
let auxTitulo;
let auxId;

export default {
  components: {
    PSwitch,
    Modal,
    Card,
    [Select.name]: Select,
    [Option.name]: Option,
    [Badge.name]: Badge,
    PopTemp,
    [Tooltip.name]: Tooltip
  },
  data() {
    return {
      //flagQues: this.myUser.flags.hidebottonQuesContinuidad,
      loading: true,
      valuePopTemp: "",
      showModal: false,
      showTemporal: false,
      showChoice: false,
      tablaRiesgos: [],
      tablaParams: [],
      isEditing: [],
      showPopup: false,
      subriskTitle: "",
      title: "Parámetro",
      sumaImpacto: 0,
      sumaProbabilidad: 0,
      average: 0,
      colorRiskAverage: "success",
      riskArray: [],
      riskTables: [],
      subriskId: "",
      onFocusTitle: ""
    };
  },
  mixins: [gralMethods, gralErrorMethods, gralErrorLog],
  computed: {
    ...mapState("user", ["members", "myUser"]),
    impactsCatalog() {
      return this.$store.getters["organization/impacts"];
    },
    probabilitiesCatalog() {
      return this.$store.getters["organization/probabilities"];
    },
    levelsCatalog() {
      return this.$store.getters["organization/levels"];
    }
  },
  created() {
    let route = this.$route.path.split("/");
    // get the module from url
    this.moduleId = route[1];
    this.tablaRiesgos = this.$store.state.risk.subriskTable;
    if (this.tablaRiesgos.length === 0) {
      this.loading = false;
    }
    if (
      this.$route.params.subriskId === "" ||
      this.$route.params.subriskId === undefined
    ) {
      //this.subriskId = this.$route.params.subrisk
      if (this.tablaRiesgos[0]) {
        this.subriskId = this.tablaRiesgos[0]._id;
        this.selectRiesgo(this.subriskId);
      }
    } else {
      this.tablaRiesgos.forEach(item => {
        if (item._id === this.$route.params.subriskId) {
          this.subriskId = item._id;
        }
      });
      this.selectRiesgo(this.subriskId);
    }
  },
  methods: {
    getParam() {
      this.tablaParams.title = this.title;
    },
    getFocus(index) {
      this.onFocusTitle = document.getElementById("in" + index).value;
      document.getElementById("in" + index).focus();
    },
    createArrayIsEditing() {
      this.isEditing = [];
      for (var i in this.tablaParams) {
        this.isEditing.push({ edit: false });
      }
    },
    changeEdit(id, value) {
      if (
        this.tablaParams[id].title.length < 1 ||
        this.tablaParams[id].title.length <= 0
      ) {
        this.tablaParams[id].title = this.onFocusTitle;
        this.showSwalEmptyTitle();
      } else if (
        this.onFocusTitle.length < 1 ||
        this.onFocusTitle.length <= 0
      ) {
        this.onFocusTitle = this.tablaParams[id].title;
      }
      this.$set(this.isEditing[id], "edit", value);
    },
    showSwalEmptyTitle() {
      Swal({
        text: "Por favor eliga un nombre valido para el parámetro",
        timer: 2000,
        showConfirmButton: false
      });
    },
    showModalChoice() {
      if (this.tablaRiesgos.length > 0) {
        this.valuePopTemp = "";
        this.showChoice = true;
      } else {
        Swal({
          text: "Falta subriesgo, favor de agregar uno y volverlo a intentar",
          title: "Falta Subriesgo",
          type: "error",
          showCancelButton: false,
          confirmButtonClass: "btn btn-success btn-fill",
          confirmButtonText: "Continuar",
          buttonsStyling: false
        })
          .then(result => {})
          .catch(Swal.noop);
      }
    },
    showModalTemp(valor) {
      if (this.moduleId === "anticorruption") {
        this.showChoice = false;
        //this.showTemporal = true
        this.valuePopTemp = valor;
        this.$store.commit("risk/mutationUmbral", true);
        //this.$store.commit('risk/popUpVariables', true, 3333)
      } else {
        let subrisk = this.tablaRiesgos.find(
          subrisk => subrisk._id === this.subriskId
        );
        console.log(this.tablaRiesgos);
        console.log(subrisk);
        console.log(valor, subrisk.quizAssigned, this.subriskId);
        this.$router.push({
          name: this._getNameRoute("editQuizParam", this.moduleId),
          query: {
            type: valor,
            quizAssigned: subrisk.quizAssigned,
            subriskId: this.subriskId
          }
        });
      }
    },
    hidePopupTemporal() {
      this.showTemporal = false;
    },
    async selectRiesgo(subrisk_id) {
      const access_token = this.$cookies.get("token");
      await this.$store
        .dispatch("risk/getSubriskParams", { access_token, subrisk_id })
        .then(x => {
          this.loading = false;
          this.tablaParams = x.data.params;
          this.promedio();
          this.createArrayIsEditing();
        })
        .catch(error => {
          this.notifyError(error);
          this.writteGenericError(
            "Matrix.vue",
            error,
            "Error getSubriskParams"
          );
        });
    },
    htmlTable(riskTable) {
      let numeroColumnas = this.probabilitiesCatalog.length;
      let numeroFilas = this.impactsCatalog.length;
      let numeroRiesgos = this.levelsCatalog.length;
      let encabezadohtml = "";
      let cuerpohtml = "";
      let piehtml = "";
      let htmlDinamico = "";
      encabezadohtml =
        '<div class="celdaizquierda1"><h6>' +
        riskTable.title +
        '</h6></div><br/><table class="popup1"><tbody><tr><td></td><td></td>';
      for (let j = 0; j < numeroColumnas; j++) {
        encabezadohtml =
          encabezadohtml +
          '<td class="colortitulo1">' +
          this.probabilitiesCatalog[j].value +
          "</td>";
      }
      encabezadohtml = encabezadohtml + "</tr>";
      for (let i = 0; i < numeroFilas; i++) {
        cuerpohtml = cuerpohtml + "<tr>";
        if (i == 0) {
          cuerpohtml =
            cuerpohtml +
            '<td class="celdavertical1" width="5%" rowspan="' +
            numeroFilas +
            '">Impact</td>';
        }
        for (let j = 0; j < numeroColumnas; j++) {
          if (j == 0) {
            cuerpohtml =
              cuerpohtml +
              '<td class="celdaderecha1" width="5%">' +
              this.impactsCatalog[i].value +
              "</td>";
          }
          cuerpohtml =
            cuerpohtml +
            '<td width="' +
            90 / numeroColumnas +
            '%" style="background-color:' +
            this.colorRiskMatrix(i + 1, j + 1, 1) +
            ';">' +
            this.valor(
              riskTable,
              this.impactsCatalog[i].value,
              this.probabilitiesCatalog[j].value
            ) +
            "</td>";
        }
        cuerpohtml = cuerpohtml + "</tr>";
      }
      piehtml =
        '<tr class="celdacentro1"><td></td> <td colspan="' +
        (numeroColumnas + 2) +
        '">Probabilidad</td></tr></tbody></table>';
      htmlDinamico = encabezadohtml + cuerpohtml + piehtml;
      return htmlDinamico;
    },
    activaModal() {
      this.showModal = true;
    },
    async saveRisk() {
      let paramsApi = {
        access_token: this.$cookies.get("token"),
        subriskId: this.subriskId,
        levelInhAvg: {
          value: this.average,
          label: this.onlyLabelRisk(this.average)
        },
        probabilityAvg: { value: this.sumaProbabilidad },
        impactAvg: { value: this.sumaImpacto },
        params: this.tablaParams[this.tablaParams.length - 1]
      };
      await this.$store
        .dispatch("risk/addSubriskParams", paramsApi)
        .then(x => {
          this.tablaParams = x.data.params;
        })
        .catch(error => {
          this.notifyError(error);
          this.writteGenericError(
            "Matrix.vue",
            error,
            "Error addSubriskParams"
          );
        });
    },
    cancel() {
      this.$router.push({
        name: this._getNameRoute("risk", this.$route.path.split("/")[1])
      });
    },
    cancelPopUp() {
      this.showModal = false;
    },
    addRisk: function() {
      if (this.tablaRiesgos.length > 0) {
        this.tablaParams.push({
          impact: { value: this.impactsCatalog[0].value },
          level: {
            value:
              this.impactsCatalog[0].value * this.probabilitiesCatalog[0].value
          },
          probability: { value: this.probabilitiesCatalog[0].value },
          title: "NUEVO PARÁMETRO",
          moduleId: this.$route.path.split("/")[1]
        });
        this.promedio();
        this.createArrayIsEditing();
        this.saveRisk();
      } else {
        Swal({
          text: "Falta subriesgo, favor de agregar uno y volverlo a intentar",
          title: "Falta Subriesgo",
          type: "error",
          showCancelButton: false,
          confirmButtonClass: "btn btn-success btn-fill",
          confirmButtonText: "Continuar",
          buttonsStyling: false
        })
          .then(result => {})
          .catch(Swal.noop);
      }
    },
    deleteRisk: function(riskTable) {
      this.tablaParams.splice(this.tablaParams.indexOf(riskTable), 1);
      this.promedio();
      this.deleteRiskTable(riskTable);
    },
    async deleteRiskTable(riskTable) {
      let paramsApi = {
        access_token: this.$cookies.get("token"),
        subriskId: this.subriskId,
        levelInhAvg: {
          value: this.average,
          label: this.onlyLabelRisk(this.average)
        },
        probabilityAvg: { value: this.sumaProbabilidad },
        impactAvg: { value: this.sumaImpacto },
        params: riskTable
      };
      await this.$store
        .dispatch("risk/deleteSubriskParams", paramsApi)
        .then(x => {})
        .catch(error => {
          this.notifyError(error);
          this.writteGenericError(
            "Matrix.vue",
            error,
            "Error deleteSubriskParams"
          );
        });
    },
    async onChange(riskTable) {
      riskTable.level.value =
        riskTable.impact.value * riskTable.probability.value;
      this.promedio();

      let paramsApi = {
        access_token: this.$cookies.get("token"),
        subriskId: this.subriskId,
        levelInhAvg: {
          value: this.average,
          label: this.onlyLabelRisk(this.average)
        },
        probabilityAvg: { value: this.sumaProbabilidad },
        impactAvg: { value: this.sumaImpacto },
        params: riskTable
      };

      await this.$store
        .dispatch("risk/updateSubriskParams", paramsApi)
        .then(x => {})
        .catch(error => {
          this.notifyError(error);
          this.writteGenericError(
            "Matrix.vue",
            error,
            "Error updateSubriskParams"
          );
        });
    },
    sortJsonObject(items, type) {
      if (type === "desc") {
        items.sort((a, b) => {
          if (a.value < b.value) {
            return 1;
          }
          if (a.value > b.value) {
            return -1;
          }
          return 0;
        });
      } else {
        items.sort((a, b) => {
          if (a.value > b.value) {
            return 1;
          }
          if (a.value < b.value) {
            return -1;
          }
          return 0;
        });
      }
    },
    colorRiskMatrix(impacto, probabilidad, type) {
      let queryValue = impacto * probabilidad;
      let catalog = this.levelsCatalog;
      let color = "#9e9e9e";

      let catalogSorted = JSON.parse(JSON.stringify(catalog));
      this.sortJsonObject(catalogSorted, "desc");
      catalogSorted.forEach(item => {
        if (queryValue >= item.value && color === "#9e9e9e") {
          color = item.color;
        }
      });

      if (color === "" || color === undefined) {
        color = "darkgray";
      }

      if (type == 1) {
        return color;
      } else {
        if (type == 2) {
          return "background: " + color + " !important;cursor: no-drop";
        }
      }
    },
    labelRisk(queryValue) {
      let catalog = this.levelsCatalog;
      let label = "No asignado";
      let catalogSorted = JSON.parse(JSON.stringify(catalog));
      this.sortJsonObject(catalogSorted, "desc");
      catalogSorted.forEach(item => {
        if (queryValue >= item.value && label === "No asignado") {
          label = item.label;
        }
      });
      return label + "(" + queryValue + ")";
    },
    onlyLabelRisk(queryValue) {
      let catalog = this.levelsCatalog;
      let label = "No asignado";
      let catalogSorted = JSON.parse(JSON.stringify(catalog));
      this.sortJsonObject(catalogSorted, "desc");
      catalogSorted.forEach(item => {
        if (queryValue >= item.value && label === "No asignado") {
          label = item.label;
        }
      });
      return label;
    },
    valor(riskTable, matrixImpact, matrixProbility) {
      if (
        riskTable.probability.value == matrixProbility &&
        riskTable.impact.value == matrixImpact
      ) {
        return riskTable.probability.value * riskTable.impact.value;
      } else {
        return "";
      }
    },
    promedio() {
      this.sumaImpacto = 0;
      this.sumaProbabilidad = 0;
      this.average = 0;
      for (let i = 0; i < this.tablaParams.length; i++) {
        this.sumaImpacto = this.tablaParams[i].impact.value + this.sumaImpacto;
        this.sumaProbabilidad =
          this.tablaParams[i].probability.value + this.sumaProbabilidad;
      }
      this.sumaImpacto = this.sumaImpacto / this.tablaParams.length;
      this.sumaProbabilidad = this.sumaProbabilidad / this.tablaParams.length;
      this.sumaImpacto = Math.round(this.sumaImpacto);
      this.sumaProbabilidad = Math.round(this.sumaProbabilidad);
      this.average = this.sumaProbabilidad * this.sumaImpacto;
      this.average = Math.round(this.average);
      if (isNaN(this.average)) {
        this.average = 0;
      }
    },
    showSwal1(riskTable) {
      Swal({
        html: this.htmlTable(riskTable),
        showCloseButton: true,
        showCancelButton: false,
        showConfirmButton: false
      }).catch(Swal.noop);
    },
    showSwal2() {
      Swal({
        text: "¿Desea salir sin guardar sus cambios?",
        title: "¿Estas seguro?",
        type: "warning",
        showCancelButton: true,
        confirmButtonClass: "btn btn-success btn-fill",
        cancelButtonClass: "btn btn-danger btn-fill",
        confirmButtonText: "Si, salir",
        cancelButtonText: "Cancelar",
        buttonsStyling: false
      })
        .then(result => {
          if (result) {
            this.cancel();
          }
        })
        .catch(Swal.noop);
    },
    showGenericError(title, message) {
      this.$notify({
        message: message,
        title: "Error " + title,
        type: "danger"
      });
    },
    showNetworkError() {
      this.$notify({
        horizontalAlign: "center",
        timeout: 2000,
        message: "Error en la conexion",
        title: "Error",
        type: "danger"
      });
    },
    goBack() {
      let moduleId = this.$route.path.split("/")[1];
      let nameRoute = "risk";
      this.$router.push({ name: this._getNameRoute(nameRoute, this.moduleId) });
    },
    updateFlag() {
      //alert("Send to updateFalg");
      if (this.flagQues) {
        this.$store.dispatch("user/setFlags", {
          access_token: this.$cookies.get("token"),
          flags: { hidebottonQuesContinuidad: true }
        });
      } else {
        this.$store.dispatch("user/setFlags", {
          access_token: this.$cookies.get("token"),
          flags: { hidebottonQuesContinuidad: false }
        });
      }
    }
  }
};
</script>
<style lang="scss" scoped>
@import "src/assets/sass/paper/_variables.scss";

.grid-cols {
  display: grid;
  grid-template-columns: auto auto;
  padding: 5px;
}

.grid-item {
  background-color: #f1e0f1;
  border: 1px solid #fff;
  padding: 1%;
  font-size: 80%;
  text-align: center;
}

.grid-item:nth-child(1) {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px 0 0 10px;
  padding-right: 22%;
  padding-top: 4%;
  font-size: 80%;
  text-align: left;
}

.grid-item:nth-child(2) {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 0 10px 10px 0;
  font-size: 150%;
  padding-top: 2%;
  padding-right: 0rem;
}

.move {
  padding-top: 9%;
  padding-left: 8%;
}
.responsive1:before {
  content: attr(data-desktoptext);
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
  margin-top: 1.5%;
}
div.blueTable {
  background-color: #eeeeee;
  width: 100%;
  text-align: center;
}
.divTable.blueTable .divTableCell,
.divTable.blueTable .divTableHead {
  padding: 3px 2px;
}
.divTable.blueTable .divTableBody .divTableCell {
  font-size: 13px;
}
.blueTable .tableFootStyle {
  font-size: 14px;
}
.blueTable .tableFootStyle .links {
  text-align: right;
}
.blueTable .tableFootStyle .links a {
  display: inline-block;
  background: #1c6ea4;
  color: #ffffff;
  padding: 2px 8px;
  border-radius: 5px;
}
.blueTable.outerTableFooter {
  border-top: none;
}
.blueTable.outerTableFooter .tableFootStyle {
  padding: 3px 5px;
}

.divTable {
  display: table;
}
.divTableRow {
  display: table-row;
}
.divTableHeading {
  display: table-header-group;
}
.divTableCell,
.divTableHead {
  display: table-cell;
}
.divTableHeading {
  display: table-header-group;
}
.divTableFoot {
  display: table-footer-group;
}
.divTableBody {
  display: table-row-group;
}

.brow {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

.browb {
  border: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}
table.popup1 {
  border: 3px solid #ffffff;
  width: 100%;
  font-weight: bold;
  text-align: center;
  border-collapse: collapse;
  color: #ffffff;
}
table.popup1 td,
table.popup th {
  border: 1px solid #ffffff;
  padding: 5px 4px;
}
table.popup1 tbody td {
  font-size: 13px;
}
table.popup1 tfoot td {
  font-size: 14px;
}
.risklow {
  background-color: #6fae44;
}
.riskmedium {
  background-color: #f9b52a;
}
.riskhigh {
  background-color: #d73131;
}
.celdaderecha1 {
  text-align: right;
  color: black;
  white-space: nowrap;
}
.celdaizquierda1 {
  text-align: left;
  color: black;
}
.celdacentro1 {
  text-align: center;
  color: black;
}
.celdavertical1 {
  text-align: center;
  color: black;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.colortitulo1 {
  color: black;
}
.noboton {
  background: #3dce55;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  color: rgb(255, 255, 255);
  padding: 10 10 0 0;
  height: 40px;
  border-width: 1px;
  border-radius: 30px;
  padding-right: 23px;
  padding-left: 23px;
  cursor: pointer;
  box-sizing: border-box;
}

.card-title[name="tit"] {
  text-transform: capitalize;
}

.btn-Mat {
  background-color: gray;
}

.titulo {
  background-color: #bdbdbd;
}
.botonizq {
  text-align: right;
  float: right;
}
.nc-icon2 {
  font-weight: bold;
}
.btnMatrix {
  background: #a4a4a4;
}

.title-param {
  color: $primary-color;
  text-transform: none;
  background: rgb(255, 255, 255);
  height: 81%;
  border-radius: 5px;
  padding-left: 2%;
  padding-right: 0;
  &:hover {
    background: darken(#ddd, 4);
    border: dashed 2px $info-states-color;
  }
}
.title-param::first-letter {
  text-transform: uppercase;
}

.center {
  padding-left: 25%;
}

@media screen and (max-width: 1140px) {
  .responsive1:before {
    content: attr(data-tablettext);
  }
}
@media screen and (max-width: 1096px) {
  .title-param {
    margin-left: 6%;
    margin-bottom: 6%;
    height: 55%;
  }
  .center {
    padding-left: 20%;
  }
}
@media screen and (max-width: 991px) {
  .title-param {
    width: 90%;
  }

  .center {
    padding-left: 15%;
  }
}
@media screen and(max-width:888px) {
  .title-param {
    width: 98%;
  }

  .center {
    padding-left: 15%;
  }
  .center {
    padding-left: 10%;
  }
}

@media screen and(max-width:575px) {
  .responsive1:before {
    content: attr(data-desktoptext);
    margin-left: 4%;
  }
  .responsive {
    margin-left: 5%;
  }

  .pad {
    text-align: center;
    padding-right: 2rem;
  }

  .backg {
    background: red !important;
  }

  .move {
    padding-top: 8%;
    padding-left: 2%;
  }
}

.paramsTable {
  padding: 1%;
  overflow-y: auto;
  height: 61vh;
  border-radius: 10px;
}
.paramsTable::-webkit-scrollbar {
  width: 7px;
  background-color: #f5f5f5;
}
.paramsTable::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}
.paramsTable::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 3px;
}
.content-flex {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
}
.grid1 {
  grid-column: 1 / 2;
}
.grid2 {
  grid-column: -1;
  padding-right: 50px;
}
</style>
