<!--Pop up Temporal-->
<template>
  <div>
    <div class="temporal" id="MyModal">
      <Modal2 @close="handleCloseModalEvent()" :show.sync="$store.getters['risk/isPopupUmbralVisible']"  headerClasses="justify-content-center">
        <h2 slot="header" class="titlePop mt-3 mb-3" v-if="nombrePopup==='IMP'">IMPACTO</h2>
        <h2 slot="header" class="titlePop mt-3 mb-3" v-if="nombrePopup==='PROB'">PROBABILIDAD</h2>
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-4"> 
                <h6 class="theImpact" v-if="!titulo1" @click="titulo1 = true">{{data.titulo1}}</h6>
                <fg-input id="in" type="text" @mouseover="getFocus()" v-else @blur="titulo1 = false" @keyup.enter="titulo1 = false" v-model="data.titulo1"></fg-input>
                <div v-for="(vars,index) in varsOne " :key="index">
                    <input type="text"  v-model.trim="vars.label" class="txt-content estiloInput">
                    <input type="number"  v-model.number="vars.value" class="txt-number estiloInputValor" pattern="d*" min="1" max="99">
                    <p-button type="danger" size="sm" @click="deleteVarsOne(index)"><i class="fa fa-trash"></i></p-button>
                </div>
                <h6 class="theImpact"></h6>
                <div class="text-right">
                  <p-button type="info" @click="addImpact()">Añadir Valor de Variable</p-button>
                </div>

              </div>
              <div class="col-lg-4">
                <h6 class="theImpact" v-if="!titulo2" @click="titulo2 = true">{{data.titulo2}}</h6>
                <fg-input id="in" type="text" @mouseover="getFocus()" v-else @blur="titulo2 = false" @keyup.enter="titulo2 = false" v-model="data.titulo2"></fg-input>
                <div v-for="(vars,index) in varsTwo" :key="index">
                    <input ref="vol2" type="text" v-model.trim="vars.label" class="txt-content estiloInput">
                    <input ref="num2" type="number" v-model.number="vars.value"  class="txt-number estiloInputValor" pattern="d*" min="1" max="99">
                    <p-button type="danger" size="sm" @click="deleteVarsTwo(index)"><i class="fa fa-trash"></i></p-button>
                </div>
                <h6 class="theImpact"></h6>
                <div class="text-right">
                  <p-button type="info" @click="addProbability()">Añadir Valor de Variable</p-button>
                </div>
              </div>
                <div class="col-lg-4">
                 <h6 class="theImpact">Umbral de nivel</h6>
                  <div v-for="(level,index) in levels" :key="index">
                     <input  type="text" ref="vol3" v-model.trim="level.label" class="txt-content" style="text-transform:capitalize;width:70px;padding: 2px 3px;border-radius: 4px;border: solid 1px #c0c0c0;">
                     <span class="lblGreater"> ≥ </span>
                     <input type="number" ref="num3" v-model.number="level.value" class="txt-number" style="width:35px; padding: 2px 3px;border-radius: 4px;border: solid 1px #c0c0c0;" pattern="d*" min="1" max="99">
                     <el-tooltip content="Color" placement="top">
                        <p-button :style=colorRisk(level.color) name="drk" size="sm" @click="openColor(index)"><i class="fa fa-eyedropper" aria-hidden="true"></i></p-button>
                     </el-tooltip>   
                     <p-button type="danger" size="sm" @click="deleteLevel(index)"><i class="fa fa-trash"></i></p-button>                  
                  </div>
                  <h6 class="theImpact"></h6>
                  <div class="text-right">
                   <p-button type="info" @click="addUmbral()">Añadir Nivel</p-button>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <template slot="footer">
          <div class="left-side">
            <p-button type="danger" class="buttonsize" @click="closeModal2()" link> Cancelar</p-button>            
          </div>
          <div class="divider"></div>
          <div class="right-side">
            <p-button type="success" class="buttonsize" @click="save()" link >Guardar</p-button>
          </div>
        </template>
      </Modal2>
    </div>   
    <!--Modal colores-->
     <div class="edit-color">
      <modal :show.sync="showColor" headerClasses="justify-content-center" @close="showColor=false">
        <h6 slot="header" class="title title-up mb-0">Colors</h6>
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div v-for="color in colors" :key="color.id">
                  <div class="color" :style=color.label @click="colorPicked(color.value)"> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </modal>
     </div>
  </div>
</template>

<script>
  import Vue from 'vue'
  import {Table, TableColumn} from 'element-ui'
  import { Select, Option } from 'element-ui'
  import PSwitch from 'src/components/UIComponents/Switch.vue'
  import Modal from 'src/components/UIComponents/Modal.vue'
  import Modal2 from 'src/components/UIComponents/Modal2.vue'
  import { Card } from 'src/components/UIComponents'
  import {Badge} from 'src/components/UIComponents'
  import BootstrapVue from 'bootstrap-vue'
  import swal from "sweetalert2";
  import { throttle } from '../../UIComponents/Wizard/throttle';
  import variablesApi from "src/api/organization/umbralVariables";
  import { Tooltip } from 'element-ui'
  import {gralErrorMethods, gralErrorLog} from 'src/mixins/generalMethods.js'

  Vue.use(Table)
  Vue.use(TableColumn)
  Vue.use(Select)
  Vue.use(Option)
  Vue.component(Badge.name, Badge)
  Vue.use(BootstrapVue)
  
  export default{
    props: ['nombrePopup'],
    components: {
      PSwitch,
      Modal,
      Modal2,
      Card,
      [Select.name]: Select,
      [Option.name]: Option,
      [Badge.name]: Badge,
      swal,
      [Tooltip.name]: Tooltip  
    },
    mixins: [gralErrorMethods, gralErrorLog],
    data () {
      return{
        valores:[],
        varsOne: [],
        varsTwo: [],
        levels: [],
        showColor: false,
        titulo1: false,
        titulo2: false,
        data:{
          titulo1: 'Variable 1',
          titulo2: 'Variable 2'
        },
        colors:[
          {
            "value" : '#FABE3C',
            "label" : "background-color:#FABE3C",
          },
          {
            "value" : '#35A97A',
            "label" : "background-color:#35A97A",
          },
          {
            "value" : '#1E98D7',
            "label" : "background-color:#1E98D7",
          },
          {
            "value" : '#5F5F5F',
            "label" : "background-color:#5F5F5F",
          },
          {
            "value" : '#BF3AD3',
            "label" : "background-color:#BF3AD3",
          },
          {
            "value" : '#4A65DA',
            "label" : "background-color:#4A65DA",
          },
          {
            "value" : '#D94747',
            "label" : "background-color:#D94747",
          },
          {
            "value" : '#8A0808',
            "label" : "background-color:#8A0808",
          },
          {
            "value" : '#80FF00',
            "label" : "background-color:#80FF00",
          },
          {
            "value" : '#F5A9F2',
            "label" : "background-color:#F5A9F2",
          },
          {
            "value" : '#BDBDBD',
            "label" : "background-color:#BDBDBD",
          },
          {
            "value" : '#D7DF01',
            "label" : "background-color:#D7DF01",
          },
          {
            "value" : '#9A2EFE',
            "label" : "background-color:#9A2EFE",
          },
          {
            "value" : '#FF0040',
            "label" : "background-color:#FF0040",
          },
          {
            "value" : '#01DF01',
            "label" : "background-color:#01DF01",
          },
          {
            "value" : '#0404B4',
            "label" : "background-color:#0404B4",
          },
          {
            "value" : '#FA58F4',
            "label" : "background-color:#FA58F4",
          },
          {
            "value" : '#FF8000',
            "label" : "background-color:#FF8000",
          },
          {
            "value" : '#61380B',
            "label" : "background-color:#61380B",
          },
          {
            "value" : '#000000',
            "label" : "background-color:#000000",
          },
        ],
      };
    },
    methods: {
      getFocus(){
         document.getElementById("in").focus()
      },
      openColor(index){
        this.showColor = true
        this.i=index
        return this.i
      },
      colorPicked(bur){
        this.showColor = false
        this.levels[this.i].color = bur
      },
      colorRisk(levelColor){
          return 'background-color:'+levelColor+' !important'
      },
      addImpact(){
        this.varsOne.push({
        label: "Nuevo valor",
        value: 1
        });
      },
      addProbability(){
        this.varsTwo.push({
        label: "Nuevo valor",
        value: 1
        });
      },
      addUmbral(){
        this.levels.push({
        label: "Nuevo nivel",
        value: 1
        });
      },
      deleteVarsOne(index){
        //this.impacts.splice(index,1);
        this.showSwal(this.varsOne, index, this.data.titulo1);
      },
      deleteVarsTwo(index){
        this.showSwal(this.varsTwo, index, this.data.titulo2);
      },
      deleteLevel(index){
        this.showSwal(this.levels, index, 'Nivel');
      },
      handleCloseModalEvent(){
        //  this.nombrePopup = ''
      },
      showSwal(table, index, nameTable) {
        let _table = table;
        let _index = index;           
        swal({
          title: "¿Estas seguro?",
          text: "Se eliminará registro de " + nameTable,
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "btn btn-success btn-fill",
          cancelButtonClass: "btn btn-danger btn-fill",
          confirmButtonText: "Si, Eliminar",
          cancelButtonText: "Cancelar",
          buttonsStyling: false
        }).then(() => {
         _table.splice(_index, 1);
          swal({
            title: "¡Eliminado!",
            text: "",
            type: "success",
            confirmButtonClass: "btn btn-success btn-fill",
            buttonsStyling: false
          }).catch(swal.noop);
       }).catch(swal.noop);
      },
      showSwalError(textToShow){
        swal({
            text: textToShow,
            timer: 1800,
            showConfirmButton: false
        }).catch(swal.noop)
      },
      showPraamsUmbral(){
        this.varsOne = this.valores.varsOne
        this.varsTwo = this.valores.varsTwo
        this.levels  = this.valores.levels
      },
      closeModal2(){
        this.$store.commit('risk/mutationUmbral', false)   
      },
      save(){
        //Find duplicates values
        let varsOneDuplicate = this.findDuplicates (this.varsOne, 'value')
        let varsTwoDuplicate = this.findDuplicates (this.varsTwo, 'value')
        let levelsDuplicate  = this.findDuplicates (this.levels, 'value')

        if (varsOneDuplicate.length > 0){
          this.showSwalError('Valores duplicados en Valor 1')
          return
        }
        
        if (varsTwoDuplicate.length > 0){
          this.showSwalError('Valores duplicados en Valor 2')
          return
        }

        if (levelsDuplicate.length > 0){
          this.showSwalError('Valores duplicados en Niveles')
          return
        }

        //validate empty values and labels
        let varsOneValueEmpty = this.findEmpty(this.varsOne, 'value')
        let varsOneLabelEmpty = this.findEmpty(this.varsOne, 'label')
        let varsTwoValueEmpty = this.findEmpty(this.varsTwo, 'value')
        let varsTwoLabelEmpty = this.findEmpty(this.varsTwo, 'label')
        let levelValueEmpty = this.findEmpty(this.levels, 'value')
        let levelLabelEmpty = this.findEmpty(this.levels, 'label')

        if ((varsOneValueEmpty.length > 0) || (varsOneLabelEmpty.length > 0)){
          this.showSwalError('Valores vacios en Valor 1')
          return
        }
        
        if ((varsTwoValueEmpty.length > 0) || (varsTwoLabelEmpty.length > 0)){
          this.showSwalError('Valores vacios en Valor 2')
          return
        }

        if ((levelValueEmpty.length > 0) || (levelLabelEmpty.length > 0)){
          this.showSwalError('Valores vacios en Niveles')
          return
        }
        
        // Get access token and moduleId from URL
        let access_token = this.$cookies.get("token")
        const moduleId = this.$route.path.split('/')[1] 

        let type = ''

        // Sort catalogs
        this.varsOne = this.sortByKey(this.varsOne,'value')
        this.varsTwo = this.sortByKey(this.varsTwo,'value')
        this.levels = this.sortByKey(this.levels,'value')

        // construct request body for  
        let paramsApi = {}
        if (this.nombrePopup === 'PROB') {
          paramsApi = {
            access_token: access_token,
            probabilityVars: {
              moduleId: moduleId,
              titleOne: this.data.titulo1,
              titleTwo: this.data.titulo2,
              varsOne: this.varsOne,
              varsTwo: this.varsTwo,
              levels: this.levels
            }
          }
          type = 'probability'
        } else {
          paramsApi = {
            access_token: access_token,
            impactVars: {
              moduleId: moduleId,
              titleOne: this.data.titulo1,
              titleTwo: this.data.titulo2,
              varsOne: this.varsOne,
              varsTwo: this.varsTwo,
              levels: this.levels
            }
          }
          type = 'impact'
        }

        //Invoke SetUmbralVars to update
        variablesApi.setUmbralVars(paramsApi, type )
          .then()
          .catch(error => {
            this.notifyError(error,error.response.statusText)
            this.writteGenericError("PopUpTemp.vue", error, "Error al guardar Umbrales")
          })

        this.$store.commit('risk/mutationUmbral', false)      
      },
      sortByKey(array, key) {
        return array.sort(function(a, b) {
            var x = a[key]; var y = b[key];
            return ((x < y) ? -1 : ((x > y) ? 1 : 0));
        })
      },
      /** 
       * Find duplicates in a JSON Object
       * @param  {Object} object Source JSON Object
       * @param  {String} key Property to check if is repeated 
       * @return {Array} Duplicate elements in array 
       */
      findDuplicates(object,key ) {
        const pluck = (object, key) => {return object.map(o => o[key])}
        const findDuplicatesInArray = (arr) => arr.filter((item, index) => arr.indexOf(item) != index)
        return findDuplicatesInArray(pluck(object,key))
      },
      findEmpty(object,key){
        const pluck = (object, key) => {return object.map(o => o[key])}
        const vacio = ''
        var empty = pluck(object, key)
        let emptyValue = empty.filter(ev => ev === vacio)
        return emptyValue
      }
    },
    watch: {
      //load when nombrePopup changes
      nombrePopup(name) {
        if (name === '') return

        let access_token = this.$cookies.get("token")
        variablesApi.getUmbralVars({access_token})
          .then( (response) => {
            if (name === 'PROB'){
              this.valores = response.data.probabilityVars
            } else {
              this.valores = response.data.impactVars
            }

            this.data.titulo1 = 'Variable 1'
            this.data.titulo2 = 'Variable 2'

            if(typeof this.valores !== 'undefined'){
              // getting titles
              if (typeof this.valores.titleOne !== 'undefined' ) {
                this.data.titulo1 = this.valores.titleOne
              }
              if (typeof this.valores.titleTwo !== 'undefined' ) {
                this.data.titulo2 = this.valores.titleTwo
              }
              this.showPraamsUmbral()
            } else {
              this.varsOne = []
              this.varsTwo = []
              this.levels = []
              this.valores = []
            }
          })
          .catch(error => {
            this.notifyError(error,error.response.statusText)
            this.writteGenericError("PopUpTemp.vue", error, "Error al cargar Umbrales")
          })
      } 
    },
    mounted () {
    }
  }
</script>

<style lang="scss" scoped>
.el-table .td-actions {
  button.btn {
    margin-right: 5px;
  }
}
.theImpact{
  border-bottom: solid 1px #cdcdcd;
  font-weight: bold;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  text-transform: capitalize;
}
.lblGreater{
  float: center;
  line-height: 28px;
  font-size: 17px;
  margin-right: 5px;
  margin-left: 5px;
}
.color{
  width: 43px;
  height: 43px;
  float: left;
  cursor: pointer;
}
.titlePop{
  text-align: center;
}
.buttonsize{
  font-size: 1.1em;
}
@media screen and (max-width: 991px) {/*breakpoint*/
  .modal-content {
    flex-direction: column;
  }
}
.estiloInput{
  width:120px; 
  margin-right: 3px;
  padding: 2px 3px;
  border-radius: 4px;
  border: solid 1px #c0c0c0;
  text-transform: capitalize;
}
.estiloInputValor{
  width:35px;
  margin-right: 3px;
  padding: 2px 3px;
  border-radius: 4px;
  border: solid 1px #c0c0c0;
}
</style>