<!--Pop up Personalizar umbrales y valores-->
<template>
  <div>
    <div class="edit-val" id="MyModal">
      <modal2 ref="modalMatrix" @close="handleCloseModalEvent()" :show.sync="$store.getters['risk/isPopupUmbralVisible']" headerClasses="justify-content-center">
        <h4 slot="header" class="titlePop">Personalizar matriz, valores y umbrales</h4>
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-4"> 
                <h6 class="theImpact">Impacto</h6>
                <div v-for="(impact,index) in impacts " :key="index">
                    <input type="text"   ref="label"  v-model.trim="impact.label"   class="text-content estiloInput">
                    <input type="number" ref="valor"  v-model.number="impact.value" class="text-content estiloInputValor">
                    <el-tooltip content="Eliminar" placement="top">
                      <p-button type="danger" size="sm" @click="deleteImpact(index)"><i class="fa fa-trash"></i></p-button>
                    </el-tooltip>
                </div>
                <h6 class="theImpact"></h6>
                <div class="text-right">
                  <p-button type="default" link @click="addImpact()">
                    <i class="fa fa-plus"></i> Añadir Impacto
                  </p-button>
                </div>

              </div>
              <div class="col-lg-4">
                <h6 class="theImpact">Probabilidad</h6>
                <div v-for="(probability,index) in probabilities" :key="index">
                    <input type="text"    ref="label1" v-model.trim="probability.label"        class="txt-content estiloInput">
                    <input type="number"  ref="valor1" v-model.number="probability.value" class="txt-content estiloInputValor">
                    <el-tooltip content="Eliminar" placement="top">
                      <p-button type="danger" size="sm" @click="deleteProbability(index)"><i class="fa fa-trash"></i></p-button>
                    </el-tooltip>
                </div>
                <h6 class="theImpact"></h6>
                <div class="text-right">
                  <p-button type="default" link @click="addProbability()">
                    <i class="fa fa-plus"></i> Añadir Probabilidad
                  </p-button>
                </div>
              </div>
                <div class="col-lg-4">
                 <h6 class="theImpact">Umbral de nivel</h6>
                  <div v-for="(umbral,index) in umbrales" :key="index">
                      <input type="text" ref="label2" v-model.trim="umbral.label" class="txt-content" style="text-transform:capitalize;width:70px;padding: 2px 3px;border-radius: 4px;border: solid 1px #c0c0c0;">
                     <span class="lblGreater"> ≥ </span>
                     <input type="number" ref="valor2" v-model.number="umbral.value" class="txt-content" style="width:35px; padding: 2px 3px;border-radius: 4px;border: solid 1px #c0c0c0;">
                      <el-tooltip content="Color" placement="top">  
                        <p-button :style=colorRisk(umbral.color) name="drk" size="sm" @click="openColor(index)"><i class="fa fa-eyedropper" aria-hidden="true"></i></p-button>
                      </el-tooltip>
                     <el-tooltip content="Eliminar" placement="top">
                       <p-button type="danger" size="sm" @click="deleteUmbral(index)"><i class="fa fa-trash"></i></p-button>                  
                     </el-tooltip>
                  </div>
                  <h6 class="theImpact"></h6>
                  <div class="text-right">
                   <p-button type="default" link @click="addUmbral()">
                     <i class="fa fa-plus"></i> Añadir Nivel
                   </p-button>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <template slot="footer">
          <div class="left-side">
            <p-button type="info" class="buttonsize" link @click="handleConfig()"><i class="nc-icon nc-settings-gear-65"></i><span class="text-btn" data-desktoptext=" Configurar Parámetros" data-tablettext=" Config. Params." data-phonetext=" C. Params"></span></p-button>            
          </div>
          <div class="divider"></div>
          <div class="right-side">
            <p-button type="success" class="buttonsize" link @click="save()" >Guardar</p-button>
          </div>
        </template>
      </modal2>
    </div>   
    <!--Modal colores-->
     <div class="edit-color">
      <modal :show.sync="showColor" headerClasses="justify-content-center" @close="showColor=false">
        <h6 slot="header" class="title title-up mb-0">Colores</h6>
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div v-for="color in colors" :key="color.id">
                  <div class="color" :style=color.label @click="colorPicked(color.value)"> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </modal>
     </div>
  </div>
</template>

<script>
  import Vue from 'vue'
  import {Table, TableColumn} from 'element-ui'
  import { Select, Option } from 'element-ui'
  import PSwitch from 'src/components/UIComponents/Switch.vue'
  import Modal from 'src/components/UIComponents/Modal.vue'
  import Modal2 from 'src/components/UIComponents/Modal2.vue'
  import { Card } from 'src/components/UIComponents'
  import {Badge} from 'src/components/UIComponents'
  import BootstrapVue from 'bootstrap-vue'
  import swal from "sweetalert2";
  import { throttle } from '../../UIComponents/Wizard/throttle';
  import { Tooltip } from 'element-ui'
  import {gralMethods, gralErrorMethods, gralErrorLog} from 'src/mixins/generalMethods.js'
  import {mapState, mapGetters, mapMutations } from 'vuex';

  Vue.use(Table)
  Vue.use(TableColumn)
  Vue.use(Select)
  Vue.use(Option)
  Vue.component(Badge.name, Badge)
  Vue.use(BootstrapVue)
  
  export default{
    components: {
      PSwitch,
      Modal,Modal2,
      Card,
      [Select.name]: Select,
      [Option.name]: Option,
      [Badge.name]: Badge,
      swal,
      [Tooltip.name]: Tooltip  
    },
    mixins: [gralMethods, gralErrorMethods, gralErrorLog],
    data () {
      return{
        showModal:true,
        idToEdit: 0,
        impacts: [],
        probabilities: [],
        umbrales: [],
        showColor: false,
        colors:[
          {
            "value" : '#FABE3C',
            "label" : "background-color:#FABE3C",
          },
          {
            "value" : '#35A97A',
            "label" : "background-color:#35A97A",
          },
          {
            "value" : '#1E98D7',
            "label" : "background-color:#1E98D7",
          },
          {
            "value" : '#5F5F5F',
            "label" : "background-color:#5F5F5F",
          },
          {
            "value" : '#BF3AD3',
            "label" : "background-color:#BF3AD3",
          },
          {
            "value" : '#4A65DA',
            "label" : "background-color:#4A65DA",
          },
          {
            "value" : '#D94747',
            "label" : "background-color:#D94747",
          },
          {
            "value" : '#8A0808',
            "label" : "background-color:#8A0808",
          },
          {
            "value" : '#80FF00',
            "label" : "background-color:#80FF00",
          },
          {
            "value" : '#F5A9F2',
            "label" : "background-color:#F5A9F2",
          },
          {
            "value" : '#BDBDBD',
            "label" : "background-color:#BDBDBD",
          },
          {
            "value" : '#D7DF01',
            "label" : "background-color:#D7DF01",
          },
          {
            "value" : '#9A2EFE',
            "label" : "background-color:#9A2EFE",
          },
          {
            "value" : '#FF0040',
            "label" : "background-color:#FF0040",
          },
          {
            "value" : '#01DF01',
            "label" : "background-color:#01DF01",
          },
          {
            "value" : '#0404B4',
            "label" : "background-color:#0404B4",
          },
          {
            "value" : '#FA58F4',
            "label" : "background-color:#FA58F4",
          },
          {
            "value" : '#FF8000',
            "label" : "background-color:#FF8000",
          },
          {
            "value" : '#61380B',
            "label" : "background-color:#61380B",
          },
          {
            "value" : '#000000',
            "label" : "background-color:#000000",
          },
        ],
      };
    },
    computed:{
      ...mapState('organization', ['paramsUmbral'])
    },
    methods: {
      uppercase () {
        const capitalize = (s) => {
          if (typeof s !== 'string') return ''
          return s.charAt(0).toUpperCase() + s.slice(1).toLowerCase()
        }
        this.impacts.map(element => {
          element.label = capitalize(element.label)
        });
        this.probabilities.map(element => {
          element.label = capitalize(element.label)
        });
        this.umbrales.map(element => {
          element.label = capitalize(element.label)
        });
      },
      handleCloseModalEvent(){
        // reset local params data with the origin values 
        this.getParams()
      },
      handleConfig(){
        this.handleCloseModalEvent();
         // setting to false variable to close modal 
        //this.$store.commit('risk/mutationUmbral', false)
        this.$refs.modalMatrix.closeModal()
        let moduleId = this.$route.path.split('/')[1]
        let nameRoute = 'matrix'
        this.$router.push({ name: this._getNameRoute(nameRoute, this.$route.path.split('/')[1])})
      },
      openColor(index){
        this.showColor = true
        this.i=index
        return this.i
      },
      colorPicked(bur){
        this.showColor = false
        this.umbrales[this.i].color = bur
      },
      colorRisk(levelColor){
          return 'background-color:'+levelColor+' !important'
      },
      addImpact(){
        this.impacts.push({
        label: "Nuevo impacto",
        value: 1
        });
      },
      addProbability(){
        this.probabilities.push({
        label: "Nueva probabilidad",
        value: 1
        });
      },
      addUmbral(){
        this.umbrales.push({
        label: "Nuevo nivel",
        value: 1,
        color: "darkgray"
        });
      },
      deleteImpact(index){
        this.impacts.splice(index,1);
      },
      deleteProbability(index){
        this.probabilities.splice(index,1);
      },
      deleteUmbral(index){
        this.umbrales.splice(index,1);
      },
      showSwalError(textToShow){
        swal({
            text: textToShow,
            timer: 1800,
            showConfirmButton: false
        }).catch(swal.noop)
      },
      getParams(){
        try {
          this.impacts = JSON.parse(JSON.stringify(this.$store.getters['organization/impacts']))
          this.probabilities = JSON.parse(JSON.stringify(this.$store.getters['organization/probabilities']))
          this.umbrales = JSON.parse(JSON.stringify(this.$store.getters['organization/levels']))
        } catch (error) {
          this.notifyError(error,"Error al cargar matriz")
          this.writteGenericError("PopupUmbral.vue", error, "Error al cargar matriz")
        }  
      },
      save(){

        // validate duplicate values 
        let impactDuplicate = this.findDuplicates (this.impacts, 'value')
        let probabilitiesDuplicate = this.findDuplicates (this.probabilities, 'value')
        let umbralesDuplicate = this.findDuplicates (this.umbrales, 'value')

        if (impactDuplicate.length > 0){
          this.showSwalError('Valores duplicados en Impacto')
          return
        }
        
        if (probabilitiesDuplicate.length > 0){
          this.showSwalError('Valores duplicados en Probabilidad')
          return
        }

        if (umbralesDuplicate.length > 0){
          this.showSwalError('Valores duplicados en Niveles')
          return
        }

        //validate empty values and labels
        let impactValueEmpty = this.findEmpty(this.impacts, 'value')
        let impactLabelEmpty = this.findEmpty(this.impacts, 'label')
        let probabilityValueEmpty = this.findEmpty(this.probabilities, 'value')
        let probabilityLabelEmpty = this.findEmpty(this.probabilities, 'label')
        let levelValueEmpty = this.findEmpty(this.umbrales, 'value')
        let levelLabelEmpty = this.findEmpty(this.umbrales, 'label')

        if ((impactValueEmpty.length > 0) || (impactLabelEmpty.length > 0)){
          this.showSwalError('Valores vacios en Impacto')
          return
        }
        
        if ((probabilityValueEmpty.length > 0) || (probabilityLabelEmpty.length > 0)){
          this.showSwalError('Valores vacios en Probabilidad')
          return
        }

        if ((levelValueEmpty.length > 0) || (levelLabelEmpty.length > 0)){
          this.showSwalError('Valores vacios en Niveles')
          return
        }
        
        // sort catalogs
        this.impacts = this.sortByKey(this.impacts,'value')
        this.probabilities = this.sortByKey(this.probabilities,'value')
        this.umbrales = this.sortByKey(this.umbrales,'value')

        this.uppercase()

        const access_token = this.$cookies.get("token")
        // get the module from url 
        const moduleId = this.$route.path.split('/')[1] 

        // construct request body for  
        let paramsApi = {
          access_token: access_token,
          params: {
            moduleId: moduleId,
            impacts: this.impacts,
            probabilities: this.probabilities,
            levels: this.umbrales
          }
        }

        this.$store.dispatch('organization/updateUmbrals',paramsApi)
          .then ( 
            this.$store.dispatch('risk/updateLabelInSubrisks'),
            // setting to false variable to close modal 
            this.$store.commit('risk/mutationUmbral', false)          
          )
          .catch (error => {
            this.notifyError(error,"error al actualizar matriz")
            this.writteGenericError("PopupUmbral.vue", error, "Error al actualizar matriz")
            })
      },
      sortByKey(array, key) {
        return array.sort(function(a, b) {
            var x = a[key]; var y = b[key];
            return ((x < y) ? -1 : ((x > y) ? 1 : 0));
        })
      },
      /** 
       * Find duplicates in a JSON Object
       * @param  {Object} object Source JSON Object
       * @param  {String} key Property to check if is repeated 
       * @return {Array} Duplicate elements in array 
       */
      findDuplicates(object,key ) {
        const pluck = (object, key) => {return object.map(o => o[key])}
        const findDuplicatesInArray = (arr) => arr.filter((item, index) => arr.indexOf(item) != index)
        return findDuplicatesInArray(pluck(object,key))
      },
      findEmpty(object,key){
        const pluck = (object, key) => {return object.map(o => o[key])}
        const vacio = ''
        var empty = pluck(object, key)
        let emptyValue = empty.filter(ev => ev === vacio)
        return emptyValue
      }
    },
    created () {
      this.getParams()
    },
    watch:{
      paramsUmbral(newValue, oldValue){
        this.getParams()
      }
    }
  }
</script>

<style lang="scss" scoped>
.el-table .td-actions {
  button.btn {
    margin-right: 5px;
  }
}
.theImpact{
  border-bottom: solid 1px #cdcdcd;
  font-weight: bold;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  text-align: center;
}
.lblGreater{
  float: center;
  line-height: 28px;
  font-size: 17px;
  margin-right: 5px;
  margin-left: 5px;
}
.color{
  width: 43px;
  height: 43px;
  float: left;
  cursor: pointer;
}
.titlePop{
  text-align: center;
}
.buttonsize{
  font-size: 1.1em;
}
@media screen and (max-width: 991px) {/*breakpoint*/
  .modal-content {
    flex-direction: column;
  }
}
.estiloInput{
  width:120px; 
  margin-right: 3px;
  padding: 2px 3px;
  border-radius: 4px;
  border: solid 1px #c0c0c0;
  text-transform: capitalize;
}
.estiloInputValor{
  width:35px;
  margin-right: 3px;
  padding: 2px 3px;
  border-radius: 4px;
  border: solid 1px #c0c0c0;
}
.buttonsize > i:hover{
  &:after{
  animation: nc-settings-gear-65 1.05s .15s infinite cubic-bezier(.4,.62,.57,.98); 
  @keyframes ball-1{100%{ 
        transform: rotate(50vw, 50vh);
    }
}
}
} 
@media screen and (min-width:320px){
.text-btn:before{
  content:attr(data-phonetext);
}
}
@media screen and (min-width:800px){
.text-btn:before{  
  content:attr(data-tablettext);
}
}
@media screen and (min-width:993px){
.text-btn:before{  
  content:attr(data-desktoptext);
}
}
</style>