<template>
  <div>
    <el-drawer
      :title="titleDrawer"
      destroy-on-close
      :visible="true"
      @close="handleDrawClose"
      size="100%"
    >
      <hr />
      <div class="form-sections">
        <div>
          <el-table
            v-loading="loading"
            element-loading-background="rgba(256, 256, 256, 0.9)"
            :element-loading-text="loadingText"
            element-loading-spinner="el-icon-loading"
            class="questios-table"
            :data="questionsTable"
            header-row-class-name="text-primary"
          >
            <el-table-column type="index" class-name="th-contend "></el-table-column>
            <el-table-column label="Pregunta" min-width="150" class-name="th-contend">
              <template slot-scope="props">
                <span v-if="editIndex !== props.$index">
                  {{
                  props.row.title
                  }}
                </span>
                <span v-else>
                  <textarea-autosize
                    class="input-form"
                    :class="{ 'field-error': validation.title }"
                    :min-height="10"
                    :max-height="400"
                    type="text"
                    placeholder="Introduzca su pregunta aquí"
                    v-model="props.row.title"
                  ></textarea-autosize>
                </span>
              </template>
            </el-table-column>
            <el-table-column v-if="type === 'IMP'" label="Variables de impacto" min-width="200">
              <template slot-scope="props">
                <span v-if="editIndex !== props.$index">
                  <el-tag
                    :key="tag"
                    v-for="tag in props.row.impactVars"
                    type="primary"
                    :closable="false"
                    :close-transition="false"
                  >{{ getLabelParams(tag) }}</el-tag>
                </span>
                <span v-else>
                  <el-select
                    multiple
                    class="select-default"
                    size="large"
                    v-model="props.row.impactVars"
                    placeholder="Selecciona parametros involucrados"
                  >
                    <el-option
                      v-for="option in tablaParams"
                      class="select-primary"
                      :value="option._id"
                      :label="option.title"
                      :key="option._id"
                    ></el-option>
                  </el-select>
                </span>
              </template>
            </el-table-column>
            <el-table-column
              class-name="action-buttons td-actions"
              align="right"
              label="Acciones"
              fixed="right"
            >
              <template slot-scope="props">
                <span v-if="editIndex !== props.$index">
                  <p-button
                    type="danger"
                    class="btn-magnify mb-2"
                    size="sm"
                    :disabled="editIndex !== null"
                    @click="handleDelete(props.$index)"
                  >Borrar</p-button>
                  <p-button
                    type="info"
                    class="btn-magnify"
                    size="sm"
                    :disabled="editIndex !== null"
                    @click="handleEdit(props)"
                  >Editar</p-button>
                </span>
                <span v-else>
                  <p-button
                    type="danger"
                    class="btn-magnify mb-2"
                    size="sm"
                    outline
                    @click="handleCancel(props.$index)"
                  >Cancelar</p-button>
                  <p-button
                    type="success"
                    class="btn-magnify"
                    size="sm"
                    @click="handleSave(props.$index)"
                  >Guardar</p-button>
                </span>
              </template>
            </el-table-column>
          </el-table>
          <div v-if="getValidationMsg()" class="text-error">{{ getValidationMsg() }}</div>
          <div class="col-sm-12 mt-2 text-right">
            <p-button type="info" link v-show="!editIndex" @click="handleAdd()" class="text-left">
              <i class="fa fa-plus"></i> Agregar Pregunta
            </p-button>
          </div>
          <div class="col-sm-12 mt-2 text-center">
            <p-button
              type="success"
              round
              style="margin-right: 20px"
              class="btn-next"
              :disabled="editIndex !== null || loading"
              @click="handleFinish"
            >Guardar y continuar con el cuestionario</p-button>
          </div>
        </div>
      </div>
    </el-drawer>
  </div>
</template>
<script>
import Vue from "vue";
import { Drawer, Select, Tag, Option, Steps, Step } from "element-ui";
import VueTextareaAutosize from "vue-textarea-autosize";
import { Table, TableColumn, Col } from "element-ui";
import { Validator } from "vee-validate";
import { mapGetters, mapState } from "vuex";
import {
  gralErrorMethods,
  gralMethods,
  gralErrorLog
} from "src/mixins/generalMethods";
import * as R from "ramda";
Vue.use(Drawer);
Vue.use(VueTextareaAutosize);
Vue.use(Steps);
Vue.use(Step);
Vue.use(Table);
Vue.use(TableColumn);

export default {
  name: "edit-section",
  components: {
    [Option.name]: Option,
    [Select.name]: Select,
    [Tag.name]: Tag
  },
  mixins: [gralErrorMethods, gralMethods, gralErrorLog],
  props: {},
  computed: {
    ...mapState("sections", ["questions"]),
    ...mapGetters("sections", ["sectionsWithQuestionsPenal"]),
    ...mapGetters("risk", ["getTitleAndIdSubrisks"])
  },
  data() {
    return {
      access_token: null,
      originalData: null,
      loading: false,
      validation: {
        title: null,
        task: null
      },
      editIndex: null,
      questionsTable: [],
      questionsToDelete: [],
      organization_id: null,
      section_id: null,
      titleDrawer: null,
      tablaParams: [],
      typeOfQuiz: "",
      type: "",
      subriskId: null,
      quizAssigned: null,
      loadingText:
        "Espere un momento, estamos obteniendo las preguntas del cuestionario"
    };
  },
  async created() {
    this.access_token = this.$cookies.get("token");
    this.type = this.$route.query.type;
    let subriskId = this.$route.query.subriskId;
    let quizAssigned = this.$route.query.quizAssigned;
    let subrisk = this.getTitleAndIdSubrisks.find(
      subrisk => subrisk._id === subriskId
    );
    this.titleDrawer = subrisk ? subrisk.title : "";
    this.organization_id = this.$store.state.auth.organizationId;
    this.typeOfQuiz = quizAssigned + this.type;
    this.subriskId = this.$route.query.subriskId;
    this.quizAssigned = this.$route.query.quizAssigned;
    let paramsApi = {
      access_token: this.access_token,
      moduleId: this.$route.path.split("/")[1],
      typeOf: this.typeOfQuiz
    };
    await this.$store.dispatch("sections/questions", paramsApi);
    this.loading = true;
    let paramsApiSection = {
      access_token: this.access_token,
      moduleId: this.$route.path.split("/")[1],
      subTypeOf: this.typeOfQuiz
    };
    await this.$store.dispatch(
      "sections/getSectionsProgressInfo",
      paramsApiSection
    );
    try {
      let section = this.sectionsWithQuestionsPenal.find(
        sect => sect.questions.typeOf === this.typeOfQuiz
      );
      section = section.questions;
      this.section_id = section._id;
      this.questionsTable = R.clone(this.questions);
    } catch (err) {}

    await this.$store
      .dispatch("risk/getSubriskParams", {
        access_token: this.access_token,
        subrisk_id: subriskId
      })
      .then(x => {
        this.tablaParams = x.data.params;
        this.loading = false;
        this.questionsTable.map(ques => {
          ques.impactVars = ques.impactVars.filter(
            impactVar =>
              this.tablaParams.filter(param => param._id === impactVar).length >
              0
          );
        });
      })
      .catch(error => {
        this.loading = false;
        this.notifyError(error);
        this.writteGenericError(
          "EditQuesParam.vue",
          error,
          "Error getSubriskParams"
        );
      });
  },
  methods: {
    getLabelParams(id) {
      let param = this.tablaParams.find(param => param._id === id);
      return param ? param.title : "";
    },
    handleSave(index) {
      this.resetValidations();
      let questionToSave = this.questionsTable[index];
      if (!questionToSave.title) {
        this.validation.title = "Campo Pregunta es requerido";
        return;
      }
      this.originalData = null;
      this.editIndex = null;
      this.isInformationIncomplete = false;
    },
    handleDelete(index) {
      if (this.questionsTable[index].id) {
        this.questionsToDelete.push(this.questionsTable[index].id);
      }
      this.questionsTable.splice(index, 1);
    },
    handleEdit(props) {
      this.originalData = R.clone(props.row);
      this.editIndex = props.$index;
    },
    handleCancel(index) {
      this.resetValidations();
      this.editIndex = null;
      if (!this.originalData) {
        this.questionsTable.splice(index, 1);
        return;
      }
      this.questionsTable[index] = R.clone(this.originalData);
      this.originalData = null;
    },
    handleAdd() {
      this.originalData = null;
      let questionNumber = this.questionsTable.length + 1;
      this.questionsTable.push({
        questionNumber,
        title: null,
        weight: 1,
        linkedSubrisks: [],
        taskDescription: null,
        section_id: this.section_id,
        organization_id: this.organization_id,
        moduleId: this.$route.path.split("/")[1],
        typeOf: this.typeOfQuiz
      });
      this.editIndex = this.questionsTable.length - 1;
    },
    handleDrawClose() {
      let documentClasses = document.body.classList;
      documentClasses.remove("modal-open");
      this.$router.push({
        name: this._getNameRoute("matrix", this.$route.path.split("/")[1])
      });
    },
    handleFinish() {
      if (this.questionsTable < 1) {
        this.showGenericError(
          "Validación",
          "La sección debe de tener al menos una pregunta"
        );
        return;
      }
      if (this.type === "IMP") {
        let questionWithoutImpactvars = this.questionsTable.find(
          ques => ques.impactVars.length === 0
        );
        if (questionWithoutImpactvars) {
          this.showGenericError(
            "Validación",
            "Todas la preguntas deben tener al menos un parametro asociado"
          );
          return;
        }
      }
      this.updateSection();
    },
    async updateSection() {
      //get questionsToAdd && questionsToUpdate
      let questionsToAdd = null;
      questionsToAdd = this.questionsTable.filter(question => !question.id);

      let questionsToUpdate = [];
      this.questionsTable.map(question => {
        if (question.id) {
          // question.result = -1
          questionsToUpdate.push(question);
        }
      });
      try {
        let paramsApi = {
          access_token: this.access_token,
          questionsToAdd,
          questionsToUpdate,
          questionsToDelete: this.questionsToDelete,
          // solo para poder llevar a cabo la mutación en Vuex
          idSection: this.section_id
        };

        this.loading = true;
        this.loadingText = "Guardando el cuestionario, espere un momento";
        let addResponse = await this.$store.dispatch(
          "sections/updateSection",
          paramsApi
        );
      } catch (error) {
        this.loading = false;
        this.notifyError(error);
        this.writteGenericError(
          "EditSection.vue",
          error,
          "Error update section"
        );
      } finally {
        this.loading = false;
        let documentClasses = document.body.classList;
        documentClasses.remove("modal-open");
        this.$router.push({
          name: this._getNameRoute(
            "secteval-param",
            this.$route.path.split("/")[1]
          ),
          query: {
            type: this.type,
            quizAssigned: this.quizAssigned,
            subriskId: this.quizAssigned
          }
        });
      }
    },
    getError(fieldName) {
      return this.errors.first(fieldName);
    },
    // -> Custom validation
    resetValidations() {
      Object.keys(this.validation).map(element => {
        this.validation[element] = null;
      });
    },
    getValidationMsg() {
      let msg = null;
      Object.keys(this.validation).map(element => {
        if (this.validation[element]) {
          msg = this.validation[element];
          return;
        }
      });
      return msg;
    }
  }
};
</script>
<style lang="scss" scoped>
@import "src/assets/sass/paper/_variables.scss";
.form-sections {
  padding-left: 15px;
  padding-right: 15px;
}
.input-form {
  font-size: 1.2em;
  width: 100%;
  outline: none;
  background: #fff;
  border: solid 1px #ddd;
  line-height: 1.5;
  padding: 5px;
  &:focus-within {
    border: solid 1px $primary-color;
    background: #fff;
    color: #000;
  }
  &::placeholder {
    color: $input-color-placeholder;
  }
}
.questios-table {
  margin-top: 50px;
}
.btn-next {
  margin-top: 20vh;
}
.vue-notifyjs {
  z-index: 3000;
}
.text-error {
  color: $danger-color;
  font-size: 0.8em;
  padding-left: 20px;
}
.field-error {
  border: 1px solid $danger-color;
}
.weight-ques {
  font-size: 2.5em;
  color: $primary-color;
}
</style>
