<template>
  <div>
    <el-drawer
      :title="titleDrawer"
      @opened="handleDrawOpen"
      @open="handleBeforeOpen"
      destroy-on-close
      :visible="show"
      @close="handleDrawClose"
      size="100%">
      <hr>
       <el-steps v-if="operation === 'add'" :active="statusStep" align-center finish-status="success">
        <el-step title="Paso 1" description="Descripción de sección"></el-step>
        <el-step title="Paso 2" description="Dar de Alta Preguntas"></el-step>
      </el-steps>
      <div class="form-sections">
        <div v-if="statusStep==0 && operation === 'add'">
          <div class="row mt-5">
          <div class="col-lg-2"></div>
          <div class="col-sm-12 col-lg-8  mt-2 text-center">
            <h6><label class="col-md-12" style="color:#222">Descripción de sección</label></h6>
            <fg-input
              placeholder="Introduzca descripción que defina la sección"
              name="sectionDescription" 
              :error="getError('sectionDescription')" 
              data-vv-as="Descripción de Sección" 
              v-validate="'required'" 
              v-model="sectionDescription"
            >
            </fg-input>
            <p-button type="info" round
              style="margin-right: 20px"
              class="btn-next"
              @click="nextStep">
              Siguiente Paso
            </p-button>
          </div>
          <div class="col-lg-2"></div>
          </div>
          
          
        </div>
        <div v-if="statusStep==1 | operation === 'update'">
          <el-table 
            v-loading="loading" 
            element-loading-background="rgba(256, 256, 256, 0.9)" 
            element-loading-text="obteniendo preguntas de la sección..."
            element-loading-spinner="el-icon-loading"
            class="questios-table" :data="questionsTable" header-row-class-name="text-primary">
            <el-table-column type="index" class-name="th-contend "></el-table-column>
            <el-table-column
              label="Pregunta"
              min-width="150"
              class-name="th-contend">
              <template slot-scope="props">
                <span v-if="editIndex !== props.$index ">{{ props.row.title}}</span>
                <span v-else>
                  <textarea-autosize 
                    class="input-form"
                    :class="{'field-error': validation.title }" 
                    :min-height="10" 
                    :max-height="400"  
                    type="text"  
                    placeholder="Introduzca su pregunta aquí"
                    v-model="props.row.title">

                  </textarea-autosize>
                </span>
              </template>
            </el-table-column>
            <el-table-column
              label="Tarea Control"
              min-width="150"
              class-name="th-contend">
              <template slot-scope="props">
                <span v-if="editIndex !== props.$index ">{{ props.row.taskDescription}}</span>
                <span v-else>
                  <textarea-autosize 
                    class="input-form"  
                     :class="{'field-error': validation.task }" 
                    :min-height="10" 
                    :max-height="400"  
                    type="text"  
                    placeholder="Introduzca descripción de la tarea de control"
                    v-model="props.row.taskDescription">

                  </textarea-autosize>

                </span>
              </template>
            </el-table-column>
            <el-table-column
              label="Peso"
              min-width="70"
              class-name="th-contend">
              <template slot-scope="props">
                <span v-if="editIndex !== props.$index ">{{ props.row.weight}}</span>
                <span v-else>
                  <fg-input
                    placeholder="Introduzca su pregunta"
                    v-model="props.row.weight"
                    type="number"
                  >
                  </fg-input>
                </span>
              </template>
            </el-table-column>
            <el-table-column 
              label="Subriesgos ligados"
              min-width="200">
              <template slot-scope="props">
                <span v-if="editIndex !== props.$index ">
                  <el-tag 
                    :key="tag"
                    v-for="tag in props.row.linkedSubrisks"
                    type="primary"
                    :closable="false"
                    :close-transition="false"
                  >
                    {{tag}}
                  </el-tag>
                </span>
                <span v-else>
                  <el-select multiple class="select-default"
                            size="large"
                            v-model="props.row.linkedSubrisks"
                            placeholder="Selecciona subriesgo">
                    <el-option v-for="option in getTitleAndIdSubrisks"
                                class="select-primary"
                                :value="option.title"
                                :label="option.title"
                                :key="option._id">
                    </el-option>
                  </el-select>
                </span>
              </template>
            </el-table-column>
            <el-table-column
              class-name="action-buttons td-actions"
              align="right"
              label="Acciones"
              fixed="right">
              <template slot-scope="props">
                <span v-if="editIndex !== props.$index">
                  <p-button 
                    type="danger" 
                    class="btn-magnify mb-2" 
                    size="sm" 
                    :disabled="editIndex !== null "
                    @click="handleDelete(props.$index)">
                    
                    Borrar
                  </p-button>
                  <p-button 
                    type="info" 
                    class="btn-magnify" 
                    size="sm" 
                    :disabled="editIndex !== null "
                    @click="handleEdit(props)">
                    
                    Editar
                  </p-button>
                </span>
                <span v-else>
                  <p-button 
                    type="danger" 
                    class="btn-magnify mb-2" 
                    size="sm"  
                    outline
                    @click="handleCancel(props.$index)">
                    Cancelar
                  </p-button>
                  <p-button 
                    type="success" 
                    class="btn-magnify" 
                    size="sm"  
                    @click="handleSave(props.$index)">
                    Guardar
                  </p-button>

                </span>

              </template>
            </el-table-column>
          </el-table>
          <div v-if="getValidationMsg()" class="text-error">
                    {{getValidationMsg()}}
          </div>
          <div class="col-sm-12 mt-2 text-right">
            <p-button type="info" 
                      link 
                      v-show="!editIndex"
                      @click="handleAdd()" 
                      class="text-left">
              <i class="fa fa-plus"></i>  Agregar Pregunta
            </p-button>
          </div>
          <div class="col-sm-12 mt-2 text-center">
            <div>
              Peso Total <span class="weight-ques">{{totalWeight}}</span>
            </div>
            <p-button type="success" round
              style="margin-right: 20px"
              class="btn-next"
              :disabled="editIndex !== null || loading  "
              @click="handleFinish">
              Validar Datos y Guardar
            </p-button>  
          </div>
        </div>
      </div>
    </el-drawer> 
  </div>
</template>
<script>
import Vue from 'vue'
import { Drawer, Select, Tag, Option, Steps, Step } from 'element-ui'
import VueTextareaAutosize from 'vue-textarea-autosize'
import { Table, TableColumn, Col } from "element-ui";
import { Validator } from 'vee-validate'
import { mapGetters, mapState } from 'vuex';
import {gralErrorMethods, gralMethods, gralErrorLog} from 'src/mixins/generalMethods'
import * as R from 'ramda'
Vue.use(Drawer);
Vue.use(VueTextareaAutosize);
Vue.use(Steps);
Vue.use(Step);
Vue.use(Table);
Vue.use(TableColumn);


export default {
  name: 'edit-section-penal',
  components: {
    [Option.name]: Option,
    [Select.name]: Select,
    [Tag.name]: Tag
  },
  mixins: [gralErrorMethods, gralMethods, gralErrorLog],
  props:{
    show: {
      type: Boolean,
      default: false
    },
    operation:{
      type: String,
      description: 'Operation type (add|update)',
    },
    data:{
      type: [Object, String],
      description: 'Target data',
    },
  },
  computed: {
    ...mapState ('sections',['questions']),
    ...mapGetters ('sections',['sequentialSectionNumber']),
    ...mapGetters ('risk',['getTitleAndIdSubrisks']),
    totalWeight: function ()  {
      let totalWeight = null;
      this.questionsTable.map( question => {
        totalWeight += new Number(question.weight)
      })
      return totalWeight
    }
  },
  data() {
    return {
      access_token: null,
      originalData: null,
      loading: null,
      validation: {
        title: null,
        task: null
      },
      editIndex: null,
      sectionDescription: null,
      statusStep: 0,
      questionsTable:[],
      questionsToDelete: [],
      organization_id: null,
      section_id: null,
      titleDrawer: null,
      sectionNumber: null,
      test:[
        'uno'
      ]
    }
  },
  created() {
    this.access_token = this.$cookies.get("token")
  },
  methods: {
    handleSave(index){
      this.resetValidations()
      let questionToSave = this.questionsTable[index]
      if (!questionToSave.title ) {
        this.validation.title = "Campo Pregunta es requerido"
        return
      } 

      if (!questionToSave.taskDescription ) {
        this.validation.task = "Campo Tarea Control es requerido"
        return
      } 
      this.originalData = null
      this.editIndex = null
      this.isInformationIncomplete = false
    },
    handleDelete (index){
      if (this.questionsTable[index].id){
        this.questionsToDelete.push(this.questionsTable[index].id)
      }
      this.questionsTable.splice(index, 1)
    },
    handleEdit (props){
      this.originalData = R.clone(props.row)
      this.editIndex = props.$index
    },
    handleCancel(index){
      this.resetValidations()
      this.editIndex = null
      if (!this.originalData) {
        this.questionsTable.splice(index, 1)
        return
      }
      this.questionsTable[index] = R.clone(this.originalData)
      this.originalData = null
    },
    handleAdd(){
      this.originalData = null
      let questionNumber = this.questionsTable.length + 1
      this.questionsTable.push({ 
        questionNumber, 
        title: null, 
        weight: 1,  
        linkedSubrisks:[], 
        taskDescription: null,
        section_id: this.section_id,
        organization_id: this.organization_id,
        moduleId: this.$route.path.split('/')[1],
        typeOf: 'section' + this.sectionNumber
      })
      this.editIndex = this.questionsTable.length - 1
    },
    handleDrawOpen(){
      this.editIndex = null
      this.resetValidations()
    },
    async handleBeforeOpen(){
      if (this.operation === 'update') {
        this.questionsTable = []
        this.titleDrawer = this.data.title
        
        let paramsApi = {
          access_token: this.access_token, 
          moduleId: this.data.moduleId,
          typeOf: this.data.typeOf 
        }
        this.sectionNumber = this.data.typeOf.slice(7)
        
        try {
          this.loading = true
          await this.$store.dispatch('sections/questions', paramsApi)
          this.questionsTable = R.clone(this.questions)         
          this.section_id = this.questionsTable[0].section_id
          this.organization_id = this.questionsTable[0].organization_id
        } catch (error) {
          this.notifyError(error)
          this.writteGenericError("EditSection.vue", error, "Error get questions")
        } finally {
          this.loading = false
        }
      }
      if (this.operation === 'add'){
        this.sectionDescription = null
        this.statusStep = 0
        this.questionsTable = []
        this.titleDrawer = 'Sección ' + this.sequentialSectionNumber
        this.sectionNumber = this.sequentialSectionNumber
      }
      //this.questionsToDelete = []
    },
    handleDrawClose (){
      this.$emit('close');
    },
    handleFinish (){
      if (this.questionsTable < 1 ){
        this.showGenericError('Validación',"La sección debe de tener al menos una pregunta")
        return
      }

      let totalWeight = 0
      this.questionsTable.map( question => {
        totalWeight += new Number(question.weight)
      })

      if (totalWeight !== 100 ){
        this.showGenericError('Validación',"La suma total de los pesos debe de ser 100")
        return
      }
    
      if (this.operation === 'add'){
        this.addSection()
      } else if (this.operation === 'update'){
        this.updateSection()
      } 
    },
    async addSection (){
      try {
        let paramsApi = {
          access_token: this.access_token,
          description: this.sectionDescription,
          typeOf: 'section' + this.sectionNumber,
          title: this.titleDrawer,
          moduleId: this.$route.path.split('/')[1],
          questions: this.questionsTable
        }
        this.loading = true
        let addResponse = await this.$store.dispatch('sections/newSection', paramsApi )
        if (addResponse.status == 200) {
          this.handleDrawClose();
        }     
      } catch (error) {
        this.notifyError(error)
        this.writteGenericError("EditSection.vue", error, "Error add newSection")
      }
      finally{
        this.loading = false
      }
    },
    async updateSection (){
      //get questionsToAdd && questionsToUpdate
      let questionsToAdd = null
      questionsToAdd = this.questionsTable.filter( question => !question.id )

      let questionsToUpdate = [];
      this.questionsTable.map( question => {
        if (question.id){
          question.result = -1
          questionsToUpdate.push(question)
        }
      })
      try {
        let paramsApi = {
          access_token: this.access_token,
          questionsToAdd,
          questionsToUpdate,
          questionsToDelete: this.questionsToDelete,
          // solo para poder llevar a cabo la mutación en Vuex
          idSection: this.data._id
        }

        this.loading = true
        let addResponse = await this.$store.dispatch('sections/updateSection', paramsApi )
        if (addResponse.status == 200) {
          this.handleDrawClose();
        }    
      } catch (error) {
        this.notifyError(error)
        this.writteGenericError("EditSection.vue", error, "Error update section")
      }
      finally{
        this.loading = false
      }
    },
    getError (fieldName) {
      return this.errors.first(fieldName)
    },
    // -> Custom validation 
    resetValidations(){
      Object.keys(this.validation).map(element => {
        this.validation[element] = null
      })
    },
    getValidationMsg(){
      let msg = null
      Object.keys(this.validation).map(element => {
        if (this.validation[element]) {
          msg = this.validation[element]
          return
        }
      })
      return msg
    },
     // <- Custom validation 
    nextStep(){
      return this.$validator.validateAll().then(isValid => {
        isValid ? this.statusStep ++ : false;
      });
    }
  },
}
</script>
<style lang="scss" scoped>
  @import "src/assets/sass/paper/_variables.scss";
  .form-sections{
    padding-left: 15px;
    padding-right: 15px;
  }
  .input-form{
    font-size: 1.2em;
    width:100%;
    outline:none;
    background:#fff;
    border: solid 1px #ddd;
    line-height: 1.5;
    padding: 5px;
    &:focus-within {
      border: solid 1px $primary-color;
      background:#fff;
      color:#000;
    }
    &::placeholder{
      color: $input-color-placeholder;
    }
  }
  .questios-table {
    margin-top: 50px;
  }
  .btn-next{
    margin-top: 20vh;
  }
  .vue-notifyjs {
    z-index: 3000;
  }
  .text-error{
    color:$danger-color;
    font-size: .8em;
    padding-left: 20px;
  }
  .field-error{
    border: 1px solid $danger-color;
  }
  .weight-ques{
    font-size: 2.5em;
    color: $primary-color;
  }

</style>
