<template>
  <div>
    <div>
      <el-page-header
        v-show="questionIndex < questions.length"
        style="padding-bottom:20px;"
        @back="goToLink"
        title="Ir a Cuestionario"
        :content="contentHeader"
      ></el-page-header>
    </div>
    <div class="card" name="quest">
      <div
        class="card-header text-center"
        v-loading="loading"
        element-loading-background="rgba(256, 256, 256, 0.9)"
        element-loading-text="cargando cuestionario..."
        element-loading-spinner="el-icon-loading"
      >
        <b-container>
          <b-row>
            <b-col cols="12" md="12" style="padding-left: 5%; padding-right:5%;">
              <el-progress
                :percentage="porcentaje"
                :text-inside="true"
                :stroke-width="18"
                color="primary"
              ></el-progress>
            </b-col>
            <br />
            <b-col cols="12" md="12" class="mt-3">
              <div v-for="(question, index) in questions" :key="index">
                <div v-show="index === questionIndex">
                  <h5>{{ question.title }}</h5>
                  <center>
                    <div class="col-lg-9">
                      <div class="row">
                        <div class="col-lg-12">
                          <p-button
                            style="width:171.55px; padding-right:200px;"
                            v-if="question.result == 1"
                            @click="selectAns(index, 1)"
                            class="btnQ1"
                          >
                            <span class="circle">a</span>
                            <label style="padding-left:20px; padding-top:5px;">Sí</label>
                          </p-button>
                          <!------>
                          <p-button
                            style="width:171.55px; padding-right:200px;"
                            v-else
                            @click="selectAns(index, 1)"
                            class="btnQ"
                          >
                            <span class="circle">a</span>
                            <label style="padding-left:20px; padding-top:5px;">Sí</label>
                          </p-button>
                          <!------>
                        </div>
                        <hr />
                        <div class="col-lg-12">
                          <p-button
                            style="width:160.55px; padding-right:200px;"
                            v-if="question.result == 0"
                            @click="selectAns(index, 0)"
                            class="btnQ1"
                          >
                            <span class="circle">b</span>
                            <label style="padding-left:20px; padding-top:5px; ">No</label>
                          </p-button>
                          <!------>
                          <p-button
                            style="width:171.55px; padding-right:200px;"
                            v-else
                            @click="selectAns(index, 0)"
                            class="btnQ"
                          >
                            <span class="circle">b</span>
                            <label style="padding-left:20px; padding-top:5px;">No</label>
                          </p-button>
                          <!------>
                        </div>
                      </div>
                    </div>
                  </center>
                </div>
              </div>
            </b-col>
            <b-col cols="8" md="4" v-show="questionIndex != questions.length">
              <el-tooltip content="Ir a pregunta anterior" placement="top">
                <p-button
                  v-if="questionIndex > 0"
                  @click.native="prev()"
                  type="info"
                  round
                  class="btn-magnify"
                >
                  <i class="el-icon-arrow-left"></i> Revisar Anterior
                </p-button>
              </el-tooltip>
            </b-col>
            <b-col cols="8" md="4" v-show="questionIndex != questions.length">
              <p-button
                :disabled="hasNotChange"
                @click.native="backup"
                type="default"
                outline
                round
              >
                <i class="el-icon-s-order"></i> Guardar y continuar después
              </p-button>
            </b-col>

            <b-col cols="12" md="12">
              <div v-show="questionIndex === questions.length && questions.length !==0">
                <h3>Resultado final: {{ finalTotal }}</h3>
                <br />
                <p-button type="info" @click="Update">Continuar</p-button>
              </div>
              <div v-show="isEmpty">
                <h3>Ooops, parece que no tienes configurada ninguna pregunta</h3>
                <p-button type="info" @click="goToLink">Evaluar otra sección</p-button>
              </div>
            </b-col>
          </b-row>
        </b-container>
      </div>
    </div>
  </div>
</template> 
<script>
import Vue from "vue";
import BootstrapVue from "bootstrap-vue";
import { Progress } from "element-ui";
import { Tooltip } from "element-ui";
import { PageHeader } from "element-ui";
import apiQas from "src/api/question/question";
import swal from "sweetalert2";
import {
  gralErrorMethods,
  gralMethods,
  gralErrorLog
} from "src/mixins/generalMethods";
import { mapState } from "vuex";

Vue.use(BootstrapVue);
Vue.use(Progress);
Vue.use(PageHeader);

export default {
  components: {
    [Tooltip.name]: Tooltip
  },
  mixins: [gralErrorMethods, gralMethods, gralErrorLog],
  data() {
    return {
      results: [],
      questionIndex: 0,
      userResponses: 0,
      organizationId: "",
      moduleId: "",
      access_token: "",
      hasNotChange: true,
      typeOf: "",
      loading: true,
      contentHeader: null,
      type: null,
      quizAssigned: null,
      subriskId: null,
      sumaImpacto: 0,
      sumaProbabilidad: 0,
      average: 0,
      tablaRiesgos: [],
      datasubrisk: null,
      tablaParams: null,
      questionsTable: null
    };
  },
  computed: {
    ...mapState("sections", ["questions", "isEmpty", "finalTotal"]),
    porcentaje() {
      var porc;
      if (this.questions.length == 0) {
        porc = 100;
      } else {
        porc = (100 / this.questions.length) * this.questionIndex;
      }
      return Math.floor(porc);
    },
    impactsCatalog() {
      return this.$store.getters["organization/impacts"];
    },
    probabilitiesCatalog() {
      return this.$store.getters["organization/probabilities"];
    },
    levelsCatalog() {
      return this.$store.getters["organization/levels"];
    }
  },
  created() {
    //this.organizationId = this.$store.state.auth.organizationId
    //console.log('Questions',this.questions)
    this.moduleId = this.$route.path.split("/")[1];
    // this.moduleId = "penal";
    this.type = this.$route.query.type;
    this.subriskId = this.$route.query.subriskId;
    this.quizAssigned = this.$route.query.quizAssigned;
    this.access_token = this.$cookies.get("token");
    this.typeOf = this.subriskId + this.type;
    this.tablaRiesgos = this.$store.state.risk.subriskTable;
    this.tablaRiesgos.find(subrisk => {
      if (subrisk._id === this.subriskId) {
        this.datasubrisk = subrisk;
        return;
      }
    });
    this.loadQuestions();
    this.chooseContentHeader();
    this.$store
      .dispatch("risk/getSubriskParams", {
        access_token: this.access_token,
        subrisk_id: this.subriskId
      })
      .then(x => {
        this.tablaParams = x.data.params;
      })
      .catch(error => {
        this.notifyError(error);
        this.writteGenericError(
          "EditQuesParam.vue",
          error,
          "Error getSubriskParams"
        );
      });
  },
  methods: {
    loadQuestions() {
      let paramsApi = {
        access_token: this.access_token,
        moduleId: this.moduleId,
        typeOf: this.typeOf
      };
      this.$store
        .dispatch("sections/questions", paramsApi)
        .then(() => {
          this.loading = false;
        })
        .catch(error => {
          if (error.message == "Network Error") {
            this.msgEmpQas =
              "Ooops, parece que no fue posible acceder a la encuenta";
            this.$store.dispatch("question/setEmpty", true);
          } else {
            this.notifyError(
              error,
              "El servidor no esta diponible, intente mas tarde"
            );
            this.writteGenericError("quizRisk.vue", error, "questions");
          }
          this.loading = false;
        });
    },
    selectAns(index, value) {
      this.$store
        .dispatch("sections/updateAns", { index: index, value: value })
        .then(() => {
          this.hasNotChange = false;
          if (this.questionIndex < this.questions.length - 1) {
            this.next();
          } else {
            this.finalResult();
          }
        });
    },
    goToLink() {
      this.$router.push({
        name: this._getNameRoute(
          "secteval-param",
          this.$route.path.split("/")[1]
        ),
        query: {
          type: this.type,
          quizAssigned: this.quizAssigned,
          subriskId: this.quizAssigned
        }
      });
    },
    chooseContentHeader() {
      switch (this.moduleId) {
        case "penal":
          this.contentHeader = "Evaluación Módulo Penal";
          break;
        case "money":
          this.contentHeader = "Evaluación Módulo Lavado de dinero";
          break;
        case "continuidad":
          this.contentHeader =
            "Evaluación Módulo Continuidad de Negocio Covid-19";
          break;
      }
    },
    finalResult() {
      let paramsApi = {
        access_token: this.access_token,
        typeOf: this.typeOf
      };
      this.$store
        .dispatch("sections/calculateTotalsAndSave", paramsApi)
        .then(res => {
          this.next();
        });
    },
    backup() {
      switch (this.$route.path.split("/")[1]) {
        case "money":
        case "penal":
          let paramsApiPenal = {
            access_token: this.access_token,
            typeOf: this.typeOf,
            moduleId: this.$route.path.split("/")[1]
          };
          this.$store
            .dispatch("sections/calculateValuesParamsMatrix", paramsApiPenal)
            .then(res => {
              this.showGenericSuccess(
                "Progreso guardado con exito",
                "Puedes continuar la encuesta en cualquier momento"
              );
              this.goToLink();
            });
          break;
        default:
          let paramsApi = {
            access_token: this.access_token,
            typeOf: this.typeOf
          };
          this.$store.dispatch("sections/saveProgress", paramsApi).then(res => {
            this.showGenericSuccess(
              "Progreso guardado con exito",
              "Puedes continuar la encuesta en cualquier momento"
            );
            this.goToLink();
          });
          break;
      }
    },
    next: function() {
      this.questionIndex++;
    },
    prev: function() {
      this.questionIndex--;
    },
    onlyLabelRisk(queryValue) {
      let catalog = this.levelsCatalog;
      let label = "No asignado";
      let catalogSorted = JSON.parse(JSON.stringify(catalog));
      this.sortJsonObject(catalogSorted, "desc");
      catalogSorted.forEach(item => {
        if (queryValue >= item.value && label === "No asignado") {
          label = item.label;
        }
      });
      return label;
    },
    sortJsonObject(items, type) {
      if (type === "desc") {
        items.sort((a, b) => {
          if (a.value < b.value) {
            return 1;
          }
          if (a.value > b.value) {
            return -1;
          }
          return 0;
        });
      } else {
        items.sort((a, b) => {
          if (a.value > b.value) {
            return 1;
          }
          if (a.value < b.value) {
            return -1;
          }
          return 0;
        });
      }
    },
    async Update() {
      this.datasubrisk.params.forEach(item => {
        this.riskTable = JSON.parse(JSON.stringify(item));
        let paramsApi;
        if (this.type === "PROB") {
          this.riskTable.probability.value = this.$store.state.sections.finalTotal;
        }
        if (this.type === "IMP") {
          this.riskTable.impact.value = this.getValueIMP(this.riskTable);
        }
        this.riskTable.level.value =
          this.riskTable.impact.value * this.riskTable.probability.value;
        this.promedio();
        paramsApi = {
          access_token: this.$cookies.get("token"),
          subriskId: this.subriskId,
          levelInhAvg: {
            value: this.average,
            label: this.onlyLabelRisk(this.average)
          },
          probabilityAvg: { value: this.sumaProbabilidad },
          impactAvg: { value: this.sumaImpacto },
          params: this.riskTable
        };
        this.$store
          .dispatch("risk/updateSubriskParams", paramsApi)
          .then(x => {})
          .catch(error => {
            this.notifyError(error);
            this.writteGenericError(
              "quizRiskPenal.vue",
              error,
              "Error updateSubriskParams"
            );
          });
      });
      this.goToLink();
    },
    promedio() {
      this.sumaImpacto = 0;
      this.sumaProbabilidad = 0;
      this.average = 0;
      for (let i = 0; i < this.datasubrisk.params.length; i++) {
        this.sumaImpacto =
          this.datasubrisk.params[i].impact.value + this.sumaImpacto;
        this.sumaProbabilidad =
          this.datasubrisk.params[i].probability.value + this.sumaProbabilidad;
      }
      this.sumaImpacto = this.sumaImpacto / this.tablaParams.length;
      this.sumaProbabilidad = this.sumaProbabilidad / this.tablaParams.length;
      this.sumaImpacto = Math.round(this.sumaImpacto);
      this.sumaProbabilidad = Math.round(this.sumaProbabilidad);
      this.average = this.sumaProbabilidad * this.sumaImpacto;
      this.average = Math.round(this.average);
      if (isNaN(this.average)) {
        this.average = 0;
      }
    },
    getValueIMP(riskTable) {
      let res = 0;
      this.questions.forEach(item => {
        // console.log("rsk",riskTable._id)
        // console.log("ITM",item.impactVars)
        let tam = item.impactVars.length;
        // console.log(tam,item.id)

        if (tam > 0) {
          // console.log("Contiene impact vars")
          item.impactVars.forEach(item2 => {
            if (item2 === riskTable._id) {
              res = res + item.result;
            }
          });
        }
      });
      // console.log("Valor de res",res)
      return res;
    }
  }
};
</script>
<style lang="scss">
@import "src/assets/sass/paper/_variables.scss";
.mySpan {
  text-align: center;
  font-size: 12px;
  color: black;
}
.btnQ {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #dddddd;
  border-radius: 5px;

  -webkit-transition: width 2s;
  transition: width 2s;
}
.btnQ:hover {
  color: #000;
  background: $info-color;
  -webkit-transition: width 2s;
  transition: width 2s;
  > span {
    background: #2c2c2c;
    -webkit-transition: width 2s;
    transition: width 2s;
  }
  > label {
    color: white;
    padding-top: 5px;
    -webkit-transition: padding-top 0.2s;
    transition: padding-top 0.2s;
  }
}
.btnQ:focus {
  color: #ddd;
  background: darken(#51bcda, 10%);
  background-color: $info-states-color;
  box-shadow: 3px -2px 0.1px 0px rgba(0, 0, 0, 0.75);
  -webkit-transition: padding-bottom 0.1s;
  transition: padding-bottom 0.1s;
  > span {
    background: #2c2c2c;
    -webkit-transition: color 0.1s;
    transition: color 0.1s;
  }
  > label {
    color: white;
  }
}
.btnQ1 {
  padding-top: 20px;
  padding-bottom: 20px;
  background: darken(#51bcda, 20%);
  border-radius: 5px;
  background-color: $info-states-color;

  -webkit-transition: width 2s;
  transition: width 2s;
  > span {
    background: #2c2c2c;
    -webkit-transition: color 0.1s;
    transition: color 0.1s;
  }
  > label {
    color: white;
  }
}
.circle {
  color: white;
  margin: 10%;
  font-size: 15px;
  width: 15px;
  height: 15px;
  text-transform: lowercase;
  background-color: #2c2c2c;
  padding: 3px 3px 5px 8px;
  border-radius: 50%;
  -webkit-transition: width 2s;
  transition: width 2s;
}
</style>
