<template>
  <div>
    <div
      v-loading="loading"
      element-loading-background="rgba(256, 256, 256, 0.9)"
      element-loading-text="cargando secciones..."
      element-loading-spinner="el-icon-loading"
    >
      <div>
        <el-page-header
          style="padding-bottom:20px;"
          @back="goBackPenal"
          title="Ir a Configuración de Parámetros"
          :content="contentHeader"
        >
        </el-page-header>
        
        <div class="text-center" v-if="0 !== sectionsWithQuestions.length">
          <section-chart-card
            class="cardSection"
            v-for="(card, index) in sectionsWithQuestions"
            :key="index"
            :section="index + 1"
            :typeOf="card.questions.typeOf"
            title1=""
            :description="card.questions.title"
            :id="index + ''"
            :idQuestion="card.questions._id"
            :totalQues="card.questions.total"
            :progressQues="card.questions.progress"
            :optionsMenu="optionsMenu"
            :idEditing="idEditing"
            @closeEditMode="closeEditMode"
            @click="goToLink"
            @clickMenu="handleClickOnMenu"
          />
          <div
            v-if="
              this.$route.path.split('/')[1] !== 'autoevaluation' &&
                this.$route.path.split('/')[1] === 'anticorruption'
            "
            class="card add"
            @click="handleDrawer()"
          >
            <div class="card-header add">
              <i class="fa fa-plus"></i>
            </div>
            <div class="card-body">Agregar Nueva Sección</div>
          </div>
          <edit-section
            :data="dataDrawer"
            :operation="operation"
            :show.sync="showDrawerSeccion"
            @close="showDrawerSeccion = false"
          ></edit-section>
        </div>
        <div class="text-center" v-else>
          <i class="el-icon-warning length" style="font-size:50px"></i>
          <h3>
            Ooops, parece que no tienes configurada ninguna seccion de
            evaluación
          </h3>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ChartCard from "src/components/UIComponents/Cards/ChartCard";
import { Badge } from "src/components/UIComponents";
import { Card } from "src/components/UIComponents";
import SectionChartCard from "src/components/UIComponents/Cards/SectionChartCard.vue";
import EditSection from "src/components/Dashboard/Anticorruption/EditSection.vue";
import apiSectInfo from "src/api/organization/umbralSectInfo";
import {
  gralErrorMethods,
  gralMethods,
  gralErrorLog
} from "src/mixins/generalMethods";
import { Col, Switch } from "element-ui";
import { mapState, mapGetters } from "vuex";
import ChartDataLabels from "chartjs-plugin-datalabels";
import swal from "sweetalert2";

import Vue from "vue";
import { PageHeader } from "element-ui";
Chart.plugins.unregister(ChartDataLabels);
Vue.use(PageHeader);

export default {
  mixins: [gralErrorMethods, gralMethods, gralErrorLog],
  components: {
    ChartCard,
    Card,
    Badge,
    SectionChartCard,
    EditSection
  },
  /**
   * Chart data used to render stats, charts. Should be replaced with server data
   */
  data() {
    return {
      organizationId: "",
      access_token: "",
      moduleId: "",
      subTypeOf: "",
      loading: true,
      showDrawerSeccion: false,
      operation: null,
      idEditing: null,
      dataDrawer: null,
      type: null,
      subriskId: null,
      quizAssigned: null,
      optionsMenu: [{ id: "edit", label: "Editar Preguntas" }],
      contentHeader: null
    };
  },
  created() {
    this.organizationId = this.$store.state.auth.organizationId;
    this.access_token = this.$cookies.get("token");
    this.type = this.$route.query.type;
    this.subriskId = this.$route.query.subriskId;
    this.quizAssigned = this.$route.query.quizAssigned;
    this.moduleId = this.$route.path.split("/")[1];
    this.subTypeOf = this.subriskId + this.type;
    switch (this.moduleId) {
      case "penal":
        this.contentHeader = "Evaluación Módulo Penal";
        break;
      case "money":
        this.contentHeader = "Evaluación Módulo Lavado de dinero";
        break;
      case "continuidad":
        this.contentHeader =
          "Evaluación Módulo Continuidad de Negocio Covid-19";
        break;
    }
    localStorage.setItem("quizTypeOf", this.subTypeOf);
    this.getSelects();
  },
  computed: {
    ...mapGetters("sections", ["sectionsWithQuestions"])
  },
  methods: {
    handleDrawer() {
      this.showDrawerSeccion = true;
      this.operation = "add";
    },
    async closeEditMode(newDescription) {
      let paramsApi = {
        access_token: this.access_token,
        id: this.idEditing,
        questions: {
          description: newDescription
        }
      };
      try {
        let res = await this.$store.dispatch(
          "sections/updateInfoProgressSections",
          paramsApi
        );
      } catch (error) {
        this.notifyError(error, "Ha ocurrido un problema en el servidor");
        this.writteGenericError(
          "SectEval.vue",
          error,
          "Error en handleClickOnMenu"
        );
      } finally {
        this.idEditing = null;
      }
    },
    async handleClickOnMenu(item) {
      switch (item.optionClicked) {
        case "edit":
          this.$router.push({
            name: this._getNameRoute("editQuizParam", this.moduleId),
            query: {
              type: this.type,
              quizAssigned: this.quizAssigned,
              subriskId: this.subriskId
            }
          });
          break;
        default:
          break;
      }
    },
    getSelects() {
      let paramsApi = {
        access_token: this.access_token,
        moduleId: this.moduleId,
        subTypeOf: this.subTypeOf
      };
      this.$store
        .dispatch("sections/getSectionsProgressInfo", paramsApi)
        .then(() => {
          this.loading = false;
        })
        .catch(error => {
          this.notifyError(
            error,
            "Ha ocurrido un problema, intentelo mas tarde"
          );
          this.loading = false;
          this.writteGenericError(
            "SectEval.vue",
            error,
            "Error al cargar secciones, getSectionsProgressInfo"
          );
        });
    },
    goToLink(myTypeOf) {
      //   alert("Ir a " + myTypeOf);
      localStorage.setItem("quizTypeOf", this.myTypeOf);
      this.$router.push({
        name: this._getNameRoute("quizRiskParam", this.moduleId),
        query: {
          type: this.type,
          quizAssigned: this.quizAssigned,
          subriskId: this.quizAssigned
        }
      });
    },
    goBackPenal() {
      this.$router.push({ name: this._getNameRoute("matrix", this.moduleId) });
    },
    showDeleteMsg() {
      return swal({
        title: "¿Estás seguro?",
        text: "Esta acción no puede deshacerse",
        type: "warning",
        showCancelButton: true,
        confirmButtonClass: "btn btn-success btn-fill",
        cancelButtonClass: "btn btn-danger btn-fill",
        confirmButtonText: "Sí, Eliminar",
        cancelButtonText: "Cancelar",
        buttonsStyling: false
      })
        .then(response => (response ? response : false))
        .catch(error => (error ? console.log(error) : false));
    }
  }
};
</script>

<style lang="scss" scoped>
@import "src/assets/sass/paper/_variables.scss";
.cardSection:hover {
  background: $hover-color;
  cursor: hand;
  cursor: pointer;
}
.card.add {
  color: $primary-color;
  height: 150px;

  .card-header.add {
    padding-top: 45px !important;
  }
  &:hover {
    background: $hover-color;
    cursor: pointer;
  }
}
</style>
