<template>
  <card>
    <template slot="header">
      <h4 class="card-title">Tareas</h4>
      <p class="category">Incidencias</p>
    </template>
    <div class="table-full-width table-tasks">
      <table class="table">
        <tbody>
        <task v-for="(task, index) in tasks"
              :key="task.title"
              :task="task"
              :index="index"
              @on-edit="handleTaskEdit"
              @on-delete="handleTaskDelete">

        </task>
        </tbody>
      </table>
    </div>
    <template slot="footer">
      <hr>
      <div class="stats">
        <i class="fa fa-history"></i> Actualizado hace 3 minutos
      </div>
    </template>
  </card>
</template>
<script>
  import Task from './Task.vue'
  import { Card } from 'src/components/UIComponents'

  export default {
    components: {
      Task,
      Card
    },
    data() {
      return {
        tasks: [
          {
            done: true,
            img: '/static/img/faces/ayo-ogunseinde-2.jpg',
            title: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.'
          },
          {
            done: false,
            img: '/static/img/faces/erik-lucatero-2.jpg',
            title: 'Lorem 2 ipsum dolor sit amet, consectetur adipisicing elit.'
          },
          {
            done: true,
            img: '/static/img/faces/kaci-baum-2.jpg',
            title: 'Lorem 3 ipsum dolor sit amet, consectetur adipisicing elit.'
          },
          {
            done: false,
            img: '/static/img/faces/joe-gardner-2.jpg',
            title: 'Lorem 4 ipsum dolor sit amet, consectetur adipisicing elit.'
          }
        ]
      }
    },
    methods: {
      handleTaskEdit(index) {
        alert(`¿Editar tarea?: ${JSON.stringify(this.tasks[index])}`)
      },
      handleTaskDelete(index) {
        alert(`¿Borrar tarea?: ${JSON.stringify(this.tasks[index])}`)
      }
    }
  }
</script>
<style>
</style>
