<template>
  <div id="worldMap" style="height: 300px;"></div>
</template>
<script>
  import 'd3';
  import * as d3 from 'd3';
  import 'topojson';
  import DataMap from 'datamaps'
  import { throttle } from "src/external/util/throttle";

  export default {
    data() {
      return {
        color1: '#e72900',
        color2: '#fff300',
        highlightFillColor: '#66615B',
        highlightBorderColor: '#154bdc',
        mapData: {
          'DNK':87,
          'NZL':87,
          'FIN':86,
          'SGP':85,
          'SWE':85,
          'CHE':85,
          'NOR':84,
          'NLD':82,
          'DEU':80,
          'LUX':80,
          'ISL':78,
          'AUS':77,
          'AUT':77,
          'CAN':77,
          'GBR':77,
          'HKG':76,
          'BEL':75,
          'EST':74,
          'IRL':74,
          'JPN':73,
          'ARE':71,
          'URY':71,
          'FRA':69,
          'USA':69,
          'BTN':68,
          'CHL':67,
          'SYC':66,
          'TWN':65,
          'BHS':64,
          'BRB':62,
          'PRT':62,
          'QAT':62,
          'ESP':62,
          'BWA':61,
          'BRN':60,
          'ISR':60,
          'LTU':60,
          'SVN':60,
          'KOR':59,
          'VCT':59,
          'CPV':58,
          'CYP':58,
          'POL':58,
          'CRI':56,
          'CZE':56,
          'GEO':56,
          'LVA':56,
          'DMA':55,
          'LCA':55,
          'MLT':54,
          'GRD':53,
          'ITA':53,
          'MYS':53,
          'RWA':53,
          'SAU':53,
          'MUS':52,
          'NAM':52,
          'OMN':52,
          'SVK':50,
          'CUB':48,
          'GRC':48,
          'JOR':48,
          'HRV':47,
          'STP':46,
          'VUT':46,
          'ARG':45,
          'BLR':45,
          'MNE':45,
          'SEN':45,
          'HUN':44,
          'ROU':44,
          'ZAF':44,
          'SUR':44,
          'BGR':43,
          'JAM':43,
          'TUN':43,
          'ARM':42,
          'BHR':42,
          'SLB':42,
          'BEN':41,
          'CHN':41,
          'GHA':41,
          'IND':41,
          'MAR':41,
          'BFA':40,
          'GUY':40,
          'IDN':40,
          'KWT':40,
          'LSO':40,
          'TTO':40,
          'SRB':39,
          'TUR':39,
          'ECU':38,
          'LKA':38,
          'TLS':38,
          'COL':37,
          'ETH':37,
          'GMB':37,
          'TZA':37,
          'VNM':37,
          'BIH':36,
          'KSV':36,
          'PAN':36,
          'PER':36,
          'THA':36,
          'ALB':35,
          'DZA':35,
          'BRA':35,
          'CIV':35,
          'EGY':35,
          'MKD':35,
          'MNG':35,
          'SLV':34,
          'KAZ':34,
          'NPL':34,
          'PHL':34,
          'SWZ':34,
          'ZMB':34,
          'SLE':33,
          'MDA':32,
          'NER':32,
          'PAK':32,
          'BOL':31,
          'GAB':31,
          'MWI':31,
          'AZE':30,
          'DJI':30,
          'KGZ':30,
          'UKR':30,
          'GIN':29,
          'LAO':29,
          'MDV':29,
          'MLI':29,
          'MEX':29,
          'MMR':29,
          'TGO':29,
          'DOM':28,
          'KEN':28,
          'LBN':28,
          'LBR':28,
          'MRT':28,
          'PNG':28,
          'PRY':28,
          'RUS':28,
          'UGA':28,
          'AGO':26,
          'BGD':26,
          'GTM':26,
          'HND':26,
          'IRN':26,
          'MOZ':26,
          'NGA':26,
          'CMR':25,
          'CAF':25,
          'COM':25,
          'TJK':25,
          'UZB':25,
          'MDG':24,
          'ZWE':24,
          'ERI':23,
          'NIC':22,
          'KHM':20,
          'TCD':20,
          'IRQ':20,
          'BDI':19,
          'COG':19,
          'TKM':19,
          'COD':18,
          'GNB':18,
          'HTI':18,
          'LBY':18,
          'PRK':17,
          'AFG':16,
          'GNQ':16,
          'SDN':16,
          'VEN':16,
          'YEM':15,
          'SYR':13,
          'SSD':12,
          'SOM':9
        }
      }
    },
    methods: {
      generateColors(length) {
        return d3.scaleLinear()
          .domain([0, length])
          .range([this.color1, this.color2]);
      },
      generateMapColors() {
        let mapDataValues = Object.values(this.mapData);
        let maxVal = 100;
        let colors = this.generateColors(maxVal);
        let mapData = {};
        let fills = {
          defaultFill: "#e4e4e4",
        };
        for (let key in this.mapData) {
          let val = this.mapData[key];
          fills[key] = colors(val);
          mapData[key] = {
            fillKey: key,
            value: val
          };
        }
        return {
          mapData,
          fills
        }
      },
      initVectorMap() {
        let { fills, mapData } = this.generateMapColors();
        let worldMap = new DataMap({
          scope: 'world',
          element: document.getElementById("worldMap"),
          fills,
          data: mapData,
          responsive: true,
          geographyConfig: {
            borderWidth: 0.5,
            borderOpacity: 0.8,
            highlightFillColor: this.highlightFillColor,
            highlightBorderColor: this.highlightBorderColor,
            highlightBorderWidth: 0.5,
            highlightBorderOpacity: 0.8,
            popupTemplate: function(geo, data) {
                if (!data) { return ; }
                return ['<div class="hoverinfo">',
                    '<strong>', geo.properties.name, '</strong>',
                    '<strong>', ' SCORE', '</strong>',
                    '<br><strong>', data.value, '/100</strong>',
                    '</div>'].join('');
            }
          },
        });
        let resizeFunc = worldMap.resize.bind(worldMap);
        window.addEventListener('resize', () => {
          throttle(resizeFunc, 40)
        }, false);
      }
    },
    async mounted() {
      this.initVectorMap()
    }
  }
</script>
<style>
</style>
