<template>
  <div id="VueTourTitle"> 
    <el-page-header style="padding-bottom:20px;" @back="goBack" title="Ir a tableros" :content="nameTablero">
    </el-page-header>
   
    <div class="row">
      <!-- Inicio Stats cards-->
      <div class="col-lg-4 col-md-6 col-sm-6" v-if="dashboardFlags.taskToDo.show">
        <stats-card v-if="this.moduleId!='continuidad'"
          :type="'info'"
          :icon="'el-icon-edit-outline'"
          :small-title="'Actividades pendientes por realizar'"
          :title="getNumTasksToDo"
          @clickTitle="redirectTo('ganttChart')"
          @clickIcon="redirectTo('ganttChart')"
        >
          <div class="stats btn-rotate" style="cursor:pointer" slot="footer" id="activity-first" @click="update('activity')">
            <i :class="'nc-icon nc-refresh-69'"></i>
            Actualizar
          </div>
        </stats-card>
         <stats-card
         v-else-if="this.moduleId=='continuidad' && $store.state.organization.premium.vigenciaContinuidad"
          :type="'info'"
          :icon="'el-icon-edit-outline'"
          :small-title="'Actividades pendientes por realizar'"
          :title="getNumTasksToDo"
          @clickTitle="redirectTo('ganttChart')"
          @clickIcon="redirectTo('ganttChart')"
          
        >
          <div class="stats btn-rotate" style="cursor:pointer" slot="footer" id="activity-first" @click="update('activity')">
            <i :class="'nc-icon nc-refresh-69'"></i>
            Actualizar
          </div>
        </stats-card>
         <stats-card
         v-else
          :type="'warning'"
          :icon="'el-icon-edit-outline'"
          :small-title="'Actividades pendientes por realizar'"
          :title="getNumTasksToDo"
          @clickTitle="invitacion()"
          @clickIcon="invitacion"
        >
          <div class="stats btn-rotate" style="cursor:pointer" slot="footer" id="activity-first" @click="update('activity')">
            <i :class="'nc-icon nc-refresh-69'"></i>
            Actualizar
          </div>
        </stats-card>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6" v-if="dashboardFlags.mediumInhRisk.show">
        <stats-card
          id="identify-risk"
          :type="'warning'"
          :icon="'nc-icon nc-chart-bar-32'"
          :small-title="'Subriesgos nivel inherente MEDIO'"
          :title="getMedioSubrisks"
          @clickTitle="redirectTo('risk')"
          @clickIcon="redirectTo('risk')"
        >
          <div class="stats btn-rotate" style="cursor:pointer" slot="footer" @click="update('risk')">
            <i :class="'nc-icon nc-refresh-69'"></i>
            Actualizar
          </div>
        </stats-card>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6" v-if="dashboardFlags.highInhRisk.show"> 
        <stats-card
          :type="'danger'"
          :icon="'nc-icon nc-chart-bar-32'"
          :small-title="'Subriesgos nivel inherente ALTO'"
          :title="getAltoSubrisks"
          @clickTitle="redirectTo('risk')"
          @clickIcon="redirectTo('risk')"
        >
          <div class="stats btn-rotate" style="cursor:pointer" slot="footer" @click="update('risk')">
            <i :class="'nc-icon nc-refresh-69'"></i>
            Actualizar
          </div>
        </stats-card>
      </div>
      <!-- Fin Stats cards -->

      <!-- Inicio Graficas Controles -->
      <div class="col-lg-4 col-md-6" v-if="dashboardFlags.taskPercentage.show">
        <template v-if="!getCompletedTaskPercentage.see">
          <div class="card">
            <div class="card-title">
              <h5 class="text-center mt-3">% Progreso de tareas</h5>
            </div>
            <div class="card-body">
              <div class="row mb-3 mt-3" >
                <div class="col-sm-2"></div>
                <div class="col-sm-2 center"><i class="el-icon-warning length iconSinInfo"></i></div>
                <div class="col-sm-8"><h5 class="msgSinInfo">{{msgSinInfo}}</h5></div>
              </div>
            </div>
          </div>
        </template>
        <circle-chart-card id="percentage"
          v-else-if="this.moduleId!='continuidad'"
          :percentage="getCompletedTaskPercentage.value"
          :chartOptions="optionsPie"
          title="% Progreso de tareas"
          color="green"
          @clickTitle="redirectTo('ganttChart')"
        >
          <template slot="footer">
            <div class="legend">
              <i class="fa fa-circle text-secondary-graph"></i>Tareas Atendidas
            </div>
          </template>
        </circle-chart-card>
        <circle-chart-card id="percentage"
         v-else-if="this.moduleId=='continuidad' && $store.state.organization.premium.vigenciaContinuidad"
          :percentage="getCompletedTaskPercentage.value"
          :chartOptions="optionsPie"
          title="% Progreso de tareas"
          color="green"
          @clickTitle="redirectTo('ganttChart')"
        >
          <template slot="footer">
            <div class="legend">
              <i class="fa fa-circle text-secondary-graph"></i>Tareas Atendidas
            </div>
          </template>
        </circle-chart-card>
         <circle-chart-card id="percentage"
         v-else
          :percentage="getCompletedTaskPercentage.value"
          :chartOptions="optionsPie"
          title="% Progreso de tareas"
          color="green"
          @clickTitle="invitacion"
        >
          <template slot="footer">
            <div class="legend">
              <i class="fa fa-circle text-secondary-graph"></i>Tareas Atendidas
            </div>
          </template>
        </circle-chart-card>
      </div>
      <div class="col-lg-4 col-md-6" v-if="dashboardFlags.controlPercentage.show">
        <template v-if="!dataPercentage.see">
          <div class="card">
            <div class="card-title">
              <h5 class="text-center mt-3">% de Control</h5>
            </div>
            <div class="card-body">
              <div class="row mb-3 mt-3" >
                <div class="col-sm-2"></div>
                <div class="col-sm-2 center"><i class="el-icon-warning length iconSinInfo"></i></div>
                <div class="col-sm-8"><h5 class="msgSinInfo">{{msgSinInfo}}</h5></div>
              </div>
            </div>
          </div>
        </template>
        <circle-chart-card
          v-else
          :percentage="dataPercentage.value"
          title="% de Control"
          color="green"
          @clickTitle="redirectTo('secteval')"
        >
          <template slot="footer">
            <div class="legend">
              <i class="fa fa-circle text-secondary-graph"></i> Atendidas
            </div>
          </template>
        </circle-chart-card>
      </div>
      <div class="col-lg-4 col-md-6" v-if="dashboardFlags.controlVsNoControl.show">
        <template v-if="!datasetChartPie.see">
          <div class="card">
            <div class="card-title">
              <h5 class="text-center mt-3">Control vs No Controles</h5>
            </div>
            <div class="card-body">
              <div class="row mb-3 mt-3" >
                <div class="col-sm-2"></div>
                <div class="col-sm-2 center"><i class="el-icon-warning length iconSinInfo"></i></div>
                <div class="col-sm-8"><h5 class="msgSinInfo">{{msgSinInfo}}</h5></div>
              </div>
            </div>
          </div>
        </template>
        <chart-card
          v-else
          :chartType="'Pie'"
          :chartData="datasetChartPie.value"
          :chartOptions="optionsPie"
        >
          <template slot="header">
            <div class="text-center" style="cursor:pointer" @click="redirectTo('secteval')">
              <h5 class="card-title">Control vs No Controles</h5>
              <!-- <p class="card-category">Todas las secciones</p> -->
            </div>
          </template>
          <template slot="footer">
            <div class="pull-left">
              <i class="fa fa-circle" :style="'color:'+attendedPieChartColor">{{dataPieChart[0]}}%</i> Control
            </div>
            <div class="pull-right">
              <i class="fa fa-circle" :style="'color:'+WOAttendedPieChartColor">{{dataPieChart[1]}}%</i> No controles
            </div>
          </template>
        </chart-card>
      </div>
      <!-- Fin Graficas Informativas -->
    </div>

    <div class="row" id="charthorizontalbar">
      <div class="col-md-6" v-if="dashboardFlags.residualRiskGraph.show">
        <div class="card">
          <div class="card-header text-center">
            <slot name="header">
              <h5
                class="card-title"
                style="cursor:pointer"
                @click="redirectTo('secteval')"
              >Total riesgo residual por sección % de control</h5>
            </slot>
          </div>
          <div id="sections" class="card-body text-center">
            <div class="row">
              <div class="col-lg-12">
                <chart-card
                  :chartType="'HorizontalBarChart'"
                  :chartData="dataBarStack1"
                  :chartOptions="options"
                ></chart-card>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6" v-if="dashboardFlags.inherentRiskGraph.show">
        <div id="risks" class="card">
          <div class="card-header text-center">
            <slot name="header">
              <h5
                class="card-title"
                style="cursor:pointer"
                @click="redirectTo('risk')"
              >Valor riesgo inherente de subriesgos</h5>
            </slot>
          </div>
          <template v-if="!getValuesSubrisks.see">
            <div class="card-body">
              <h5 style="padding:105px;">
                <i class="el-icon-warning length"></i>
                <h5
                  class="text-center"
                  style="color:rgb(179,179,179); font-size:100%;"
                >No existen subriesgos con dichos niveles</h5>
              </h5>
            </div>
          </template>
          <div v-else class="card-body text-center">
            <div class="row">
              <div class="col-lg-12">
                <el-popover
                  class='width-pn'
                  placement="center"
                  trigger="click">
                  <el-table :data="getLabelsGraph">
                    <el-table-column width="100" property="acron" label="Acrónimo"></el-table-column>
                    <el-table-column width="400" property="title" label="Título"></el-table-column>
                  </el-table>
                  <el-button slot="reference">Ver leyenda</el-button>
                </el-popover>
                <chart-card
                  :chartType="'HorizontalBarChart'"
                  :useInitials="true"
                  :chartBgColor="getValuesSubrisks.color"
                  :chartData="getValuesSubrisks.data"
                  :chartOptions="optionsInherente"
                ></chart-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="end" class="row" v-if="dashboardFlags.actionPlan.show">
      <div class="col-lg-12">
        <h4
          class="card-title"
          style="cursor:pointer"
          @click="redirectTo('actionplan')"
        >Plan de Acción</h4>
        <action-plan-info :info="getInfoPlan"></action-plan-info>
      </div>
    </div>

  </div>
</template>

<script scoped>
import Vue from "vue";
import { PageHeader, Popover, Button } from "element-ui";
import CircleChartCard from "src/components/UIComponents/Cards/CircleChartCard.vue";
import ChartCard from "src/components/UIComponents/Cards/ChartCard";
import StatsCard from "src/components/UIComponents/Cards/StatsCard";
import ActionPlanInfo from "src/components/UIComponents/ActionPlanInfo";
import { Card } from "src/components/UIComponents";
import {
  gralErrorMethods,
  gralErrorLog,
  gralMethods
} from "src/mixins/generalMethods";
import { mapGetters, mapState } from "vuex";
import ChartDataLabels from "chartjs-plugin-datalabels";
import swal from "sweetalert2";

//Chart.defaults.global.plugins.datalabels.display = false;
Chart.plugins.unregister(ChartDataLabels);

Vue.use(PageHeader);
Vue.use(Popover);
Vue.use(Button);

export default {
  components: {
    StatsCard,
    ChartCard,
    CircleChartCard,
    ActionPlanInfo,
    Card
  },
  mixins: [gralMethods, gralErrorMethods, gralErrorLog],
  data() {
    return {
      nameTablero: "",
      moduleId: "",
      msgSinInfo: "Sin información. Controles sin evaluar",
      see: "false",
      attended: 0,
      WOAttend: 0,
      attendedPieChartColor: "rgba(24,203,9,0.9)",
      WOAttendedPieChartColor: "rgba(247,27,20,0.9)",
      rate: {
        colors: ["#35A97A", "#FABE3C", "#FF0040"],
        text: ["bajo", "medio", "alto"]
      },
      optionsPie: {
        plugins: {
          datalabels: {
            formatter: function(val, opt) {
              return opt.chart.data.labels[opt.dataIndex] + "\n" + val + "%";
            },
            align: "center",
            enabled: true,
            textAlign: "center",
            font: function(context) {
              var width = context.chart.width;
              var size = Math.round(width / 38);
              return {
                size: size,
                weight: 700
              };
            },
            //color: ['#eeffee','#f3e97a'],
            color: ["black", "white"],
            responsive: true,
            anchor: "bottom",

            clamp: false,
            circumference: 0.5 * Math.PI
          }
        }
      },
      options: {
        scales: {
          yAxes: [
            {
              ticks: {
                fontColor: "#9f9f9f",
                fontStyle: "bold",
                beginAtZero: false,
                maxTicksLimit: 2,
                padding: 50
              },
              gridLines: {
                zeroLineColor: "transparent",
                display: true,
                drawBorder: false,
                color: "#9f9f9f"
              },
              stacked: true
            }
          ],
          xAxes: [
            {
              barPercentage: 0.8,
              gridLines: {
                zeroLineColor: "transparent",
                display: true,
                drawBorder: true,
                color: "transparent"
              },
              ticks: {
                beginAtZero: true,
                fontColor: "#9f9f9f",
                fontStyle: "bold"
              },
              stacked: true
            }
          ]
        },

        plugins: {
          datalabels: {
            //color:['#f3e97a',"#700C0C",'#f3e97a',"#700C0C"],
            formatter: function(val, opt) {
              if (val > 1) return opt.dataset.label + ": " + val;
              else return " ";
            },
            anchor: "top",
            offset: "center",
            textAlign: "start",
            font: function(context) {
              var width = context.chart.width;
              var size = Math.round(width / 50);
              return {
                size: size,
                weight: 600
              };
            }
          },
          responsive: true,
          display: "auto"
        }
      },
      optionsInherente: {
        plugins: {
          datalabels: {
            color: function(context) {
              var color = "black";
              var labelwhite = [
                "#5F5F5F",
                "#FF0040",
                "#8A0808",
                "#61380B",
                "#0404B4",
                "#000000",
                "#000000",
                "#5F5F5F"
              ];
              var search =
                context.chart.data.datasets[0].backgroundColor[
                  context.dataIndex
                ];
              var findcolor = labelwhite.indexOf(search);
              if (findcolor >= 0) color = "white";
              return color;
            },
            textAlign: "center",
            font: function(context) {
              var width = context.chart.width;
              var size = Math.round(width / 50);
              return {
                size: size,
                weight: 600
              };
            },
            responsive: true
          }
        }
      }
    };
  },

  created() {
    this.moduleId = this.$route.path.split("/")[1];
    if (this.moduleId === "admin") {
      this.moduleId = "anticorruption";
    }
    switch (this.moduleId) {
      case "anticorruption":
        this.nameTablero = "Tablero Anticorrupción";
        break;
      case "continuidad":
        this.nameTablero = "Tablero de Continuidad de Negocio Covid-19";
        break;
      case "penal":
        this.nameTablero = "Tablero de Gestión Compliance";
        break;
      case "money":
        this.nameTablero = "Tablero de Lavado de Dinero";
        break;
    }
    //  alert(this.moduleId);
    this.$store.dispatch("task/retriveTasks", {
      access_token: this.$cookies.get("token"),
      moduleId: this.moduleId
    });
    this.$store.dispatch("sections/setSections", {
      access_token: this.$cookies.get("token"),
      moduleId: this.moduleId,
      subTypeOf: "section"
    });
    this.$store.dispatch("risk/selectSubrisks", {
      access_token: this.$cookies.get("token"),
      moduleId: this.moduleId
    });
  },
  methods: {
    redirectTo(link) {
      this.$router.push({ name: this._getNameRoute(link, this.moduleId) });
    },
    goBack() {
      this.$router.push({ path: "/admin/overview/overview" });
    },
    update(value) {
      if (value == "activity") {
        this.$store
          .dispatch("task/retriveTasks", {
            access_token: this.$cookies.get("token"),
            moduleId: this.moduleId
          })
          .then(() => {})
          .catch(error => {
            if (error.response.status !== 404) {
              this.notifyError(error, "Error al cargar datos");
              this.writteGenericError(
                "AnticorruptionBoard.vue",
                error,
                "Error al cargar datos, retriveTasks"
              );
            }
          });
      }
      if (value == "risk") {
        this.$store
          .dispatch("risk/selectSubrisks", {
            access_token: this.$cookies.get("token"),
            moduleId: this.moduleId
          })
          .then(() => {})
          .catch(error => {
            this.notifyError(error, "Error al cargar datos");
            this.writteGenericError(
              "AnticorruptionBoard.vue",
              error,
              "Error al cargar datos, selectSubrisks"
            );
          });
      }
    },
    invitacion() {
      swal({
        title: "Módulo con Vigencia expirada",
        html:
          "Esta opción está desactivada, debido a que ha expirado la vigencia de este módulo.",
        allowEscapeKey: false,
        allowOutsideClick: false,
        type: "warning",
        showCancelButton: false,
        confirmButtonClass: "btn btn-warning btn-fill",
        confirmButtonText: "OK"
      });
    }
  },
  computed: {
    ...mapGetters("risk", [
      "getMedioSubrisks",
      "getAltoSubrisks",
      "getValuesSubrisks",
      "getLabelsGraph"
    ]),
    ...mapGetters("task", [
      "getCompletedTaskPercentage",
      "getInfoPlan",
      "getInfoChart",
      "getNumTasksToDo"
    ]),
    ...mapGetters("user", ["dashboardFlags"]),
    ...mapState("task", ["attendedPercentage"]),
    getSections() {
      return this.$store.getters["sections/getSections"];
    },
    datasetChartPie() {
      var value = {
        labels: ["Control", "No controles"],

        datasets: [
          {
            pointRadius: 0,
            pointHoverRadius: 0,
            backgroundColor: [
              this.attendedPieChartColor,
              this.WOAttendedPieChartColor
            ],
            borderWidth: 0,
            data: this.dataPieChart || []
          }
        ]
      };
      return {
        value: value,
        see: value.datasets[0].data.length > 0 ? true : false
      };
    },
    dataPercentage() {
      var sections = this.getSections.infoSections;
      var see = false;
      this.attended = sections.done;
      this.WOAttend = sections.doing;

      if (this.attended + this.WOAttend === 0) {
        see = false;
        return { value: 0, see: see };
      }
      const final = Math.floor(
        (this.attended * 100) / (this.attended + this.WOAttend)
      );
      if (final == 0) {
        see = false;
      } else {
        see = true;
      }
      return { value: final, see: see };
    },
    dataPieChart() {
      var sections = this.getSections.infoSections;
      this.attended = sections.done;
      this.WOAttend = sections.doing;
      if (this.attended + this.WOAttend === 0) {
        return [0, 0];
      }
      const final = Math.floor(
        (this.attended * 100) / (this.attended + this.WOAttend)
      );
      return [final, 100 - final];
    },
    taskToDo() {
      var sections = this.getSections.infoSections;
      this.WOAttend = sections.doing;
      return this.WOAttend;
    },
    dataBarStack1() {
      var sections = this.getSections.infoSections;
      var dataBarStack = {
        labels: [],
        datasets: [
          {
            label: "Atendido",
            data: [],
            backgroundColor: this.attendedPieChartColor, //green
            datalabels: {
              //color:"#eeffee"
              color: "black"
            }
            //
          },
          {
            label: "Sin Atender",
            data: [],
            backgroundColor: this.WOAttendedPieChartColor, // red
            datalabels: {
              //color:"#f3e97a"
              color: "white"
            }
          }
        ]
      };
      if (sections.sections.length > 0) {
        sections.sections.map(sect => {
          if (sect.done + sect.doing > 0) {
            dataBarStack.labels.push(sect.title);
            dataBarStack.datasets[0].data.push(parseInt(sect.done));
            dataBarStack.datasets[1].data.push(parseInt(sect.doing));
          }
        });
      }
      return dataBarStack;
    }
  }
};
</script>
<style lang="scss">
@media screen and (min-width: 320px) and (max-width: 347px) {
  h5,
  .h5 {
    width: 108%;
  }
}
@media screen and (min-width: 320px) and (max-width: 400px) {
  .card .card-header {
    padding: 14px 5px 0 !important;
  }
}
.msgSinInfo {
  color: rgb(179, 179, 179);
  font-size: 100%;
}
.iconSinInfo {
  padding-right: 75px;
  font-size: 150%;
}
.text-secondary-graph {
  color: green;
}
@media screen and (max-width: 414px) {
  .el-popover {
    position: absolute;
    left: 0rem;
    overflow-x: scroll;
    width: 355px;
  }
}
</style>
