<template>
  <div>
    <div class="row">
      <div class="col-md-6" v-show="this.$store.state.organization.premium.moduleAnticorruption">
        <cardlink 
          title="Tablero Anticorrupción "
          icon="fa fa-binoculars"
          colors="#ff931e"
          image="url('../../static/img/law.jpg')"
          @click.native="changeOverview('anticorruption')"
        ></cardlink>
      </div>
      <div class="col-md-6"  v-show="this.$store.state.organization.premium.modulePenal">
        <cardlink
          title="Tablero Gestión Compliance"
          icon="fa fa-binoculars"
          colors="#ff931e"
          image="url('../../static/img/blog4.jpg')"
          @click.native="changeOverview('penal')"
        ></cardlink>
      </div>
      <div class="col-md-6" v-show="this.$store.state.organization.premium.moduleContinuidad">
          <cardlink  
          title="Tablero Continuidad de Negocio Covid-19"
          icon="fa fa-binoculars"
          colors="#ff931e"
          image="url('../../static/img/continuidad.jpg')"
          @click.native="changeOverview('continuidad')"
        ></cardlink>
      </div>
      <div class="col-md-6" v-show="this.$store.state.organization.premium.moduleMoney">
          <cardlink 
          title="Tablero Lavado de Dinero"
          icon="fa fa-binoculars"
          colors="#ff931e"
          image="url('../../static/img/money.jpg')"
          @click.native="changeOverview('money')"
        ></cardlink>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-md-7">
                <h4 class="card-title">Percepción de corrupción 2019</h4>
                <p class="category"></p>
              </div>
              <div class="col-md-5">
                <h4 class="card-title">Top 10 Mundial</h4>
                <p class="category"></p>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-7">
                <world-map></world-map>
                <div>
                  <img src="https://www.transparency.org/cpi-2018-embed/map-images/cpi-scale.png">
                </div>
                <div class="mt-3 mb-2 col-sm-12 col-md-12 col-lg-12 font">
                  <span>Fuente: <a href="https://www.transparency.org/cpi2019?/news/feature/cpi-2019" target="_blank">https://www.transparency.org/cpi2019?/news/feature/cpi-2019</a></span>
                   <!--b-link class="mb-10 text-footer text-link" :to="{ path: '/https://www.transparency.org/cpi2018' }">Términos y condiciones</b-link-->
                </div>
              </div>
              <div class="col-md-5">
                <div class="table-responsive">
                  <el-table :data="tableData">
                    <el-table-column min-width="50" type="index"></el-table-column>
                    <el-table-column min-width="50">
                      <div slot-scope="{row}" class="img-container">
                        <img :src="row.idCountry">
                      </div>
                    </el-table-column>
                    <el-table-column min-width="150" prop="country" label="País"></el-table-column>
                    <el-table-column min-width="100" prop="score" label="Score"></el-table-column>
                  </el-table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <!-- <task-list></task-list> -->
      </div>
    </div>
  </div>
</template>
<script>
import Vue from "vue";
import { Badge } from "src/components/UIComponents";
import Loading from "src/components/Dashboard/Layout/LoadingMainPanel.vue";
import TaskList from "./Widgets/TaskList";
import apiSectInfo from "src/api/organization/umbralSectInfo";
import Cardlink from "src/components/UIComponents/LinkCard.vue";
import { Table, TableColumn, Col } from "element-ui";
import { mapState, mapGetters } from "vuex";

Vue.use(Table);
Vue.use(TableColumn);

const WorldMap = () => ({
  component: import("./Widgets/WorldMap.vue"),
  loading: Loading,
  delay: 200
});

export default {
  components: {
    WorldMap,
    Badge,
    TaskList,
    Cardlink
  },
  /**
   * Chart data used to render stats, charts. Should be replaced with server data
   */
  data() {
    return {
      tableData: [
        {
          id: 1,
          idCountry: "/static/img/flags/DK.png",
          country: "Dinamarca",
          score: "87/100"
        },
        {
          id: 2,
          idCountry: "/static/img/flags/AU.png",
          country: "Nueva Zelanda",
          score: "87/100"
        },
        {
          id: 3,
          idCountry: "/static/img/flags/FI.png",
          country: "Finlandia",
          score: "86/100"
        },
        {
          id: 4,
          idCountry: "/static/img/flags/SG.png",
          country: "Singapur",
          score: "85/100"
        },
        {
          id: 5,
          idCountry: "/static/img/flags/SE.png",
          country: "Suecia",
          score: "85/100"
        },
        {
          id: 6,
          idCountry: "/static/img/flags/CH.png",
          country: "Suiza",
          score: "85/100"
        },
        {
          id: 7,
          idCountry: "/static/img/flags/NO.png",
          country: "Noruega",
          score: "84/100"
        },
        {
          id: 8,
          idCountry: "/static/img/flags/NL.png",
          country: "Holanda",
          score: "82/100"
        },
        {
          id: 9,
          idCountry: "/static/img/flags/DE.png",
          country: "Alemania",
          score: "80/100"
        },
        {
          id: 10,
          idCountry: "/static/img/flags/LU.png",
          country: "Luxemburgo",
          score: "81/100"
        }
      ]
    };
  },

  methods: {
    changeOverview(module) {
      switch(module){
      case 'anticorruption':
        this.$router.push({ path: "/admin/board" })
        break
      case 'penal':
        this.$router.push({ path: "/penal/board" });
        break
      case 'continuidad':
        this.$router.push({ path: "/continuidad/board" });
        break
      case 'money':
        this.$router.push({ path: "/money/board" });
        break
      }
    },
    getImgUrl(country) {
      return "/static/img/flags/" + getCountryISO2(country) + ".png";
    },
    generateMap() {
      let mapData = {};
      for (let key in this.mapData) {
        let val = this.mapData[key];
        fills[key] = colors(val);
        mapData[key] = {
          fillKey: key,
          value: val
        };
      }
      return mapData;
    }
  },
};
</script>
<style>
.font {
  font-size: 90%;
}
</style>
