<template>
  <footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="credits ml-auto">
          <div class="copyright">
            PAD COMPLIANCE &copy;
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>
<script>
  export default {}

</script>
<style>

</style>
