<template>
  <div class="wrapper">
    <side-bar type="sidebar" :sidebar-links="$sidebar.sidebarLinks">
      <user-menu></user-menu>
    </side-bar>

    <div class="main-panel">
      <top-navbar></top-navbar>

      <dashboard-content @click.native="toggleSidebar"></dashboard-content>
      <!-- Se usa serviceUserProfile en vue tour porque es la que indica si se ha adquirido algun modulo o servicio -->
      <v-tour
        v-if="premium['serviceUserProfile'] === true"
        name="myTour"
        :options="myOptions"
        :steps="steps"
        :callbacks="myCallbacks"
      >
        <template slot-scope="tour">
          <transition name="fade">
            <v-step
              v-if="tour.currentStep === index"
              v-for="(step, index) in  steps"
              :key="index"
              :step="step"
              :previous-step="tour.previousStep"
              :next-step="tour.nextStep"
              :stop="tour.stop"
              :is-first="tour.isFirst"
              :is-last="tour.isLast"
              :labels="tour.labels"
            >
              <template>
                <div slot="content">
                  <span v-html="step.content"></span>
                  <br />
                  <br />
                  <input type="checkbox" id="flagsTutorial" v-model="flag" />
                  <label for="flagsTutorial">Dejar de mostrar tutorial</label>
                </div>
                <div slot="actions">
                  <button
                    v-if="tour.currentStep<tour.steps.length-1"
                    @click="setFlags"
                    class="v-step__button"
                  >Saltar tour</button>
                  <button
                    v-if="tour.currentStep>0"
                    @click="tour.previousStep"
                    class="v-step__button"
                  >Anterior</button>
                  <button
                    v-if="tour.currentStep<tour.steps.length-1"
                    @click="tour.nextStep"
                    class="v-step__button"
                  >Siguiente</button>
                  <button v-else @click="setFlags" class="v-step__button">Finalizar</button>
                </div>
              </template>
            </v-step>
          </transition>
        </template>
      </v-tour>
      <content-footer></content-footer>
    </div>
    <faq-bar v-if="premium['serviceUserProfile'] == true" type="faq"></faq-bar>
  </div>
</template>
<style lang="scss">
</style>
<script>
import TopNavbar from "./TopNavbar.vue";
import ContentFooter from "./ContentFooter.vue";
import DashboardContent from "./Content.vue";
import UserMenu from "src/components/UIComponents/SidebarPlugin/UserMenu.vue";
import { gralErrorMethods, gralErrorLog } from "src/mixins/generalMethods.js";
import { mapState } from "vuex";

export default {
  components: {
    TopNavbar,
    ContentFooter,
    DashboardContent,
    UserMenu
  },
  data() {
    return {
      flag: false,
      myCallbacks: {
        onStart: this.startTour,
        onPreviousStep: this.myCustomPreviousStepCallback,
        onNextStep: this.myCustomNextStepCallback
      },
      myOptions: {
        labels: {
          buttonSkip: "Saltar tour",
          buttonPrevious: "Anterior",
          buttonNext: "Siguiente",
          buttonStop: "Fin"
        }
      },
      steps: [
        {
          // CurrentStep 0
          target: "#first-step",
          content: `¡Bienvenido a <strong>PAD</strong>! <br>Comienza el tutorial para conocer la página.`,
          params: {
            placement: 'bottom',
          }
        },
        {
          // CurrentStep 1
          target: "#vue-tour-user",
          content:
            "Si tienes dudas sobre como llegar o llenar alguna sección, tenemos un apartado de Ayuda para ti.",
          params: {
            placement: 'bottom',
            positionFixed: true
          }
        },
        {
          // CurrentStep 2
          target: "#vue-tour-user",
          content:
            "Da click en tu correo y en Editar Perfil.<br>Puedes actualizar tu información de contacto.",
          params: {
            placement: 'bottom',
            positionFixed: true
          }
        },
        {
          // CurrentStep 3
          target: "#notify",
          content: `Notificaciones:<br>Recibe mensajes de tus actividades faltantes.`,
          params: {
            placement: 'bottom',
            positionFixed: true
          }
        },
        {
          // CurrentStep 4
          target: "#first-step",
          content: `¡Da click a Anticorrupción y visualiza indicadores de tu progreso en PAD!`,
          params: {
            placement: "bottom",
          }
        },
        {
          // CurrentStep 5
          target: "#menu-0",
          content: `Este es el tablero de Anticorrupción.`,
          params: {
            placement: "rigth",
          }
        },
        {
          // CurrentStep 6
          target: "#activity-first",
          content: `Da click en el título y revisa tus actividades pendientes.`,
          params: {
            placement: 'bottom',
            positionFixed: true
          }
        },
        {
          // CurrentStep 7
          target: "#identify-risk",
          content: `Da click en el título y transpórtate a la tabla de Riesgos.`,
          params: {
            placement: 'bottom',
            positionFixed: true
          }
        },
        {
          // CurrentStep 8
          target: "#percentage",
          content: `Revisa el porcentaje de avance de tus actividades.`,
          params: {
            placement: 'bottom',
            positionFixed: true
          }
        },
        {
          // CurrentStep 9
          target: "#sections",
          content: `Observa los niveles de riesgo de cada sección.`,
          params: {
            placement: 'bottom',
          }
        },
        {
          // CurrentStep 10
          target: "#risks",
          content: `Puedes revisar el valor de riesgo de tus subriesgos.`,
          params: {
            placement: 'bottom',
            positionFixed: true
          }
        },
        {
          // CurrentStep 11
          target: "#menu-0",
          content: `En Diagnóstico puedes realizar un cuestionario.`,
          params: {
            placement: "rigth",
//            positionFixed: true
          }
        },
        {
          // CurrentStep 12
          target: "#menu-0",
          content: `Está dividido por secciones.`,
          params: {
            placement: "rigth",
//            positionFixed: true
          }
        },
        {
          // CurrentStep 13
          target: "#titleDiagnostic",
          content: `Es necesario contestar cada sección para tener completo tú Diagnóstico.`,
          params: {
            placement: "rigth",
//            positionFixed: true
          }
        },
        {
          // CurrentStep 14
          target: "#graphDiagnostic",
          content: `Muestra los resultados y tú estado actual.`,
          params: {
            placement: "rigth",
//            positionFixed: true
          }
        },
        {
          // CurrentStep 15
          target: "#menu-1",
          content: `Entra a Gestión de Riesgo para iniciar la Identificación de Riesgos.`,
          params: {
            placement: "rigth",
          }
        },
        {
          // CurrentStep 16
          target: "#menu-2",
          content: `Tabla de Riesgos.`,
          params: {
            placement: 'right',
    //        positionFixed: true
          }
        },
         {
          // CurrentStep 17
          target: "#step-2",
          content: `Agrega un Nuevo Subriesgo a la tabla.`,
          params: {
            placement: 'bottom',
            positionFixed: true
          }
        },
        {
          // CurrentStep 18
          target: "#step-3",
          content: `Ajusta los parámetros de: impacto, probabilidad y umbral de nivel, que estarán asociados a tus Subriesgos.`,
          params: {
            placement: "left",
            positionFixed: true
          }
        },
        {
          // CurrentStep 19
          target: "#step-6-0",
          content: `Al posicionar el mouse en Nivel de Riesgo, podrás ver en un cuadro el nivel de impacto y probabilidad.`,
          params: {
            placement: "left",
            positionFixed: true
          }
        },
        {
          // CurrentStep 20
          target: "#menu-1",
          content: `Hay un apartado para la Evaluación de Riesgo Residual.`,
          params: {
            placement: "rigth",
          }
        },
        {
          // CurrentStep 21
          target: "#menu-1",
          content: `Es un cuestionario que deberá ser contestado.`,
          params: {
            placement: "rigth",
          }
        },
        {
          // CurrentStep 22
          target: "#quesCard",
          content: `Podrá identificar la cantidad de preguntas por contestar.`,
          params: {
            placement: "bottom",
            positionFixed: true
          }
        },
         {
          // CurrentStep 23
          target: "#menu-1",
          content: `Existe un apartado de Evaluación de Controles.`,
          params: {
            placement: "rigth",
          }
        },
        {
          // CurrentStep 24
          target: "#sectionTitle",
          content: `Está dividido por Secciones.`,
          params: {
            placement: "bottom",
          }
        },
        {
          // CurrentStep 25
          target: "#sectionChart",
          content: `Aquí se mostrará el avance de cada sección.`,
          params: {
            placement: "bottom",
          }
        },
        {
          // CurrentStep 26
          target: "#menu-1",
          content: `Tenemos un apartado de Priorización de Riesgos.`,
          params: {
            placement: 'rigth',
          }
        },
        {
          // CurrentStep 27
          target: "#orderRiskDesc",
          content: `Ordena tus Subriesgos como mejor te acomodes. De forma Descendente.`,
          params: {
            placement: 'bottom',
            positionFixed: true
          }
        },
        {
          // CurrentStep 28
          target: "#orderRiskAsc",
          content: `O de forma Ascendente.`,
          params: {
            placement: 'bottom',
            positionFixed: true
          }
        },
        {
          // CurrentStep 29
          target: "#menu-1",
          content: `Hay un apartado para el Monitoreo de actvidades.`,
          params: {
            placement: "rigth",
          }
        },
        {
          // CurrentStep 30
          target: "#menu-1",
          content: `Monitoreo de actividades: Muestra todas las actividades por monitorear.`,
          params: {
            placement: 'right',
          }
        },
        
        {
          // CurrentStep 31
          target: "#schedule-tasks",
          content: `Aquí se muestran las tareas que se tienen que agendar.`,
          params: {
            placement: 'bottom',
            positionFixed: true
          }
        },
        {
          // CurrentStep 32
          target: "#monitor-tasks",
          content: `Puedes observar las tareas que están disponibles para monitorear.`,
          params: {
            placement: 'bottom',
            positionFixed: true
          }
        },
        {
          // CurrentStep 33
          target: "#next-tasks",
          content: `Muestra las tareas que están proximas por atenderse.`,
          params: {
            placement: 'bottom',
            positionFixed: true
          }
        },
        {
          // CurrentStep 34
          target: "#menu-1",
          content: `Revisión y Auditoría.`,
          params: {
            placement: 'rigth',
          }
        },
        {
          // CurrentStep 35
          target: "#menu-1",
          content: `Hay un apartado para Revisión y Auditoría de las actividades.`,
          params: {
            placement: "rigth",
          }
        },
        {
          // CurrentStep 36
          target: "#add-column",
          content: `Puedes agregar una columna definida.`,
          params: {
            placement: "left",
            positionFixed: true
          }
        },
        {
          // CurrentStep 37
          target: "#add-evidence",
          content: `O si lo deseas, puedes agregar diferentes archivos, que sean tus evidencias de Auditoría.`,
          params: {
            placement: "left",
            positionFixed: true
          }
        },
        {
          // CurrentStep 38
          target: "#audit-tasks",
          content: `Cada tarea la puedes auditar en esta zona.`,
          params: {
            placement: "left",
            positionFixed: true
          }
        },
        {
          // CurrentStep 39
          target: "#menu-1",
          content: `Hasta ahora tienes las bases del funcionamiento.<br> Continua `,
          params: {
            placement: 'rigth',
          }
        },
        {
          // CurrentStep 40
           target: "#first-step",
          content: ` Y Disfruta de tu experiencia PAD <br><strong>¡Comienza!</strong>`,
          params: {
            placement: 'bottom',
            positionFixed: true
          }
        }
      ]
    };
  },
  mixins: [gralErrorMethods, gralErrorLog],
  computed: {
    ...mapState("user", ["myUser"]),
    ...mapState("organization", ["premium"])
  },
  async mounted() {
    let access_token = this.$cookies.get("token");

    await this.$store.dispatch("organization/getInfoOrg", {access_token, org_id: this.$store.state.auth.organizationId})
    // Umbrals catalog load
    //By default load anticorruption umbrals
    this.$store
      .dispatch("organization/selectUmbrals", { access_token, moduleId: 'anticorruption' })
      .then()
      .catch(error => {
        console.log(error);
        this.notifyError(error, "Error al cargar Umbrales");
        this.writteGenericError(
          "DashboardLayout.vue",
          error,
          "Error selectUmbrales"
        );
      });

    this.$store
      .dispatch("organization/getAreasOrg", {
        access_token,
        org_id: this.$store.state.auth.organizationId
      })
      .then()
      .catch(error => {
        console.log(error);
        this.notifyError(error, "Error al cargar Areas de organización");
      });

    this.$store
      .dispatch("user/getUser", { access_token: access_token })
      .then(x => {
        if (!this.myUser.flags.hideTutorialTour && this.premium['serviceUserProfile'])
          this.$tours["myTour"].start();
      })
      .catch(error => {
        this.notifyError(error);
        this.writteGenericError("DashboardLayout.vue", error, "Error getUser");
      });
  },
  methods: {
    toggleSidebar() {
      if (this.$sidebar.showSidebar) {
        this.$sidebar.displaySidebar(false);
      }
    },
    setFlags() {
      try {
        let access_token = this.$cookies.get("token");
        if (this.flag) {
          this.$store.dispatch("user/setFlags", {
            access_token: access_token,
            flags: { hideTutorialTour: true }
          });
        }
        if (this.premium['serviceUserProfile']) {
          this.$tours["myTour"].stop();
        }
      } catch (error) {
        this.notifyError(error);
        this.writteGenericError("DashboardLayout.vue", error, "Error setFlags");
      }
    },
    startTour() {
      this.$router.push({name: 'admin', params: {id: localStorage.getItem('email')}})
     // console.log("Start tour");
      //  this.$router.push({name: 'Overview'})
    },
    myCustomPreviousStepCallback(currentStep) {
      // console.log("Prev from :"+(currentStep))
      if(currentStep === 5)
      {
        this.$router.push({name: 'admin', params: {id: localStorage.getItem('email')}})
        this.$tours['myTour'].currentStep=4
      }
      if(currentStep === 12)
      {
        this.$router.push({name: 'AnticorruptionBoard'})
        this.$tours['myTour'].currentStep=12
      }
      if(currentStep === 15)
      {
        this.$router.push({name: 'anticorruption'})
        this.$tours['myTour'].currentStep=13
      }
      if(currentStep === 20)
      {
        this.$router.push({name: 'risk'})
        this.$tours['myTour'].currentStep=16
      }
      if(currentStep === 23)
      {
        this.$router.push({name: 'ques'})
        this.$tours['myTour'].currentStep=22
      }
      if(currentStep === 26)
      {
        this.$router.push({name: 'secteval'})
        this.$tours['myTour'].currentStep=24
      }
      if(currentStep === 29)
      {
        this.$router.push({name: 'evaluaterisk'})
        this.$tours['myTour'].currentStep=27
      }
      if(currentStep === 35)
      {
        this.$router.push({name: 'Monitoreo'})
        this.$tours['myTour'].currentStep=35
      }
      if(currentStep === 39)
      {
        this.$router.push({name: 'auditoria'})
        this.$tours['myTour'].currentStep=36
      }
    },
    myCustomNextStepCallback(currentStep) {
      // console.log("actual :"+(currentStep+1))
      if (currentStep === 4) {
        document.querySelector("#first-step").click();
      } 
      if (currentStep === 10) {
        document.querySelector("#menu-1").click();
      }
       if (currentStep === 11) {
        document.querySelector("#sub-0").click();
      }
      if (currentStep === 14) {
        document.querySelector("#itemChild-0-0").click();
      }
      if (currentStep === 19) {
        document.querySelector("#itemChild-0-1").click();
      }
      if (currentStep === 22) {
        document.querySelector("#item-1").click();
      }
      if (currentStep === 25) {
        document.querySelector("#itemChild-2-0").click();
      }
      if (currentStep === 28) {
        document.querySelector("#sub-2").click();
      }
      if (currentStep === 34) {
        document.querySelector("#sub-3").click();
      }
      if (currentStep === 38) {
       this.$router.push({name: 'admin', params: {id: localStorage.getItem('email')}})
      }
    }
  },
  beforeRouteUpdate(to, from, next) {
    //if (from.name === 'login') {

    //}
    next();
  }
};
</script>
<style lang="scss">
.v-step[x-placement^="rigth"][data-v-aa0cbe42] {
  // muestra en rojo las que estan rigth
  // background: red;
  z-index:3;
  box-sizing: border-box;

}
.v-step[x-placement^="right"][data-v-aa0cbe42] {
  // muestra en rojo las que estan rigth
 // background: brown;
  z-index:3;
  box-sizing: border-box;
}
.v-step[x-placement^="bottom"][data-v-aa0cbe42] {
  // muestra en rojo las que estan rigth
 // background: blueviolet;
  z-index:3;
  box-sizing: border-box;
  left: 50px;
}
.v-step[x-placement^="left"][data-v-aa0cbe42] {
  // muestra en rojo las que estan rigth
 // background: green;
  z-index:3;
  box-sizing: border-box;
}
.v-step[x-placement^="top"][data-v-aa0cbe42] {
  // muestra en rojo las que estan rigth
  //background: yellow;
  z-index:3;
  box-sizing: border-box;
}
</style>
