<template>    
</template>

<script>
import swal from 'sweetalert2'
import { mapState } from 'vuex';

export default {
    name: 'sockets',
    data(){
        return {
            organizationId: ''
        }
    },

    created(){
        this.organizationId = this.$store.state.auth.organizationId
        this.docMgtSocket()
        this.fileMgtSocket ()
        this.subrisksTableSocket()
        this.membersRolesSockets()
        this.ganttSocket()
    },

    computed:{
        ...mapState('user', ['myUser']),
    },

    methods:{
        docMgtSocket(){
            //streaming tiempo real 
            this.$socket.on('gestorFolder'+this.organizationId, (data, action) => {
                if (action == 'ADD') {
                    this.$store.commit("folders/ADD_FOLDER", data)
                }
                if (action == 'UPDATE') {
                    let {index, name} = data
                    this.$store.commit("folders/UPDATE_FOLDER", {index, name} )
                }
                if (action == 'DELETE') {
                    this.$store.commit("folders/DELETE_FOLDER", data.paramsApi.id)
                }
                });
        },
        fileMgtSocket () {
            this.$socket.on('gestorFile'+this.organizationId, (data, action) => {
                if (action == 'ADD') {
                    this.$store.commit("files/ADD_FILES", data.rowSocket)
                }
                if (action == 'UPDATE') {
                    this.$store.commit("files/UPDATE_FILES", data.data)
                }
                if (action == 'DELETE FILE') {
                    this.$store.commit("files/DELETE_FILE", data.id)
                }
                });
        },
        subrisksTableSocket(){
            this.$socket.on('riskTable'+this.organizationId, (data, action) => {
            if (action == 'ADD')
            {
                this.$store.commit('risk/ADD_SUBRISK', data)
                let newSubriskObject = {
                subrisk_id: data._id,        
                subriskTitle: data.title,
                value: -1
                }
                this.$store.commit("question/ADD_NEW_SUBRISK_RESULT", newSubriskObject)
            }
            if (action == 'UPDATE')
            {
                this.$store.commit('risk/UPDATE_SUBRISK', data)
            }
            if (action == 'DELETE')
            {
                this.$store.commit('risk/DELETE_SUBRISK', data.id)
                this.$store.commit("question/DELETE_NEW_SUBRISK_RESULT", data.id)
            }
            });
        },
        membersRolesSockets(){
            this.$socket.on('memberRoles'+this.organizationId, (data, action) => {
                switch(action){
                    case 'ADD_MEMBER':
                        this.$store.commit('user/ADD_MEMBER', data)
                    break;
                    case 'UPDATE_MEMBER_INFO':
                        this.$store.commit('user/UPDATE_MEMBER_INFO', data)
                    break;
                    case 'DELETE_MEMBER':
                        if(data == this.myUser._id){
                            swal({
                                title: "Cuenta eliminada",
                                text: 'Tu cuenta ha sido eliminada del sistema',
                                allowEscapeKey: false,
                                allowOutsideClick: false,
                                type: "warning",
                                showCancelButton: false,
                                confirmButtonClass: "btn btn-warning btn-fill",
                                confirmButtonText: "OK"
                            })      
                            this.$store.dispatch("auth/logout")
                            this.$router.push({ name: "exit" })
                        }else{
                            this.$store.commit('user/DELETE_MEMBER', data)
                        }
                        
                    break;
                    case 'UPDATE_AUTHORIZER':
                        this.$store.commit('organization/SET_AREA_AUTH', data)
                    break;
                }
            });
        },
        ganttSocket(){            
            this.$socket.on('gantt'+this.organizationId, (data, action, idTask) => {
                let scroll = gantt.getScrollState()
                if (action == 'ADD_TASK')
                {
                    gantt.clearAll()
                    gantt.parse(data)
                    this.$store.commit("task/ADD_TASK", gantt.getTask(idTask))
                }
                if (action == 'UPDATE_TASK')
                {
                    gantt.clearAll()
                    gantt.parse(data)
                    this.$store.commit("task/UPDATE_TASK", gantt.getTask(idTask))
                }
                if (action == 'DELETE_TASK')
                {
                    gantt.clearAll()
                    gantt.parse(data)
                    this.$store.commit('task/DELETE_TASK', idTask)
                    this.$store.commit('task/DELETE_TASK_LINKS', idTask)
                }
                if (action == 'ADD_LINK')
                {
                    gantt.clearAll()
                    gantt.parse(data)
                    this.$store.commit("task/ADD_LINK", gantt.getLink(idTask))
                }
                if (action == 'DELETE_LINK')
                {
                    gantt.clearAll()
                    gantt.parse(data)
                    this.$store.commit('task/DELETE_LINK', idTask)
                }
                gantt.scrollTo(scroll.x,scroll.y)
            });
        }
    }

}
</script>