<template>
  <navbar v-model="showNavbar" class="bg-white">
    <div class="navbar-wrapper">
      <div class="navbar-minimize">
        <button id="minimizeSidebar" class="btn btn-icon btn-round btn-primary arrow-drop-menu" @click="minimizeSidebar">
          <i class="el-icon-d-arrow-right text-center visible-on-sidebar-mini"></i>
          <i class="el-icon-d-arrow-left text-center visible-on-sidebar-regular"></i>
        </button>
      </div>
      <div class="navbar-toggle">
        <navbar-toggle-button @click.native="toggleSidebar">

        </navbar-toggle-button>
      </div>
      <a class="navbar-brand" href="#"> Sistema automatizado <span class="second-part"> de cumplimiento normativo </span></a>
    </div>
    
    <template slot="navbar-menu">
    <!--   <form>
        <div class="input-group">
          <input type="text" value="" class="form-control" placeholder="Buscar...">
          <div class="input-group-append">
            <div class="input-group-text">
              <i class="nc-icon nc-zoom-split"></i>
            </div>
          </div>
        </div>
      </form> -->
      <ul class="navbar-nav" name="list">
        <div class="navbar-minimize"  @click="minimizeFaqbar" id="help-2">
            <button  id="help" class="btn btn-icon btn-round btn-magnify left-align" name="help" @click="minimizeFaqbar">
                <i class="fa fa-question-circle text-center visible-on-faq-mini" @click="minimizeFaqbar" ></i>
                <i class="fa fa-question-circle-o text-center visible-on-faq-regular" ></i>
            </button>
            <p>
              <span class="d-lg-none d-md-block color-mouse"  >GUÍA DE USUARIO</span>
            </p>
        </div>
        <li class="nav-item" id="notify">
            <notify  :quant="notifications.length"
                :notifies="notifications">
            </notify>
        </li>   
        <li class="nav-item" :style="'cursor:pointer'" ><!--@click="logout"-->
          <useredit id="user"></useredit>
        </li>
      </ul>
      <sockets></sockets>
    </template>
  </navbar>
</template>
<script>
  import Vue from "vue";
  import { Badge } from 'element-ui'
  import { Navbar, NavbarToggleButton } from 'src/components/UIComponents'
  import { mapState } from 'vuex';
  import {gralErrorMethods, gralErrorLog} from 'src/mixins/generalMethods'
  import notify from 'src/components/UIComponents/Notify.vue'
  import useredit from 'src/components/UIComponents/Useredit.vue'
  import sockets from './Sockets.vue'
  import getUsers from '../../../api/user/user'
  
  
  Vue.use(Badge)
  
  export default {
    components: {
      useredit,
      notify,
      Navbar,
      NavbarToggleButton,
      sockets
     
    },
    mixins: [gralErrorMethods, gralErrorLog],
    render: h => h(App).$mount('#dat'),
    data() {
      return {
        
        activeNotifications: false,
        access_token: '',
        organizationId: '',
        showNavbar: false,
        todayTask:''
      }
    },
    async created(){
      this.organizationId = this.$store.state.auth.organizationId
      this.access_token = this.$cookies.get("token")
      var params = {
        access_token: this.access_token
      }
      try{
        await this.openSocketNotifications() 
        await this.$store.dispatch("notifications/setNotifications", params)
      }catch(error){
        this.notifyError(error)
        this.writteGenericError("TopNavbar.vue", error, "Error setNotifications")
      }
      
    },
    beforeMount(){
      this.minimizeFaqbar();
    },
    computed:{
      ...mapState ('notifications',['notifications'])
    },  
    watch:{
       ordenar(){
        this.todayTask.sort(function(a, b){
          if(a.status!=='false'){
            a = new Date(a.next_day_monitory);
            b = new Date(b.next_day_monitory);
            return a<b ? -1 : a<b ? 1 : 0;
          }
          else{
           return a>b ? -1 : a>b ? 1 : 0;
          }
        })
      },
    },
    methods: {
      logout(){
        this.$store.dispatch("auth/logout")
        .then(()=>{
          this.$router.push({name:'exit'})
        })
      },
      async openSocketNotifications(){
        await this.$socket.on("org"+this.organizationId,()=>{  
          this.$store.dispatch("notifications/setNotifications", {access_token: this.access_token})          
        })
      },
      capitalizeFirstLetter(string) {
        return string.charAt(0).toUpperCase() + string.slice(1)
      },
      toggleNotificationDropDown() {
        this.activeNotifications = !this.activeNotifications
        
      },
      closeDropDown() {
        this.activeNotifications = false
      },
      toggleSidebar() {
        this.$sidebar.displaySidebar(!this.$sidebar.showSidebar)
      },
      hideSidebar() {
        this.$sidebar.displaySidebar(false)
      },
      minimizeSidebar() {
        this.$sidebar.toggleMinimize()
      },
      toggleNavbar() {
        this.showNavbar = !this.showNavbar;
      },
      minimizeFaqbar() {
        this.$faq.toggleMinimize()
      },
      hideFaqbar() {
        this.$faq.displaySidebar(false)
      },
    }
  }

</script>
<style lang="scss" scoped>
@import "src/assets/sass/paper/_variables.scss";
 @media screen and (max-width:991px){
 .medium-size{
   width:35%;
 }
 .bar-bottom{
   width:200%;
 }
} 
  .arrow-drop-menu{
    color: white;
    &:hover {
      color: white !important;
    }
  }
  .text-right{
    text-align:right;
    color:rgb(177, 177, 177);
    font-size:70%;
    padding-left:6rem;
  }
  .grid {
  display: grid;
  grid-template-columns: auto auto;
  
  }
  .grid-header {
  text-align:center;
  display: grid;
  grid-template-columns: auto ;
  border-bottom:1px solid rgba(48, 47, 47, 0.685);
  
  }
  .grid-item {
  background-color: transparent;
  //padding:1rem;
  }
  .drop-item {
  background-color: transparent;
  //padding:1rem;
    &:hover {
      font-weight: bolder;
      color:$primary-color;
      border-left:3px solid $new-blue;
      border-right:3px solid $info-color;
    .time-trans{
      color:$info-color-opacity;
    }
    .el-icon-bell{
      color:$new-dark-blue;
    }
    .title-noti{
    font-weight:bolder;
    color:$new-dark-blue;
    } 
    .title-notify{
      color:$primary-color;
    }
    }
    
  }
  .title-noti{
    font-weight:900;
  }
  .size-icon-one{
    font-size:200%;
    padding-top:1rem;
    padding-left:0.7rem;
    padding-right:1rem;
    color:$info-color;
     
  }
  .size-icon-two{
    font-size:200%;
    padding-top:1rem;
    padding-left:0.7rem;
    padding-right:1rem;
    color:$warning-color;
     
  }
  .size-icon-three{
    font-size:200%;
    padding-top:1rem;
    padding-left:0.7rem;
    padding-right:1rem;
    color:$danger-color;
     
  }
  .size-icon-four{
    font-size:200%;
    padding-top:1rem;
    padding-left:0.7rem;
    padding-right:1rem;
    color:$success-color;
     
  }
  .size-icon-five{
    font-size:200%;
    padding-top:1rem;
    padding-left:0.7rem;
    padding-right:1rem;
    color:$primary-color;
     
  }
  .title-notify{
    color:#000;
    font-size:80%;
  }
  .time-trans{
    text-align:right;
    color:rgb(177, 177, 177);
    
  }
  .bar-bottom{
    border-bottom:1px solid #ddd;
  }
  .btn[name="help"].btn-icon:not(.btn-footer):focus .fa:focus{
  color:$warning-color;
}
@media screen and(max-width:992px){
  .size-icon{
    padding-left:2rem;
  }
  
}
.btn[name="help"]{
  margin:0;
  margin-top:3px;
  margin-left:0.3rem;
  margin-right:.5rem;
  background:transparent;
  font-size:150%;
  color:$warning-color;
}
.fa {
    color: $warning-color;
    
}
.color-mouse:hover{
  color:$danger-color;
  cursor:pointer;
}
</style>
