<template>
  <div class="account-page">
    <div class="wrapper wrapper-full-page">
      <div class="full-page login-page section-image">
        <!--   you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple" -->
        <div class="content">
          <div class="container">
              <div class="col-lg-8 col-md-8 ml-auto mr-auto">
                <card type="login">
                  <h5 class="text-center">Ya casi terminamos...</h5>
                  <p class="text-center">
                      Por favor revisa tu correo ( <b>{{$route.params.email}} </b> ) para confirmar tu cuenta.
                  </p>    
                  <hr/>   
                  <div class="text-center">
                      <p>Si <b>{{$route.params.email}}</b> no es tu correo por favor 
                          <router-link :to="{path: customURL}"> regresa </router-link> e ingresa el correcto.</p>
                      <p>Si no has recibido el correo de confirmación en 15 minutos checa tu folder de SPAM</p>
                  </div>
                </card>
              </div>
          </div>
        </div>
        <app-footer></app-footer>
        <div class="full-page-background" style="background-image: url(static/img/background/jan-sendereks.jpg) "></div>
      </div>
    </div>
  </div>
</template>
<script>
  import {Card, Checkbox, Button} from 'src/components/UIComponents';
  import AppNavbar from './Layout/AppNavbar'
  import AppFooter from './Layout/AppFooter'
  import {SER_RESP, RC} from 'src/plugins/globalVariables'
  import {gralErrorMethods} from 'src/mixins/generalMethods.js'

  export default {
    //Apis to call
    resource: 'Auth',
    components: {
      Card,
      AppNavbar,
      AppFooter,
      [Checkbox.name]: Checkbox,
      [Button.name]: Button
    },
    mixins: [gralErrorMethods],
    computed:{
      customURL(){
        if(this.$store.state.user.registerInfo.paramsURL.includes('flag')){
          return this.$store.state.user.registerInfo.paramsURL
        }else if(this.$store.state.user.registerInfo.paramsURL.includes('?')){
          return this.$store.state.user.registerInfo.paramsURL + '&flag=regresa'
        }else{
          return this.$store.state.user.registerInfo.paramsURL + '?flag=regresa'
        }
      }
    },
    methods: {
    },
    data() {
      return {
      }
    },
  }
</script>
<style lang="scss" scoped>
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(87, 82, 82);
    margin: 1em 0;
    padding: 0;
}
</style>
