<!-- TODO: use global lenguage configuration for field name in error messages -->
<template>
  <div class="login-page">
    <div class="wrapper wrapper-full-page">
      <div class="full-page login-page section-image">
        <!--   you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple" -->
        <div class="content">
          <div class="container">
              <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                <card type="login">
                  <h3 slot="header" class="header text-center">Bienvenido</h3>

                  <fg-input v-model="form.username"
                            @keyup.enter="validate" 
                            v-validate="modelValidations.username" 
                            :error="getError('username')"
                            data-vv-as="Correo electrónico corporativo"
                            name ="username"  
                            addon-left-icon="nc-icon nc-single-02" 
                            placeholder="Correo electrónico corporativo"
                            ></fg-input>

                  <fg-input v-model="form.password" 
                            @keyup.enter="validate"
                            v-validate="modelValidations.password" 
                            :error="getError('password')"
                            data-vv-as="contraseña"
                            name ="password" 
                            addon-left-icon="nc-icon nc-key-25" 
                            placeholder="Contraseña" 
                            type="password"></fg-input>

                  <small>Si aun no tienes cuenta 
                    <router-link :to="{ name: 'Register' }">
                      <a>
                        Registrate aquí
                      </a> 
                    </router-link>
                  </small>
                  <br>

                  <small> Ir a
                    <router-link :to="{ name: 'Recoverymail' }">
                      <a>
                        Olvide mi contraseña 
                      </a> 
                    </router-link>
                  </small>
                  <p-button 
                    v-loading="loading" 
                    element-loading-background="rgba(256, 256, 256, 0.8)"    
                    name="log" slot="footer" @click.prevent="validate"  type="submit" round block class="mb-3">Entrar</p-button>                
                </card>
              </div>
          </div>
        </div>
        <app-footer></app-footer>
        <div class="full-page-background" style="background-image: url(static/img/background/jan-sendereks.jpg) "></div>
      </div>
    </div>
  </div>
</template>
<script>
  import {Card, Checkbox, Button} from 'src/components/UIComponents';
  import AppNavbar from './Layout/AppNavbar'
  import AppFooter from './Layout/AppFooter'
  import {SER_RESP, RC} from 'src/plugins/globalVariables'
  import {gralErrorMethods, gralErrorLog} from 'src/mixins/generalMethods.js'
  import userActions from 'src/api/user/user'

  export default {
    //Apis to call
    resource: 'Auth',
    components: {
      Card,
      AppNavbar,
      AppFooter,
      [Checkbox.name]: Checkbox,
      [Button.name]: Button
    },
    mixins: [gralErrorMethods, gralErrorLog],
    methods: {
      toggleNavbar () {
        document.body.classList.toggle('nav-open')
      },
      closeMenu () {
        document.body.classList.remove('nav-open')
        document.body.classList.remove('off-canvas-sidebar')
      },
      getError (fieldName) {
        return this.errors.first(fieldName)
      },
      showInvalid(){
        this.$notify({
          message: RC.NOT_VALID_SESSION.MSG,
          title: RC.NOT_VALID_SESSION.TITLE,
          type: 'danger'
        })
      },
      showBlock(message,title){
        this.$notify({
          message: message,
          title: title,
          type: 'danger'
        })
      },
      validate () {
        let isValid = false
        this.$validator.validateAll().then(
          isValid => { 
            if (isValid) {
              this.loading = true
              this.$store.dispatch('auth/signIn',this.form)
              .then(x => {
                this.loading = false
                this.$store.dispatch('user/getUser')
                .then(async () => {
                 // console.log($cookies.get("token"))
                  let paramsOrg = {
                    access_token: this.$cookies.get("token"),
                    org_id: this.$store.state.auth.organizationId
                  }
                  await this.$store.dispatch('organization/getInfoOrg', paramsOrg)
                  if (this.$store.state.user.myUser.flags.evaluate === true){
                    let paramsApi = {
                      access_token: this.$cookies.get("token"),
                      flags: {hideTutorialTour: false,
                              evaluate: false}
                    }
                    await this.$store.dispatch('user/setFlags', paramsApi)
                  }
                  if(this.$store.state.organization.premium['someModuleObtained']){
                    this.$router.push({name: 'admin', params: {id: this.form.username}})
                  }else{
                    this.$router.push({name: 'anticorruption'})
                  }
                  
                })
              }).catch(e => {
                this.loading = false
                if (e.code === 'ECONNABORTED') {
                  this.notifyError(e)
                  this.writteGenericError("Login.vue", e, "Error singIn ECONNABORTED ")
                  return
                }
                if (e.message === 'Network Error') {
                  this.notifyError(e)
                  this.writteGenericError("Login.vue", e, "Error singIn Network Error ")
                  return
                }
                if (e.response.status === SER_RESP.NOT_FOUND || SER_RESP.UNAUTHORIZED) {
                  this.showInvalid()
                  this.errorCounter++;
                  if(this.errorCounter >= 10)
                  {
                    this.errorCounter=0
                    this.$store.dispatch("user/getUserExist", {email: this.form.username})
                    .then(resp => {
                      let id = resp.data.id
                      let pass=this.passwordAleatorio()
                      let actionPass=userActions.insertPassword(id,pass)
                      .then(() => {
                        this.$store.dispatch("mail/blockUser", {correo: this.form.username, link: resp.data.id})
                        .then(() =>{
                          this.showBlock("Bloqueo de cuenta por exceso de intentos de inicio de Sesion","Cuenta Bloqueada")
                          this.form.username=''
                          this.$router.push({name: 'login'})
                        })
                        .catch(error =>{
                          this.notifyError(error, "No fue posible enviar el correo a su email")
                        })
                      })  
                      .catch(error => {
                        this.showBlock("Este usuario, no se ha encontrado, favor de verificar la cuenta","Usuario no encontrado")
                        this.$router.push({name: 'login'})
                        this.form.username=''
                      })
                    })
                      .catch(error => {
                        this.showBlock("No se ha podido Bloquear cuenta")
                        this.$router.push({name: 'login'})
                        this.form.username=''
                      })
                  }
                } 
              })
            }
        })  
      },
      passwordAleatorio() {
        var length=6
        var result           = ''
        var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789!#$%&/()=?¡*;:-_{[}]+¿'
        var charactersLength = characters.length
        for ( var i = 0; i < length; i++ ) {
            result += characters.charAt(Math.floor(Math.random() * charactersLength))
        }
        return result
      }
    },
    data() {
      return {
        loading: false,
        title: '',
        errorCounter:0,
        form: {
          username: '',
          password: ''
        },
        modelValidations: {
          username: {
            required: true,
            email: true
          },
          password: {
            required: true
          }
        } 
      }
    },
    beforeDestroy () {
      //this.closeMenu()
    }
  }
</script>
<style>
</style>
