<template>
  <div class="login-page">
    <div class="wrapper wrapper-full-page">
      <div class="full-page login-page section-image">
        <!--   you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple" -->
        <div class="content">
          <div class="container">
              <div class="col-lg-8 col-md-8 ml-auto mr-auto" v-if="!validateLink">
                <card type="login">
                  <h5 class="text-center">{{msgHeader}}</h5>
                  <p class="text-center">
                      {{msgValidateLink}}
                  </p>    
                  <p class="text-center">
                      {{msgValidateLink2}}
                  </p> 
                  <div class="mb-4 text-center" v-if="reg == true">
                    <span class="login-link text-muted text-left mb-2" v-if="origen === 'password'">{{msgReg}} <b-link :to="{ name: 'Recoverymail' }">aquí </b-link></span>
                    <span class="login-link text-muted text-left mb-2" v-else-if="origen === 'recovery'">{{msgReg}} <b-link :to="{ name: 'Recoverymail' }">aquí </b-link></span>
                    <br>
                  </div>
                  <p class="text-center">
                    <span class="text-center login-link text-muted text-left mb-2">Ir a <b-link :to="{ name: 'Login' }">Inicio de Sesión</b-link></span>
                  </p>   
                  
                </card>
              </div>
              <div class="col-lg-4 col-md-6 ml-auto mr-auto" v-else>
                <card type="signup" class="text-center">
                    <template slot="header">
                    <h5 slot="header" class="header text-center">Contraseña</h5>
                    <small class="text-muted text-left">Crea la contraseña de tu cuenta PAD</small>
                  </template>
                  <fg-input v-model="addUser.password" 
                            v-validate="'required|min:8|verify_password'"
                            name="password"  
                            type="password"
                            addon-left-icon="nc-icon nc-key-25" 
                            placeholder="Password  *"
                            :error="getError('password')"
                            data-vv-as="Password"
                            ref="password"></fg-input>
                  <fg-input v-model="form.password"
                            v-validate="'required|min:8|confirmed:password'"
                            name="confirmPassword"  
                            type="password"
                            addon-left-icon="nc-icon nc-key-25" 
                            placeholder="Confirmar Password  *"
                            :error="getError('confirmPassword')"
                            data-vv-as="Confirmar Password"></fg-input> 
                  <p-button class="mt-5"
                  v-loading="loading" 
                  element-loading-background="rgba(256, 256, 256, 0.9)"  
                    type="warning" @click="validate()" round>Confirmar Password</p-button>
                </card>
              </div>
            </div>
        </div>
        <app-footer></app-footer>
        <div class="full-page-background"
             style="background-image: url(static/img/background/jan-sendereks.jpg) "></div>
      </div>
    </div>
  </div>
</template>
<script>
  import Vue from 'vue'
  import AppNavbar from './Layout/AppNavbar'
  import Swal from "sweetalert2"
  import AppFooter from './Layout/AppFooter'
  import { Card, Checkbox, Button, InfoSection,Dropdown } from 'src/components/UIComponents';
  import { Select, Option } from 'element-ui'
  import PSwitch from 'src/components/UIComponents/Switch.vue'
  import {gralErrorMethods, gralErrorLog} from 'src/mixins/generalMethods.js'
  import userActions from 'src/api/user/user'
  import swal from 'sweetalert2';
   import VeeValidate from 'vee-validate';

    Vue.use(VeeValidate);

  export default {
    components: {
      Card,
      AppNavbar,
      AppFooter,
      InfoSection,
      [Checkbox.name]: Checkbox,
      [Button.name]: Button,
      [Select.name]: Select,
      [Option.name]: Option,
      PSwitch
    },
    mixins: [gralErrorMethods, gralErrorLog],
    data(){
      return {
        msgHeader: "Comprobando link...",
        validateLink: false,
        msgValidateLink:'Verificando que el link este vigente...Espere un momento',
        msgValidateLink2:'',
        msgReg:'',
        reg:false,
        id_link: '',
        origen:'',
        loading: false,
        addUser:
        {
          password: ''
        },
        form: {
          confirmPassword: '',
        },
      }
    },
    async created() {
      var created=''
      var milisec=''
      var milisecNow=''
      var dif=0
      if(this.$route.query['password']!==undefined){
        this.origen = "password"
        this.id_link = this.$route.query['password']
        userActions.getExpirationDateLink(this.id_link)
        .then(res => {
          if(res.data.isLinkExpired){
            this.msgHeader = "Lo sentimos, no puede continuar con el proceso"
            this.msgValidateLink = "El link ha expirado"
            this.reg = true
            this.msgReg = "Si deseas, puedes volver a recuperar tu contraseña"
          }else{
            this.msgHeader = "Verificacion Exitosa"
            this.msgValidateLink = "El link esta vigente"
            this.validateLink = true
            this.reg = false
            this.msgReg = ""
          }
        })
        .catch(error =>{
          this.msgHeader = "Lo sentimos, no puede continuar con el proceso"
          this.msgValidateLink = "El link ha expirado"
          this.msgValidateLink2 = "Si usted cree que se trata de un error, por favor verifique su conexión a internet"
        })
      }
      if(this.$route.query['recovery']!==undefined){
        this.origen="recovery"
        this.id_link = this.$route.query['recovery']
        userActions.getExpirationDateLink(this.id_link)
        .then(res => {
          if(res.data.isLinkExpired){
            this.msgHeader = "Lo sentimos, no puede continuar con el proceso"
            this.msgValidateLink = "El link ha expirado"
            this.reg = true
            this.msgReg = "Vuelve a recuperar tu contraseña "
          }else{
            this.msgHeader = "Verificacion Exitosa"
            this.msgValidateLink = "El link esta vigente"
            this.validateLink = true
            this.reg = false
            this.msgReg = ''              
          }
          })
        .catch(error =>{
          this.msgHeader = "Lo sentimos, no puede continuar con el proceso"
          this.msgValidateLink = "El link ha expirado"
          this.msgValidateLink2 = "Si usted cree que se trata de un error, por favor verifique su conexión a internet"
        })
      }
      if(this.$route.query['payment1']!==undefined){
        this.id_link = this.$route.query['payment1']
        userActions.getExpirationDateLink(this.id_link)
        .then(res => {
          if(res.data.isLinkExpired){
            this.msgHeader = "Lo sentimos, no puede continuar con el proceso"
            this.msgValidateLink = "El link ha expirado"
            this.reg = true
            this.msgReg = "Vuelve a recuperar tu contraseña "
          }else{
            this.msgHeader = "Verificacion Exitosa"
            this.msgValidateLink = "El link esta vigente"
            this.validateLink = true
            this.reg = false
            this.msgReg = ''              
          }
          })
        .catch(error =>{
          this.msgHeader = "Lo sentimos, no puede continuar con el proceso"
          this.msgValidateLink = "El link ha expirado"
          this.msgValidateLink2 = "Si usted cree que se trata de un error, por favor verifique su conexión a internet"
        })
      }
    
      
      VeeValidate.Validator.extend('verify_password', {
        getMessage: field => `La contraseña debe tener por lo menos 1 letra mayúscula, 1 minúscula y 1 número `,
        validate: value => {
            var strongRegex = new RegExp("^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.{8,})");
            return strongRegex.test(value);
        }
      });
    },
    methods: {  
      goToLogin(){
        this.$router.push({name: 'login'})
      },   
      getError (fieldName) {
        return this.errors.first(fieldName)
      },
      insertUser(){
        let id = this.id_link
        userActions.insertPassword(id,this.addUser.password)
          .then(x => {
            let id = x.data.email
            this.showGenericSuccess('Registro exitoso')
            this.$store.dispatch('auth/signIn',{username: id, password:this.addUser.password})
            .then(async() => {
              let paramsOrg = {
                access_token: this.$cookies.get("token"),
                org_id: this.$store.state.auth.organizationId
              }
              if(this.$route.query['payment1']!==undefined) {
                var access_token= this.$cookies.get("token")
                this.$router.push({ name: 'buying' , params: {id:access_token, car: this.$route.query['car']}})
                return
              }
              await this.$store.dispatch('organization/getInfoOrg', paramsOrg)
              if (x.data.flags.evaluate) {
                this.$router.push({name: 'anticorruption'})
              } else {
                if(this.$store.state.organization.premium['someModuleObtained']){
                  this.$router.push({name: 'admin', params: {id: id}})
                }else{
                  this.$router.push({name: 'anticorruption'})
                }
              } 
            })
          })  
          .catch(error => { 
            this.loading = false
            if (error.code === 'ECONNABORTED') {
              this.notifyError(error)
              this.writteGenericError("Password.vue", error, "Error singIn ECONNABORTED ")
              return
            }
            if (error.message === "Network Error"){
              this.showGenericError("Registro sin exito", "Por el momento no es posible registrarse, intentelo mas tarde")
              this.writteGenericError("Password.vue", error, "Error singIn NetworkError ")         
          }else{
              {
                this.showGenericError("Registro sin exito", error.response.data.message )
              }
            }
          })
      }, 
      validate () {
        return this.$validator.validateAll().then(isValid => {
          this.$emit('on-submit', this.form, isValid)
          if (isValid){
            this.insertUser()
          } else {
            swal({
                title: "Contraseña Inválida",
                text: "Siga las instrucciones para poder asignar su contraseña",
                type: "warning",
                confirmButtonClass: "btn btn-danger btn-fill",
                buttonsStyling: false
              }).catch(swal.noop)
          }
        })
      }
    },
  }
</script>
<style lang="scss">
.select-default[name="Telefono"]{
  position:relative;
  left:20px;
}
.vue-tel-input .border[data-v-b5193524]{
  border:1px solid #ddd;
}

</style>
