<!-- TODO: use global lenguage configuration for field name in error messages -->
<template>
  <div class="login-page">
    <div class="wrapper wrapper-full-page">
      <div class="full-page login-page section-image">
        <!--   you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple" -->
        <div class="content">
          <div class="container">
            <div class="col-lg-6 col-md-6 ml-auto mr-auto">
              <card type="login">
                <h3 slot="header" class="header text-center">
                  Recuperar contraseña
                </h3>
                <div class="mb-4 text-center">
                  <small class="login-link text-muted text-left mb-2"
                    >¿Recuerdas tu contraseña? Inicia Sesión
                    <b-link :to="{ name: 'login' }">aquí </b-link></small
                  >
                </div>
                <fg-input
                  v-model="form.username"
                  @input="validate"
                  @change="validate"
                  v-validate="modelValidations.username"
                  :error="getError('username')"
                  data-vv-as="correo electrónico"
                  name="username"
                  addon-left-icon="nc-icon nc-single-02"
                  placeholder="Introduzca su Correo Electrónico"
                ></fg-input>

                <fg-input
                  v-model="form.correo"
                  @input="validate"
                  @change="validate"
                  v-validate="modelValidations.correo"
                  :error="getError('correo')"
                  data-vv-as="correo electrónico"
                  name="correo"
                  addon-left-icon="nc-icon nc-single-02"
                  placeholder="Confirme su Correo Electrónico"
                ></fg-input>

                <br />
                <small> {{ this.mensaje }} </small>
                <div v-if="this.verify === true">
                  <p-button
                    v-loading="loading"
                    element-loading-background="rgba(192, 192, 192, 0.8)"
                    name="log"
                    slot="footer"
                    @click="validarcorreo"
                    type="submit"
                    round
                    block
                    class="mb-3"
                    >Enviar</p-button
                  >
                </div>
                <!-- <div v-else>
                    <p-button 
                      v-loading="loading" 
                      element-loading-background="rgba(256, 256, 256, 0.8)"
                      name="log" slot="footer"   type="submit" round block class="mb-3">Verificar</p-button>
                  </div> -->
              </card>
            </div>
          </div>
        </div>
        <app-footer></app-footer>
        <div
          class="full-page-background"
          style="background-image: url(static/img/background/jan-sendereks.jpg) "
        ></div>
      </div>
    </div>
  </div>
</template>
<script>
import { Card, Checkbox, Button } from "src/components/UIComponents";
import AppNavbar from "./Layout/AppNavbar";
import AppFooter from "./Layout/AppFooter";
import { SER_RESP, RC } from "src/plugins/globalVariables";
import { gralErrorMethods, gralErrorLog } from "src/mixins/generalMethods.js";
import mail from "src/api/mail/mail";
import Swal from "sweetalert2";

export default {
  //Apis to call
  resource: "Auth",
  components: {
    Card,
    AppNavbar,
    AppFooter,
    [Checkbox.name]: Checkbox,
    [Button.name]: Button
  },
  mixins: [gralErrorMethods, gralErrorLog],
  methods: {
    toggleNavbar() {
      document.body.classList.toggle("nav-open");
    },
    closeMenu() {
      document.body.classList.remove("nav-open");
      document.body.classList.remove("off-canvas-sidebar");
    },
    getError(fieldName) {
      return this.errors.first(fieldName);
    },
    validate() {
      let isValid = false;
      this.$validator.validateAll().then(isValid => {
        if (isValid && this.form.username === this.form.correo) {
          this.mensaje = "Correo listo para recuperar contraseña";
          this.verify = true;
        } else {
          this.mensaje = "Los correos no coinciden";
          this.verify = false;
        }
      });
    },
    validarcorreo() {
      this.$store
        .dispatch("user/getUserExist", { email: this.form.username })
        .then(resp => {
          this.showGenericSuccess(
            "Recuperación exitosa!!!",
            "Favor de finalizar el proceso,mediante el link enviado"
          );
          this.$store
            .dispatch("mail/mails", {
              correo: this.form.username,
              link: "recovery=" + resp.data.id,
              recovery: true
            })
            .then(() => {
              this.$router.push({ name: "login" });
            })
            .catch(error => {
              this.notifyError(
                error,
                "No fue posible enviar el correo a su email"
              );
              this.writteGenericError(
                "Recoverymail.vue",
                error,
                "Error al enviar correo,mails"
              );
            });
        })
        .catch(error => {
          console.log(error);
          this.writteGenericError(
            "Recoverymail.vue",
            error,
            "Error al obtener user, getUserExist"
          );
          this.showGenericError(
            ": Correo NO encontrado",
            "El correo, no esta registrado, favor de verificar"
          );
        });
    }
  },

  data() {
    return {
      loading: false,
      title: "",
      form: {
        username: "",
        correo: ""
      },
      modelValidations: {
        username: {
          required: true,
          email: true
        },
        correo: {
          required: true,
          email: true
        }
      },
      mensaje: "",
      verify: false
    };
  },
  beforeDestroy() {
    //this.closeMenu()
  }
};
</script>
<style></style>
