<template>
  <div class="register-page">
    <div class="wrapper wrapper-full-page ">
      <div class="full-page register-page section-image" filter-color="black">
        <div class="content">
          <div class="container">
            <div class="row">
              <div class="col-lg-5 col-md-5 ml-auto">
                <info-section class="mt-5 pd-5"
                              type="primary"
                              title="Bienvenido"
                              description="Para brindarle una mejor atención, por favor llene el siguiente formulario "
                              icon="nc-icon nc-tv-2">
                </info-section>
                <info-section class="mt-5 pd-5"
                              type="primary"
                              title="Nuestra Firma"
                              description="Tiene el compromiso de contribuir con nuestros clientes brindando soluciones especializadas a esos nuevos entornos a tráves de innovadores programas de compliance y mejores prácticas"
                              icon="nc-icon nc-bulb-63">
                </info-section>
              </div>
              <div class="col-lg-5 col-md-6 mr-auto">
                <card type="signup" class="text-center">
                  <template slot="header">
                    <h3 slot="header" class="header text-center">Registro</h3>
                    <small class="login-link text-muted text-left">¿Ya tienes una cuenta? Inicia Sesión <b-link :to="{ name: 'login' }">aquí </b-link></small>
                  </template>
                  <fg-input v-model="addUser.name" 
                            v-validate="modelValidations.name" 
                            name ="name"  
                            addon-left-icon="nc-icon nc-single-02" 
                            placeholder="Nombre Completo  *"
                            :error="getError('name')"
                            data-vv-as="nombre"
                            ></fg-input>

                  <fg-input v-model="addUser.email" 
                            v-validate="modelValidations.email" 
                            name ="email"  
                            addon-left-icon="nc-icon nc-email-85" 
                            placeholder="Correo electrónico corporativo *"
                            :error="getError('email')"
                            data-vv-as="Correo electrónico corporativo"></fg-input>

                  <div class="row row-no-gutters">   
                  <div class="col-sm-12">
                    <fg-input :error="getError('Telefono')">
                      <vue-tel-input v-model="phoneAux"
                                    style="border"
                                    @onInput="onInputPhone"
                                    v-validate="modelValidations.phone"
                                    defaultCountry='MX'
                                    name="Telefono"
                                    placeholder="Teléfono * "
                                    class="select-default nc-icon nc-mobile border"
                                    >
                      </vue-tel-input> 
                    </fg-input>
                  </div>   
                  </div>
                 <div class="row row-no-gutters">
                      <div class="col-sm-12">
                      <fg-input :error="getError('Celular')">
                      <vue-tel-input v-model="mobileAux"
                                    style="border"
                                    @onInput="onInputMobile"
                                    v-validate="modelValidations.mobile"
                                    defaultCountry='MX'
                                    name="Celular"
                                    placeholder="Celular * "
                                    class="select-default nc-icon nc-mobile border"
                                    >
                      </vue-tel-input> 
                      </fg-input>
                      </div>
                  </div>
                    <fg-input :error="getError('pais')">
                    <el-select v-model="addUser.pais"
                              class="select-default"
                              name="pais"
                              placeholder="Seleccione Pais*"
                              data-vv-as="Pais"
                              
                              v-validate="modelValidations.pais">
                      <el-option v-for="option in selects.pais"
                                class="select-default"
                                :value="option"
                                :label="option"
                                :key="option.label"
                                default="Mexico"
                                ></el-option>
                    </el-select>
                  </fg-input>
                  <fg-input :error="getError('numEmployments')">
                    <el-select v-model="addUser.organization.numEmployments"
                              class="select-default"
                              name="numEmployments"
                              placeholder="Seleccione Número de Empleados  *"
                              data-vv-as="Número de Empleados"
                              v-validate="modelValidations.numEmployments">
                      <el-option v-for="option in selects.numEmployments"
                                class="select-default"
                                :value="option.value"
                                :label="option.label"
                                :key="option.label"></el-option>
                    </el-select>
                  </fg-input>
                  <fg-input :error="getError('income')">
                    <el-select v-model="addUser.organization.income"
                              class="select-default"
                              name="income"
                              placeholder="Seleccione Ingreso Anual  *"
                              data-vv-as="Ingreso Anual"
                              v-validate="modelValidations.income">
                      <el-option v-for="option in selects.incomes"
                                class="select-default"
                                :value="option.value"
                                :label="option.label"
                                :key="option.label"></el-option>
                    </el-select>
                  </fg-input>
                  <fg-input :error="getError('module')">
                    <el-select v-model="addUser.organization.module"
                              class="select-default"
                              name="module"
                              placeholder="Seleccione Módulo de Interés  *"
                              data-vv-as="Modulo"
                              v-validate="modelValidations.module">
                      <el-option v-for="option in selects.modules"
                                class="select-default"
                                :value="option.value"
                                :label="option.label"
                                :key="option.label"></el-option>
                    </el-select>
                  </fg-input>
                  <fg-input :error="getError('occupation')">
                    <el-select v-model="addUser.ocupation"
                              class="select-default"
                              name="occupation"
                              placeholder="Seleccione Cargo  *"
                              data-vv-as="Cargo"
                              v-validate="modelValidations.occupation">
                      <el-option v-for="option in selects.occupations"
                                class="select-default"
                                :value="option.value"
                                :label="option.label"
                                :key="option.label"></el-option>
                    </el-select>
                  </fg-input>
                  <fg-input type="text"
                    name="url"
                    placeholder="Web Corporativa"
                    addon-left-icon="nc-icon nc-globe"
                    v-model="addUser.organization.url">
                  </fg-input>
                  <fg-input type="text"
                    :error="getError('zipcode')"
                    name="zipcode"
                    placeholder="Código Postal Empresa "
                    addon-left-icon="nc-icon nc-map-big"
                    data-vv-as="CP"
                    v-validate="modelValidations.cp"
                    v-model="addUser.organization.zipcode">
                  </fg-input>
                  <fg-input >
                    <el-select v-model="form.contactMedio"
                              class="select-default"
                              name="contactMedio"
                              placeholder="¿Cómo nos conociste?">
                      <el-option v-for="option in selects.contactMedios"
                                class="select-default"
                                :value="option.value"
                                :label="option.label"
                                :key="option.label"></el-option>
                    </el-select>
                  </fg-input>
                  <small class="text-muted text-left">* Campos Obligatorios</small>
                  <fg-input :error="getError('acceptTerms')">
                    <p-checkbox class="text-left" 
                              v-model="form.acceptTerms"
                              name ="acceptTerms" 
                              v-validate="modelValidations.acceptTerms" 
                              data-vv-as="Terminos y Condiciones">    
                      He leído y estoy de acuerdo con los 
                      <router-link :to="{name:'terminos'}">
                        <a href="#">Términos y Condiciones</a>.
                      </router-link>
                    </p-checkbox>
                  </fg-input>
                  <fg-input :error="getError('acceptPrivacy')">
                    <p-checkbox class="text-left" 
                              v-model="form.acceptPrivacy"
                              name ="acceptPrivacy" 
                              v-validate="modelValidations.acceptPrivacy" 
                              data-vv-as="Aviso de Privacidad">
                      Acepto
                      <router-link :to="{name:'privacy'}">
                        <a href="#">Aviso de Privacidad</a>.
                      </router-link>
                    </p-checkbox>
                  </fg-input>
                  <fg-input>
                    <small class="text-muted text-left">¿Te gustaría recibir las principales noticias, boletines y promociones? </small>
                    <br>
                    <p-switch v-model="form.news" type="warning" on-text="Si" off-text="No"></p-switch>
                  </fg-input>

                  <p-button 
                  v-loading="loading" 
                  element-loading-background="rgba(256, 256, 256, 0.9)"  
                  slot="footer" @click="validate()"  type="warning" round>Comenzar</p-button>
                </card>
              </div>
            </div>
          </div>
        </div>
        <app-footer></app-footer>
        <div class="full-page-background"
             style="background-image: url(static/img/background/jan-sendereks.jpg) "></div>
      </div>
    </div>
  </div>
</template>
<script>
import AppNavbar from "./Layout/AppNavbar";
import Swal from "sweetalert2";
import AppFooter from "./Layout/AppFooter";
import {
  Card,
  Checkbox,
  Button,
  InfoSection,
  Dropdown
} from "src/components/UIComponents";
import { Select, Option } from "element-ui";
import PSwitch from "src/components/UIComponents/Switch.vue";
import user from "../../api/user/user";
import { Validator } from "vee-validate";
import mail from "src/api/mail/mail";
import { gralErrorMethods, gralErrorLog } from "src/mixins/generalMethods.js";
import { PAISES } from "./Paises.js";
import { FREEMAIL } from "./FreeMail.js";

export default {
  components: {
    Card,
    AppNavbar,
    AppFooter,
    InfoSection,
    [Checkbox.name]: Checkbox,
    [Button.name]: Button,
    [Select.name]: Select,
    [Option.name]: Option,
    PSwitch
  },
  mixins: [gralErrorMethods, gralErrorLog],
  data() {
    return {
      loading: false,
      phoneAux: "",
      mobileAux: "",
      addUser: {
        name: "",
        email: "",
        phone: "",
        country: [],
        okMobile: "",
        okFixedLine: "",
        mobile: "",
        pais: "Mexico",
        ocupation: "",
        organization: {
          domain: "",
          nameorg: "",
          numEmployments: "",
          income: "",
          url: "",
          zipcode: "",
          moduleTarget: "",
          premium: ""
        },
        paramsURL: this.$route.fullPath
      },
      form: {
        contactMedio: "",
        acceptTerms: null,
        acceptPrivacy: null,
        news: true
      },

      modelValidations: {
        name: {
          required: true,
          min: 1
        },
        email: {
          required: true,
          email: true
        },
        phone: {
          required: true,
          min: 10,
          verify_fixedLine: true
        },
        country: {
          required: true
        },
        cp: {
          max: 7,
          min: 1,
          alpha_num: true
        },
        mobile: {
          required: true,
          min: 10,
          verify_mobile: true
        },
        numEmployments: {
          required: true
        },
        income: {
          required: true
        },
        module: {
          required: true
        },
        occupation: {
          required: true
        },
        acceptTerms: {
          required: true,
          verify_terms: true
        },
        acceptPrivacy: {
          required: true,
          verify_privacy: true
        },
        pais: {
          required: true
        }
      },
      selects: {
        occupations: [
          { value: "legal", label: "Área Legal" },
          { value: "HR", label: "Área Recursos Humanos" },
          { value: "finance", label: "Área Finanzas" },
          { value: "fiscal", label: "Área Fiscal" },
          { value: "comercial", label: "Área Comercial" },
          { value: "compliance", label: "Área Compliance" },
          {
            value: "IT",
            label: "Área Seguridad de la Información y Datos Personales"
          },
          { value: "accounting", label: "Área Contable" },
          { value: "other", label: "Otro" }
        ],
        numEmployments: [
          { value: 1, label: "5-100" },
          { value: 2, label: "100-5,000" },
          { value: 3, label: "5,000-10,000" },
          { value: 4, label: "> 10,000" }
        ],
        incomes: [
          { value: 1, label: "< $100,000" },
          { value: 2, label: "$100,000 - $500,000" },
          { value: 3, label: "$500,000 - $1,000,000" },
          { value: 4, label: "> $1,000,000" }
        ],
        modules: [
          { value: "corruption", label: "Anticorrupción" },
          { value: "continuidad", label: "Continuidad de negocio COVID-19" },
          { value: "antilavado", label: "Antilavado" },
          { value: "personalData", label: "Datos Personales" },
          { value: "outsourcing", label: "Laboral" }
        ],
        contactMedios: [
          { value: "google", label: "Google" },
          { value: "socialNet", label: "Redes Sociales" },
          { value: "other", label: "Otro" }
        ],
        pais: PAISES
      },
      origen: "",
      freemail: FREEMAIL
    };
  },
  created() {
    if (this.$route.query.Paymenth === "true") {
      this.origen = "Paymenth";
    }

    if (this.$route.query.flag === "regresa") {
      this.okPhone = "true";
      this.startGoBack();
    }
    Validator.extend("verify_fixedLine", {
      getMessage: field => {
        if (this.okPhone != "true") {
          return "El campo  " + field + " no es valido.";
        }
      },
      validate: value =>
        new Promise(resolve => {
          var PhoneNumber = require("awesome-phonenumber");
          var pn = new PhoneNumber(
            this.addUser.phone,
            this.addUser.codeCountryFixedLine
          );
          resolve({
            valid: pn.isValid()
          });
        })
    }),
      Validator.extend("verify_mobile", {
        getMessage: field => {
          if (this.okMobile != "true") {
            return "El campo  " + field + " no es valido.";
          }
        },
        validate: value =>
          new Promise(resolve => {
            var PhoneNumber = require("awesome-phonenumber");
            var pn = new PhoneNumber(
              this.addUser.mobile,
              this.addUser.codeCountryMobile
            );
            resolve({
              valid: pn.isValid()
            });
          })
      });
    Validator.extend("verify_terms", {
      getMessage: field => {
        if (this.form.acceptTerms != "true") {
          return "Debe aceptar los Términos y Condiciones";
        }
      },
      validate: value => value
    });
    Validator.extend("verify_privacy", {
      getMessage: field => {
        if (this.form.acceptPrivacy != "true") {
          return "Debe aceptar el Aviso de Privacidad";
        }
      },
      validate: value => value
    });
  },
  methods: {
    startGoBack() {
      this.addUser.name = this.$store.state.user.registerInfo.name;
      this.addUser.email = this.$store.state.user.registerInfo.email;
      this.phoneAux = this.$store.state.user.registerInfo.phone;
      this.addUser.phone = this.$store.state.user.registerInfo.phone;
      this.mobileAux = this.$store.state.user.registerInfo.mobile;
      this.addUser.mobile = this.$store.state.user.registerInfo.mobile;
      this.addUser.pais = this.$store.state.user.registerInfo.pais;
      this.addUser.organization.numEmployments = this.$store.state.user.registerInfo.organization.numEmployments;
      this.addUser.organization.income = this.$store.state.user.registerInfo.organization.income;
      this.addUser.organization.module = this.$store.state.user.registerInfo.organization.module;
      this.addUser.ocupation = this.$store.state.user.registerInfo.ocupation;
      this.addUser.organization.url = this.$store.state.user.registerInfo.organization.url;
      this.addUser.organization.zipcode = this.$store.state.user.registerInfo.organization.zipcode;
      this.okPhone = "true";
      this.okMobile = "true";
    },
    toggleNavbar() {
      document.body.classList.toggle("nav-open");
    },
    closeMenu() {
      document.body.classList.remove("nav-open");
      document.body.classList.remove("off-canvas-sidebar");
    },
    getError(fieldName) {
      return this.errors.first(fieldName);
    },
    insertUser() {
      // get domain from email
      let valuePremium = {
        moduleAutodiagostic: true,
        modulePenal: false,
        moduleContinuidad: false,
        moduleMoney: false,
        moduleAnticorruption: false,
        vigContinuidad: "2020-06-30"
      };
      var cadFecha = valuePremium.vigContinuidad;
      var fechaVig = new Date(cadFecha).getTime();
      //----------Obtener fecha de hoy
      var today = new Date();
      var diff = fechaVig - today;
      //console.log("Today" + today.getTime());
      diff = diff / (1000 * 60 * 60 * 24);
      if (diff >= 0) {
        valuePremium.moduleContinuidad = true;
      }

      let domain = this.addUser.email.split("@").pop();
      this.addUser.organization.domain = domain;
      this.addUser.organization.premium = valuePremium;
      this.loading = true;

      //Validate Diagnostic Flags
      if (this.$route.query.evaluate === "true") {
        this.addUser.flags = {
          firstTime: true,
          hideTutorialTour: true,
          evaluate: true
        };
      } else {
        this.addUser.flags = {
          firstTime: true,
          hideTutorialTour: true
        };
      }
      if (this.$route.query.Payment === "true") {
        this.origen = "Paymenth";
        alert("payment");
      }
      user
        .setUser(this.addUser)
        .then(async resp => {
          await this.$store.commit("user/SET_DATA_REGISTER", this.addUser);
          let data = {
            _id: resp.data.id,
            name: resp.data.name,
            role: resp.data.role,
            roleDocMgt: resp.data.roleDocMgt,
            picture: resp.data.picture,
            ocupation: resp.data.ocupation
          };
          this.$socket.emit(
            "memberRoles",
            data,
            resp.data.organization_id,
            "ADD_MEMBER"
          );
          if (this.form.news) {
            this.$store
              .dispatch("newsletters/suscribeNewsletters", {
                mail: this.addUser.email
              })
              .catch(error => {
                if (
                  error.response !== undefined &&
                  error.response.status === 409
                ) {
                  Swal({
                    title: "Este correo ya esta suscrito a nuestro newsletter",
                    text:
                      "El correo proporcionado ya fue registrado con anterioridad a nuestro newsletter",
                    buttonsStyling: false,
                    confirmButtonClass: "btn btn-info btn-fill",
                    type: "info"
                  });
                } else {
                  Swal({
                    title: "No se pudo realizar la suscripción",
                    text:
                      "Ha ocurrido un fallo al intentar dar de alta el correo en nuestro newsletter, favor de revisar la conexion y/o intentarlo mas tarde",
                    buttonsStyling: false,
                    confirmButtonClass: "btn btn-danger btn-fill",
                    type: "error"
                  });
                }
              });
          }
          if (this.origen) {
            let paramsURL = "payment1=" + resp.data.id;
            if (this.$route.query.car !== undefined) {
              paramsURL += "&car=" + this.$route.query.car;
            }
            this.$store
              .dispatch("mail/mails", {
                correo: this.addUser.email,
                link: paramsURL,
                recovery: false
              })
              .then(() => {
                this.loading = false;
                this.showGenericSuccess(
                  "Registro exitoso",
                  "Favor de validar su correo mediante el link enviado"
                );
                this.$router.push({
                  name: "Account",
                  params: { email: this.addUser.email, id: resp.data.id }
                });
              })
              .catch(error => {
                this.loading = false;
                this.notifyError(
                  error,
                  "No se pudo enviar el correo de verificación a su email registrado"
                );
              });
          } else {
            this.$store
              .dispatch("mail/mails", {
                correo: this.addUser.email,
                link: "password=" + resp.data.id,
                recovery: false
              })
              .then(() => {
                this.loading = false;
                this.showGenericSuccess(
                  "Registro exitoso",
                  "Favor de validar su correo mediante el link enviado"
                );
                this.$router.push({
                  name: "Account",
                  params: { email: this.addUser.email, id: resp.data.id }
                });
              })
              .catch(error => {
                this.loading = false;
                this.notifyError(
                  error,
                  "No se pudo enviar el correo de verificación a su email registrado"
                );
              });
          }
        })
        .catch(error => {
          this.loading = false;
          if (error.code === "ECONNABORTED") {
            this.notifyError(error);
            this.writteGenericError(
              "Register.vue",
              error,
              "Error singIn ECONNABORTED "
            );
            return;
          }
          if (error.message === "Network Error") {
            this.showGenericError(
              "Registro sin exito",
              "Por el momento no es posible registrarse, intentelo mas tarde"
            );
            this.writteGenericError(
              "Register.vue",
              error,
              "Error singIn NetworkError "
            );
          } else {
            if (error.response.status == 400) {
              this.showGenericError(
                "Registro sin exito",
                error.response.data.message
              );
              this.writteGenericError(
                "Register.vue",
                error,
                "Error status 400 "
              );
            } else {
              this.showGenericError(
                "Registro sin exito",
                "Correo registrado anteriormente"
              );
            }
          }
        });
    },
    onInputPhone({ number, isValid, country }) {
      this.okPhone = isValid;
      if (isValid) {
        this.addUser.phone = this.phoneAux.replace(/ /g, "");
      }
    },
    onInputMobile({ number, isValid, country }) {
      this.okMobile = isValid;
      if (isValid) {
        this.addUser.mobile = this.mobileAux.replace(/ /g, "");
      }
    },
    validate() {
      return this.$validator.validateAll().then(isValid => {
        this.$emit("on-submit", this.form, isValid);
        if (isValid) {
          let domain = this.addUser.email.split("@").pop();
          this.addUser.organization.domain = domain;
          this.loading = true;
          let mydomain = domain.split(".");
          let searchDomain = mydomain[0].toLowerCase();
          let isFree = this.freemail.includes(searchDomain);
          if (!isFree) {
            this.insertUser();
          } else {
            this.showGenericError(
              "Registro sin éxito",
              "El correo usado no es un correo corporativo."
            );
            this.loading = false;
          }
        }
      });
    }
  },
  beforeDestroy() {
    this.closeMenu();
  }
};
</script>
<style lang="scss" scoped>
.select-default[name="Telefono"] {
  position: relative;
  left: 20px;
}
.vue-tel-input .border[data-v-b5193524] {
  border: 1px solid #ddd;
}
@media screen and (max-width: 414px) {
  .el-select-dropdown__item {
    font-size: 12px;
    position: relative;
    margin-left: 2rem;
  }
}
</style>
