<template>
  <div>
    <div class="row justify-content-center mb-3">
      <h5 class="info-text">{{nombre1}}</h5>
    </div>
    <table class="table table-striped table-hover">
		  <thead>
			  <tr>
				  <th> </th>
          <td class="text-center"> Si <p-radio  class="radiobox" id="box" name="allOne" v-model="valor" label="1" @myChange="selectAll(valor)"><span class="place">Selecciona Todos</span></p-radio></td>
          <td class="text-center"><span class="change-title" data-desktoptext="Parcialmente" data-tablettext="Par"></span> <p-radio  class="radiobox" id="box" name="allOne" v-model="valor" label="0.5" @myChange="selectAll(valor)"><span class="place">Selecciona Todos</span></p-radio></td>
          <td class="text-center"> No <p-radio  class="radiobox" id="box" name="allOne" v-model="valor" label="0" @myChange="selectAll(valor)"><span class="place">Selecciona Todos</span></p-radio></td>
			  </tr>
		  </thead>
      <tbody>
        <tr v-for="(subRiesgo,index) in getTitleAndIdSubrisks" :key="subRiesgo._id">
         <td><span class="change-title" :data-desktoptext="subRiesgo.title" :data-tablettext="getAbbrev(subRiesgo.title)"></span></td>
			   <td class="text-center ">
					<p-radio class="radiobox text-left" id="box" :name="String(index)" v-model="dataByTab[tabIndex].results[index].value" label="1" v-validate="'required|min_value:0'"></p-radio>
				 </td>
         <td class="text-center">
	        <p-radio class="radiobox text-left" id="box" :name="String(index)" v-model="dataByTab[tabIndex].results[index].value" label="0.5" v-validate="'required|min_value:0'"></p-radio>
		     </td>
         <td class="text-center">
          <p-radio class="radiobox text-left" id="box" :name="String(index)" v-model="dataByTab[tabIndex].results[index].value" label="0" v-validate="'required|min_value:0'" ></p-radio>
				 </td>
			  </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
  import {IconCheckbox} from 'src/components/UIComponents'  
  import {Upload} from 'element-ui'
  import swal from 'sweetalert2'
  import {mapGetters,mapState } from 'vuex';

  export default {
    props: ['nombre1', 'tabIndex'],
    components: {
      [Upload.name]: Upload,
      IconCheckbox
    },
    computed: {
    ...mapGetters ('risk',['getTitleAndIdSubrisks']),
    ...mapState ('question',['dataByTab'])
    },
    data() {
      return {
        valor: '',
      }
    },
    methods: {
      getAbbrev (text) {
        var words = text.split(' ')
        if(words.length > 1){
          return words.map(word=>{ return word[0]}).join('').toUpperCase()
        }else{
          return text.substring(0,3).toUpperCase()
        }
      }, 
      getError(fieldName) {
        return this.errors.first(fieldName)
      },
      selectAll(value){
        var i = 0
        for (i = 0; i < this.getTitleAndIdSubrisks.length; i++) {
          this.dataByTab[this.tabIndex].results[i].value = value
        }
      },
      validate(id) {
        //console.table('resultsAux ' + JSON.stringify(this.dataByTab))
        return this.$validator.validateAll().then((result) => {
          if (result) {
            this.$emit('on-validated', id, this.model)
            return Promise.resolve(true)
          } else {
            swal({
              text: 'Debe de contestar todas las opciones',
              timer: 1800,
              showConfirmButton: false
            }).catch(swal.noop)
          }
        });
      }
    }
}
</script>
<style lang="scss" scoped>

@media screen and (max-width:1066px){
  .radiobox[id="box"]{
    margin-left:2em;
  }
}
@media screen and (min-width:647px){
  .change-title::before{
    content:attr(data-desktoptext);
  }
}
@media screen and (max-width:646px){
  .change-title::before{
    content:attr(data-tablettext);
  }
  table > thead >tr > td{
    padding:6px 7px 6px 7px;  
  }
  .text-left{
    text-align:left;
    padding:0;

  }

}
@media screen and (min-width:600px){
  table > thead >tr > td{
    padding:10px 3px 10px 3px;  
  }
}
@media screen and (max-width:573px){
  table > thead >tr > td{
    padding:0px; 
  }
  .place{
    bottom:10px;
  }
  /*.text-left{
    margin-left:-1em;
  }*/
  .radiobox[id="box"]{
    margin-left:-1em;
  }
  
}

  .card-wizard .picture-container .picture {
    input[type="file"] {
      display: none;
    }
  }
  .table{
    font-size: 0.9em;
    > thead > tr > th{
    padding-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
    border: 0;
      .cell {
        text-overflow: clip; 
      }
    }
    > tbody > tr > td{
       margin-left: 5em;
      text-transform: uppercase}
  }
  .radiobox {
    margin-left: 4em;    
  }
  .info-text{
    text-transform: uppercase
  }
</style>
