<template>
  <div >
    <div v-if="this.moduleId==='anticorruption'">
      <el-page-header style="padding-bottom:20px;" @back="goToLink" title="Ir a secciones" :content="contentHeader">
      </el-page-header>
    </div>
    <div v-else>
      <el-page-header style="padding-bottom:20px;" @back="goToLink" title="Ir a Cuestionarios" :content="contentHeader">
      </el-page-header>
    </div>

    <div class="card" name="quest">
      <div class="card-header text-center"  v-loading="loading"
                                          element-loading-background="rgba(256, 256, 256, 0.9)" 
                                          element-loading-text="cargando cuestionario..."
                                          element-loading-spinner="el-icon-loading">
        <b-container>
          <b-row>
            <b-col cols="12" md="12" style="padding-left: 5%; padding-right:5%;">
              <el-progress :percentage="porcentaje" :text-inside="true" :stroke-width="18" color="primary"></el-progress>
            </b-col>
            <br/>
            <b-col cols="12" md="12" class="mt-3">
              <div v-for="(question, index) in questions" :key="index">
                <div v-show="index === questionIndex">
                  <h5>{{ question.title }}</h5>
                  <center>
                    <div class="col-lg-9">
                      <div class="row">
                        <div class="col-lg-12">
                          
                            <p-button style="width:171.55px; padding-right:200px;" v-if="question.result == 1" @click="selectAns(index, 1)" class="btnQ1" >
                              <span class="circle">
                                  a
                              </span>
                              <label style="padding-left:20px; padding-top:5px;">
                                 Sí
                              </label>
                            </p-button>     
                             <!------>
                             <p-button style="width:171.55px; padding-right:200px;" v-else @click="selectAns(index, 1)" class="btnQ" >
                              <span class="circle">
                                  a
                              </span>
                              <label style="padding-left:20px; padding-top:5px;">
                                 Sí
                              </label>
                            </p-button> 
                             <!------>                 
                        </div>
                        <hr>
                        <div class="col-lg-12">
                            <div>
                              <p-button style="width:171.55px; padding-left:20px; padding-right:200px;" v-if="question.result == 0.5" @click="selectAns(index , 0.5)" class="btnQ1" >
                                <span class="circle">
                                  b
                                </span>
                                <label style="padding-left:20px; padding-top:5px;  ">
                                 Parcial
                                </label>
                              </p-button>
                               <!------>
                             <p-button style="width:171.55px; padding-right:200px;"  v-else @click="selectAns(index, 0.5)" class="btnQ" >
                              <span class="circle">
                                  b
                              </span>
                              <label style="padding-left:20px; padding-top:5px;">
                                 Parcial
                              </label>
                            </p-button> 
                            </div>
                             <!------>
                                                   
                        </div>
                        <hr>
                        <div class="col-lg-12">                   
                            <p-button style="width:160.55px; padding-right:200px;" v-if="question.result == 0" @click="selectAns(index, 0)" class="btnQ1">
                              <span class="circle">
                                  c
                              </span>
                              <label style="padding-left:20px; padding-top:5px; " >
                                 No
                              </label>
                            </p-button>  
                            <!------>
                             <p-button style="width:171.55px; padding-right:200px;"  v-else @click="selectAns(index, 0)" class="btnQ" >
                              <span class="circle">
                                  c
                              </span>
                              <label style="padding-left:20px; padding-top:5px;">
                                 No
                              </label>
                            </p-button> 
                             <!------>                        
                        </div>
                      </div>
                    </div>
                  </center>

                </div>
              </div>
            </b-col>
            <b-col cols="8" md="4" v-show="questionIndex != questions.length">
              <el-tooltip content="Ir a pregunta anterior" placement="top">
                <p-button v-if="questionIndex > 0" @click.native="prev()" type="info"  round class="btn-magnify"><i class="el-icon-arrow-left"></i> Revisar Anterior</p-button>
              </el-tooltip>
            </b-col>
            <b-col cols="8" md="4" v-show="questionIndex != questions.length">
              <p-button  :disabled="hasNotChange"  @click.native="backup" type="default" outline round><i class="el-icon-s-order"></i> Guardar y continuar después</p-button>
            </b-col>
            
            <b-col cols="12" md="12">
        <div v-show="questionIndex === questions.length && questions.length !==0" >
          <h3>Resultado final: {{ finalTotal }}</h3>
          <p-button type="info" @click="goToLink">Evaluar otra sección</p-button>
        </div>
        <div v-show="isEmpty">
          <h3>Ooops, parece que no tienes configurada ninguna pregunta</h3>
          <p-button type="info" @click="goToLink">Evaluar otra sección</p-button>
        </div>
            </b-col>
          </b-row>
        </b-container>
      </div>
    </div>
  </div>
</template> 
<script>
  import Vue from 'vue'
  import BootstrapVue from 'bootstrap-vue'
  import { Progress } from 'element-ui'
  import { Tooltip } from 'element-ui'
  import { PageHeader } from 'element-ui'
  import apiQas from 'src/api/question/question'
  import swal from 'sweetalert2'
  import {gralErrorMethods, gralMethods, gralErrorLog} from 'src/mixins/generalMethods'
  import {mapState} from 'vuex'

  Vue.use(BootstrapVue)
  Vue.use(Progress)
  Vue.use(PageHeader)
  
  export default {
    components: {
      [Tooltip.name]: Tooltip
    }, 
    mixins: [gralErrorMethods, gralMethods, gralErrorLog],
    data () {
      return {
            results: [],
            questionIndex: 0,
            userResponses: 0,
            organizationId:'',
            moduleId:'',
            access_token:'',
            hasNotChange: true,
            typeOf: '',
            loading: true,
            contentHeader: null,
      }
    },
    computed:{
      ...mapState ('sections',['questions', 'isEmpty',"finalTotal"]),
      porcentaje() {
        var porc 
        if( this.questions.length == 0){
          porc = 100
        }else{
          porc = ( 100 / this.questions.length ) * ( this.questionIndex)
        }
        return Math.floor(porc)
      }
    },
    created(){
      //this.organizationId = this.$store.state.auth.organizationId
      if(this.$route.path.split('/')[1] == "anticorruption" || this.$route.path.split('/')[1] == "autoevaluation"){
        this.moduleId =  "anticorruption"
      }else{
        this.moduleId = this.$route.path.split('/')[1]
      }
      
      this.access_token = this.$cookies.get("token")
      this.typeOf = localStorage.getItem('quizTypeOf')
      this.loadQuestions()    
      this.chooseContentHeader()
    },
    methods: {   
      loadQuestions(){
        let paramsApi = {
          access_token: this.access_token, 
          moduleId: this.moduleId,
          typeOf: this.typeOf 
        }
        this.$store.dispatch('sections/questions', paramsApi)
        .then(()=>{
          this.loading = false
        })   
        .catch(error =>{
          if(error.message == 'Network Error'){
            this.msgEmpQas = "Ooops, parece que no fue posible acceder a la encuenta"                      
            this.$store.dispatch('question/setEmpty', true)
          }else{
            this.notifyError(error,"El servidor no esta diponible, intente mas tarde")
            this.writteGenericError("quizRisk.vue", error, "questions")
          }
          this.loading = false            
        })
      },
      selectAns(index, value){
        this.$store.dispatch('sections/updateAns',{index: index, value: value})
        .then(()=>{
          this.hasNotChange = false
          if ( this.questionIndex < (this.questions.length - 1) ){
            this.next()
          } else {          
            this.finalResult()
          }
        })
      },
      goToLink(){
        switch(true){
          case /section/.test(this.typeOf):
            this.$router.push({name: this._getNameRoute("secteval", this.moduleId)})
          break;
          case /diagnostic/.test(this.typeOf):
            this.$router.push({name: this._getNameRoute("anticorruption", this.moduleId)})
          break;
        }
      },
      chooseContentHeader(){
        switch(true){
          case /section/.test(this.typeOf):
            this.contentHeader = 'Evaluación de controles'
          break;
          case /diagnostic/.test(this.typeOf):
            this.contentHeader = 'Autodiagnóstico Anticorrupción'
          break;
          case /subfactor/.test(this.typeOf):
            this.contentHeader = 'Evaluación Módulo Penal'
          break;
        }
      },
      finalResult(){
        if(this.$route.path.split('/')[1] !== 'anticorruption'){
          this.backup()
        }else{
          let paramsApi = {
            access_token: this.access_token, 
            typeOf: this.typeOf 
          }
          this.$store.dispatch('sections/calculateTotalsAndSave',paramsApi)
          .then(res=>{
            this.next()
          })
        }

      },
      backup(){
        switch(this.$route.path.split('/')[1]){
          case 'money':
          case 'penal':
            let paramsApiPenal = {
              access_token: this.access_token, 
              typeOf: this.typeOf,
              moduleId: this.$route.path.split('/')[1]
            }
            this.$store.dispatch('sections/calculateValuesParamsMatrix',paramsApiPenal)
            .then(res =>{
              this.showGenericSuccess("Progreso guardado con exito", "Puedes continuar la encuesta en cualquier momento")
              this.goToLink()
            })
          break;
          default:
            let paramsApi = {
              access_token: this.access_token, 
              typeOf: this.typeOf 
            }
            this.$store.dispatch('sections/saveProgress',paramsApi)
            .then(res =>{
              this.showGenericSuccess("Progreso guardado con exito", "Puedes continuar la encuesta en cualquier momento")
              this.goToLink()
            })
          break;
        }
      },
      next: function() {
          this.questionIndex++;
      },
      prev: function() {
        this.questionIndex--;
      }
    }             
    
  }
</script>
<style lang="scss">  
  @import "src/assets/sass/paper/_variables.scss";
  .mySpan{
    text-align: center;
    font-size: 12px;
    color: black;
  }
  .btnQ{
    padding-top:20px;
    padding-bottom:20px;
    background: #DDDDDD;
    border-radius:5px;

    -webkit-transition: width 2s; 
    transition: width 2s;
  }
  .btnQ:hover{
    color:#000;
    background: $info-color;
    -webkit-transition: width 2s; 
    transition: width 2s;
    > span{
      background:#2c2c2c;
      -webkit-transition: width 2s; 
      transition: width 2s;
    }
    > label{
      color:white;
      padding-top:5px;
      -webkit-transition: padding-top .2s; 
      transition: padding-top .2s;
    }
    
  }
  .btnQ:focus{
    color:#ddd;
    background:darken(#51bcda, 10%);
    background-color:$info-states-color;
    box-shadow: 3px -2px .1px 0px rgba(0,0,0,0.75);
    -webkit-transition: padding-bottom .1s; 
    transition: padding-bottom .1s;
    > span{
      background:#2c2c2c;
      -webkit-transition: color .1s; 
      transition: color .1s;
    }
    > label{
      color:white;
    }
  }
  .btnQ1{
    padding-top:20px;
    padding-bottom:20px;
    background:darken(#51bcda, 20%);
    border-radius:5px;
    background-color:$info-states-color;

    -webkit-transition: width 2s; 
    transition: width 2s;
     > span{
      background:#2c2c2c;
      -webkit-transition: color .1s; 
      transition: color .1s;

    }
    >label{
      color:white;
    }
  }
  .circle{
    color:white;
    margin:10%;
    font-size:15px;
    width:15px;
    height:15px;
    text-transform:lowercase;     
    background-color:#2c2c2c ;
    padding:3px 3px 5px 8px;
    border-radius:50%;
    -webkit-transition: width 2s; 
    transition: width 2s;
  }
  
</style>
