<template>
  <div>
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-6">
            <h3 class="card-title">Plan de Acción</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="col-lg-4 col-md-6 col-sm-6">
          <p-button type="info" @click="handleGantt('normal')" round v-if="this.moduleId!='continuidad'">
            Ver Detalle de Tareas
          </p-button>
           <p-button type="info" @click="handleGantt('normal')" round  v-else-if="this.moduleId=='continuidad' && $store.state.organization.premium.vigenciaContinuidad">
            Ver Detalle de Tareas
          </p-button>
           <p-button type="info" @click="invitacion" round v-else>
            Ver Detalle de Tareas
          </p-button>
        </div>
         <stats-card v-if="this.moduleId!='continuidad'"
          :type="'info'"
          :icon="'el-icon-edit-outline'"
          :small-title="'Actividades pendientes por realizar'"
          :title="getNumTasksToDo"
          @clickTitle="redirectTo('ganttChart')"
          @clickIcon="redirectTo('ganttChart')"
        >
          <div class="stats btn-rotate" style="cursor:pointer" slot="footer" id="activity-first" @click="update('activity')">
            <i :class="'nc-icon nc-refresh-69'"></i>
            Actualizar
          </div>
        </stats-card>
         <stats-card
         v-else-if="this.moduleId=='continuidad' && $store.state.organization.premium.vigenciaContinuidad"
          :type="'info'"
          :icon="'el-icon-edit-outline'"
          :small-title="'Actividades pendientes por realizar'"
          :title="getNumTasksToDo"
          @clickTitle="redirectTo('ganttChart')"
          @clickIcon="redirectTo('ganttChart')"
          
        >
          <div class="stats btn-rotate" style="cursor:pointer" slot="footer" id="activity-first" @click="update('activity')">
            <i :class="'nc-icon nc-refresh-69'"></i>
            Actualizar
          </div>
        </stats-card>
         <stats-card
         v-else
          :type="'warning'"
          :icon="'el-icon-edit-outline'"
          :small-title="'Actividades pendientes por realizar'"
          :title="getNumTasksToDo"
          @clickTitle="invitacion()"
          @clickIcon="invitacion"
        >
          <div class="stats btn-rotate" style="cursor:pointer" slot="footer" id="activity-first" @click="update('activity')">
            <i :class="'nc-icon nc-refresh-69'"></i>
            Actualizar
          </div>
        </stats-card>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6">
        <template v-if="!getCompletedTaskPercentage.see">
          <div class="card">
            <div class="card-title">
              <h5 class="text-center mt-3">% Progreso de tareas</h5>
            </div>
            <div class="card-body">
              <div class="row mb-3 mt-3">
                <div class="col-sm-2"></div>
                <div class="col-sm-2 center">
                  <i class="el-icon-warning length iconSinInfo"></i>
                </div>
                <div class="col-sm-8">
                  <h5 class="msgSinInfo">{{ msgSinInfo }}</h5>
                </div>
              </div>
            </div>
          </div>
        </template>
        <circle-chart-card
          id="percentage"
          v-else
          :percentage="getCompletedTaskPercentage.value"
          :chartOptions="optionsPie"
          title="% Progreso de tareas"
          color="green"
          @clickTitle="invitacion"
        >
          <template slot="footer">
            <div class="legend">
              <i class="fa fa-circle text-secondary-graph"></i>Tareas Atendidas
            </div>
          </template>
        </circle-chart-card>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6">
        <template v-if="!getInfoChart.see">
          <div class="card">
            <div class="card-title">
              <h5 class="text-center mt-3">
                Estado General de Planes de Acción
              </h5>
            </div>
            <div class="card-body">
              <h5 style="padding:75px;">
                <i class="el-icon-warning length"></i>
                <h5 style="color:rgb(179,179,179); font-size:100%;">
                  No hay tareas que mostrar en esta gráfica
                </h5>
              </h5>
            </div>
          </div>
        </template>
        <donut-chart
          v-else-if="this.moduleId!='continuidad'"
          @onClickChart="ToGanttFromChart"
          :percentarr="getInfoChart.data"
          :labels="getInfoChart.data"
          :color="['#FF0040', '#2B85CD', '#FABE3C', '#35A97A']"
          title="Estado General de Planes de Acción"
        >
          <template slot="footer">
            <div class="pull-left">
              <i class="fa fa-circle" style="color:#FF0040">
                {{ getInfoChart.data[0] }}%</i
              >
              Atrasados
            </div>
            <br />
            <div class="pull-left">
              <i class="fa fa-circle" style="color:#2B85CD">
                {{ getInfoChart.data[1] }}%</i
              >
              Sin empezar
            </div>
            <br />
            <div class="pull-left">
              <i class="fa fa-circle" style="color:#FABE3C">
                {{ getInfoChart.data[2] }}%</i
              >
              En progreso
            </div>
            <br />
            <div class="pull-left">
              <i class="fa fa-circle" style="color:#35A97A">
                {{ getInfoChart.data[3] }}%</i
              >
              Completados
            </div>
          </template>
        </donut-chart>
         <donut-chart
           v-else-if="this.moduleId=='continuidad' && $store.state.organization.premium.vigenciaContinuidad"
          @onClickChart="ToGanttFromChart"
          :percentarr="getInfoChart.data"
          :labels="getInfoChart.data"
          :color="['#FF0040', '#2B85CD', '#FABE3C', '#35A97A']"
          title="Estado General de Planes de Acción"
        >
          <template slot="footer">
            <div class="pull-left">
              <i class="fa fa-circle" style="color:#FF0040">
                {{ getInfoChart.data[0] }}%</i
              >
              Atrasados
            </div>
            <br />
            <div class="pull-left">
              <i class="fa fa-circle" style="color:#2B85CD">
                {{ getInfoChart.data[1] }}%</i
              >
              Sin empezar
            </div>
            <br />
            <div class="pull-left">
              <i class="fa fa-circle" style="color:#FABE3C">
                {{ getInfoChart.data[2] }}%</i
              >
              En progreso
            </div>
            <br />
            <div class="pull-left">
              <i class="fa fa-circle" style="color:#35A97A">
                {{ getInfoChart.data[3] }}%</i
              >
              Completados
            </div>
          </template>
        </donut-chart>
         <donut-chart
           v-else
          @onClickChart="invitacion"
          :percentarr="getInfoChart.data"
          :labels="getInfoChart.data"
          :color="['#FF0040', '#2B85CD', '#FABE3C', '#35A97A']"
          title="Estado General de Planes de Acción"
        >
          <template slot="footer">
            <div class="pull-left">
              <i class="fa fa-circle" style="color:#FF0040">
                {{ getInfoChart.data[0] }}%</i
              >
              Atrasados
            </div>
            <br />
            <div class="pull-left">
              <i class="fa fa-circle" style="color:#2B85CD">
                {{ getInfoChart.data[1] }}%</i
              >
              Sin empezar
            </div>
            <br />
            <div class="pull-left">
              <i class="fa fa-circle" style="color:#FABE3C">
                {{ getInfoChart.data[2] }}%</i
              >
              En progreso
            </div>
            <br />
            <div class="pull-left">
              <i class="fa fa-circle" style="color:#35A97A">
                {{ getInfoChart.data[3] }}%</i
              >
              Completados
            </div>
          </template>
        </donut-chart>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7">
        <action-plan-info :info="getInfoPlan"></action-plan-info>
      </div>
      <div class="col-lg-5">
        <div class="card">
          <div class="card-header">
            <h6>Fecha de Informe: {{ dateOfReport() }}</h6>
            <el-table class="table-informe" :data="getInfoTask">
              <el-table-column
                prop="title"
                label=""
                min-width="50"
                class-name="th-contend"
              >
                <template slot-scope="props">
                  <el-tooltip :content="props.row.description" placement="top">
                    <div>
                      {{ props.row.title }}
                    </div>
                  </el-tooltip>
                </template>
              </el-table-column>
              <el-table-column
                prop="total"
                label=""
                min-width="50"
                class-name="th-contend"
              >
              </el-table-column>
              <el-table-column min-width="50s" class-name="th-contend">
                <template slot-scope="props">
                  <p-button
                    :style="'background:' + props.row.color"
                    class="btn-shadow"
                    size="sm"
                    icon
                    @click="handleGantt(props.row.mode)"
                  >
                    <i class="nc-icon nc-chart-bar-32 btn-shadow"></i>
                  </p-button>
                </template>
              </el-table-column>
            </el-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Vue from "vue";
import { Table, TableColumn } from "element-ui";
import { Select, Option } from "element-ui";
import PSwitch from "src/components/UIComponents/Switch.vue";
import Modal from "src/components/UIComponents/Modal.vue";
import DonutChart from "src/components/UIComponents/Cards/DonutChartFull.vue";
import { mapState, mapGetters } from "vuex";
import ActionPlanInfo from "src/components/UIComponents/ActionPlanInfo";
import { gralMethods, gralErrorLog } from "src/mixins/generalMethods.js";
import { Tooltip } from "element-ui";
import StatsCard from "src/components/UIComponents/Cards/StatsCard";
import CircleChartCard from "src/components/UIComponents/Cards/CircleChartCard.vue";
import swal from "sweetalert2";

Vue.use(Table);
Vue.use(TableColumn);

export default {
  components: {
    CircleChartCard,
    StatsCard,
    DonutChart,
    [Select.name]: Select,
    [Option.name]: Option,
    ActionPlanInfo,
    [Tooltip.name]: Tooltip
  },
  mixins: [gralMethods, gralErrorLog],
  data() {
    return {
      msgSinInfo: "Sin información. Controles sin evaluar",
      dataPercentage: 0,
      showModal: false,
      progreso: [
        {
          label: "Atrasados"
        },
        {
          label: "En progreso"
        },
        {
          label: "Sin empezar"
        }
      ],
      value1: null,
      rate: {
        colors: { 1: "#35A97A", 2: "#FABE3C", 3: "#FF0040" },
        text: ["Bajo", "Med", "Alto"]
      },
      moduleId: "",
      optionsPie: {
        plugins: {
          datalabels: {
            formatter: function(val, opt) {
              return opt.chart.data.labels[opt.dataIndex] + "\n" + val + "%";
            },
            align: "center",
            enabled: true,
            textAlign: "center",
            font: function(context) {
              var width = context.chart.width;
              var size = Math.round(width / 38);
              return {
                size: size,
                weight: 700
              };
            },
            //color: ['#eeffee','#f3e97a'],
            color: ["black", "white"],
            responsive: true,
            anchor: "bottom",

            clamp: false,
            circumference: 0.5 * Math.PI
          }
        }
      }
    };
  },
  watch: {
    datasets(newValue, oldValue) {
      this.addPlugin(pluginChartText);
      let chartOptions = Object.assign(defaultOptions, this.extraOptions || {});
      chartOptions.elements.center.text = this.data ? `${this.data[0]}%` : null;
      this.renderChart(
        {
          labels: this.labels || [],
          datasets: newValue
            ? newValue
            : [
                {
                  pointRadius: 0,
                  pointHoverRadius: 0,
                  backgroundColor: [
                    this.color || "#4acccd",
                    this.secondaryColor || "#f4f"
                  ],
                  borderWidth: 0,
                  data: this.data || []
                }
              ]
        },
        chartOptions
      );
    }
  },
  computed: {
    ...mapGetters("task", [
      "getInfoTask",
      "getInfoPlan",
      "getInfoChart",
      "getNumTasksToDo",
      "getCompletedTaskPercentage"
    ])
  },
  methods: {
    update(value) {
      if (value == "activity") {
        this.$store
          .dispatch("task/retriveTasks", {
            access_token: this.$cookies.get("token"),
            moduleId: this.$route.path.split("/")[1]
          })
          .then(() => {})
          .catch(error => {
            if (error.response.status !== 404) {
              this.notifyError(error, "Error al cargar datos");
              this.writteGenericError(
                "ActionPlan.vue",
                error,
                "Error al cargar datos, retriveTasks"
              );
            }
          });
      }
    },
    redirectTo(link) {
      this.$router.push({ name: this._getNameRoute(link, this.moduleId) });
    },
    ToGanttFromChart(value) {
      this.handleGantt(this.getInfoTask[value].mode);
    },
    handleGantt(mode) {
      //this.$sidebar.toggleMinimize();
      this.$router.push({
        name: this._getNameRoute("ganttChart", this.moduleId),
        params: { mode: mode }
      });
    },
    dateOfReport() {
      let date = new Date();
      let dateString = new Date(
        date.getTime() - date.getTimezoneOffset() * 60000
      )
        .toISOString()
        .split("T")[0];
      return dateString;
    },
    invitacion() {
      swal({
        title: "Módulo con Vigencia expirada",
        html:
          "Esta opción está desactivada, debido a que ha expirado la vigencia de este módulo.",
        allowEscapeKey: false,
        allowOutsideClick: false,
        type: "warning",
        showCancelButton: false,
        confirmButtonClass: "btn btn-warning btn-fill",
        confirmButtonText: "OK"
      });
    }
  },
  created() {
    this.moduleId = this.$route.path.split("/")[1];
    var params = {
      access_token: this.$cookies.get("token"),
      moduleId: this.moduleId
    };
    this.$store
      .dispatch("task/retriveTasks", params)
      .then()
      .catch(error => {
        if (error.response.status !== 404) {
          this.notifyError(
            error,
            "El servidor no esta disponible, intente más tarde"
          );
          this.writteGenericError(
            "ActionPlan.vue",
            error,
            "Error en red, retrieveTasks"
          );
        }
      });
  }
};
</script>
<style lang="scss" scoped>
.btn-shadow:hover {
  background-color: darken(rgba(0, 0, 0, 0.37), 2);
}
.el-table .td-actions {
  button.btn {
    margin-right: 5px;
  }
}
.text-secondary-graph {
  color: green;
}
</style>
