<template>
  <div>
    <div
      class="card"
      v-loading="loadinggral"
      element-loading-background="rgba(256, 256, 256, 0.9)"
      element-loading-text="Obteniendo datos: Revisión y Auditoria..."
      element-loading-spinner="el-icon-loading"
    >
      <div class="card-header">
        <h3 class="card-title">Auditoría</h3>
      </div>
      <div class="card-body row">
        <div class="col-sm-12 text-right">
          <p-button id="step-2" type="default" link @click="agregaColumna()" v-if="this.moduleId!='continuidad'">
            <i class="fa fa-plus" id="add-column"></i> Agregar Nueva Columna
          </p-button>
          <p-button id="step-2" type="default" link @click="agregaColumna()" v-else-if="this.moduleId=='continuidad' && $store.state.organization.premium.vigenciaContinuidad">
            <i class="fa fa-plus" id="add-column"></i> Agregar Nueva Columna
          </p-button>
          <p-button id="step-2" type="default" link @click="invitacion" v-else>
            <i class="fa fa-plus" id="add-column"></i> Agregar Nueva Columna
          </p-button>
        </div>
        <div class="col-sm-12">
          <el-pagination
            :current-page.sync="pagination.currentPage"
            :page-size="pagination.perPage"
            layout="total, prev, pager, next"
            :total="getTaskAuditoria.length"
          ></el-pagination>
          <el-table
            ref="tableAudit"
            highlight-current-row
            class="table-plan"
            :data="dataTable"
            header-row-class-name="text-primary"
            :key="changeCounter"
          >
            <el-table-column type="index" :index="realIndex" class-name="th-contend"></el-table-column>
            <el-table-column
              v-if="moduleId=='anticorruption'"
              prop="text"
              label="CONTROLES (ART. 25) PARA SUBRIESGOS (ART. 66 AL 72)"
              min-width="200"
              class-name="th-contend"
            ></el-table-column>
            <el-table-column
              v-else
              prop="text"
              label="EVALUACIÓN"
              min-width="200"
              class-name="th-contend"
            ></el-table-column>
            <el-table-column v-if="myUser.isAuditor" label="¿CUMPLE?" min-width="150">
              <template slot-scope="props">
                <div v-if="props.row.stepAudit === 3">
                  <div v-if="props.row.status">
                    <el-select
                      class="select-default"
                      v-model="props.row.cumple"
                      placeholder="Selecciona una opción"
                    >
                      <el-option
                        style="font-size:10px;"
                        v-for="opcion in opcioncumple"
                        class="select-default"
                        :value="opcion.label"
                        :label="opcion.label"
                        :key="opcion.value"
                      ></el-option>
                    </el-select>
                  </div>
                  <div v-else>
                    <label>
                      <h5>{{props.row.cumple}}</h5>
                    </label>
                  </div>
                </div>
                <div v-else>
                  <el-tooltip placement="top">
                    <div slot="content">{{getMessageStep(props.row.stepAudit,"tootltip")}}</div>
                    <span class="RiskIn">
                      <i class="fa fa-question-circle text-center visible-on-faq-mini"></i>
                    </span>
                  </el-tooltip>
                </div>
              </template>
            </el-table-column>
            <el-table-column
              v-if="myUser.isAuditor"
              prop="observations"
              label="OBSERVACIONES"
              min-width="140"
              class-name="th-contend"
            >
              <template slot-scope="props">
                <div v-if="props.row.stepAudit === 3">
                  <div v-if="props.row.status">
                    <textarea-autosize
                      class="input-form"
                      :min-height="30"
                      :max-height="400"
                      type="text"
                      v-model="getTaskAuditoria[realIndex(props.$index)-1].observations"
                    ></textarea-autosize>
                  </div>
                  <div v-else>
                    <div>{{props.row.observations}}</div>
                  </div>
                </div>
                <div v-else>
                  <el-tooltip placement="top">
                    <div slot="content">{{getMessageStep(props.row.stepAudit,"tootltip")}}</div>
                    <span class="RiskIn">
                      <i class="fa fa-question-circle text-center visible-on-faq-mini"></i>
                    </span>
                  </el-tooltip>
                </div>
              </template>
            </el-table-column>
            <el-table-column
              v-if="myUser.isAuditor"
              label="PROPIETARIO DEL PROCESO"
              min-width="140"
              class-name="th-contend"
            >
              <template slot-scope="props">
                <div v-if="props.row.stepAudit === 1 && props.row.status">
                  <div v-if="props.row.status">
                    <areaSelect
                      :areaSelected="props.row.processOwner"
                      @areaSelect="setArea(props.$index, ...arguments)"
                    ></areaSelect>
                  </div>
                </div>
                <div v-else>{{getAreaName(props.row.processOwner)}}</div>
              </template>
            </el-table-column>
            <el-table-column
              prop="responsableArea"
              v-if="myUser.isAuditor"
              label="ÁREA RESPONSABLE"
              min-width="140"
              class-name="th-contend"
            >
              <template slot-scope="props">
                <div v-if="props.row.status && props.row.stepAudit === 1">
                  <!-- <textarea-autosize class="input-form"  :min-height="15" :max-height="400" type="text" v-model="getTaskAuditoria[realIndex(props.$index)-1].responsableArea"></textarea-autosize> -->
                  <membersSelect
                    :memberSelected="props.row.assigned"
                    @memberSelect="setMember(props.$index, ...arguments)"
                  ></membersSelect>
                </div>
                <div v-else>
                  <div>{{getMember(props.row.assigned)}}</div>
                </div>
              </template>
            </el-table-column>
            <!-- Agrega columnas extras -->
            <el-table-column
              v-for="column in columnAuxAudit"
              :key="column.title"
              :prop="column.prop"
              :label="column.title"
              :min-width="150"
              :render-header="renderColumnAux"
            >
              <template slot-scope="scope">
                <div v-if="scope.row.status">
                  <textarea-autosize
                    class="input-form"
                    :min-height="15"
                    :max-height="400"
                    type="text"
                    :id="realIndex(scope.$index)-1+column.title"
                    @mouseover="getFocus(column.title,scope.$index)"
                  ></textarea-autosize>
                </div>
                <div v-else>{{getTitleColumn(column.title, realIndex(scope.$index)-1)}}</div>
              </template>
            </el-table-column>
            <el-table-column
              prop="evidencias"
              label="evidencias"
              align="center"
              min-width="85"
              class-name="th-contend"
            >
              <template slot-scope="scope">
                <div
                  v-if="scope.row.stepAudit === 2 && scope.row.assigned === myUser._id && scope.row.status"
                >
                  <div v-if="scope.row.status" id="add-evidence">
                    <el-popover trigger="hover" placement="top">
                      <div v-if="scope.row.filesIdDocument.length>0">
                        <p>Archivos ({{scope.row.filesIdDocument.length}}):</p>
                        <div
                          v-for="item in scope.row.filesIdDocument"
                          :key="item.filename"
                        >{{item.fileName}}</div>
                      </div>
                      <div v-else>Anexar evidencias</div>
                      <div slot="reference">
                        <p-button
                          type="info"
                          link
                          round
                          icon
                          @click="showmodalFileSet(scope.row,scope.$index)"
                        >
                          <i class="fa fa-paperclip btn-attach-files" aria-hidden="true"></i>
                        </p-button>
                      </div>
                    </el-popover>
                  </div>
                </div>
                <div v-else>
                  <div v-if="scope.row.stepAudit===3">
                    <el-popover trigger="hover" placement="top">
                      <div v-if="scope.row.filesIdDocument.length>0">
                        <p>Archivos de Evidencias</p>
                      </div>
                      <div v-else>No hay archivos cargados</div>
                      <div slot="reference" class="name-wrapper">
                        <p-button
                          type="success"
                          link
                          round
                          icon
                          @click="showmodalFileSet(scope.row,scope.$index, scope.row.stepAudit)"
                        >
                          <i class="fa fa-paperclip btn-attach-files" aria-hidden="true"></i>
                        </p-button>
                      </div>
                    </el-popover>
                  </div>
                  <div v-else>
                    <el-popover trigger="hover" placement="top">
                      <div v-if="scope.row.filesIdDocument.length>0">
                        <p>Archivos de Evidencias</p>
                      </div>
                      <div v-else>No hay archivos cargados</div>
                      <div slot="reference" class="name-wrapper">
                        <p-button type="muted" class="btn-magnify" size="sm" icon>
                          <i class="el-icon-paperclip"></i>
                        </p-button>
                      </div>
                    </el-popover>
                  </div>
                </div>
              </template>
            </el-table-column>
            <el-table-column v-if="this.moduleId!='continuidad'"
              prop="status"
              label="ACCION"
              align="center"
              :min-width="100"
              fixed="right"
              level="2"
              class-name="th-contend"
            >
              <template slot-scope="scope">
                <div v-if="scope.row.status" id="audit-tasks">
                  <el-popover trigger="hover" placement="top">
                    <p>{{getMessageStep(scope.row.stepAudit,"button")}}</p>
                    <div slot="reference" class="name-wrapper">
                      <div v-if="scope.row.stepAudit===1">
                        <p-button
                          v-if="scope.row.status === true"
                          type="warning"
                          class="btn-magnify"
                          size="sm"
                          icon
                          @click="saveAudit(scope.$index)"
                        >
                          <i class="fa fa-check"></i>
                        </p-button>
                      </div>
                      <div v-else-if="scope.row.stepAudit===2">
                        <p-button
                          v-if="scope.row.status === true"
                          type="info"
                          class="btn-magnify"
                          size="sm"
                          icon
                          @click="saveAudit(scope.$index)"
                        >
                          <i class="fa fa-check"></i>
                        </p-button>
                      </div>
                      <div v-else-if="scope.row.stepAudit===3">
                        <p-button
                          v-if="scope.row.status === true"
                          type="success"
                          class="btn-magnify"
                          size="sm"
                          icon
                          @click="saveAudit(scope.$index)"
                        >
                          <i class="fa fa-check"></i>
                        </p-button>
                      </div>
                    </div>
                  </el-popover>
                </div>
                <div v-else placement="left">
                  <el-popover trigger="hover" placement="top">
                    <p>Tarea Auditada</p>
                    <div slot="reference" class="name-wrapper">
                      <p-button type="muted" class="btn-magnify" size="sm" icon>
                        <i class="fa fa-check"></i>
                      </p-button>
                    </div>
                  </el-popover>
                </div>
              </template>
            </el-table-column>
             <el-table-column
              v-else-if="this.moduleId=='continuidad' && $store.state.organization.premium.vigenciaContinuidad"
              prop="status"
              label="ACCION"
              align="center"
              :min-width="100"
              fixed="right"
              level="2"
              class-name="th-contend"
            >
              <template slot-scope="scope">
                <div v-if="scope.row.status" id="audit-tasks">
                  <el-popover trigger="hover" placement="top">
                    <p>{{getMessageStep(scope.row.stepAudit,"button")}}</p>
                    <div slot="reference" class="name-wrapper">
                      <div v-if="scope.row.stepAudit===1">
                        <p-button
                          v-if="scope.row.status === true"
                          type="warning"
                          class="btn-magnify"
                          size="sm"
                          icon
                          @click="saveAudit(scope.$index)"
                        >
                          <i class="fa fa-check"></i>
                        </p-button>
                      </div>
                      <div v-else-if="scope.row.stepAudit===2">
                        <p-button
                          v-if="scope.row.status === true"
                          type="info"
                          class="btn-magnify"
                          size="sm"
                          icon
                          @click="saveAudit(scope.$index)"
                        >
                          <i class="fa fa-check"></i>
                        </p-button>
                      </div>
                      <div v-else-if="scope.row.stepAudit===3">
                        <p-button
                          v-if="scope.row.status === true"
                          type="success"
                          class="btn-magnify"
                          size="sm"
                          icon
                          @click="saveAudit(scope.$index)"
                        >
                          <i class="fa fa-check"></i>
                        </p-button>
                      </div>
                    </div>
                  </el-popover>
                </div>
                <div v-else placement="left">
                  <el-popover trigger="hover" placement="top">
                    <p>Tarea Auditada</p>
                    <div slot="reference" class="name-wrapper">
                      <p-button type="muted" class="btn-magnify" size="sm" icon>
                        <i class="fa fa-check"></i>
                      </p-button>
                    </div>
                  </el-popover>
                </div>
              </template>
            </el-table-column>
             <el-table-column
              v-else
              prop="status"
              label="ACCION"
              align="center"
              :min-width="100"
              fixed="right"
              level="2"
              class-name="th-contend"
            >
              <template slot-scope="scope">
                <div v-if="scope.row.status" id="audit-tasks">
                  <el-popover trigger="hover" placement="top">
                    <p>{{getMessageStep(scope.row.stepAudit,"button")}}</p>
                    <div slot="reference" class="name-wrapper">
                      <div v-if="scope.row.stepAudit===1">
                        <p-button
                        disabled
                          v-if="scope.row.status === true"
                          type="warning"
                          class="btn-magnify"
                          size="sm"
                          icon
                          @click="invitacion"
                        >
                          <i class="fa fa-check"></i>
                        </p-button>
                      </div>
                      <div v-else-if="scope.row.stepAudit===2">
                        <p-button
                          v-if="scope.row.status === true"
                          type="info"
                          class="btn-magnify"
                          size="sm"
                          icon
                          disabled
                          @click="invitacion"
                        >
                          <i class="fa fa-check"></i>
                        </p-button>
                      </div>
                      <div v-else-if="scope.row.stepAudit===3">
                        <p-button
                          v-if="scope.row.status === true"
                          type="success"
                          class="btn-magnify"
                          size="sm"
                          icon
                          disabled
                          @click="invitacion"
                        >
                          <i class="fa fa-check"></i>
                        </p-button>
                      </div>
                    </div>
                  </el-popover>
                </div>
                <div v-else placement="left">
                  <el-popover trigger="hover" placement="top">
                    <p>Tarea Auditada</p>
                    <div slot="reference" class="name-wrapper">
                      <p-button type="muted" class="btn-magnify" size="sm" icon>
                        <i class="fa fa-check"></i>
                      </p-button>
                    </div>
                  </el-popover>
                </div>
              </template>
            </el-table-column>
          </el-table>
        </div>
      </div>
      <div v-if="showModalFile">
        <modal
          :show.sync="showModalFile"
          headerClasses="justify-content-center"
          @close="closeModal"
          style="overflow: auto;"
        >
          <h4 slot="header" class="title title-up">Selecciona Archivos de Evidencias</h4>
          <uploadfiles
            :id.sync="this.id"
            :showModalFile.sync="this.showModalFile"
            :item.sync="this.auxSelect"
            :origin.sync="this.origin"
            :step.sync="this.step"
            @close="closeModal"
          ></uploadfiles>
        </modal>
      </div>
      <!-- Modal que agrega Columna -->
      <modal :show.sync="showModal" headerClasses=" justify-content-center" @close="cancel">
        <h4 slot="header" class="title title-up">Agregar columna</h4>
        <div
          class="card"
          v-loading="loadingadd"
          element-loading-background="rgba(256, 256, 256, 0.9)"
          element-loading-text="Agregando Columna"
          element-loading-spinner="el-icon-loading"
        >
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <fg-input
                  type="text"
                  :error="getError('title')"
                  value
                  label="Indique nombre de Columna"
                  name="name"
                  placeholder="Nombre de columna"
                  v-model="columnaAux.title"
                  v-validate="modelValidations.title"
                ></fg-input>
              </div>
            </div>
          </div>
        </div>
        <template slot="footer">
          <div class="left-side">
            <p-button type="danger" link @click="cancel()">Cancelar</p-button>
          </div>
          <div class="divider"></div>
          <div class="right-side" v-if="dis===true">
            <p-button type="success" link @click="validate(columnaAux.title)">Agregar</p-button>
          </div>
          <div class="right-side" v-else>
            <p-button type="success" link disable>Agregar</p-button>
          </div>
        </template>
      </modal>
    </div>
  </div>
</template>
<script>
import Vue from "vue";
import { Table, TableColumn } from "element-ui";
import { Select, Option, Pagination } from "element-ui";
import VueTextareaAutosize from "vue-textarea-autosize";
import Swal from "sweetalert2";
import { gralErrorMethods, gralErrorLog } from "src/mixins/generalMethods.js";
import PSwitch from "src/components/UIComponents/Switch.vue";
import Modal from "src/components/UIComponents/Modal.vue";
import uploadfiles from "src/components/Dashboard/Anticorruption/UploadFiles.vue";
import { Tooltip, Popover } from "element-ui";
import { mapState, mapGetters, mapMutations } from "vuex";
import * as R from "ramda";
import putTask from "../../../api/task/task";
import membersSelect from "src/components/UIComponents/SelectMembers.vue";
import areaSelect from "src/components/UIComponents/SelectAreas.vue";

Vue.use(Table);
Vue.use(TableColumn);
Vue.use(Popover);
Vue.use(VueTextareaAutosize);
Vue.use(Pagination);

export default {
  components: {
    Pagination,
    [Select.name]: Select,
    [Option.name]: Option,
    Modal,
    uploadfiles,
    [Tooltip.name]: Tooltip,
    VueTextareaAutosize,
    areaSelect,
    membersSelect
  },
  mixins: [gralErrorMethods, gralErrorLog],
  data() {
    return {
      pagination: {
        perPage: 10,
        currentPage: 1
      },
      dis: true,
      moduleId: "",
      loadinggral: true,
      loadingadd: false,
      opcioncumple: [
        {
          label: "Si",
          value: "1"
        },
        {
          label: "No",
          pct: "0"
        },
        {
          label: "Parcial",
          pct: "2"
        }
      ],
      columns: [],
      columnaAux: [
        {
          title: "",
          dato: ""
        }
      ],
      showModal: false,
      id: "",
      taskAux: [],
      showModalFile: false,
      modelValidations: {
        title: {
          required: true
        }
      },
      changeCounter: 0,
      auditoria: {
        access_token: "",
        assigned: "",
        satisfy: "",
        observations: "",
        responsibleArea: "",
        id: ""
      },
      auxSelect: null,
      origin: "auditoria",
      step: null
    };
  },

  computed: {
    ...mapGetters("task", ["getTaskAuditoria"]),
    ...mapState("task", ["columnAuxAudit"]),
    ...mapState("organization", ["areas"]),
    ...mapState("user", ["myUser", "members"]),
    dataTable() {
      var start, end;
      start = this.pagination.perPage * (this.pagination.currentPage - 1);
      end = start + this.pagination.perPage;
      if (end > this.getTaskAuditoria.length) {
        end = this.getTaskAuditoria.length;
      }
      return this.getTaskAuditoria.slice(start, end);
    }
  },
  created() {
    this.moduleId = this.$route.path.split("/")[1];
    var params = {
      access_token: this.$cookies.get("token"),
      moduleId: this.moduleId
    };
    this.$store
      .dispatch("task/retriveTasks", params)
      .then(() => {
        this.loadinggral = false;
          this.$store.dispatch(
            "task/getColumnAuxAudit",
            this.getTaskAuditoria[0].newFields
          );
        let idTask = JSON.parse(localStorage.getItem("idTaskAudit"));
        if (idTask !== null) {
          this.getTaskSelected(idTask);
          localStorage.removeItem("idTaskAudit");
        }
      })
      .catch(error => {
        this.loadinggral = false
         this.$store.dispatch(
            "task/removeAllColumn")
        if (error.response.status !== 404) {
          this.notifyError(error);
          this.writteGenericError("Auditoria.vue", error, "Error retriveTasks")
        }
      });
    this.$store
      .dispatch("user/getMembers", this.$cookies.get("token"))
      .then(() => {})
      .catch(error => {
        this.notifyError(error, " Error al obtener Members");
        this.writteGenericError(
          "OrgMembers.vue",
          error,
          "Error al obtener Members, getMembers "
        );
      });
  },
  methods: {
    getTaskSelected(idTask) {
      let task = this.getTaskAuditoria.find(task => task.id === idTask.id);
      if (task !== undefined) {
        while (
          this.dataTable.find(task => task.id == idTask.id) === undefined
        ) {
          this.pagination.currentPage++;
        }
        this.$refs.tableAudit.setCurrentRow(
          this.dataTable.find(task => task.id == idTask.id)
        );
      } else {
        this.showGenericError(
          "No se puede mostrar la tarea",
          "La tarea seleccionada pudo haber sido eliminada."
        );
      }
    },
    getAreaName(value) {
      let area = this.areas.find(area => area.value === value);
      return area ? area.name : "Área no encontrada";
    },
    setArea(index, name) {
      this.getTaskAuditoria[this.realIndex(index) - 1].processOwner = name;
    },
    getMember(id) {
      let member = this.members.find(member => member._id == id);
      return member ? member.name : "No encontrado";
    },
    setMember(index, id) {
      this.getTaskAuditoria[this.realIndex(index) - 1].assigned = id;
    },
    unDisable() {
      this.dis = true;
    },
    realIndex(index) {
      return (
        (this.pagination.currentPage - 1) * this.pagination.perPage + index + 1
      );
    },
    async agregaColumna() {
       if(this.getTaskAuditoria.length>0){
        this.columnaAux.title = "";
        this.showModal = true;
      }
      else {
        this.loadinggral=false
        Swal({
          title: "No se puede agregar la columna, ya que no cuenta con tareas",
          allowEscapeKey: false,
          allowOutsideClick: false,
          type: "error",
          showCancelButton: false,
          confirmButtonClass: "btn btn-success btn-fill",
          confirmButtonText: "OK"
        });
      }
    },
    cancel() {
      this.showModal = false;
      this.columnaAux.title = "";
      this.columnaAux.dato = "";
      this.columnaAux.valor = "";
    },
    getError(fieldName) {
      return this.errors.first(fieldName);
    },
    validate(titleColumn) {
    this.dis = false;
        let titlevar = titleColumn.toUpperCase();
        return this.$validator.validateAll().then(isValid => {
          if (isValid) {
            if (this.validateName(titlevar)) {
              const val = this.$store
                .dispatch("task/addColumnAux", {
                  fieldName: titlevar,
                  access_token: this.$cookies.get("token"),
                  moduleId: this.moduleId
                })
                .then(response => {
                  if (response.status === 200) {
                    this.unDisable();
                    this.showUpdate("Columna Agregada correctamente!!");
                    this.showModal = false;
                    this.dis = true;
                  } else {
                    this.showGenericError(response.status);
                    this.showModal = false;
                    this.dis = true;
                  }
                })
                .catch(error => {
                  this.showGenericError(error);
                  this.showModal = false;
                  this.writteGenericError(
                    "Auditoria.vue",
                    error,
                    "Error addColumnAux"
                  );
                });
            } else {
              this.showGenericError(
                ": Titulo de Columna ya asignado, pruebe con otro nombre "
              );
            }
            this.loadingadd = false;
          } else {
            this.loadingadd = false;
            this.showGenericError(": Ingrese un nombre de Columna");
          }
        });
    },
    validateName(title) {
      let filtrado = this.columnAuxAudit.filter(item => {
        if (item.title === title) return item;
      });
      if (filtrado.length > 0) {
        return false;
      } else {
        return true;
      }
    },
    showmodalFileSet(origen, index, step) {
      this.id = origen.id;
      this.showModalFile = true;
      this.auxSelect = origen;
      this.step = step;
    },
    saveAudit(index) {
      var myIndex = this.realIndex(index) - 1;
      //   console.log("MyIndex:"+myIndex)
      let item = this.getTaskAuditoria[myIndex];
      item.status = false;
      let error_verify = this.verificar_tarea_completa(item);
      if (error_verify == true) {
        this.auditoria = R.pick(["id"], item);
        switch (item.stepAudit) {
          case 1:
            this.auditoria.assigned = item.assigned;
            this.auditoria.processOwner = item.processOwner;
            break;
          case 3:
            this.auditoria = R.pick(
              [
                "id",
                "assigned",
                "type",
                "responsableArea",
                "observations",
                "proceder",
                "cumple"
              ],
              item
            );
            this.auditoria.satisfy = this.auditoria.cumple;
            this.auditoria.assigned = item.assigned;
            this.auditoria.processOwner = item.processOwner;
            //Obtener datos de columans extras
            var extras = [];
            var data, cont, i, obj;
            // console.log("Obteniendo Campos de columnAuxAudit")
            var tam = this.columnAuxAudit.length;
            //console.log("Tam"+tam)
            for (i = 0; i < tam; i++) {
              data = this.columnAuxAudit[i].title;

              data = myIndex + data;
              //console.log("DATa:"+data)
              cont = document.getElementById(data);
              //console.log("Cont:"+cont.value)
              const cadena =
                '{"' + this.columnAuxAudit[i].title + '":"' + cont.value + '"}';
              const objetoClonado = Object.assign({}, JSON.parse(cadena));
              //console.log(JSON.stringify(objetoClonado))
              extras.push(objetoClonado);
            }
            //console.log(JSON.stringify(extras,null,2))
            this.auditoria.infoFieldsExtras = extras;
            break;
        }
        this.auditoria.access_token = this.$cookies.get("token");
        this.auditoria.moduleId = this.moduleId;
        this.auditoria.stepAudit = item.stepAudit;
        //   console.log(JSON.stringify(this.auditoria))

        //  console.log(JSON.stringify(this.auditoria))
        this.$store
          .dispatch("task/updateTaskAuditoria", {
            id: this.auditoria.id,
            auditoria: this.auditoria,
            moduleId: this.moduleId
          })
          .then(response => {
            if (response === 200) {
              let message = "";
              switch (this.auditoria.stepAudit) {
                case 1:
                  message = "¡Tarea asignada correctamente!";
                  break;
                case 2:
                  message = "¡Evidencias actualizadas correctamente!";
                  break;
                case 3:
                  message = "¡Tarea auditada correctamente!";
                  break;
              }
              this.showUpdate(message);
              this.unDisable();
              if (this.auditoria.stepAudit === 1) {
                var newNotifications = {
                  access_token: this.$cookies.get("token"),
                  orgId: this.$store.state.auth.organizationId,
                  title: "Tarea a auditar asignada",
                  bodyN: `La tarea ${
                    item.text
                  } te fue asignada para adjuntar evidencias`,
                  target: [this.auditoria.assigned],
                  link: this._getNameRoute("auditoria", this.moduleId),
                  typeN: "audit",
                  optionsN: { idTask: item.id }
                };
                this.$store
                  .dispatch("notifications/addNotification", newNotifications)
                  .then(() => {})
                  .catch(error => {
                    this.notifyError(
                      error,
                      "No se pudo enviar la notificación a la área responsable"
                    );
                    this.writteGenericError(
                      "Auditoria.vue",
                      error,
                      "Error addNotification"
                    );
                    item.status = true;
                  });
              } else if (this.auditoria.stepAudit === 2) {
                let auditors = this.members.filter(member => member.isAuditor);
                auditors = auditors.map(auditor => {
                  return auditor._id;
                });
                var newNotifications = {
                  access_token: this.$cookies.get("token"),
                  orgId: this.$store.state.auth.organizationId,
                  title: "Tarea lista para auditar",
                  bodyN: `La tarea ${item.text} esta lista para ser auditada`,
                  target: auditors,
                  link: this._getNameRoute("auditoria", this.moduleId),
                  typeN: "audit",
                  optionsN: { idTask: item.id }
                };
                this.$store
                  .dispatch("notifications/addNotification", newNotifications)
                  .then(() => {})
                  .catch(error => {
                    this.notifyError(
                      error,
                      "No se pudo enviar la notificación al Auditor"
                    );
                    this.writteGenericError(
                      "Auditor.vue",
                      error,
                      "Error addNotification"
                    );
                    item.status = true;
                  });
              }
              this.auditoria = null;
              item.status = true;
            } else {
              this.showGenericError(response.status);
              item.status = true;
            }
          })
          .catch(error => {
            this.showGenericError(error);
            this.writteGenericError(
              "Auditoria.vue",
              error,
              "Error updateTaskAuditoria"
            );
            item.status = true;
          });
      } else {
        this.showGenericError(error_verify);
        item.status = true;
      }
    },
    verificar_tarea_completa(item) {
      if (item.stepAudit === 1) {
        if (
          item.processOwner !== "" &&
          item.processOwner.replace(/^\s+|\s+$/g, "")
        )
          if (item.assigned != "" && item.assigned.replace(/^\s+|\s+$/g, ""))
            return true;
          else {
            false;
            return "Falta dato en Area Responsable";
          }
        else {
          false;
          return "Falta dato en Propietario del Proceso";
        }
      }
      if (item.stepAudit === 2) {
        return true;
      }
      if (item.stepAudit === 3) {
        if (item.cumple !== "")
          if (
            item.observations !== "" &&
            item.observations.replace(/^\s+|\s+$/g, "")
          )
            if (
              item.processOwner !== "" &&
              item.processOwner.replace(/^\s+|\s+$/g, "")
            )
              if (
                item.assigned != "" &&
                item.assigned.replace(/^\s+|\s+$/g, "")
              )
                return true;
              else {
                false;
                return "Falta dato en Area Responsable";
              }
            else {
              false;
              return "Falta dato en Propietario del Proceso";
            }
          else {
            false;
            return "Falta dato en Observaciones";
          }
        else {
          false;
          return "Faltan seleccionar dato en cumplimiento";
        }
      }
    },
    showUpdate(datatitle) {
      Swal({
        title: datatitle,
        allowEscapeKey: false,
        allowOutsideClick: false,
        type: "success",
        showCancelButton: false,
        confirmButtonClass: "btn btn-success btn-fill",
        confirmButtonText: "OK"
      });
    },
    closeModal() {
      if (this.auxSelect) {
        this.getTaskAuditoria.map(task => {
          if (this.auxSelect.id === task.id) {
            task.assigned = this.auxSelect.assigned;
            task.cumple = this.auxSelect.cumple;
            task.observations = this.auxSelect.observations;
            task.responsableArea = this.auxSelect.responsableArea;
          }
        });
        this.auxSelect = null;
      }
      this.showModalFile = false;
    },
    eliminarColumna(title) {
      this.showSwal(title)
        .then(response => this.removeColumn(title))
        .catch(error => false);
    },
    showSwal(title) {
      return Swal({
        title: "¿Desea eliminar la columna: " + title,
        text:
          "Recuerde que borrará toda la información contenida en esta columna",
        type: "warning",
        showCancelButton: true,
        confirmButtonClass: "btn btn-success btn-fill",
        cancelButtonClass: "btn btn-danger btn-fill",
        confirmButtonText: "Sí, Eliminar",
        cancelButtonText: "Cancelar",
        buttonsStyling: false
      });
    },
    removeColumn(title) {
      //console.log("Removiendo:"+title)
      this.$store
        .dispatch("task/removeColumnAux", {
          fieldName: title,
          access_token: this.$cookies.get("token"),
          moduleId: this.moduleId
        })
        .then(response => {
          //  console.log("Response"+response.status)
          if (response.status === 200) {
            this.showUpdate("Columna: " + title + " Eliminada correctamente!!");
            this.showModal = false;
          } else {
            this.showGenericError(response.status);
            this.showModal = false;
          }
        })
        .catch(error => {
          this.showGenericError(error);
          this.showModal = false;
          this.writteGenericError(
            "Auditoria.vue",
            error,
            "Error removeColumnAux"
          );
        });
    },
    renderColumnAux(h, { column, $index }) {
      return h("span", [
        column.label,
        "  ",
        h(
          "el-popover",
          {
            props: {
              placement: "top",
              trigger: "hover",
              content: "Eliminar Columna:" + column.label
            }
          },
          [
            h(
              "i",
              {
                slot: "reference",
                class: "fa fa-trash",
                style:
                  "color:red; cursor: pointer; font-size: 15px; padding-left: 10px;",
                on: {
                  click: () => this.eliminarColumna(column.label)
                }
              },
              ""
            )
          ]
        )
      ]);
    },
    getTitleColumn(data, index) {
      //console.log("TITLECOLUMN"+data)
      let i, tam, tit, texto, valor;
      const arr = this.getTaskAuditoria[index].newFields;
      tam = arr.length;
      for (i = 0; i < tam; i++) {
        tit = JSON.stringify(arr[i]);
        //     console.log(tit)
        texto = tit.split(":");
        valor = texto[1];
        texto = texto[0].substring(2, texto[0].length - 1);
        valor = valor.substring(1, valor.length - 2);
        if (data === texto) {
          //     console.log(index+"Compara:"+data+" Vs "+texto)
          if (valor === "default") valor = "";
          //   console.log("index:"+i+"-Valor:"+valor)
          return valor;
        }
      }
    },
    getMessageStep(step, type) {
      if (type === "tootltip") {
        if (step === 1) {
          return "Se requiere primero: Asignación de 'Propietario de proceso' y 'Área responsable'";
        }
        if (step === 2) {
          return "Es necesario: completar los archivos de Evidencias";
        }
        if (step === 3) {
          return "";
        }
      }
      if (type === "button") {
        if (step === 1) {
          return "Asignar Tarea";
        }
        if (step === 2) {
          return "Subir Evidencias";
        }
        if (step === 3) {
          return "Auditar Tarea";
        }
      }
    },
    invitacion() {
      Swal({
        title: "Módulo con Vigencia expirada",
        html:
          "Esta opción está desactivada, debido a que ha expirado la vigencia de este módulo.",
        allowEscapeKey: false,
        allowOutsideClick: false,
        type: "warning",
        showCancelButton: false,
        confirmButtonClass: "btn btn-warning btn-fill",
        confirmButtonText: "OK"
      });
    }
  }
};
</script>
<style lang="scss" scoped>
@import "src/assets/sass/paper/_variables.scss";

.file-input .button {
  background: inherit;
  padding: 80px 100px;
  height: inherit;
  width: inherit;
}
.el-table .td-actions {
  button.btn {
    margin-right: 5px;
  }
}
.input-form {
  width: 100%;
  outline: none;
  background: transparent;
  border: 0;
  padding: 5px;
  &:hover {
    background: darken(#eee, 1);
    border: dashed 1px $info-states-color;
  }
  &:focus-within {
    border: solid 1px $primary-color;
    background: #fff;
    color: #000;
  }
}
.btn-attach-files {
  font-size: 20px;
}

.RiskIn > .fa-question-circle {
  color: #fbc658;
  font-size: 1.5em;
}
</style>
