<template>
  <div>
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Control de Riesgos</h5>
      </div>
      <div class="card-body row">
        <div class="col-sm-12">
          <el-table class="table-risk" :data="riskTable" header-row-class-name="text-primary">
            <el-table-column type="index"
                             class-name="th-contend">

            </el-table-column>

            <el-table-column prop="subrisk"
                             label="Subriesgo"
                             min-width="150"
                             class-name="th-contend">
            </el-table-column>
            <el-table-column prop="impact"
                             label="Impacto"
                             min-width="60"
                             class-name="th-contend text-center">
            </el-table-column>
            <el-table-column prop="probability"
                             label="Probabilidad"
                             min-width="83"
                             class-name="th-contend text-center">
            </el-table-column>
            <el-table-column prop="control"
                             label="Descripción de Control"
                             min-width="150"
                             class-name="th-contend">
            </el-table-column>
            <el-table-column prop="frecuency"
                             label="Frec. de Control"
                             class-name="th-contend">
            </el-table-column>
            <el-table-column prop="responsable"
                             label="Propietario 1"
                             min-width="100"
                             class-name="th-contend">
            </el-table-column>
            <el-table-column
              class-name="action-buttons td-actions"
              align="right"
              label="Acciones"
              fixed="right">
              <template slot-scope="props">
                <el-tooltip content="Editar" placement="left">
                <p-button type="info" class="btn-magnify" size="sm" icon @click="showSwal1(props.row)">
                  <i class="fa fa-edit"></i>
                </p-button>
                </el-tooltip>
                <p-button type="danger" size="sm" icon @click="handleDelete(props.row, props.$index )">
                  <i class="fa fa-times"></i>
                </p-button>
              </template>
            </el-table-column>
          </el-table>
        </div>
      </div>
    </div>
    <div class="edit-risk">
      <modal :show.sync="showModal" headerClasses="justify-content-center">
        <h5 slot="header" class="title title-up"> Agregar Riesgo</h5>
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <fg-input type="text"
                          label="Subriesgo"
                          name="name"
                          data-vv-as="Titulo subriesgo"
                          v-validate="modelValidations.subriskTitle"
                          :error="getError('name')"
                          placeholder="Indique título del subriesgo"
                          v-model="subriskAux.title">
                </fg-input>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <fg-input label="Descripción" :error="getError('description')">
                  <textarea
                    rows="8"
                    class="form-control border-input"
                    name="description"
                    data-vv-as="Descripcion"
                    v-validate="modelValidations.subriskDescrip"
                    placeholder="Agregue una descripción"
                    v-model="subriskAux.description"
                  ></textarea>
                </fg-input>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <fg-input label="Impacto" :error="getError('impact')">
                  <el-select
                    
                    v-model="subriskAux.impactAvg"
                    class="select-default"
                    name="impact"
                    data-vv-as="Impacto"
                    v-validate="modelValidations.subriskImpact"
                    placeholder="Indique Impacto"
                  >
                    <el-option
                      v-for="option in impacts"
                      class="select-default"
                      :value="option"
                      :label="option.label"
                      :key="option.value"
                    ></el-option>
                  </el-select>
                </fg-input>
              </div>
              <div class="col-md-6">
                <fg-input label="Probabilidad" :error="getError('probability')">
                  <el-select
                    v-model="subriskAux.probabilityAvg"
                    class="select-default"
                    name="probability"
                    data-vv-as="Probabilidad"
                    v-validate="modelValidations.subriskProb"
                    placeholder="Indique Probabilidad"
                  >
                    <el-option
                      v-for="option in probabilities"
                      class="select-default"
                      :value="option"
                      :label="option.label"
                      :key="option.value"
                    ></el-option>
                  </el-select>
                </fg-input>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <fg-input label="Sanción" :error="getError('sanction')">
                  <textarea
                    name="sanction"
                    data-vv-as="Sancion"
                    rows="8"
                    class="form-control border-input"
                    placeholder="Agregue las Sanciones"
                    v-model="subriskAux.sanction"
                    v-validate="modelValidations.subriskSanction"
                  ></textarea>
                </fg-input>
              </div>
            </div> 
          </div>
        </div>
        <template slot="footer">
          <div class="left-side">
            <p-button type="danger" link @click="cancel()"> Cancelar</p-button>            
          </div>
          <div class="divider"></div>
          <div class="right-side">
            <p-button v-if="isEditing" type="success" link @click="validate()">Guardar</p-button>
             <p-button v-else type="success" link @click="validate()">Agregar</p-button>
          </div>
        </template>
      </modal>
    </div>
    <div class="text-right">
      <p-button type="info" @click="handleAdd()" class="btn-magnify" icon round><i class="el-icon-plus"></i></p-button>
    </div>
    <div class="text-center">
        <p-button type="info" @click="handleWorkPlan()"> Ir a plan de trabajo  </p-button>
    </div>
  </div>
</template>
<script>
  import Vue from 'vue'
  import {Table, TableColumn} from 'element-ui'
  import { Select, Option } from 'element-ui'
  import PSwitch from 'src/components/UIComponents/Switch.vue'
  import Modal from 'src/components/UIComponents/Modal.vue'
  import riskApi from "src/api/risk/risk"

  import {Subrisk} from 'src/constructors/subrisk.js'
  import {gralMethods, gralErrorMethods} from 'src/mixins/generalMethods.js'
  import {mapState, mapGetters, mapMutations } from 'vuex';

  Vue.use(Table)
  Vue.use(TableColumn)
  export default{
    components: {
      PSwitch,
      Modal,
      [Select.name]: Select,
      [Option.name]: Option,
    },
    computed:{
      ...mapState ('risk',['subriskTable'])
    },
    data () {
      return {
        showModal: false,
        isEditing: false,
        originalData: null,
        idToEdit: 0,
        riskTable: [
          {
          subrisk: 'Cuenta con Políticas de RH tendientes a evitar la incorporación de personas que puedan generar un riesgo a la integridad de la empresa, tratándose de familiares, amigos, parientes o consanguíneos.',
          impact: 'Insignificante',
          probability: 'Casi Cierto',
          control: 'Por medio de la política de reclutamiento y selección de familiares',
          frecuency: 'Por evento',
          responsable: 'Reclutamiento y selección',
          active: false
          },
          {
          subrisk: 'Cuenta con Políticas de RH tendientes a evitar la incorporación de personas que puedan generar un riesgo a la integridad de la empresa, tratándose de familiares, amigos, parientes o consanguíneos.',
          impact: 'Insignificante',
          probability: 'Casi Cierto',
          control: 'Por medio de la política de reclutamiento y selección de familiares',
          frecuency: 'Por evento',
          responsable: 'Reclutamiento y selección',
          active: false
          },
          {
          subrisk: 'Cuenta con Políticas de RH tendientes a evitar la incorporación de personas que puedan generar un riesgo a la integridad de la empresa, tratándose de familiares, amigos, parientes o consanguíneos.',
          impact: 'Insignificante',
          probability: 'Casi Cierto',
          control: 'Por medio de la política de reclutamiento y selección de familiares',
          frecuency: 'Por evento',
          responsable: 'Reclutamiento y selección',
          active: false
          }
        ],
        impacts: [
          {value: 0, label: 'Insignificante'},
          {value: 1, label: 'Moderado'},
          {value: 2, label: 'Significante'},
          {value: 3, label: 'Catastófico'}
        ],
        probabilities: [
          {value: 0, label: 'Improbable'},
          {value: 1, label: 'Posible'},
          {value: 2, label: 'Probable'},
          {value: 3, label: 'Casi Cierto'}
        ],
        subriskAux: {},
      modelValidations: {
        subriskTitle:{
          required: true,
          min: 1
        },
        subriskDescrip:{
          required: true,
          min: 1
        },
        subriskImpact:{
          required: true
        },
        subriskProb:{
          required: true
        },
        subriskSanction:{
          required: true,
          min: 1
        }
      },
      // this variable indicates if table has change in order to make an explicit update
      changeCounter: 0
      }
    },
    methods: {
       getError(fieldName){
      return this.errors.first(fieldName)
      },
      handleAdd () {
        this.showModal = true
        this.riskTable.push({ subrisk: '', impact: '', probability: '', control: '', frecuency: '', responsable: '', active: false })
        this.idToEdit = this.riskTable.length -1
      },
      handleEdit (item, index) {
        this.isEditing = true
        console.log('data '+ item.responsable)
        this.originalData = Object.assign({}, item)
        this.idToEdit = index
        this.showModal = true
      },
      handleDelete (item, index) {
        this.riskTable.splice(index, 1)
      },
      handleWorkPlan() {
         this.$router.push({name: this._getNameRoute('workplan', this.$route.path.split('/')[1])})
      },
      save() {
        this.showModal = false
        this.isEditing = false
        this.originalData = null
        this.idToEdit = 0
      },
      cancel() {
        this.showModal = false
        this.isEditing = false
        this.idToEdit = 0
        if (!this.originalData) {
          this.riskTable.splice(this.riskTable.indexOf(this.idToEdit), 1)
          return
        } else {
          Object.assign(this.riskTable[this.idToEdit],this.originalData)
          
          this.originalData = null
        }
      }
    }
  }
</script>
<style lang="scss">
  .el-table .td-actions{
    button.btn {
      margin-right: 5px;
    }
  }
</style>
