<template>
  <div>
    <div class="card">
      <div class="card-header">
        <!--Límite-->
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h3 class="card-title">¿Qué deseas hacer?</h3>
          </div>
          <div class="col-sm-12 col-md-6 text-center">
            <div class="row">
              <div class="col-sm-2"></div>
              <div class="col-sm-2" id="orderRisk">
                <el-tooltip content="Imprimir" placement="top">
                  <p-button type="black" icon outline disabled round size="mid">
                    <i class="fa fa-print" aria-hidden="true"></i>
                  </p-button>
                </el-tooltip>
              </div>
              <div class="col-sm-2" id="orderRiskDesc">
                <el-tooltip content="Ordenar Descendente" placement="top">
                  <p-button v-if="this.moduleId!=='continuidad'"
                    type="danger"
                    @click="sortriskdesc()"
                    icon
                    round
                    class="btn-magnify"
                    size="mid"
                    ><i class="fa fa-sort-numeric-desc" aria-hidden="true"></i
                  ></p-button>
                  <p-button v-else-if="this.moduleId=='continuidad' && $store.state.organization.premium.vigenciaContinuidad"
                    type="danger"
                    @click="sortriskdesc()"
                    icon
                    round
                    class="btn-magnify"
                    size="mid"
                    ><i class="fa fa-sort-numeric-desc" aria-hidden="true"></i
                  ></p-button>
                  <p-button v-else
                    type="danger"
                    disabled
                    icon
                    round
                    class="btn-magnify"
                    size="mid"
                    ><i class="fa fa-sort-numeric-desc" aria-hidden="true"></i
                  ></p-button>
                </el-tooltip>
              </div>
              <div class="col-sm-2" id="orderRiskAsc">
                <el-tooltip content="Ordenar Ascendente" placement="top">
                  <p-button  v-if="this.moduleId!=='continuidad'"
                    type="success"
                    @click="sortriskasc()"
                    icon
                    round
                    class="btn-magnify"
                    size="mid"
                    ><i class="fa fa-sort-numeric-asc" aria-hidden="true"></i
                  ></p-button>
                  <p-button  v-else-if="this.moduleId=='continuidad' && $store.state.organization.premium.vigenciaContinuidad"
                    type="success"
                    @click="sortriskasc()"
                    icon
                    round
                    class="btn-magnify"
                    size="mid"
                    ><i class="fa fa-sort-numeric-asc" aria-hidden="true"></i
                  ></p-button>
                   <p-button  v-else
                    type="success"
                    icon
                    disabled
                    round
                    class="btn-magnify"
                    size="mid"
                    ><i class="fa fa-sort-numeric-asc" aria-hidden="true"></i
                  ></p-button>
                </el-tooltip>
              </div>
              <div class="col-sm-2">
                <!--:disabled="notAllAttended || NotAllSectionsAttended"-->
                <p-button slot="reference" type="info" @click="proceder" round v-if="this.moduleId!=='continuidad'">
                  Proceder
                </p-button>
                <p-button slot="reference" type="info" @click="proceder" round v-else-if="this.moduleId=='continuidad' && $store.state.organization.premium.vigenciaContinuidad">
                  Proceder
                </p-button>
                <p-button slot="reference" type="info" @click="invitacion" round v-else>
                  Proceder
                </p-button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body row">
        <div class="col-sm-12">
          <el-table
            class="table-risk"
            :data="procederTable"
            header-row-class-name="text-primary"
            :key="procederTable._id"
          >
            <el-table-column
              type="index"
              class-name="th-contend"
            ></el-table-column>
            <el-table-column
              prop="title"
              label="Subriesgo"
              min-width="150"
              class-name="th-contend"
            ></el-table-column>
            <el-table-column
              prop="description"
              label="descripción"
              min-width="200"
              class-name="th-contend"
            >
              <template slot-scope="scope">
                <read-more
                  more-str="...ver mas"
                  :text="scope.row.description"
                  link="#"
                  less-str="...ver menos"
                  :max-chars="100"
                ></read-more>
              </template>
            </el-table-column>
            <el-table-column
              prop="sanction"
              label="Sanción"
              min-width="200"
              class-name="th-contend"
            >
              <template slot-scope="scope">
                <read-more
                  more-str="...ver mas"
                  :text="scope.row.sanction"
                  link="#"
                  less-str="...ver menos"
                  :max-chars="100"
                ></read-more>
              </template>
            </el-table-column>
            <el-table-column
              prop="levelInhAvg.label"
              label="Nivel de Riesgo"
              width="150"
              class-name="th-contend"
            >
              <template slot-scope="scope">
                <el-popover trigger="hover" placement="top">
                  <p>
                    Impacto:
                    {{
                      scope.row.impactAvg.label +
                        " (" +
                        scope.row.impactAvg.value +
                        ")"
                    }}
                  </p>
                  <p>
                    Probabilidad:
                    {{
                      scope.row.probabilityAvg.label +
                        " (" +
                        scope.row.probabilityAvg.value +
                        ")"
                    }}
                  </p>
                  <div slot="reference" class="name-wrapper">
                    <el-tag
                      :style="
                        'color:white; background-color:' +
                          colorLevel(scope.row.levelInhAvg.label)
                      "
                      size="medium"
                      >{{
                        scope.row.levelInhAvg.label +
                          " (" +
                          scope.row.levelInhAvg.value +
                          ")"
                      }}</el-tag
                    >
                  </div>
                </el-popover>
              </template>
            </el-table-column>

            <el-table-column
              class-name="action-buttons td-actions"
              align="right"
              label="Aceptable/Proceder"
              width="120"
              fixed="right"
              prop="proceder"
            >
              <template slot-scope="props">
                <fg-input>
                  <el-select
                    class="select-default"
                    @change="setProceder(props.$index, props.row.proceder)"
                    v-model="props.row.proceder"
                    placeholder="Selecciona"
                  >
                    <el-option
                      v-for="proceder in option"
                      class="select-default"
                      :value="proceder"
                      :label="proceder.label"
                      :key="proceder.value"
                    >
                    </el-option>
                  </el-select>
                </fg-input>
              </template>
            </el-table-column>
          </el-table>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Vue from "vue";
import { Table, TableColumn } from "element-ui";
import { Select, Option, Tag, Popover } from "element-ui";
import PSwitch from "src/components/UIComponents/Switch.vue";
import Modal from "src/components/UIComponents/Modal.vue";
import { Card } from "src/components/UIComponents";
import BarChart from "src/components/UIComponents/Charts/BarChart";
import ChartCard from "src/components/UIComponents/Cards/ChartCard";
import { Tooltip } from "element-ui";
import { Catalog } from "src/constructors/subrisk.js";
import swal from "sweetalert2";
import ReadMore from "vue-read-more";
import {
  gralMethods,
  gralErrorMethods,
  gralErrorLog
} from "src/mixins/generalMethods.js";
import { mapState, mapGetters, mapMutations } from "vuex";

Vue.use(ReadMore);
Vue.use(Table);
Vue.use(TableColumn);
Vue.use(Tag);
Vue.use(Popover);
export default {
  components: {
    PSwitch,
    Modal,
    Card,
    BarChart,
    ChartCard,
    [Select.name]: Select,
    [Option.name]: Option,
    [Tooltip.name]: Tooltip
  },
  data() {
    return {
      algo: {},
      access_token: "",
      organizationId: "",
      showBarChar: false,
      showModal: true,
      isEditing: false,
      originalData: null,
      idToEdit: 0,
      moduleId: "",
      procederTable: [],
      procederTableValidate: [],
      option: [
        new Catalog({
          label: "Aceptar",
          value: 1
        }),
        new Catalog({
          label: "Mitigar",
          value: 2
        }),
        new Catalog({
          label: "Transferir",
          value: 3
        })
      ]
    };
  },
  mixins: [gralMethods, gralErrorMethods, gralErrorLog],
  computed: {
    ...mapGetters("organization", ["impacts", "probabilities", "levels"]),
    ...mapGetters("sections", ["NotAllSectionsAttended"]),
    ...mapState("risk", ["subriskTable"]),
    notAllAttended() {
      if (this.procederTable.length < 1) {
        return true;
      }
      let results = this.procederTable.map(subrisk => {
        return subrisk.proceder.value > 0;
      });
      let isThereIncompleteSection = results.filter(result => result === false);
      return isThereIncompleteSection.length > 0;
    }
  },
  created() {
    this.access_token = this.$cookies.get("token");
    this.organizationId = this.$store.state.auth.organizationId;
    this.moduleId = this.$route.path.split("/")[1];
    this.$store
      .dispatch("risk/selectSubrisks", {
        access_token: this.access_token,
        moduleId: this.moduleId
      })
      .then(x => {
        // change numeric value for label
        this.$store.dispatch("risk/updateLabelInSubrisks");
        this.procederTable = JSON.parse(JSON.stringify(this.subriskTable));
        this.procederTableValidate = JSON.parse(
          JSON.stringify(this.subriskTable)
        );
      });
  },
  methods: {
    invitacion() {
      swal({
        title: "Módulo con Vigencia expirada",
        html:
          "Esta opción está desactivada, debido a que ha expirado la vigencia de este módulo.",
        allowEscapeKey: false,
        allowOutsideClick: false,
        type: "warning",
        showCancelButton: false,
        confirmButtonClass: "btn btn-warning btn-fill",
        confirmButtonText: "OK"
      });
    },
    setProceder(index, proceder) {
      let param = {
        index: index,
        proceder: proceder
      };
      this.$store.commit("risk/SET_PROCEDER", param);
    },
    showSwal() {
      let valida = false;
      for (let i = 0; i < this.procederTableValidate.length; i++) {
        if (this.procederTableValidate[i].proceder.value === 0) {
          valida = true;
        } else {
          valida = false;
          i = this.procederTableValidate.length;
        }
      }
      if (!valida) {
        swal({
          text: "En acción reemplazará las tareas ya antes definidas",
          title: "¿Estás seguro?",
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "btn btn-success btn-fill",
          cancelButtonClass: "btn btn-danger btn-fill",
          cancelButtonText: "Cancelar",
          confirmButtonText: "Si, cambiar",
          buttonsStyling: false
        })
          .then(result => {
            if (result) {
              this.proceder();
            }
          })
          .catch(swal.noop);
      } else {
        this.proceder();
      }
    },
    colorLevel(data) {
      let color = "";
      this.levels.forEach(item => {
        if (data === item.label) {
          color = item.color;
        }
      });

      if (color === "") {
        color = "darkgray";
      }

      return color + " !important";
    },
    proceder() {
      if (this.NotAllSectionsAttended) {
        swal({
          title: "ATENCIÓN !",
          text: "Faltan controles por evaluar.",
          type: "warning",
          confirmButtonClass: "btn btn-success btn-fill",
          buttonsStyling: false
        }).catch(swal.noop);
      } else if (this.notAllAttended) {
        swal({
          title: "ATENCIÓN !",
          text:
            "Falta determinar si desea " +
            "\n" +
            " aceptar o mitigar alguna opción.",
          type: "warning",
          confirmButtonClass: "btn btn-success btn-fill",
          buttonsStyling: false
        }).catch(swal.noop);
      } else {
        let paramsApi = {
          access_token: this.access_token,
          moduleId: this.moduleId,
          subTypeOf: "section"
        };
        this.$store
          .dispatch("risk/getTaskToDo", paramsApi)
          .then(() => {
            var notif = {
              access_token: this.access_token,
              orgId: this.organizationId,
              title: "Secciones completadas",
              bodyN: "Hay nuevas actividades por realizar",
              target: ["ALL"],
              link: this._getNameRoute("actionplan", this.moduleId),
              typeN: "sectionEnded"
            };
            this.$store
              .dispatch("notifications/addNotification", notif)
              .then(() => {
                this.$router.push({
                  name: this._getNameRoute("actionplan", this.moduleId)
                });
              });
          })
          .catch(error => {
            this.notifyError(
              error,
              "No se puede realizar la operacion, intente mas tarde"
            );
            this.writteGenericError(
              "EvaluateRisk.vue",
              error,
              "Error addNotification"
            );
          });
      }
    },
    sortriskdesc() {
      this.procederTable.sort(function(a, b) {
        var titlea = a.levelInhAvg.value;
        var titleb = b.levelInhAvg.value;
        return titleb - titlea;
      });
    },
    sortriskasc() {
      this.procederTable.sort(function(a, b) {
        var titlea = a.levelInhAvg.value;
        var titleb = b.levelInhAvg.value;
        return titlea - titleb;
      });
    }
  }
};
</script>
<style lang="scss">
.el-table .td-actions {
  button.btn {
    margin-right: 5px;
  }
}
</style>
