<template>
  <div>
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h3 class="card-title" id="tableRisk">Tabla de Riesgos</h3>
          </div>
          <div class="col-sm-12 col-md-6 text-center">
            <div class="row">
              <div class="col-sm-4"></div>
              <!-- <div id="step-1" class="col-sm-2">
                <el-tooltip content="Ordenar Descendente" placement="top">
                  <p-button type="danger" 
                            @click="sortriskdesc()" 
                            icon round 
                            class="btn-magnify" 
                            size="mid">
                    <i class="fa fa-sort-numeric-desc" aria-hidden="true"></i>
                  </p-button>
                </el-tooltip>
              </div>
              <div class="col-sm-2">
                <el-tooltip content="Ordenar Ascendente" placement="top">
                  <p-button type="success" @click="sortriskasc()" icon round class="btn-magnify" size="mid"><i class="fa fa-sort-numeric-asc" aria-hidden="true"></i></p-button>
                </el-tooltip>
              </div>-->
            </div>
          </div>
        </div>
      </div>
      <div class="card-body row">
        <div class="grid-content col-sm-12">
          <div class="grid1">
            <p-button
              v-if="this.moduleId!='continuidad'"
              id="step-2"
              type="default"
              link
              @click="handleAdd()"
              class="btn-add-risk"
            >
              <i class="fa fa-plus"></i> Agregar Nuevo Riesgo
            </p-button>
            <p-button
              v-else-if="this.moduleId==='continuidad' && $store.state.organization.premium.vigenciaContinuidad"
              id="step-2"
              type="default"
              link
              @click="handleAdd()"
              class="btn-add-risk"
            >
              <i class="fa fa-plus"></i> Agregar Nuevo Riesgo
            </p-button>
            <p-button
              v-else
              id="step-2"
              type="default"
              link
              @click="invitacion()"
              class="btn-add-risk"
            >
              <i class="fa fa-plus"></i> Agregar Nuevo Riesgo
            </p-button>
          </div>
          <div class="grid4">
            <!--TODO: Se inhibio porque el agregar columna esta en un 50% de desarrollo -->
            <!-- <p-button id="step-2" type="default" link @click="agregaColumna()">
              <i class="fa fa-plus" id="add-column"></i> Agregar Nueva Columna
            </p-button> -->
          </div>
          <div class="grid3">
            <div class="col-sm-2">
              <el-tooltip content="Imprimir" placement="top">
                <p-button
                  style="width: 90%;"
                  type="black"
                  icon
                  disabled
                  outline
                  round
                  class="btn-magnify"
                  size="mid"
                >
                  <i class="fa fa-print" aria-hidden="true"></i>
                </p-button>
              </el-tooltip>
            </div>
          </div>
          <div class="grid2">
            <div id="step-3" class="col-sm-2">
              <el-tooltip content="Personalizar Matriz" placement="top">
                <p-button
                  v-if="this.moduleId!='continuidad'"
                  type="black"
                  @click="showUmbral()"
                  icon
                  round
                  class="btn-magnify"
                  size="mid"
                >
                  <i class="fa fa-sliders"></i>
                </p-button>
                <p-button
                  v-else-if="this.moduleId==='continuidad' && $store.state.organization.premium.vigenciaContinuidad"
                  type="black"
                  @click="showUmbral()"
                  icon
                  round
                  class="btn-magnify"
                  size="mid"
                >
                  <i class="fa fa-sliders"></i>
                </p-button>
                <p-button
                  v-else
                  type="black"
                  @click="invitacion()"
                  icon
                  disabled
                  round
                  class="btn-magnify"
                  size="mid"
                >
                  <i class="fa fa-sliders"></i>
                </p-button>
              </el-tooltip>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <el-table
            v-loading="loading"
            element-loading-background="rgba(256, 256, 256, 0.9)"
            element-loading-text="obteniendo tus subriesgos..."
            element-loading-spinner="el-icon-loading"
            class="table-risk"
            :data="subriskTable"
            header-row-class-name="text-primary"
            :key="changeCounter"
          >
            <el-table-column
              type="index"
              class-name="th-contend "
            ></el-table-column>

            <el-table-column
              prop="title"
              label="Subriesgo"
              min-width="150"
              class-name="th-contend"
            ></el-table-column>
            <el-table-column
              prop="description"
              label="descripción"
              min-width="300"
              class-name="th-contend"
            >
              <template slot-scope="scope">
                <read-more
                  more-str="...ver mas"
                  :text="scope.row.description"
                  link="#"
                  less-str="...ver menos"
                  :max-chars="100"
                ></read-more>
              </template>
            </el-table-column>
            <el-table-column
              prop="sanction"
              label="Sanción"
              min-width="200"
              class-name="th-contend"
            ></el-table-column>
            <el-table-column
              prop="levelInhAvg.label"
              label="Nivel de Riesgo"
              width="150"
              class-name="th-contend"
            >
              <template slot-scope="scope">
                <el-popover trigger="hover" placement="top">
                  <p>Impacto: {{ impactLabel(scope.row.impactAvg.value) }}</p>
                  <p>
                    Probabilidad:
                    {{ probabilityLabel(scope.row.probabilityAvg.value) }}
                  </p>
                  <div slot="reference" class="name-wrapper">
                    <el-tag
                      :id="'step-6-' + scope.$index"
                      :style="
                        'color:white; background-color:' +
                          colorLevel(scope.row.levelInhAvg.value) +
                          '!important'
                      "
                      size="medium"
                      >{{
                        labelLevel(
                          scope.row.levelInhAvg.label,
                          scope.row.levelInhAvg.value
                        )
                      }}</el-tag
                    >
                  </div>
                </el-popover>
              </template>
            </el-table-column>
            <el-table-column
              class-name="action-buttons td-actions"
              align="center"
              label="Acciones"
              width="100"
            >
              <template slot-scope="props" class-name="th-contend ">
                <el-tooltip content="Editar" placement="left">
                  <p-button
                    :id="'step-7-' + props.$index"
                    type="info"
                    class="btn-magnify"
                    size="sm"
                    icon
                    @click="showSwal1(props.row)"
                  >
                    <i class="fa fa-edit"></i>
                  </p-button>
                </el-tooltip>
                <el-tooltip content="Eliminar" placement="left">
                  <p-button
                    type="danger"
                    class="btn-magnify"
                    size="sm"
                    icon
                    @click="handleDelete(props.$index)"
                  >
                    <i class="fa fa-trash"></i>
                  </p-button>
                </el-tooltip>
              </template>
            </el-table-column>
          </el-table>
        </div>
      </div>
    </div>
    <div class="edit-risk">
      <mrisk
        ref="modalMatrix"
        :show.sync="showModal"
        headerClasses="justify-content-center"
        @close="showModal = false"
      >
        <h5
          slot="header"
          class="title"
          v-if="!isEdit"
          @click="(isEdit = true), changeEdit(true)"
        >
          {{ subriskAux.title }}
        </h5>
        <fg-input
          v-else
          slot="input-header"
          label="Título del subriesgo"
          id="in"
          name="umbralTitle"
          :error="getError('umbralTitle')"
          data-vv-as="Titulo"
          v-validate="'required'"
          @mouseover="getFocus()"
          type="text"
          @blur="changeEdit(false)"
          @keyup.enter="changeEdit(false)"
          v-model="subriskAux.title"
        ></fg-input>
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <fg-input label="Descripción" :error="getError('description')">
                  <textarea
                    rows="8"
                    class="form-control border-input"
                    name="description"
                    data-vv-as="Descripcion"
                    v-validate="modelValidations.subriskDescrip"
                    placeholder="Agregue una descripción"
                    v-model="subriskAux.description"
                  ></textarea>
                </fg-input>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <!-- <router-link  v-if="isEditing" :to="{name: 'matrix', params: { subrisk: subriskAux.title }}"> -->
                <fg-input
                  v-if="isEditing"
                  @click="closingModal"
                  label="Impacto"
                  v-model="subriskAux.impactAvg.label"
                ></fg-input>
                <!-- </router-link> -->

                <fg-input v-else label="Impacto" :error="getError('impact')">
                  <el-select
                    v-model="subriskAux.impactAvg"
                    class="select-default"
                    name="impact"
                    data-vv-as="Impacto"
                    v-validate="
                      moduleId === 'anticorruption'
                        ? modelValidations.subriskImpact
                        : { required: false }
                    "
                    placeholder="Indique Impacto"
                  >
                    <el-option
                      v-for="option in impacts"
                      class="select-default"
                      :value="option"
                      :label="option.label + ' (' + option.value + ')'"
                      :key="option.value"
                    ></el-option>
                  </el-select>
                </fg-input>
              </div>
              <div class="col-md-6">
                <!-- <router-link v-if="isEditing" :to="{name: 'matrix', params: { subrisk: subriskAux.title }}"> -->
                <fg-input
                  v-if="isEditing"
                  @click="closingModal"
                  label="Probabilidad"
                  v-model="subriskAux.probabilityAvg.label"
                ></fg-input>
                <!-- </router-link> -->

                <fg-input
                  v-else
                  label="Probabilidad"
                  :error="getError('probability')"
                >
                  <el-select
                    v-model="subriskAux.probabilityAvg"
                    class="select-default"
                    name="probability"
                    data-vv-as="Probabilidad"
                    v-validate="
                      moduleId === 'anticorruption'
                        ? modelValidations.subriskProb
                        : { required: false }
                    "
                    placeholder="Indique Probabilidad"
                  >
                    <el-option
                      v-for="option in probabilities"
                      class="select-default"
                      :value="option"
                      :label="option.label + ' (' + option.value + ')'"
                      :key="option.value"
                    ></el-option>
                  </el-select>
                </fg-input>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <fg-input label="Sanción" :error="getError('sanction')">
                  <textarea
                    name="sanction"
                    data-vv-as="Sancion"
                    rows="8"
                    class="form-control border-input"
                    placeholder="Agregue las Sanciones"
                    v-model="subriskAux.sanction"
                    v-validate="modelValidations.subriskSanction"
                  ></textarea>
                </fg-input>
              </div>
            </div>
          </div>
        </div>
        <template slot="footer">
          <div class="left-side">
            <p-button type="danger" link @click="cancel()">Cancelar</p-button>
          </div>
          <div class="divider"></div>
          <div class="right-side">
            <p-button v-if="isEditing" type="success" link @click="validate()"
              >Guardar</p-button
            >
            <p-button v-else type="success" link @click="validate()"
              >Agregar</p-button
            >
          </div>
        </template>
      </mrisk>
    </div>
    <modal
      :show.sync="showModalColumn"
      headerClasses=" justify-content-center"
      @close="cancelModalColumn"
    >
      <h4 slot="header" class="title title-up">Agregar columna</h4>
      <div
        class="card"
        v-loading="loadingadd"
        element-loading-background="rgba(256, 256, 256, 0.9)"
        element-loading-text="Agregando Columna"
        element-loading-spinner="el-icon-loading"
      >
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <b-form
                @submit.prevent="addColumn('form-1')"
                data-vv-scope="form-1"
              >
                <fg-input
                  type="text"
                  :error="getError('title')"
                  value
                  label="Indique nombre de Columna"
                  name="name"
                  placeholder="Nombre de columna"
                  v-model="columnaAux.title"
                  data-vv-as="Descripcion"
                  v-validate="modelValidationsColumn.title"
                ></fg-input>
              </b-form>
            </div>
          </div>
        </div>
      </div>
      <template slot="footer">
        <div class="left-side">
          <p-button type="danger" link @click="cancelModalColumn()"
            >Cancelar</p-button
          >
        </div>
        <div class="divider"></div>
        <div class="right-side">
          <p-button type="success" link @click="addColumn('form-1')"
            >Agregar</p-button
          >
        </div>
      </template>
    </modal>
    <!--Pop up Parametros Umbrales-->
    <popup></popup>
  </div>
</template>
<script>
import Vue from "vue";
import { Table, TableColumn, Col } from "element-ui";
import { Select, Option } from "element-ui";
import PSwitch from "src/components/UIComponents/Switch.vue";
import Modal from "src/components/UIComponents/Modal.vue";
import mrisk from "src/components/UIComponents/Modal3.vue";
import Modal2 from "src/components/UIComponents/Modal2.vue";
import Popup from "../MatrizRiesgos/PopupUmbral";
import swal from "sweetalert2";
import { Tooltip, Tag, Popover } from "element-ui";
import { Validator } from "vee-validate";
import riskApi from "src/api/risk/risk";
import { Subrisk } from "src/constructors/subrisk.js";
import {
  gralMethods,
  gralErrorMethods,
  gralErrorLog
} from "src/mixins/generalMethods.js";
import { mapState, mapGetters, mapMutations } from "vuex";
import ReadMore from "vue-read-more";

Vue.use(Table);
Vue.use(TableColumn);
Vue.use(Popover);
Vue.use(Tag);
Vue.use(ReadMore);

export default {
  name: "identify-risk",
  components: {
    PSwitch,
    Modal,
    mrisk,
    Modal2,
    Popup,
    [Select.name]: Select,
    [Option.name]: Option,
    [Tooltip.name]: Tooltip
  },
  mixins: [gralMethods, gralErrorMethods, gralErrorLog],
  computed: {
    ...mapGetters("organization", ["impacts", "probabilities", "levels"]),
    ...mapState("risk", ["subriskTable"]),
    ...mapState("user", ["myUser"])
  },
  data() {
    return {
      loading: true,
      access_token: "",
      moduleId: "",
      showModal: false,
      showPopup: false,
      showModalColumn: false,
      loadingadd: false,
      isEditing: false,
      isEdit: false,
      onFocusTitle: "",
      subriskAux: {},
      modelValidationsColumn: {
        title: {
          required: true,
          min: 1
        }
      },
      modelValidations: {
        subriskTitle: {
          required: true,
          min: 1
        },
        subriskDescrip: {
          required: true,
          min: 1
        },
        subriskImpact: {
          required: true
        },
        subriskProb: {
          required: true
        },
        subriskSanction: {
          required: true,
          min: 1
        }
      },
      columnaAux: [
        {
          title: "",
          dato: ""
        }
      ],
      // this variable indicates if table has change in order to make an explicit update
      changeCounter: 0
    };
  },
  created() {
    this.access_token = this.$cookies.get("token");
    let route = this.$route.path.split("/");
    // get the module from url
    this.moduleId = route[1];

    this.$store
      .dispatch("risk/selectSubrisks", {
        access_token: this.access_token,
        moduleId: this.moduleId
      })
      .then(x => {
        this.loading = false;
        // change numeric value for label
        this.$store.dispatch("risk/updateLabelInSubrisks").then(() => {
          this.$store
            .dispatch("organization/selectUmbrals", {
              access_token: this.$cookies.get("token"),
              moduleId: this.moduleId
            })
            .then()
            .catch(error => {
              this.notifyError(error, "Error al cargar Umbrales");
              this.writteGenericError(
                "IdentifyRisk.vue",
                error,
                "Error al cargar Umbrales"
              );
            });
        });
      })
      .catch(error => {
        this.loading = false;
        this.notifyError(error);
        this.writteGenericError(
          "IdentifyRisk.vue",
          error,
          "Error selectSubrisk "
        );
      });
  },
  methods: {
    async agregaColumna() {
      this.columnaAux.title = "";
      this.showModalColumn = true;
    },
    addColumn(scope) {
      let titlevar = this.columnaAux.title.toUpperCase();
      return this.$validator.validateAll(scope).then(isValid => {
        if (isValid) {
          this.showModalColumn = false;
          console.log("columnadd", this.columnaAux.title, titlevar);
        } else {
          this.loadingadd = false;
          this.showGenericError(": Ingrese un nombre de Columna");
        }
      });
    },
    async addQuestionnaireAssociateSubrisk(newSubrisk) {
      if (this.moduleId === "anticorruption") {
        return;
      }
      try {
        let paramsApi = {
          access_token: this.access_token,
          description: newSubrisk.description,
          typeOf: newSubrisk._id + "IMP",
          title: newSubrisk.title,
          moduleId: this.moduleId,
          questions: []
        };
        await this.$store.dispatch("sections/newSection", paramsApi);
        paramsApi.typeOf = newSubrisk._id + "PROB";
        await this.$store.dispatch("sections/newSection", paramsApi);
      } catch (error) {
        this.notifyError(error);
        this.writteGenericError(
          "IdentifyRisk.vue",
          error,
          "Error addQuestionnaireAssociateSubrisk"
        );
      }
    },
    async deleteQuestionnaireAssociateSubrisk(idSubrisk) {
      if (this.moduleId === "anticorruption") {
        return;
      }
      try {
        let paramsApi = {
          access_token: this.access_token,
          moduleId: this.moduleId,
          subTypeOf: idSubrisk
        };
        await this.$store.dispatch(
          "sections/getSectionsProgressInfo",
          paramsApi
        );
        let sections = this.$store.state.sections.infoProgressSections;
        Promise.all(
          sections.map(async section => {
            let param = {
              id: section.questions._id,
              access_token: this.access_token
            };
            await this.$store.dispatch("sections/deleteSection", param);
          })
        );
      } catch (error) {
        this.notifyError(error);
        this.writteGenericError(
          "IdentifyRisk.vue",
          error,
          "Error addQuestionnaireAssociateSubrisk"
        );
      }
    },
    impactLabel(value) {
      let myImpact = this.impacts.find(impact => impact.value === value);
      return myImpact !== undefined
        ? `${myImpact.label} (${myImpact.value})`
        : `No definido (${value})`;
    },
    probabilityLabel(value) {
      let myProbs = this.probabilities.find(prob => prob.value === value);
      return myProbs !== undefined
        ? `${myProbs.label} (${myProbs.value})`
        : `No definido (${value})`;
    },
    changeEdit(value) {
      if (value) {
        this.isEdit = value;
        return;
      }
      this.$validator.validate("umbralTitle").then(isValid => {
        if (isValid) {
          this.isEdit = value;
        }
      });
    },
    closingModal() {
      this.showModal = false;
      this.$refs.modalMatrix.closeModal();
      let nameRoute = "matrix";
      this.$router.push({
        name: this._getNameRoute(nameRoute, this.moduleId),
        params: { subriskId: this.subriskAux._id }
      });
    },

    colorLevel(data) {
      let color = "darkgray";

      this.levels.forEach(item => {
        if (data >= item.value) {
          color = item.color;
        }
      });
      return color;
    },
    labelLevel(label, value) {
      label = "";
      this.levels.forEach(item => {
        if (value >= item.value) {
          label = item.label;
        }
      });
      if (label === "") {
        label = "No definido";
      }
      return `${label} (${value})`;
    },
    getFocus() {
      this.onFocusTitle = document.getElementById("in").value;
      document.getElementById("in").focus();
    },
    cancelModalColumn() {
      this.showModalColumn = false;
    },
    cancel() {
      this.showModal = false;
    },
    goToAddParams() {
      this.$router.push({ name: this._getNameRoute("matrix", this.moduleId) });
    },
    showUmbral() {
      this.$store.commit("risk/mutationUmbral", true);
    },
    resetSubriskAux() {
      this.errors.clear();
      this.subriskAux = new Subrisk();
      this.subriskAux.impactAvg = undefined;
      this.subriskAux.probabilityAvg = undefined;
    },
    calculateLevel(impact, probability) {
      let level = impact * probability;
      return level === null || level === undefined ? 0 : level;
    },
    setLevelProperty(obj) {
      //obj.levelInhAvg = new Object
      obj.levelInhAvg.value = this.calculateLevel(
        obj.impactAvg.value,
        obj.probabilityAvg.value
      );
      obj.levelInhAvg.label = this.getLabelLevel(
        obj.levelInhAvg.value,
        this.levels
      );
    },
    handleEvaluate() {
      this.$router.push({ name: this._getNameRoute("ques", this.moduleId) });
    },
    handleEvaluate2() {
      this.$router.push({ name: this._getNameRoute("riskMap", this.moduleId) });
    },
    handleAdd() {
      this.resetSubriskAux();
      this.showModal = true;
      this.isEditing = false;
      this.isEdit = true;
      this.subriskAux.title = "";
      this.$nextTick(() => {
        this.getFocus();
      });
    },
    handleEdit(item) {
      this.showModal = true;
      this.isEditing = true;
      this.subriskAux = new Subrisk(item);
      // console.log("Aux subrisk", this.subriskAux)
      let myImpactAvg = this.impacts.find(
        impact => impact.value === this.subriskAux.impactAvg.value
      );
      if (myImpactAvg === undefined) {
        this.subriskAux.impactAvg.label = "No definido";
      } else {
        this.subriskAux.impactAvg.label = myImpactAvg.label;
      }

      let myprobabilityAvg = this.probabilities.find(
        probability =>
          probability.value === this.subriskAux.probabilityAvg.value
      );
      if (myprobabilityAvg === undefined) {
        this.subriskAux.probabilityAvg.label = "No definido";
      } else {
        this.subriskAux.probabilityAvg.label = myprobabilityAvg.label;
      }
    },
    handleDelete(index) {
      this.showSwal()
        .then(res => {
          if (res) {
            let id = this.subriskTable[index]._id;
            let access_token = this.access_token;
            let idOrg = this.$store.state.auth.organizationId;
            this.$store
              .dispatch("risk/deleteSubrisk", { access_token, id })
              .then(status => {
                if (status === 204) {
                  this.$socket.emit(
                    "riskTableEvent",
                    { access_token, id },
                    idOrg,
                    "DELETE"
                  );
                  this.deleteQuestionnaireAssociateSubrisk(id);
                  swal({
                    title: "¡Eliminado!",
                    text: "",
                    type: "success",
                    confirmButtonClass: "btn btn-success btn-fill",
                    buttonsStyling: false
                  }).catch(swal.noop);
                } else {
                  this.showGenericError("servidor", "estatus : " + status);
                }
              })
              .catch(error => {
                this.notifyError(error, "Problemas al borrar");
                this.writteGenericError(
                  "IdentifyRisk.vue",
                  error,
                  "Problemas al eliminar dato, deleteSubrisk"
                );
              });
          }
        })
        .catch(error => console.log(error));
    },
    async save() {
      let idOrg = this.$store.state.auth.organizationId;
      try {
        if (this.moduleId === "anticorruption") {
          this.setLevelProperty(this.subriskAux);
        } else if (
          !this.subriskAux.impactAvg ||
          !this.subriskAux.probabilityAvg
        ) {
          this.subriskAux.levelInhAvg.value = 0;
          this.subriskAux.levelInhAvg.label = "";
        }
        if (this.isEditing) {
          let response = await this.$store.dispatch("risk/updateSubrisk", {
            access_token: this.access_token,
            subrisk: this.subriskAux
          });
          if (response.status == 200) {
            this.changeCounter += 1;
            this.$socket.emit("riskTableEvent", response.data, idOrg, "UPDATE");
          }
        } else {
          let response = await this.$store.dispatch("risk/addSubrisk", {
            access_token: this.access_token,
            subrisk: this.subriskAux,
            moduleId: this.moduleId
          });
          this.$socket.emit("riskTableEvent", response.data, idOrg, "ADD");
          this.addQuestionnaireAssociateSubrisk(response.data);
        }

        this.resetSubriskAux();
        this.showModal = false;
        this.isEditing = false;
      } catch (error) {
        if (error.response.status === 404) {
          this.notifyError(error, "Este registro ya no existe");
        } else {
          this.notifyError(error, "Problemas al guardar");
          this.writteGenericError(
            "IdentifyRisk.vue",
            error,
            "Problemas al guardar"
          );
        }
      }
    },
    showSwal() {
      return swal({
        title: "¿Estás seguro?",
        text:
          " Cualquier cambio o ajuste a la metodología PAD, podría ocasionar un fallo parcial o total al método original. La reconfiguración a la metodología PAD podría generar costos adicionales ¿Deseas continuar?",
        type: "warning",
        showCancelButton: true,
        confirmButtonClass: "btn btn-success btn-fill",
        cancelButtonClass: "btn btn-danger btn-fill",
        confirmButtonText: "Sí, Eliminar",
        cancelButtonText: "Cancelar",
        buttonsStyling: false
      })
        .then(response => (response ? response : false))
        .catch(error => (error ? console.log(error) : false));
    },
    showSwal1(index) {
      this.errors.clear();
      this.isEdit = false;
      if (this.myUser.flags.hideMessageEditSubrisk) {
        this.handleEdit(index);
        return;
      }

      swal({
        //Límite
        text:
          'En esta opción, podrás editar los subriesgos identificados y sólo podrás ajustar los valores de los parámetros previamente cargados en la Matriz. Si deseas realizar mayores ajustes deberás ingresarlos desde la opción "Personalizar Matríz"',
        //Límite
        input: "checkbox",
        inputPlaceholder: "Dejar de mostrar mensaje",
        title: "¿Estás seguro?",
        type: "warning",
        showCancelButton: true,
        confirmButtonClass: "btn btn-success btn-fill",
        cancelButtonClass: "btn btn-danger btn-fill",
        cancelButtonText: "Cancelar",
        confirmButtonText: "Sí, cambiar",
        buttonsStyling: false
      })
        .then(result => {
          if (result) {
            this.$store.dispatch("user/setFlags", {
              access_token: this.access_token,
              flags: { hideMessageEditSubrisk: true }
            });
            this.handleEdit(index);
          } else this.handleEdit(index);
        })
        .catch(swal.noop);
    },
    getError(fieldName) {
      return this.errors.first(fieldName);
    },
    validate() {
      return this.$validator.validateAll().then(isValid => {
        if (isValid) {
          this.save();
        }
      });
    },
    sortriskdesc() {
      this.$store.dispatch("risk/sortDescSubriskTable", this.subriskTable);
    },
    sortriskasc() {
      this.$store.dispatch("risk/sortAscSubriskTable", this.subriskTable);
    },
    evaluarRiesgo() {
      this.$router.push({
        name: this._getNameRoute("evaluaterisk", this.moduleId)
      });
    },
    invitacion() {
      swal({
        title: "Módulo con Vigencia expirada",
        html:
          "Esta opción está desactivada, debido a que ha expirado la vigencia de este módulo.",
        allowEscapeKey: false,
        allowOutsideClick: false,
        type: "warning",
        showCancelButton: false,
        confirmButtonClass: "btn btn-warning btn-fill",
        confirmButtonText: "OK"
      });
    }
  }
};
</script>
<style lang="scss" scoped>
.grid-content {
  display: grid;
  grid-template-columns: auto auto 60px 60px;
  // justify-content: space-between;
}
.grid1 {
  grid-column: 1 / 2;
}
.grid4 {
  grid-column: 2 / 3;
}
.grid2 {
  align-content: right;
  grid-column: -1 / -2;
  padding-right: 20px;
}
.grid3 {
  align-content: right;
  grid-column: -2 / -3;
  padding-right: 20px;
}

.el-table .td-actions {
  button.btn {
    margin-right: 5px;
  }
  .div .div .fg-input .textarea[name="description"] {
    width: 50%;
    height: 25%;
  }
  .titleup:first-child {
    text-transform: capitalize;
  }
}
.title:first-letter {
  text-transform: uppercase;
}
.title:hover {
  background: darken(#fff, 4);
  border-radius: 10px;
  border-style: dashed;
  border-color: 3px #000;
}
.fa-print {
  color: white;
  font-size: 19px;
}

.btn-add-risk {
  padding-left: 18px;
}
@media screen and (max-width: 400px) {
  .grid-content {
    grid-template-columns: 1fr 1fr;
  }
}
</style>
