<template>
  <tabs pills type="primary" icons centered tab-content-classes="tab-space">
    <tab-pane id="risk-table" key="risk-table">
      <span slot="title">
          <i class="nc-icon nc-zoom-split"></i> Identificación de Riesgos
      </span>
      <identify-risk></identify-risk>
    </tab-pane>
    <tab-pane id="residual" key="risk-residual">
      <span slot="title">
          <i class="nc-icon nc-bullet-list-67"></i> Evaluación Riesgo Residual
      </span>
      <div v-if="isQuesFinished"> 
        <graph-qas></graph-qas>
      </div>
      <div v-else>
        <ques ></ques >
      </div>
    </tab-pane>
    <tab-pane id="risk-map" key="risk-map">
      <span slot="title">
          <i class="nc-icon nc-chart-pie-36"></i> Mapa de Riesgos
      </span>
      <risk-map :key="subriskTable.length"></risk-map>
    </tab-pane>
  </tabs>
</template>
<script>
import IdentifyRisk from 'src/components/Dashboard/Anticorruption/IdentifyRisk'
import Ques from 'src/components/Dashboard/Anticorruption/Evaluation/Ques'
import GraphQas from 'src/components/Dashboard/Anticorruption/Evaluation/GraphQas'
import RiskMap from 'src/components/Dashboard/Anticorruption/RiskMap'
import {mapGetters, mapState } from 'vuex';
import { Tabs, TabPane} from 'src/components/UIComponents'
export default {
   components: {
    IdentifyRisk,
    Ques,
    GraphQas,
    RiskMap,
    TabPane,
    Tabs
   },
   computed:{
      ...mapGetters ('risk',['isQuesFinished']),
      ...mapState ('risk',['subriskTable'])
   }
}
</script>
<style lang="scss" scoped>

</style>
