<template>
  <tabs pills type="primary" icons centered tab-content-classes="tab-space">
    <tab-pane id="control-evaluation" key="control-evaluation">
      <span slot="title">
          <i class="nc-icon nc-check-2"></i> Evaluación de Controles
      </span>
      <sect-eval></sect-eval>
    </tab-pane>
    <tab-pane id="risk-evaluation" key="risk-evaluation">
      <span slot="title">
          <i class="nc-icon nc-bullet-list-67"></i> Evaluación de Riesgos
      </span>
      <evaluate-risk></evaluate-risk>
    </tab-pane>
  </tabs>
</template>
<script>
import SectEval from 'src/components/Dashboard/Anticorruption/Evaluation/SectEval'
import EvaluateRisk from 'src/components/Dashboard/Anticorruption/EvaluateRisk'

import { Tabs, TabPane} from 'src/components/UIComponents'
export default {
   components: {
    EvaluateRisk,
    SectEval,
    TabPane,
    Tabs
   }
}
</script>
<style lang="scss" scoped>

</style>
