<template>
  <div>
    <div class="card" v-loading="loadinggral" 
          element-loading-background="rgba(256, 256, 256, 0.9)" 
          element-loading-text="Obteniendo datos: Monitoreo de Riesgos..."
          element-loading-spinner="el-icon-loading">
      <div class="card-header" id="Monitoreo">
        <h3 class="card-title">Monitoreo</h3>
      </div>
      <div class="card-body row">
        <div class="col-sm-12">
          <!--label collapse-->
          <el-collapse v-model="activeName" accordion> 
          <!--begin collpase 1--> 
            <el-collapse-item name="1" id="schedule-tasks" >
              <template slot="title">  
                <i class="el-icon-date icon-margin"></i> <span class="collapse-title"><h6>Tareas por agendar</h6></span>
              </template>
              <div v-if="getTaskMonitoreoAssigned.length>0">
                <el-pagination
                  :current-page.sync="paginationAssigned.currentPage"
                  :page-size="paginationAssigned.perPage"
                  layout="total, prev, pager, next"
                  :total="getTaskMonitoreoAssigned.length">
                </el-pagination> 
                <el-table class="table-monitor t-style hover-raw" :data="dataTableAssigned" header-row-class-name="text-primary">
                  <!--<el-table-column type="index" class-name="th-contend"></el-table-column>-->
                  <el-table-column
                    label="Subriesgo"
                    min-width="100"
                    class-name="th-contend">
                    <template slot-scope="props" class="img-container">
                      <el-popover trigger="hover" placement="right">
                        <p class="text-center">Subriesgos Asociados</p>
                        <div v-for="subrisk in subriskTitle[props.$index]" :key="subrisk">
                          <p>{{ subrisk }}</p>
                        </div>
                        <div slot="reference" class="name-wrapper">
                          <i style="font-size:x-large; color:cornflowerblue" class="el-icon-info"></i> 
                        </div>
                      </el-popover>
                    </template>
                  </el-table-column>
                  <el-table-column
                    prop="text"
                    label="Descripción de Control"
                    min-width="200"
                    class-name="th-contend">
                  </el-table-column>
                  <el-table-column
                    prop="processOwner"
                    label="Propietario del proceso"
                    min-width="200"
                    class-name="th-contend text-center">
                    <template slot-scope="props">
                      <div v-if="props.row.status">
                        <!-- {{props.row.processOwner}} -->
                        <areaSelect :areaSelected="props.row.processOwner" @areaSelect="setArea(props.$index, ...arguments)" ></areaSelect>
                      </div>
                      <div class="text-center" v-else>
                        <!-- {{props.row.processOwner}} -->
                        {{getTaskMonitoreoAssigned[realIndexAssigned(props.$index)].assigned}}
                        </div>  
                    </template>
                  </el-table-column>
                  <el-table-column
                    prop="responsibleArea"
                    label="Área Responsable"
                    min-width="100"
                    class-name="th-contend text-center">
                    <template slot-scope="props">
                      <div v-if="props.row.status">
                        <membersSelect :memberSelected="props.row.assigned" @memberSelect="setMember(props.$index, ...arguments)"></membersSelect>
                      </div>
                      <div class="text-center" v-else>
                        {{getTaskMonitoreoAssigned[realIndexAssigned(props.$index)].responsibleArea}}
                      </div> 
                    </template>
                  </el-table-column>
                  <el-table-column
                    label="Indicador de Medición"
                    width="100"
                    class-name="th-contend">
                    <template slot-scope="props">
                      <div v-if="props.row.status">
                          <textarea-autosize class="input-form"  :min-height="15" :max-height="400"  :id="'dos'+props.$index" @mouseover="getFocus('dos',props.$index)" type="text" @blur.native="changeEdit(2,props.$index, false)" @keyup.enter="changeEdit(2,props.$index, false)" v-model="getTaskMonitoreoAssigned[realIndexAssigned(props.$index)].measureIndicator"></textarea-autosize>
                      </div>
                      <div class="text-center" v-else>
                        {{getTaskMonitoreoAssigned[realIndexAssigned(props.$index)].measureIndicator}}
                      </div> 
                    </template>
                  </el-table-column>
                  <el-table-column 
                    label="Frecuencia de control"
                    width="160">
                    <template slot-scope="props">
                      <el-select
                        @change="setSpot('cf',props.$index, props.row.controlFrecuency)"
                        v-model="props.row.controlFrecuency"
                        class="select-default"
                        placeholder="Selecciona la frecuencia"
                        name="frec">
                        <el-option 
                          v-for="frecuencia in optionFrecuencia"
                          style="font-size:8px;"
                          :value="frecuencia.label"
                          :label="frecuencia.label"
                          :key="frecuencia.value">
                        </el-option>
                      </el-select>
                    </template>
                  </el-table-column>
                  <el-table-column  v-if="this.moduleId!='continuidad'"
                    prop="status"
                    label="Acción"
                    fixed="right">
                    
                    <template slot-scope="props">
                      
                      <div v-if="props.row.status ">
                        <el-popover trigger="hover" placement="top">
                          <p>Monitorear Tarea</p>
                          <div slot="reference" class="name-wrapper">
                            <p-button v-if="props.row.status === true" type="success" class="btn-magnify" size="sm" icon @click="proceder(props.row,props.$index)"><i class="fa fa-check"></i></p-button>
                          </div>
                          <div>
                          </div>  
                        </el-popover>
                      </div>
                      <div v-else placement="left">
                        <el-popover trigger="hover" placement="top">
                          <p>Tarea Monitoreada</p>
                          <div slot="reference" class="name-wrapper">
                            <p-button type="danger" class="btn-magnify" size="sm" icon disabled><i class="fa fa-check"></i></p-button>
                          </div>
                        </el-popover>
                      </div>
                    </template>
                  </el-table-column>
                    <el-table-column 
                     v-else-if="this.moduleId=='continuidad' && $store.state.organization.premium.vigenciaContinuidad"
                    prop="status"
                    label="Acción"
                    fixed="right">
                    
                    <template slot-scope="props">
                      
                      <div v-if="props.row.status ">
                        <el-popover trigger="hover" placement="top">
                          <p>Monitorear Tarea</p>
                          <div slot="reference" class="name-wrapper">
                            <p-button v-if="props.row.status === true" type="success" class="btn-magnify" size="sm" icon @click="proceder(props.row,props.$index)"><i class="fa fa-check"></i></p-button>
                          </div>
                          <div>
                          </div>  
                        </el-popover>
                      </div>
                      <div v-else placement="left">
                        <el-popover trigger="hover" placement="top">
                          <p>Tarea Monitoreada</p>
                          <div slot="reference" class="name-wrapper">
                            <p-button type="danger" class="btn-magnify" size="sm" icon disabled><i class="fa fa-check"></i></p-button>
                          </div>
                        </el-popover>
                      </div>
                    </template>
                  </el-table-column>
                    <el-table-column 
                     v-else
                    prop="status"
                    label="Acción"
                    fixed="right">
                    
                    <template slot-scope="props">
                      
                      <div v-if="props.row.status ">
                        <el-popover trigger="hover" placement="top">
                          <p>Monitorear Tarea</p>
                          <div slot="reference" class="name-wrapper">
                            <p-button v-if="props.row.status === true" type="success" class="btn-magnify" size="sm" icon @click="invitacion" disabled ><i class="fa fa-check"></i></p-button>
                          </div>
                          <div>
                          </div>  
                        </el-popover>
                      </div>
                      <div v-else placement="left">
                        <el-popover trigger="hover" placement="top">
                          <p>Tarea Monitoreada</p>
                          <div slot="reference" class="name-wrapper">
                            <p-button type="danger" class="btn-magnify" size="sm" icon disabled><i class="fa fa-check"></i></p-button>
                          </div>
                        </el-popover>
                      </div>
                    </template>
                  </el-table-column>
                </el-table>                
              </div>
              <div v-else class="right">
                No hay Tareas por agendar
              </div>
            </el-collapse-item> 
            <!--ending table collapse 1-->
            <!--cut table-->
            <!--begin collapse 2-->
            <el-collapse-item name="2" id="monitor-tasks">
                <template slot="title">  
                <i class="el-icon-monitor icon-margin"></i> <span class="collapse-title"><h6>Tareas a Monitorear</h6></span> 
              </template>
              <div v-if="todayTask.length>0">
                <el-pagination
                  :current-page.sync="paginationTodayTask.currentPage"
                  :page-size="paginationTodayTask.perPage"
                  layout="total, prev, pager, next"
                  :total="todayTask.length">
                </el-pagination> 
                <el-table :data="dataTableTodayTask" header-row-class-name="text-primary">
                  <el-table-column
                    prop="next_day_monitory"
                    label="Fecha de monitoreo"
                    min-width="200"
                    class-name="th-contend">
                    <template slot-scope="props">
                        {{props.row.next_day_monitory.split('T')[0]}}
                    </template>
                  </el-table-column>
                  <el-table-column
                    prop="text"
                    label="Descripción de Control"
                    min-width="200"
                    class-name="th-contend">
                  </el-table-column>
                  <el-table-column
                    prop="assigned"
                    label="Área Responsable"
                    min-width="100"
                    class-name="th-contend text-center">
                    <template slot-scope="props">
                      <div v-if="props.row.status">
                        <membersSelect :memberSelected="props.row.assigned" @memberSelect="setMemberToday(props.$index, ...arguments)"></membersSelect>
                      </div>
                      <div class="text-center" v-else>
                        {{todayTask[realIndexToday(props.$index)].responsibleArea}}
                      </div> 
                    </template>
                  </el-table-column>
                  <el-table-column
                    label="Indicador de Medición"
                    width="80"
                    prop="measureIndicator"
                    class-name="th-contend">
                  </el-table-column>
                  <el-table-column  
                    label="Resultado Evaluación"
                    width="180">
                    <template slot-scope="props">
                      <el-rate v-if="props.row.status" v-model="props.row.resultado" 
                        @change="setSpot('er',props.$index, props.row.resultado)"
                              :icon-classes="rate.icon"
                              void-icon-class="el-icon-s-help"
                              :max=3
                              :texts="rate.texts"
                              :colors="rate.colors"
                              show-text>
                      </el-rate>
                      <el-rate v-else
                              disabled
                              v-model="props.row.resultado"
                              :icon-classes="rate.icon"
                              void-icon-class="el-icon-s-help"
                              :max=3
                              :color="rate.colors[props.row.resultado]"
                              :score-template="props.row.evaluationResult"
                              show-score>
                      </el-rate>
                    </template>
                  </el-table-column>
                  <el-table-column  
                    label="¿Generar tarea?"
                    width="150">
                    <template slot-scope="props">
                      <el-select v-if="props.row.status" class="select-default"
                        @change="setSpot('proceder',props.$index, props.row.proceder)"                
                        v-model="props.row.proceder"
                        placeholder="Selecciona una opción">
                        <el-option 
                          v-for="proceder in optionProceder"
                          class="select-default"  
                          style="font-size:10px;"
                          :value="proceder.label"        
                          :label="proceder.label"
                          :key="proceder.value">
                        </el-option>
                      </el-select>
                      <div class="text-center" v-else>
                        {{props.row.proceder}}
                      </div>
                    </template>
                  </el-table-column>
                  <el-table-column  v-if="this.moduleId!='continuidad'"
                    prop="status"
                    label="Acción"
                    fixed="right">
                    <template slot-scope="props">
                      <div v-if="props.row.status">
                        <el-popover trigger="hover" placement="top">
                          <p>Monitorear Tarea</p>
                          <div slot="reference" class="name-wrapper">
                            <p-button v-if="props.row.status === true" type="info" class="btn-magnify" size="sm" icon @click="proceder2(props.row,props.$index)"><i class="fa fa-check"></i></p-button>
                          </div>
                        </el-popover>
                      </div>
                      <div v-else placement="left">
                        <el-popover trigger="hover" placement="top">
                          <p>Tarea Monitoreada</p>
                          <div slot="reference" class="name-wrapper">
                            <p-button type="danger" class="btn-magnify" size="sm" icon disabled><i class="fa fa-check"></i></p-button>
                          </div>
                        </el-popover>
                      </div>
                    </template>
                  </el-table-column>
                   <el-table-column 
                   v-else-if="this.moduleId=='continuidad' && $store.state.organization.premium.vigenciaContinuidad"
                    prop="status"
                    label="Acción"
                    fixed="right">
                    <template slot-scope="props">
                      <div v-if="props.row.status">
                        <el-popover trigger="hover" placement="top">
                          <p>Monitorear Tarea</p>
                          <div slot="reference" class="name-wrapper">
                            <p-button v-if="props.row.status === true" type="info" class="btn-magnify" size="sm" icon @click="proceder2(props.row,props.$index)"><i class="fa fa-check"></i></p-button>
                          </div>
                        </el-popover>
                      </div>
                      <div v-else placement="left">
                        <el-popover trigger="hover" placement="top">
                          <p>Tarea Monitoreada</p>
                          <div slot="reference" class="name-wrapper">
                            <p-button type="danger" class="btn-magnify" size="sm" icon disabled><i class="fa fa-check"></i></p-button>
                          </div>
                        </el-popover>
                      </div>
                    </template>
                  </el-table-column>
                   <el-table-column 
                   v-else
                    prop="status"
                    label="Acción"
                    fixed="right">
                    <template slot-scope="props">
                      <div v-if="props.row.status">
                        <el-popover trigger="hover" placement="top">
                          <p>Monitorear Tarea</p>
                          <div slot="reference" class="name-wrapper">
                            <p-button v-if="props.row.status === true" type="info" class="btn-magnify" size="sm" icon @click="invitacion" disabled><i class="fa fa-check"></i></p-button>
                          </div>
                        </el-popover>
                      </div>
                      <div v-else placement="left">
                        <el-popover trigger="hover" placement="top">
                          <p>Tarea Monitoreada</p>
                          <div slot="reference" class="name-wrapper">
                            <p-button type="danger" class="btn-magnify" size="sm" icon disabled><i class="fa fa-check"></i></p-button>
                          </div>
                        </el-popover>
                      </div>
                    </template>
                  </el-table-column>
                  <!-- Agrega columnas extras -->       
                </el-table>
              </div>
              <div v-else>
                No hay tareas para monitorear por ahora
              </div>
            </el-collapse-item>
            <!--begin table collapse 3-->
            <el-collapse-item name="3" id="next-tasks">
              <template slot="title">  
                <i class="el-icon-time icon-margin"></i> <span class="collapse-title"><h6>Proximas Tareas</h6></span> 
              </template>
              <div v-if="nextTask.length>0">
                <el-pagination
                  :current-page.sync="paginationNextTask.currentPage"
                  :page-size="paginationNextTask.perPage"
                  layout="total, prev, pager, next"
                  :total="nextTask.length">
                </el-pagination> 
                <el-table :data="dataTableNextTask" header-row-class-name="text-primary">
                  <el-table-column
                    prop="next_day_monitory"
                    label="Próxima Fecha de Monitoreo"
                    min-width="80"
                    class-name="th-contend">
                    <template slot-scope="props">
                        {{props.row.next_day_monitory.split('T')[0]}}
                    </template>
                  </el-table-column>
                  <el-table-column
                    prop="text"
                    label="Descripción de Control"
                    min-width="90"
                    class-name="th-contend">
                  </el-table-column>
                 <el-table-column
                    prop="responsibleArea"
                    label="Área Responsable"
                    min-width="70"
                    class-name="th-contend text-center">
                    <template slot-scope="props">
                      <div v-if="props.row.status">
                        <!-- NEXT {{props.$index}}--{{props.row.responsibleArea}}--{{props.$index}} -->
                        <!-- :id_selected="dataTableNextTask[realIndexNextTask(props.$index)].assigned" --> 
                        <membersSelect :memberSelected="props.row.assigned" @memberSelect="setMemberNextTask(props.$index, ...arguments)" v-if="this.moduleId!='continuidad'"></membersSelect>
                        <membersSelect :memberSelected="props.row.assigned" @memberSelect="setMemberNextTask(props.$index, ...arguments)" v-else-if="this.moduleId=='continuidad' && $store.state.organization.premium.vigenciaContinuidad"></membersSelect>
                        <membersSelect :memberSelected="props.row.assigned" @memberSelect="invitacion" v-else></membersSelect>
                          <!-- <textarea-autosize class="input-form"  :min-height="15" :max-height="400" :id="'in'+props.$index" @mouseover="getFocus('in',props.$index)" type="text"  @blur.native="changeEdit(1,props.$index, false)" @keyup.enter="changeEdit(1,props.$index, false)" v-model="getTaskMonitoreoAssigned[realIndexAssigned(props.$index)].responsibleArea"></textarea-autosize> -->
                        </div>
                      <div class="text-center" v-else>
                        {{dataTableNextTask[realIndexNextTask(props.$index)].responsibleArea}}
                      </div> 
                    </template>
                  </el-table-column>
                  <el-table-column v-if="this.moduleId!='continuidad'"
                    label="Indicador de Medición"
                    width="100"
                    class-name="th-contend">
                    <template slot-scope="props">
                      <textarea-autosize class="input-form"  :min-height="30" :max-height="400"  :id="'tres'+props.$index" @blur.native="saveChanges('nextTask', props.row)" @click="getFocus('tres',props.$index)" type="text" v-model="nextTask[realIndexNextTask(props.$index)].measureIndicator"></textarea-autosize>
                    </template>
                  </el-table-column>
                    <el-table-column
                    v-else-if="this.moduleId=='continuidad' && $store.state.organization.premium.vigenciaContinuidad"
                    label="Indicador de Medición"
                    width="100"
                    class-name="th-contend">
                    <template slot-scope="props">
                      <textarea-autosize class="input-form"  :min-height="30" :max-height="400"  :id="'tres'+props.$index" @blur.native="saveChanges('nextTask', props.row)" @click="getFocus('tres',props.$index)" type="text" v-model="nextTask[realIndexNextTask(props.$index)].measureIndicator"></textarea-autosize>
                    </template>
                  </el-table-column>
                    <el-table-column
                    v-else
                    label="Indicador de Medición"
                    width="100"
                    class-name="th-contend">
                    <template slot-scope="props">
                      <textarea-autosize class="input-form"  :min-height="30" :max-height="400"  :id="'tres'+props.$index" @blur.native="invitacion" @click="invitacion" type="text" v-model="nextTask[realIndexNextTask(props.$index)].measureIndicator"></textarea-autosize>
                    </template>
                  </el-table-column>
                  <!-- Agrega columnas extras -->       
                </el-table>
              </div>
              <div v-else>
                  No hay Tareas Próximas
              </div>
          </el-collapse-item>
          
          <!--end collapse 2-->
          </el-collapse>
          <!--ending collapse-->
        </div>
        <!-- Modal que agrega Columna -->
        <div class="edit-risk">
          <modal :show.sync="showModal" headerClasses="justify-content-center" @close="cancel">
            <h4 slot="header" class="title title-up">Agrega Columna de Control</h4>
            <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12">
                      <fg-input 
                        type="text"
                        :error="getError('title')"
                        label="Titulo de Columna"
                        name="name"
                        placeholder="Indique Titulo"
                        v-model="columnaAux.title"
                        v-validate="modelValidations.title">
                      </fg-input>
                    </div>
                    <div class="col-md-12">
                      <fg-input 
                        type="text"
                        :error="getError('dato')"
                        label="Dato predefinido"
                        name="dato"
                        placeholder="Indique dato por default"
                        v-model="columnaAux.dato"
                        v-validate="modelValidations.dato">
                      </fg-input>
                  </div>
                </div>
              </div>
            </div>
            <template slot="footer">
              <div class="left-side">
                <p-button type="info" link @click="cancel()"> Cancelar</p-button>            
              </div>
              <div class="divider"></div>
              <div class="right-side">
                <p-button type="success" link @click="validate()">Agregar</p-button>
              </div>
            </template>
          </modal>
        </div>     
      </div>
    </div>
    
  </div>
</template>
<script>
import Vue from "vue";
import { Table, TableColumn } from "element-ui";
import { Collapse, CollapseItem } from "element-ui";
import { Select, Option, Pagination } from "element-ui";
import { Rate } from "element-ui";
import PSwitch from "src/components/UIComponents/Switch.vue";
import Modal from "src/components/UIComponents/Modal.vue";
import { Card } from "src/components/UIComponents";
import { Tooltip, Popover } from "element-ui";
import {
  gralMethods,
  gralErrorMethods,
  gralErrorLog
} from "src/mixins/generalMethods.js";
import { mapState, mapGetters, mapMutations } from "vuex";
import Swal from "sweetalert2";
import VueTextareaAutosize from "vue-textarea-autosize";
import * as R from "ramda";
import membersSelect from "src/components/UIComponents/SelectMembers.vue";
import areaSelect from "src/components/UIComponents/SelectAreas.vue";

Vue.use(Table);
Vue.use(TableColumn);
Vue.use(Collapse);
Vue.use(CollapseItem);
Vue.use(Popover);
Vue.use(Rate);
Vue.use(Pagination);
Vue.use(VueTextareaAutosize);

export default {
  components: {
    PSwitch,
    Modal,
    Card,
    Collapse,
    [Select.name]: Select,
    [Option.name]: Option,
    [Tooltip.name]: Tooltip,
    Rate,
    Pagination,
    areaSelect,
    membersSelect
  },
  data() {
    return {
      dis: true,
      vac: "",
      paginationAssigned: {
        perPage: 10,
        currentPage: 1
      },
      paginationTodayTask: {
        perPage: 10,
        currentPage: 1
      },
      paginationNextTask: {
        perPage: 10,
        currentPage: 1
      },
      moduleId: "",
      icons: "el-icon-view",
      activeName: ["1"],
      rate: {
        icon: {
          1: "el-icon-error",
          2: "el-icon-s-tools",
          3: "el-icon-success"
        },
        colors: { 1: "#FF0040", 2: "#FABE3C", 3: "#35A97A" },
        texts: ["Insatisfactorio", "Con Mejoras", "Satisfactorio"]
      },
      columnaAux: [
        {
          title: "",
          dato: ""
        }
      ],
      modelValidations: {
        title: {
          required: true,
          min: 4
        },
        dato: {
          required: true,
          min: 1
        }
      },
      isEditing: [],
      isEditing2: [],
      isEditing3: [],
      changeCounter: 0,
      optionFrecuencia: [
        {
          label: "Diario",
          value: "0.5"
        },
        {
          label: "Mensual",
          value: "1"
        },
        {
          label: "Trimestral",
          value: "3"
        },
        {
          label: "Semestral",
          value: "6"
        },
        {
          label: "Anual",
          value: "12"
        }
      ],
      optionProceder: [
        {
          label: "Si",
          value: "1"
        },
        {
          label: "No",
          value: "2"
        }
      ],
      columns: [],
      taskAux: [],
      subriskTitle: [],
      subriskLinked: [],
      showModal: false,
      nextTask: [],
      todayTask: [],
      procesarItem: "",
      loadinggral: true
    };
  },
  mixins: [gralMethods, gralErrorMethods, gralErrorLog],
  computed: {
    ...mapState("organization", ["areas"]),
    ...mapGetters("risk", ["getTitleAndIdSubrisks"]),
    ...mapGetters("task", ["getTaskMonitoreoAssigned"]),
    ...mapGetters("task", ["getTaskMonitoreo"]),
    ...mapState("user", ["members"]),
    dataTableAssigned() {
      var start, end;
      start =
        this.paginationAssigned.perPage *
        (this.paginationAssigned.currentPage - 1);
      end = start + this.paginationAssigned.perPage;
      if (end > this.getTaskMonitoreoAssigned.length) {
        end = this.getTaskMonitoreoAssigned.length;
      }
      // console.log("Revisar la reestructura de la pag"+start)

      // var dataPag=[]
      // var index=0
      // this.getTaskMonitoreoAssigned.slice(start, end)
      // this.getTaskMonitoreoAssigned.forEach((item) => {
      //   console.log(item.text)
      //   this.setMember(index,item.assigned)
      //   index++
      // })
      // console.log("---------------")
      return this.getTaskMonitoreoAssigned.slice(start, end);
    },
    dataTableTodayTask() {
      var start, end;
      start =
        this.paginationTodayTask.perPage *
        (this.paginationTodayTask.currentPage - 1);
      end = start + this.paginationTodayTask.perPage;
      if (end > this.todayTask.length) {
        end = this.todayTask.length;
      }
      return this.todayTask.slice(start, end);
    },
    dataTableNextTask() {
      var start, end;
      start =
        this.paginationNextTask.perPage *
        (this.paginationNextTask.currentPage - 1);
      end = start + this.paginationNextTask.perPage;
      if (end > this.nextTask.length) {
        end = this.nextTask.length;
      }
      return this.nextTask.slice(start, end);
    }
  },
  watch: {
    getTaskMonitoreo(oldData, newData) {
      this.fillNextTask();
    }
  },

  created() {
    this.moduleId = this.$route.path.split("/")[1];
    var params = {
      access_token: this.$cookies.get("token"),
      moduleId: this.moduleId
    };
    var indexAsig = 0;
    this.$store
      .dispatch("task/retriveTasks", params)
      .then(() => {
        this.getTaskMonitoreoAssigned.forEach(item => {
          this.LinkNames(item);
          item.controlFrecuency = null;
          // console.log("Created:"+item.text)
        });
        this.createArrayIsEditing();
        this.fillNextTask();
        this.loadinggral = false;
      })
      .catch(error => {
        this.loadinggral = false;
        if (error.response.status !== 404) {
          this.notifyError(error);
          this.writteGenericError("Monitoreo.vue", error, "Error retriveTasks");
        }
      });

    this.$store
      .dispatch("user/getMembers", this.$cookies.get("token"))
      .then(() => {})
      .catch(error => {
        this.notifyError(error, " Error al obtener Members");
        this.writteGenericError(
          "OrgMembers.vue",
          error,
          "Error al obtener Members, getMembers "
        );
      });
  },
  methods: {
    reloadTask(){
      this.loadinggral = true
      var params = {
        access_token: this.$cookies.get("token"),
        moduleId: this.moduleId
      };
      var indexAsig = 0;
      this.$store
        .dispatch("task/retriveTasks", params)
        .then(() => {
          this.getTaskMonitoreoAssigned.forEach(item => {
            this.LinkNames(item);
            item.controlFrecuency = null;
          });
          this.createArrayIsEditing();
          this.fillNextTask();
          this.loadinggral = false;
        })
        .catch(error => {
          this.loadinggral = false;
          if (error.response.status !== 404) {
            this.notifyError(error);
            this.writteGenericError("Monitoreo.vue", error, "Error retriveTasks");
          }
        });
    },
    setArea(index, name) {
      //      console.log("Set areaselect"+name)
      this.dataTableAssigned[index].processOwner = name;
    },
    setMember(index, id) {
      //    console.log("inside SetMember"+id)
      this.dataTableAssigned[index].assigned = id;
    },
    setMemberToday(index, id) {
      this.dataTableTodayTask[index].assigned = id;
      //  console.log("Asignar en "+index+"ID")
    },
    setMemberNextTask(index, id) {
      this.dataTableNextTask[index].assigned = id;
      // console.log("Actualizar en la BD"+index+"ID"+id)
      let paramsApi = {
        access_token: this.$cookies.get("token"),
        moduleId: this.moduleId,
        id: this.dataTableNextTask[index].id,
        data: {
          id: this.dataTableNextTask[index].id,
          assigned: this.dataTableNextTask[index].assigned
        }
      };
      this.$store
        .dispatch("task/updateTasks", paramsApi)
        .then(() => {
          this.reloadTask()
          this.showGenericSuccess("Área Responsable actualizado correctamente");
        })
        .catch(error => {
          this.notifyError(
            error,
            "No se puede realizar la operacion, intente mas tarde"
          );
          this.writteGenericError("Monitoreo.vue", error, "Error updateTask");
        });
    },
    realIndexAssigned(index) {
      return (
        (this.paginationAssigned.currentPage - 1) *
          this.paginationAssigned.perPage +
        index
      );
    },
    realIndexToday(index) {
      return (
        (this.paginationTodayTask.currentPage - 1) *
          this.paginationTodayTask.perPage +
        index
      );
    },
    realIndexNextTask(index) {
      return (
        (this.paginationNextTask.currentPage - 1) *
          this.paginationNextTask.perPage +
        index
      );
    },
    saveChanges(classTask, row) {
      if (classTask === "nextTask") {
        let task = this.$store.state.task.ganttTask.data.find(
          task => task.id === row.id
        );
        if (task.measureIndicator !== row.measureIndicator) {
          let paramsApi = {
            access_token: this.$cookies.get("token"),
            moduleId: this.moduleId,
            id: row.id,
            data: {
              id: row.id,
              measureIndicator: row.measureIndicator
            }
          };
          this.$store
            .dispatch("task/updateTasks", paramsApi)
            .then(() => {
              this.reloadTask()
              this.showGenericSuccess(
                "Indicador de medición actualizado correctamente"
              );
            })
            .catch(error => {
              this.notifyError(
                error,
                "No se puede realizar la operacion, intente mas tarde"
              );
              this.writteGenericError(
                "Monitoreo.vue",
                error,
                "Error updateTask"
              );
            });
        }
      }
    },
    fillNextTask() {
      let hoy = new Date();
      this.todayTask = [];
      this.nextTask = [];
      this.getTaskMonitoreo.map(item => {
        let fecha = new Date(item.next_day_monitory);
        fecha.setHours(0, 0, 0);
        let fechaHoy = hoy.getTime();
        let fechaItem = fecha.getTime();
        if (fechaHoy >= fechaItem) {
          this.todayTask.push(item);
        } else {
          this.nextTask.push(item);
        }
      });
      this.ordenar();
      this.ordenarNextTask();
      //
      var indextt = 0;
      this.dataTableTodayTask.forEach(task => {
        if (task.assigned) {
          //  console.log("Asignar a today Task ",task.text,task.assigned, task.id)
          this.setMemberToday(indextt, task.assigned);
        }
        indextt++;
      });
    },
    ordenar() {
      this.todayTask.sort(function(a, b) {
        if (a.status !== "false") {
          a = new Date(a.next_day_monitory);
          b = new Date(b.next_day_monitory);
          return a < b ? -1 : a < b ? 1 : 0;
        } else {
          return a > b ? -1 : a > b ? 1 : 0;
        }
      });
    },
    ordenarNextTask() {
      this.nextTask.sort(function(a, b) {
        if (a.status !== "false") {
          a = new Date(a.next_day_monitory);
          b = new Date(b.next_day_monitory);
          return a < b ? -1 : a < b ? 1 : 0;
        } else {
          return a > b ? -1 : a > b ? 1 : 0;
        }
      });
    },
    LinkNames(item) {
      this.subriskLinked = R.pick(["linkedSubrisks"], item);
      let titleSubrisk = "";
      let arraySubrisk = [];
      this.subriskLinked.linkedSubrisks.forEach(subrisk => {
        this.getTitleAndIdSubrisks.map(Data => {
          if (Data._id === subrisk) arraySubrisk.push(Data.title);
        });
      });
      this.subriskTitle.push(arraySubrisk);
    },
    getFocus(id, index) {
      document.getElementById(id + index).focus();
    },
    changeEdit(array, id, value) {
      if (array == 1) {
        this.$set(this.isEditing[id], "edit", value);
      }
      if (array == 2) {
        this.$set(this.isEditing2[id], "edit", value);
      }
      if (array == 3) {
        this.$set(this.isEditing3[id], "edit", value);
      }
    },
    createArrayIsEditing() {
      this.isEditing = [];
      this.isEditing2 = [];
      this.isEditing3 = [];
      for (var i in this.getTaskMonitoreoAssigned) {
        this.isEditing.push({ edit: false }),
          this.isEditing2.push({ edit: false });
        this.isEditing3.push({ edit: false });
      }
    },
    setSpot(spot, index, data) {
      let param = {
        index: index,
        data: data
      };
      if (spot === "cf") {
        this.getTaskMonitoreoAssigned[
          this.realIndexAssigned(index)
        ].controlFrecuency = data;
      }
      if (spot === "er") {
        if (data == 3) {
          this.todayTask[this.realIndexToday(index)].evaluationResult =
            "Satisfactorio";
        }
        if (data == 2) {
          this.todayTask[this.realIndexToday(index)].evaluationResult =
            "Con Mejoras";
        }
        if (data == 1) {
          this.todayTask[this.realIndexToday(index)].evaluationResult =
            "Insatisfactorio";
        }
      }
      if (spot === "proceder") {
        this.todayTask[this.realIndexToday(index)].proceder = data;
      }
    },
    agregaColumna() {
      this.showModal = true;
    },
    agregaCampos() {
      this.showModal = false;
      const addcolumn = {
        prop: "date",
        label: "Extra",
        value: "valorate",
        minWidth: "80px"
      };
      addcolumn.prop = this.columnaAux.title;
      addcolumn.value = this.columnaAux.dato;
      addcolumn.label = this.columnaAux.title;
      this.columns.push(addcolumn);
      this.setdato(addcolumn);
      this.cancel();
    },
    setdato(datos) {
      const campo = datos.label;
      const valor = datos.value;
      var cadena = '{"' + campo + '":"' + valor + '"}';
      this.getTaskMonitoreoAssigned.forEach(item => {
        const cadena = '{"' + campo + '":"' + valor + '"}';
        const objetoClonado = Object.assign({}, JSON.parse(cadena));
        item = Object.assign(item, JSON.parse(cadena));
      });
    },
    cancel() {
      this.showModal = false;
      this.columnaAux.title = "";
      this.columnaAux.dato = "";
      this.columnaAux.valor = "";
    },
    getError(fieldName) {
      return this.errors.first(fieldName);
    },
    validate() {
      return this.$validator.validateAll().then(isValid => {
        if (isValid) {
          this.agregaCampos();
        }
      });
    },
    validateFields(state, index) {
      if (
        state.processOwner !== "" &&
        state.processOwner !== null &&
        state.processOwner.replace(/^\s+|\s+$/g, "")
      )
        if (state.assigned)
          if (
            state.measureIndicator !== "" &&
            state.measureIndicator !== null &&
            state.measureIndicator.replace(/^\s+|\s+$/g, "")
          )
            if (
              state.controlFrecuency !== "" &&
              state.controlFrecuency !== null
            ) {
              return "complete";
            } else {
              false;
              return "3";
            }
          else {
            false;
            //console.log("go to getfocus");
            // this.getFocus("dos", index);
            return "2";
          }
        else {
          false;
          return "1";
        }
      else {
        false;
        return "0";
      }
    },
    validateFields2(state, index) {
      if (state.resultado !== " " && state.resultado !== 0)
        if (
          state.assigned !== "" &&
          state.assigned !== null &&
          state.assigned.replace(/^\s+|\s+$/g, "")
        )
          if (state.proceder !== " " && state.proceder !== null) return true;
          else return 'Falta por contestar "¿Generar tarea?"';
        else return 'Falta por asignar "Área Responsable"';
      else return 'Falta por contestar "Resultado de la Evaluación"';
    },
    prepProceder(item) {
      let paramsApi = {
        access_token: this.$cookies.get("token"),
        moduleId: this.moduleId,
        data: {
          id: item.id + 10000,
          text: "Tarea Monitoreo - " + item.text,
          type: item.type,
          assigned: item.assigned,
          linkedSubrisks: item.linkedSubrisks,
          originType: "newTask"
        }
      };
      this.$store
        .dispatch("task/addTasks", paramsApi)
        .then(() => {
          this.showGenericSuccess("Tarea Alterna agregada correctamente");
          const Data = {
            id: item.id + 1000,
            text: "Tarea Monitoreo " + item.text,
            assigned: item.assigned,
            type: item.type,
            linkedSubrisks: item.linkedSubrisks,
            controlFrecuency: "",
            evaluationResult: "",
            measureIndicator: "",
            proceder: "",
            responsibleArea: "",
            status: true,
            resultado: 0
          };
          this.isEditing.push({ edit: false }),
            this.isEditing2.push({ edit: false });
          this.isEditing3.push({ edit: false });
          this.LinkNames(item);
        })
        .catch(error => {
          this.notifyError(
            error,
            "No se puede realizar la operacion, intente mas tarde"
          );
          this.writteGenericError("Monitoreo.vue", error, "Error addTask");
        });
    },
    proceder(state, index) {
      this.dis = false;
      let verify = "";
      let item = this.getTaskMonitoreoAssigned[this.realIndexAssigned(index)];
      // Asigna el valor de responsibleArea a assigned
      // state.assigned=state.responsibleArea

      verify = this.validateFields(state, index);
      item.status = false;
      if (verify === "complete") {
        const key = this.$cookies.get("token");
        let Data = R.pick(
          [
            "id",
            "assigned",
            "measureIndicator",
            "responsibleArea",
            "controlFrecuency",
            "processOwner"
          ],
          item
        );
        let fecha = new Date();
        if (item.controlFrecuency === "Diario")
          fecha = new Date(Date.now() + 86400000);
        if (item.controlFrecuency === "Mensual")
          //echa.setDate(fecha.getDate() + 1);
          fecha.setMonth(fecha.getMonth() + 1);
        if (item.controlFrecuency === "Trimestral")
          fecha.setMonth(fecha.getMonth() + 3);
        if (item.controlFrecuency === "Semestral")
          fecha.setMonth(fecha.getMonth() + 6);
        if (item.controlFrecuency === "Anual")
          fecha.setMonth(fecha.getMonth() + 12);
        fecha.setHours(0, 0, 0);
        Data.next_day_monitory = fecha;
        let paramsApi = {
          access_token: key,
          moduleId: this.moduleId,
          id: Data.id,
          data: {
            id: Data.id,
            measureIndicator: Data.measureIndicator,
            responsibleArea: Data.responsibleArea,
            controlFrecuency: Data.controlFrecuency,
            next_day_monitory: Data.next_day_monitory,
            processOwner: Data.processOwner,
            assigned: Data.responsibleArea
          }
        };
        this.$store
          .dispatch("task/updateTasks", paramsApi)
          .then(() => {
            this.showSwal("Tarea agendada correctamente!!!");
            item.status = true;
            let fechaDef =
              fecha.getFullYear() +
              "-" +
              (fecha.getMonth() + 1) +
              "-" +
              fecha.getDate() +
              "T" +
              fecha.getUTCHours(2) +
              ":" +
              fecha.getUTCMinutes(2) +
              ":" +
              fecha.getUTCSeconds(2);
            item.next_day_monitory = fechaDef.split("T")[0];

            this.nextTask.push(item);
            this.ordenarNextTask();
            var newNotifications = {
              access_token: this.$cookies.get("token"),
              orgId: this.$store.state.auth.organizationId,
              title: "Tarea agendada",
              bodyN: item.text,
              target: ["ALL"],
              link: this._getNameRoute("Monitoreo", this.moduleId),
              typeN: "checkTask"
            };
            this.$store
              .dispatch("notifications/addNotification", newNotifications)
              .then(() => {})
              .catch(error => {
                this.notifyError(
                  error,
                  "No se pudo enviar la notificación a los miembros de la organización"
                );
                this.writteGenericError(
                  "Monitoreo.vue",
                  error,
                  "Error addNotification"
                );
                item.status = true;
              });
          })
          .catch(error => {
            this.notifyError(
              error,
              "No se puede realizar la operacion, intente mas tarde"
            );
            this.writteGenericError("Monitoreo.vue", error, "Error updateTask");
            item.status = true;
          });
      } else {
        //this.getFocus("dos", index);
        switch (verify) {
          case "3":
            // this.getFocus("tres", index);
            this.showGenericError(": Falta llenar Fecuencia de Control");
            break;
          case "2":
            this.getFocus("dos", index);
            this.showGenericError(": Falta Indicador de medición");
            break;
          case "1":
            //  this.getFocus("uno", index);
            this.showGenericError(": Falta Área Responsable");
            break;
          case "0":
            //   this.getFocus("cero", index);
            this.showGenericError(": Falta Propietario del Proceso");
            break;
          default:
            break;
        }

        item.status = true;
      }
    },
    proceder2(state, index) {
      this.procesarItem = this.todayTask[this.realIndexToday(index)];
      let verify = "";
      let item = this.todayTask[this.realIndexToday(index)];
      verify = this.validateFields2(state, index);

      if (verify === true) {
        if (item.proceder === "Si") {
          this.prepProceder(item);
          const key = this.$cookies.get("token");
          let Data = R.pick(
            ["id", "resultado", "proceder", "evaluationResult"],
            item
          );
          if (Data.resultado === "1") Data.evaluationResult = "Insatisfactorio";
          if (Data.resultado === "2") Data.evaluationResult = "Con Mejoras";
          if (Data.resultado === "3") Data.evaluationResult = "Satisfactorio";
          // Eliminar Tarea Actual
          let paramsApiDelete = {
            access_token: this.$cookies.get("token"),
            moduleId: this.moduleId,
            id: item.id
          };
          this.$store
            .dispatch("task/deleteTasks", paramsApiDelete)
            .then(response => {
              // console.log(response)
              this.showSwal("Tarea Monitoreada correctamente!!!");
              this.fillNextTask();
            })
            .catch(error => {
              this.notifyError(
                error,
                "No se puede realizar la operacion, intente mas tarde"
              );
              this.writteGenericError("ganttChart.vue", error, "deleteTask");
            });
          //     this.fillNextTask()
          //Revisar el padre de la tarea actual
          var parent = item.parent;
          var children = 0;
          if (parent) {
            // console.log("Revisar los hijos de "+parent)
            this.getTaskMonitoreo.forEach(item => {
              if (item.parent === parent) {
                // console.log("Soy hijo de "+parent)
                children++;
              }
            });
            // console.log("Numeros de hijos:"+children)
            if (children === 1) {
              // console.log("Mandar a cambiar el padre con tipo diferente")
              let paramsApi = {
                access_token: this.$cookies.get("token"),
                moduleId: this.moduleId,
                id: parent,
                data: {
                  id: this.parent,
                  type: "task"
                }
              };
              this.$store
                .dispatch("task/updateTasks", paramsApi)
                .then(() => {
                  this.fillNextTask();
                })
                .catch(error => {
                  this.notifyError(
                    error,
                    "No se puede realizar la operacion, intente mas tarde"
                  );
                  this.writteGenericError(
                    "Monitoreo.vue",
                    error,
                    "Error updateTask"
                  );
                });
            }
          }
        } else {
          let paramsApi = {
            access_token: this.$cookies.get("token"),
            moduleId: this.moduleId,
            id: item.id
          };
          this.$store
            .dispatch("task/deleteTasks", paramsApi)
            .then(response => {
              // console.log(response)
              this.showSwal("Tarea Monitoreada correctamente!!!");
              this.fillNextTask();
            })
            .catch(error => {
              this.notifyError(
                error,
                "No se puede realizar la operacion, intente mas tarde"
              );
              this.writteGenericError("ganttChart.vue", error, "deleteTask");
            });
        }
      } else {
        this.showGenericError(": " + verify);
        console.log(verify);
        item.status = true;
      }
    },
    showSwal(datatitle, index) {
      Swal({
        title: datatitle,
        allowEscapeKey: false,
        allowOutsideClick: false,
        type: "success",
        showCancelButton: false,
        confirmButtonClass: "btn btn-success btn-fill",
        confirmButtonText: "OK"
      });
    },
    invitacion() {
      swal({
        title: "Módulo con Vigencia expirada",
        html:
          "Esta opción está desactivada, debido a que ha expirado la vigencia de este módulo.",
        allowEscapeKey: false,
        allowOutsideClick: false,
        type: "warning",
        showCancelButton: false,
        confirmButtonClass: "btn btn-warning btn-fill",
        confirmButtonText: "OK"
      });
    }
  }
};
</script>
<style lang="scss" scoped>
.el-input__inner {
  font-size: 10px !important;
}
input[placeholder="Seleccione un dueño de proceso"] {
  font-size: 10px !important;
}
.select-default.el-select .el-input input {
  font-size: 10px;
}
.select-default.el-select .el-input input {
  font-size: 10px !important;
}
@import "src/assets/sass/paper/_variables.scss";

.el-table .td-actions {
  button.btn {
    margin-right: 5px;
  }
}

ul li {
  float: left;
  width: 45%;
  list-style: none;
  margin-top: 0.5em;
}
.input-form {
  width: 100%;
  outline: none;
  background: transparent;
  border: 0;
  padding: 5px;
  &:hover {
    background: darken(#eee, 1);
    border: dashed 1px $info-states-color;
  }
  &:focus-within {
    border: solid 1px $primary-color;
    background: #fff;
    color: #000;
  }
}
.collapse-title {
  text-transform: uppercase;
}
.icon:before {
  list-style-type: none;
}

.icon-margin {
  margin-right: 25px;
}

.el-icon-date {
  color: $purple-color;
  font-size: 23px;
}

.el-icon-monitor {
  color: $success-color;
  font-size: 23px;
}

.el-icon-time {
  color: $info-color;
  font-size: 23px;
}
</style>
