<template>
  <div>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Calificación del riesgo Corrupción</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-12" name="risktable">
            <div class="row">
              <div class="card" style="width:15%; margin:0.5%;">
                <div class="card-body text center card-legends">
                  <table style="table-layout: fixed; width: 100%;">
                    <thead>
                      <th class="text-center" style="height:150px;" colspan=2><span>Nivel de Riesgo</span></th>
                    </thead>
                    <tr v-for="(level, index) in levels" :key="index+'a'">
                      <td v-if="index === 0" class="text-center risk-inherent-row" :rowspan="levels.length">
                        <span class="head" :data-phonetext="getAbbrev('Riesgo Inherente')" data-desktoptext="Riesgo Inherente"></span><br>
                        <el-tooltip :content="'Riesgo Inherente'" placement="top">
                          <span class="RiskIn"><i class="fa fa-question-circle text-center visible-on-faq-mini"></i></span>
                        </el-tooltip>
                      </td>
                      <td class="text-center title-col">
                        {{level.label}}
                      </td>
                    </tr>
                    <tr v-for="(residual, index) in residualCatalog" :key="index+'b'">
                      <td v-if="index === 0" class="text-center risk-residual-row" :rowspan="levels.length">
                        <span class="head" :data-phonetext="getAbbrev('Riesgo Residual')" data-desktoptext="Riesgo Residual"></span><br>
                        <el-tooltip :content="'Riesgo Residual'" placement="top">
                           <span class="RiskIn"><i class="fa fa-question-circle text-center visible-on-faq-mini"></i></span>
                        </el-tooltip>
                      </td>
                      <td class="text-center title-col">
                        {{residual.label}}
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="card" v-for="(subrisk, index) in subriskTable" :key="index+'c'" :style="`margin:0%; width:${((85-(subriskTable.length + 1))/subriskTable.length)}%;`">
                <div class="card-body text center card-contend">
                  <table style="table-layout: fixed; width: 100%;">
                    <template v-for="(level, index2) in levels">
                      <tr v-if="index2===0" :key="index2+'d'" style="height:150px;" class="words">
                        <td class="colortitulo text-justify" style="background:#fcfcfd; border: 1px solid #fff;">                          
                          <span class="head word-break" :data-phonetext="`${getAbbrev(subrisk.title)}  `" :data-desktoptext="`${subrisk.title}  `">
                          </span>     
                          <br>                     
                          <el-tooltip :content="subrisk.title" placement="top">
                              <i class="fa fa-question-circle text-center visible-on-faq-mini"></i>
                            </el-tooltip>
                        </td>
                      </tr>
                      <tr :key="index2+'e'">
                        <td :style="`background:${colorBox(index2, index, '1')}; text-transform:capitalize; border: 1px solid #fff; height:50px;  width='15%'`">
                        </td>
                      </tr>
                    </template>
                    <tr v-for="(residual, index2) in residualCatalog" :key="index2+'f'">
                      <td :style="`background:${colorBox(index2, index, '2')}; text-transform:capitalize; border: 1px solid #fff; height:50px;  width='15%'`">
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { Card } from 'src/components/UIComponents'
  import {gralErrorMethods, gralMethods} from 'src/mixins/generalMethods.js'
  import {mapState, mapGetters, mapMutations } from 'vuex';
  import { Tooltip, Tag, Popover } from 'element-ui'

  

  export default {
    components: {
      Card,
      [Tooltip.name]: Tooltip
    },
    mixins: [gralErrorMethods, gralMethods],
    computed: {
    ...mapGetters ('organization',['levels']),
    ...mapState ('risk',['subriskTable']),
    ...mapState ('organization',['residualCatalog'])
    },
    data () {
      return {
        HTMLcontent: null,
      }
    },
    methods: {
      getAbbrev (text) {
        var words = text.split(' ')
        if(words.length > 1){
          return words.map(word=>{ return word[0]}).join('').toUpperCase()
        }else{
          return text.substring(0,3).toUpperCase()
        }
      }, 
       
      colorBox(x,y,z){
        let valor = []
        if (z === '1'){
          valor = this.subriskTable[y].levelInhAvg
        } else {
          valor = this.subriskTable[y].levelResidualAvg
        }
        let color = '#f1e0f187'
        let point = 0
        let n=0

        if (z === '1'){
          this.levels.forEach((item) => {
            n = n + 1
            if (valor.value >= item.value) {
              point = n
              color = item.color
            }
          })
        } else {
          this.residualCatalog.forEach((item) => {
            n = n + 1
            if (valor.label === item.label) {
              point = n
              color = item.color
            }
          })
        }
        if (point == ( x+1)){
          return color
        } else {
          return '#f1e0f187'
        } 
      }
    }
  }
</script>

<style <style lang="scss" scoped>
 @import "src/assets/sass/paper/_variables.scss";
/deep/ .word-break {
    position: absolute;
    width: 50%;
    //text-align: left;
    //height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*/deep/ .words:hover{
  .word-break{
      width:82%;
      height:auto;
      white-space: normal;
      overflow:visible;
      cursor: pointer;
    }
}*/
/deep/ .risk-inherent-row{
  background-color: $default-color !important; 
  color:white; 
  border:1px solid #fff;
  font-weight: bold; 
  background:#f7f8f9;
  width: 5%;
}
/deep/ .risk-residual-row{
  background-color: $primary-color !important; 
  color:white; 
  border:1px solid #fff;
  font-weight: bold; 
  background:#f7f8f9;
  width: 5%;
}

/deep/ .title-col {
  background:#fcfcfd;
  text-transform:capitalize; 
  border: 1px solid #fff; 
  height:50px;  
  width:5%;
}

/deep/ .card-legends{
  padding:3px;
}

/deep/ .card-contend{
  padding:3px;
}

.fa-question-circle{
  color: $warning-color;
  font-size: 1.2em;
}
.RiskIn > .fa-question-circle{
  color: $white-color;
  font-size: 1.2em;
}
</style>
