<template>
  <div class="card">
     <!--TABLE MUESTRA MENSAJE VACIO -->
    <div v-if="this.files.length === 0  && this.item.filesIdDocument.length === 0"  >
      <br><br>
      <div style="text-align: center;">
        No hay archivos que mostrar
      </div>
    </div>
    <!--Test solo step 3-->
    <div v-if="this.step === 3">
      <div style="text-align: center;">
        <el-table :data="this.item.filesIdDocument" >
          <el-table-column prop="fileName"
            label="Evidencias de Auditoria">
            <template slot-scope="scope"> 
              <el-popover trigger="hover" placement="top">
                <p>Descargar Archivo</p>
              </el-popover>
                <a href="#" v-bind:class="downloadFile" @click="downloadFile(scope.row)"> {{scope.row.fileName}}</a>
            </template>
          </el-table-column>
        </el-table>
      </div>
    </div>
    <div v-else>
     <!--TABLE MUESTRA ARCHIVOS DE ITEM SOLAMENTE -->
      <div v-if="this.item.filesIdDocument.length>=1 && this.files.length==0">
        <el-table :data="this.item.filesIdDocument" >
          <el-table-column prop="fileName"
            label="Nombre de Archivo">
            <template slot-scope="scope"> 
              <el-popover trigger="hover" placement="top">
                <p>Descargar Archivo</p>
              </el-popover>
                <a href="#" v-bind:class="downloadFile" @click="downloadFile(scope.row)"> {{scope.row.fileName}}</a>
            </template>
          </el-table-column>
          <el-table-column prop="key"
            label="Acción"
            align="center"
            min-width="60"
            class-name="th-contend">                  
            <template slot-scope="scope">
              <div v-if="droping">
                <p-button type="danger" class="btn-magnify" size="sm" icon @click="deleteFile(scope.row.key, scope.$index)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </p-button>
              </div>
              <div v-else>
                Procesando Eliminar archivo... 
              </div>
            </template>
          </el-table-column>
        </el-table>
        <div v-if="this.statusloading">
          <el-table :data="this.files">
          <el-table-column prop="name" label="Nombre de Archivo Pre-Cargado">
            <template slot-scope="scope">        
            <h3> <label>{{scope.row.name}}</label></h3>
              <el-progress  :percentage="scope.row.pct" :max="100" :text-inside="false" :stroke-width="10" show-value color="#87CB16"></el-progress>
            </template>
          </el-table-column>
          <el-table-column prop="name"
            align="center"
            min-width="60"
            class-name="th-contend" label="Acción">
            <template slot-scope="scope">        
            <p-button type="warning" class="btn-danger" size="sm" icon @click="dropFileAux(scope.row.name, scope.$index)">
                <i class="fa fa-times" aria-hidden="true"></i>
              </p-button>
            </template>
          </el-table-column>
        </el-table>
        </div>
      </div> 
      <!--TABLE MUESTRA ARCHIVOS PRECARGADOS SOLAMENTE-->
      <div v-else-if="this.files.length >= 1 && this.item.filesIdDocument.length==0">
        <el-table :data="this.files">
          <el-table-column prop="name" label="Nombre de Archivo Pre-Cargado">
            <template slot-scope="scope">        
              <h3><label>{{scope.row.name}}</label></h3>
              <el-progress  :percentage="scope.row.pct" :max="100" :text-inside="false" :stroke-width="10" show-value color="#87CB16"></el-progress>
            </template>
          </el-table-column>
          <el-table-column prop="name"
            align="center"
            min-width="60"
            class-name="th-contend" label="Acción">
            <template slot-scope="scope">        
              <p-button type="warning" class="btn-danger" size="sm" icon @click="dropFileAux(scope.row.name, scope.$index)">
                <i class="fa fa-times" aria-hidden="true"></i>
              </p-button>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <!--TABLE MUESTRA TABLAS DE ITEM Y FILES -->
      <div v-else-if="this.files.length >= 1 && this.item.filesIdDocument.length>=1">
        <el-table :data="this.item.filesIdDocument">
          <el-table-column prop="name"
            label="Nombre de Archivo">
            <template slot-scope="scope"> 
              <el-popover trigger="hover" placement="top">
                <p>Descargar Archivo</p>
              </el-popover>
              <a href="#" v-bind:class="downloadFile" @click="downloadFile(scope.row)">{{scope.row.fileName}}</a>
            </template>
          </el-table-column>
          <el-table-column prop="key"
            label="Acción"
            align="center"
            min-width="60"
            class-name="th-contend">                  
            <template slot-scope="scope">
              <div v-if="droping">
                <p-button type="danger" class="btn-magnify" size="sm" icon @click="deleteFile(scope.row.key, scope.$index)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </p-button>
              </div>
              <div v-else>
                Procesando Eliminar archivo... 
              </div>
            </template>
          </el-table-column>
        </el-table>
        <el-table :data="this.files">
          <el-table-column prop="name" label="Nombre de Archivo Pre-Cargado">
            <template slot-scope="scope">        
              <h3><label >{{scope.row.name}}</label></h3>
              <el-progress :percentage="scope.row.pct" :max="100" :text-inside="false" :stroke-width="10" show-value color="#87CB16"></el-progress>
            </template>
          </el-table-column>
          <el-table-column prop="name"
            align="center"
            min-width="60"
            class-name="th-contend" label="Acción">
            <template slot-scope="scope">        
              <p-button type="warning" class="btn-danger" size="sm" icon @click="dropFileAux(scope.row.name, scope.$index)">
                <i class="fa fa-times" aria-hidden="true"></i>
              </p-button>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <div v-else-if="this.files.length >= 1 && this.item.filesIdDocument.length===0">
        <el-table :data="this.files">
          <el-table-column prop="name" label="Nombre de Archivo Pre-Cargado">
            <template slot-scope="scope">        
              <h3><label >{{scope.row.name}}</label></h3>
              <el-progress :percentage="scope.row.pct" :max="100" :text-inside="false" :stroke-width="10" show-value color="#87CB16"></el-progress>
            </template>
          </el-table-column>
          <el-table-column prop="name"
            align="center"
            min-width="60"
            class-name="th-contend" label="Acción">
            <template slot-scope="scope">        
              <p-button type="warning" class="btn-danger" size="sm" icon @click="dropFileAux(scope.row.name, scope.$index)">
                <i class="fa fa-times" aria-hidden="true"></i>
              </p-button>
            </template>
          </el-table-column>
        </el-table>
      </div> 
      <!--fin tabla-->
      <template>
        <div class="grid">
          <div class="grid-item">
          <div v-show="this.files.length>0 && !this.statusloading">
            <p-button align="right" type="success"  class="phan-btn" link @click="update()">Subir Archivos</p-button>
          </div>
          </div>
          <div class="grid-item">
            <input type="file" id="file"  ref="file" hidden @change="OnInputChange" single>
            <h1><label for="file" id="file" type="info" icon round class="el-icon-plus left trans"></label></h1>           
          </div>
        </div>
      </template>
      </div>
  </div>
</template>
<script>

  import Vue from 'vue'
  import Swal from "sweetalert2"
  import {gralErrorMethods, gralErrorLog} from 'src/mixins/generalMethods.js'
  import { Tooltip, Popover, Button } from 'element-ui'
  import { Progress } from 'element-ui'
  import Modal from 'src/components/UIComponents/Modal.vue'
  import Modal2 from 'src/components/UIComponents/Modal2.vue'
  import { mapState  } from 'vuex';
  import { Table, TableColumn, Col } from "element-ui";

  Vue.use(Table);
  Vue.use(TableColumn);
  Vue.use(Button)
  Vue.use(Popover)
  Vue.use(Progress)
 
  export default {
      components:{
        Button,
        Popover,
        [Tooltip.name]: Tooltip,
        Progress,
         Modal,
         Modal2
      },
      name: 'uploadfiles',
      
      data: () => ({
          percent:false,
          isDraging: false,
          files:[],
          progress:[],
          max_size:'10000000',//tamaño de Archivo a 10 MB
          statusloading:false,
          token : null,
          droping:true, 
          auxFileLoading:null,
          moduleId: '',
          
      }),
     props: {
       'showModalFile':Boolean,
       'id': Number,
       'item': Object,
       'origin': String,
       'step':Number
       },
    mixins: [gralErrorMethods, gralErrorLog],
     computed: {
      ...mapState ('task', ['loading'])
    },
    created (){
      this.$store.commit("task/FILES_FILTRED",{item: this.item, origin: this.origin})  
      this.$store.commit('task/ADD_LOADING',2)
      this.moduleId = this.$route.path.split('/')[1]
    },
    methods:{
      update(){
        this.statusloading=true;
        let i=0
        this.files.forEach( item => {
          item.pct=this.$store.state.task.loading;
          this.sendFile(item.file,i)
          i++
        })
      },
      sendFile(item, index){
        this.token=this.$cookies.get("token")
        this.$store.dispatch('task/updaloadFiles', { id: this.id, files:item, origin:this.origin, access_token:this.token, task_id:this.item.id})
        .then(response => {
            if (response.status === 200){
                let name=response.data
                let Data={
                  fileName:name.fileName,
                  fileUrl:name.fileUrl,
                  size:name.size,
                  origin:this.origin,
                  key:name.key
                }
              this.item.filesIdDocument.push(Data)
              this.statusloading=false;
              this.dropFileAux(item.name,index)
            }
        })
        .catch(error => { 
          this.showGenericError(error)
          this.files=[]
          this.statusloading=false;
          this.percent = false
          this.close()
          this.writteGenericError("UploadFiles.vue", error, "Error uploadFiles")
        })
      },
      OnInputChange(e){
        e.preventDefault();
        e.stopPropagation();
        this.addFile(e.target.files)
      },
      addFile(file){ 
        const filesize=file.size;
        if(filesize>this.max_size){ 
          this.showGenericError(": Archivo excede el limite de tamaño permitido de 10MB")
          return;
        }
        else{
          this.files.push({file:file[0], pct:0, name: file[0].name});
        }
      },
      showUpdate(datatitle) {
        Swal({
          title: datatitle,
          allowEscapeKey: false,
          allowOutsideClick: false,
          type: "success",
          showCancelButton: false,
          confirmButtonClass: "btn btn-success btn-fill",
          confirmButtonText: "OK"
        })         
      },
      close(){
        this.$emit('close', false)
      },
      handleFileChange(e) {
        this.$emit('input', e.target.files[0])
      },
      deleteFile(key, index){
        if(index === undefined){
          return false
        }
        let ques=null
        this.showSwal(key,index)
        .then ((response) =>  this.dropFile(key,index))
        .catch((error) =>  false)
      },
      downloadFile (file) {
      let paramsApi = {
        access_token: this.$cookies.get("token"),
        key: file.key,
        name: file.fileName,
      }
      this.$store.dispatch('task/downloadFiles', paramsApi)
        .then() 
        .catch(error => { 
           this.notifyError(error,"No es posible descargar archivo")
           this.writteGenericError("UploadFiles.vue", error, "Error en downloadFiles")
        })
    },
      updateFiles(key){
        let files=this.item.filesIdDocument     
        let filtred=[]
        files.forEach(task =>{
          if(task.key!== key ){
            filtred.push(task)
          }
        })

        this.item.filesIdDocument=filtred
      },
      showSwal(key, index) {
        let name=this.item.filesIdDocument[index].fileName
        return Swal({
          title: "¿Desea eliminar el archivo: "+name+"?",
          allowEscapeKey: false,
          allowOutsideClick: false,
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "btn btn-success btn-fill",
          cancelButtonClass: "btn btn-danger btn-fill",
          cancelButtonText: "Cancelar",
          confirmButtonText: "Si, eliminar",
         })
      },
      chooseFiles: function(e){
        document.getElementById("fileUpload").click()
        const files=e.target.files;  
        this.addFile(file)
      },
      dropFile(key, index){
        this.droping=false
        this.token=this.$cookies.get("token")
        this.$store.dispatch('task/deleteFiles', {access_token: this.token, keyFile:key, moduleId:this.moduleId, taskId:this.id})
          .then(response => { 
          if (response.status === 200){
            this.showGenericSuccess("Archivo Eliminado correctamente!!!")
            this.updateFiles(key)
            this.droping=true
          }
          else{
            this.showGenericError(response.status)
            this.droping=true
          }
        })  
        .catch(error => { 
          this.showGenericError(error)
          this.close()
          this.writteGenericError("UploadFiles.vue", error, "Error deleteFiles")
        })
      },
      dropFileAux(key,index){
        let filtred=[]
        this.files.forEach(task =>{
          if(task.name!== key ){
            filtred.push(task)
          }
        })
        this.files=filtred
      }
    }
  }
</script>
<style lang="scss" scoped>
.phan-btn{
  border-radius:7px;
  border:3px solid #00c875;
  background-color:transparent;
  color:#00c875;
  &:hover{
    border-radius:7px;
    border:3px solid #fff;
    background-color:#00c875;
    color:transparent;

  }
}
.trans{
  background-color:#fff;
  &:hover{
    border-radius:5px;
    color:rgba(37, 163, 221, 0.541);
    background-color:rgba(192, 186, 186, 0.301);
    -moz-transition: cubic-bezier(0.001, 0, 0, 0.001);
  }
  &:focus{
    border-radius:none;
    color:dark;
    background-color:rgba(192, 186, 186, 0.116);
    transition: background-color cubic-bezier(0.075, 0.82, 0.165, 1);
  }

}
.left{
  text-align:right;
  position:absolute;
}
 .grid {
  display: grid;
  grid-template-columns: auto auto;
  padding: 5px;
}
.grid-item {
  background-color: transparent;
  border: 1px solid #fff;
  padding: 1%;
  font-size: 80%;
  text-align: center;
}

.uploader{
    width: 100%;
    color: white;
    padding: 40px 20px;
    text-align: center;
    border-radius: 10px;
    border: 3px dashed #FFF;
    font-size: 20px;
    position: relative;
    background: dodgerblue;
    &.dragging{
      background: #FFF;
      color:dodgerblue;
      border: 3px dashed dodgerblue;

      .file-input label{
        background: dodgerblue;
        color: white;
      }

    }
    i{
      font-size: 85px;
    }
    .file-input{
      width: 200px;
      margin: auto;
      height: 60px;
      position: relative;
      label,
      input{
        background: white;
        color: dodgerblue;
        width: 100%;
        position: absolute; 
        left: 0px; 
        top: 0px; 
        padding: 10px; 
        border-radius: 4px; 
        margin-top: 7px; 
        cursor: pointer;
      } 
      input{
        opacity: 50; 
        z-index:-2
      }   
    }
  }
.images-preview{
   display: flex;
   flex-wrap: wrap;
   margin-top: 20px;
   .img-wrapper 
   {
     width:120px;
     display:flex;
     flex-direction: column;
     margin: 10px;
     height: 70px;
     justify-content:center;
     justify-self: center;
     background: #FFF;
     box-shadow: 5px 5px 20px #3e3737;

     img{
       max-height: 105px;
       align-self: center;

     }
   }
   .details{
     font-size: 11px;
     background: #FFF;
     color: black;
     display: flex;
     flex-direction: column;
     align-items: self-star;
     padding: 3px 3px;
     .name
     {
       overflow: hidden;
       height: 20px;
     }
   } 
}
.upload-control{
     position: absolute;
     width: 100%;
     background: white;
     top:0;
     left: 0;
     border-top-left-radius: 7px;
     border-top-right-radius: 7px;
     padding: 10px;
     padding-bottom: 4px;
     text-align: right;
     button,label{
       background: dodgerblue;
       border: 2px solid dodgerblue;
       border-radius: 3px;
       color:white;
       font-size: 15px;
       cursor: pointer;
     }
     label{
       padding: 2px 5px;
       margin-right: 10px;
     }
   }
</style>