<template>
  <div>
    <div class="header text-center">
      <h3 class="title">Plan de trabajo</h3>
    </div>
    <time-line>
      <time-line-item class="timeline-inverted" badgeType="danger" badgeIcon="nc-icon nc-single-copy-04">
        <badge slot="header" type="danger">Documentar</badge>
        <p slot="content">
          Se debe de documentar los procedimientos para la seleción de personal</p>

        <h6 slot="footer">
          <i class="fa fa-clock-o"></i>
          11 horas de trabajo
        </h6>
      </time-line-item>

      <time-line-item badgeType="success" badgeIcon="nc-icon nc-sun-fog-29">
        <badge slot="header" type="success">Auditar</badge>
        <p slot="content">
          Es necesario auditar los documentos que se esten realizando y dar seguimiento adecuado a...</p>
        <h6 slot="footer">
          <i class="fa fa-clock-o"></i>
          2 días de trabajo
        </h6>
      </time-line-item>

      <time-line-item class="timeline-inverted" badgeType="info" badgeIcon="nc-icon nc-world-2">
        <badge slot="header" type="info">Informar Resultados</badge>
        <div slot="content">
          <p>
            Agendar junta para revisión de resultados</p>
          <h6 slot="footer">
            <i class="fa fa-clock-o"></i>
            2 horas de trabajo
          </h6>
          <p>
            Generar minuta de junta </p>
          <h6 slot="footer">
            <i class="fa fa-clock-o"></i>
            1 hora de trabajo
          </h6>
          <hr>
        </div>
        <drop-down slot="footer" class="btn-group" position="left">
          <p-button slot-scope="{isOpen}" slot="title" type="info" round class="dropdown-toggle" :aria-expanded="isOpen">
            <i class="nc-icon nc-settings"></i> &nbsp;
          </p-button>
          <a class="dropdown-item" href="#">Remover junta</a>
          <a class="dropdown-item" href="#">Cambiar de fecha</a>
        </drop-down>
      </time-line-item>
    </time-line>
    <div class="text-center">
       <p-button type="info" @click="handleEvaluate()"> Ver calendarizado  </p-button>
    </div>
  </div>

</template>
<script>
  import {TimeLine, TimeLineItem, Badge} from 'src/components/UIComponents';
  import {gralMethods} from 'src/mixins/generalMethods.js'
  export default {
    components: {
      TimeLine,
      TimeLineItem,
      Badge
    },
    mixins: [gralMethods],  
    methods: { 
      handleEvaluate () {
        this.$router.push({name: this._getNameRoute('calendar', this.$route.path.split('/')[1])})
      } 
    }
    
  }
</script>
<style>
</style>
