.wrapper{
    position: relative;
    top: 0;
    height: 100vh;

    &.wrapper-full-page{
        min-height: 100vh;
        height: 100%;
    }
}

.faq,
.off-canvas-faq{
  position: fixed;
  height: 100%;
  bottom: 0;
  width: 355px;
  right: 0;
  z-index: 1030;

    .faq-wrapper{
        position: relative;
        height: calc(100vh - 75px);
        overflow-y: auto;
        overflow-x: hidden;
        width: 350px;
        z-index: 4;
        padding-bottom: 100px;

        .dropdown .dropdown-backdrop{
          display: none !important;
        }

        .navbar-form{
            border: none;
        }

        > .nav,
        .user .info{
          [data-toggle="collapse"] ~ div > ul > li > a{
              span{
                display: inline-block;
                
                @extend .animation-transition-general;
              }
              > p{
                text-transform:capitalize;
                padding-left:45px;
                font-weight:50;
                
              }
              .faq-normal {
                text-transform:capitalize;
                margin: 0;
                position: relative;
                transform: translateX(0px);
                opacity: 1;
                white-space: nowrap;
                display: block;
                line-height: 20px;
                z-index: 1;
              }

              .faq-mini-icon {
                text-transform: uppercase;
                width: 34px;
                margin-left: 10px;
                margin-right: 0px;
                font-size: 12px;
                text-align: center;
                line-height: 20px;
                position: relative;
                float: right;
                z-index: 1;
                display: inherit;
                color: $opacity-5;
              }

              .faq-normal {
                text-transform: capitalize;
              }

              i{
                padding-left:8px;
                font-size: 12px;
                //line-height: 20px;
                width: 26px;
              }
            }
        }
    }
    /*&:hover{
      width: 360px;
    }*/

    .navbar-minimize{
      position: absolute;
      right: 20px;
      top: 2px;
      opacity: 1;

      @extend .animation-transition-general;
    }
    .logo-tim{
      border-radius: 50%;
      border: 1px solid #333;
      display: block;
      height: 61px;
      width: 61px;
      float: left;
      overflow: hidden;

      img{
          width: 60px;
          height: 60px;
      }
    }

    .nav{
        margin-top: 20px;
        display: block;

        .caret{
            top: 14px;
            position: absolute;
            right: 10px;
        }

        li{
            > a + div .nav li > a{
                margin-top: 7px;
            }

            > a{
                margin: 10px 15px 0;
                color: $white-color;
                display: block;
                text-decoration: none;
                position: relative;
                text-transform: uppercase;
                cursor: pointer;
                font-size: 12px;
                padding: 10px 8px;
                line-height: 30px;
                opacity: .7;
            }

            .nav > li > a{
              padding: 5px 8px;
            }

            &.active > a,
            &.active > a > i {
              opacity: 1;
              // color: $danger-color;
            }

            &:hover:not(.active) > a,
            &:focus:not(.active) > a {
                opacity: 1;
            }

           

            &.active > a[data-toggle="collapse"] > {
                background-color: transparent;
                box-shadow: $box-shadow;
            }

            &.active > a[data-toggle="collapse"],
            &.active > a[data-toggle="collapse"] i,
            &.active > a[data-toggle="collapse"] ~ div > ul > li.active i,
            &.active > a[data-toggle="collapse"] ~ div > ul > li.active > a {
              color: $warning-color;
              
              

              & + div .nav .active a {
                background-color: transparent;
                box-shadow: none;

                &:after {
                  content: "";
                  position: absolute;
                  width: calc(100% - 5px);
                  z-index: 0;
                }
              }
            }

            &.active > a[data-toggle="collapse"] ~ div > .nav {
              margin-top: 0;
            }
        }

        p{
            margin: 0;
            line-height: 30px;
            position: relative;
            display: block;
            height: auto;
            white-space: nowrap;
            font-weight: 600;
            @extend .animation-transition-general;
        }
       
        i{
            font-size: 24px;
            float: left;
            margin-right: 12px;
            line-height: 30px;
            width: 34px;
            text-align: center;
            color: $opacity-5;
            position: relative;
        }

        .collapse-menu,
        .collapse,
        .collapsing {
          .nav {
            margin-top: 0;
          }
        }
    }

    .faq-background{
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 100%;
        display: block;
        top: 0;
        left: 0;
        background-size: cover;
        background-position: center center;

        &:after{
            position: absolute;
            z-index: 3;
            width: 100%;
            height: 100%;
            content: "";
            display: block;
            background: #FFFFFF;
            opacity: 1;
        }
    }

    .logo{
        position: relative;
        padding: 7px $padding-base-horizontal;
        z-index: 4;

        a.logo-mini,
        a.logo-normal{
            @extend .animation-transition-general;
        }

        a.logo-mini{
            opacity: 1;
            float: left;
            width: 34px;
            text-align: center;
            margin-left: 10px;
            margin-right: 12px;
        }

        a.logo-normal{
            display: block;
            opacity: 1;
            padding: 11px 0 8px;
            @include transform-translate-x(0px);
        }

        &:after{
            content: '';
            position: absolute;
            bottom: 0;
            right: 15px;
            height: 1px;
            width: calc(100% - 30px);
            background-color: $opacity-5;

        }

        p{
            float: left;
            font-size: 20px;
            margin: 10px 10px;
            color: $white-color;
            line-height: 20px;
            font-family: 'Muli', "Helvetica", Arial, sans-serif;
        }

        .simple-text{
            text-transform: uppercase;
            padding: $padding-base-vertical 0;
            display: block;
            white-space: nowrap;
            font-size: $font-size-large;
            color: $white-color;
            text-decoration: none;
            font-weight: $font-weight-normal;
            line-height: 30px;
            overflow: hidden;
        }
    }

    .logo-tim{
        border-radius: 50%;
        border: 1px solid #333;
        display: block;
        height: 61px;
        width: 61px;
        float: left;
        overflow: hidden;

        img{
            width: 60px;
            height: 60px;
        }
    }

    &:before,
    &:after{
        display: block;
        content: "";
        opacity: 1;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    &:after{
        @include icon-gradient($default-color);
        z-index: 3;
    }

    &[data-color="white"]{
      @include faq-color($white-color);
      @include faq-text-color($default-color);
    }
    &[data-color="brown"]{
      @include faq-color($default-color);
    }
    &[data-color="black"]{
      @include faq-color($dark-color);
    }

    &[data-color="pad-black"]{
        @include faq-color($pad-faq-bg);
        @include faq-text-color($white-color);
    }

    // Active color changing

    &[data-active-color="primary"]{
        @include faq-active-color($primary-color);
    }
    &[data-active-color="info"]{
        @include faq-active-color($info-color);
    }
    &[data-active-color="success"]{
        @include faq-active-color($success-color);
    }
    &[data-active-color="warning"]{
        @include faq-active-color($warning-color);
    }
    &[data-active-color="danger"]{
        @include faq-active-color($danger-color);
    }

    .user{
        padding-bottom: 20px;
        margin:20px auto 0;
        position: relative;

        &:after{
            content: '';
            position: absolute;
            bottom: 0;
            right: 15px;
            height: 1px;
            width: calc(100% - 30px);
            background-color: rgba(255,255,255, .3);
        }

        .photo{
            width: 34px;
            height: 34px;
            overflow: hidden;
            float: left;
            z-index: 5;
            margin-right: 10px;
            border-radius: 50%;
            margin-left: 23px;
            @extend .animation-transition-general;

            img{
                width: 100%;
            }
        }

        a{
            color: $white-color;
            text-decoration: none;
            padding: $padding-base-vertical 15px;
            white-space: nowrap;
            @extend .animation-transition-general;
        }

        .info{
            > a{
               display: block;
               line-height: 18px;

                > span{
                   @extend .animation-transition-general;
                   display: block;
                   position: relative;
                   opacity: 1;
                }
            }

            .caret{
                position: absolute;
                top: 8px;
                right: 18px;
            }
        }
    }
}

.visible-on-faq-regular{
    display: inline-block !important;
}
.visible-on-faq-mini{
    display: none !important;
}

.off-canvas-faq{
    .nav {
        > li > a,
        > li > a:hover{
            color: $white-color;
        }

        > li > a:focus{
            background: rgba(200, 200, 200, 0.2);
        }
    }
}



.perfect-scrollbar-on{
  .faq{
      height: 100%;
      max-height: 100%;
  }
}


@media (min-width: 91px) {
    .faq,
    .faq-wrapper{
        -webkit-transition-property: top,bottom,width;
        transition-property: top,bottom, width;
        -webkit-transition-duration: .2s,.2s, .35s;
        transition-duration: .2s,.2s, .35s;
        -webkit-transition-timing-function: linear,linear,ease;
        transition-timing-function: linear,linear,ease;
        -webkit-overflow-scrolling: touch;
    }


    .faq-mini{
        .visible-on-faq-regular{
          display: none !important;
        }
        .visible-on-faq-mini{
          display: inline-block !important;
        }

        .faq,
        .faq .faq-wrapper{
          width: 80px;
        }

        /* .main-panel{
          width: $sidebar-mini-width;
        } */

        .faq{
          display: none;
          //z-index: 1030;

          .logo{
              a.logo-normal{
                  opacity: 0;
                  @include transform-translate-x(-25px);
              }
              a.logo-mini{
                  opacity: 1;
              }
          }

          .faq-wrapper{
            > .nav [data-toggle="collapse"] ~ div > ul > li > a .faq-normal,
            .user .info [data-toggle="collapse"] ~ div > ul > li > a .faq-normal,
            .user .info > a > span,
            > .nav li > a p{
                @include transform-translate-x(-25px);
                opacity: 0;
            }
          }
        }

        /* .faq:hover {
          width: 260px;

          .logo {
            a.logo-normal {
                opacity: 1;
                @include transform-translate-x(0);
            }
          }

          .navbar-minimize{
            opacity: 1;
          }
          .faq-wrapper{
            width: 260px;

            > .nav li > a p,
            > .nav [data-toggle="collapse"] ~ div > ul > li > a .faq-normal,
            .user .info [data-toggle="collapse"] ~ div > ul > li > a .faq-normal,
            .user .info > a > span{
              @include transform-translate-x(0px);
              opacity: 1;
            }
          }
        } */
  }

}

.panel-header {
  height: 260px;
  padding-top: 80px;
  padding-bottom: 45px;
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-gradient(linear, left top, right top, from(#0c2646), color-stop(60%, #204065), to(#2a5788));
  background: linear-gradient(to right, #0c2646 0%, #204065 60%, #2a5788 100%);
  position: relative;
  overflow: hidden;

  .header{
    .title{
      color: $white-color;
    }
    .category{
      max-width: 600px;
      color: $opacity-5;
      margin: 0 auto;
      font-size: 13px;

      a{
        color: $white-color;
      }
    }
  }
}

.panel-header-sm{
  height: 135px;
}

.panel-header-lg{
  height: 380px;
}


.faq {
  &[data-color="white"] {
    border-right: 1px solid #ddd;
  }
}
