.table{
    font-size: 0.7em;
    
    .cell {
      padding-left: 0;
      padding-right: 0;
    }
 
    .img-wrapper{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
      margin: 0 auto;
    }

    .img-row{
      max-width: 60px;
      width: 60px;
    }

    .form-check{
        margin: 0;

        & label .form-check-sign::before,
        & label .form-check-sign::after{
            top: -17px;
            left: 4px;
        }
    }

    .btn{
        margin: 0;
    }

    small,.small{
      font-weight: 300;
    }

    .card-tasks .card-body &{
        margin-bottom: 0;

        > thead > tr > th,
        > tbody > tr > th,
        > tfoot > tr > th,
        > thead > tr > td,
        > tbody > tr > td,
        > tfoot > tr > td{
            padding-top: 0;
            padding-bottom: 0;
        }
    }

   .radio,
   .checkbox{
       margin-top: 0;
       margin-bottom: 0;
       padding: 0;
       width: 15px;

       .icons{
           position: relative;
       }

        label{
            &:after,
            &:before{
                top: -17px;
                left: -3px;
            }
        }
   }
   > thead > tr > th,
   > tbody > tr > th,
   > tfoot > tr > th,
   > thead > tr > td,
   > tbody > tr > td,
   > tfoot > tr > td{
       padding: 10px 7px;
       vertical-align: middle;
   }


   > thead > tr > th{
    font-weight: $font-weight-bold;
    padding-bottom: 0;
    text-transform: uppercase;
    border: 0;
      .cell {
        text-overflow: clip; 
      }
    }

   .th-contend {
      .cell {
        word-break: keep-all;
        line-height: 1.9;
      }
   }

 

   .td-price{
       font-size: 26px;
       font-weight: $font-weight-light;
       margin-top: 5px;
       position: relative;
       top: 4px;
       text-align: right;
   }
   .td-total{
        font-weight: $font-weight-bold;
        font-size: $font-size-h5;
        padding-top: 20px;
        text-align: right;
    }

    .td-actions .btn{
      margin: 0px;
      & + .btn {
        margin-left: 5px;
      }
    }

    > tbody > tr{
        position: relative;
    }
}

.table-shopping{
    > thead > tr > th{
        font-size: $font-size-h6;
        text-transform: uppercase;
    }
    > tbody > tr > td{
        font-size: $font-paragraph;

        b{
            display: block;
            margin-bottom: 5px;
        }
    }
    .td-name{
        font-weight: $font-weight-normal;
        font-size: 1.5em;
        small{
            color: $dark-gray;
            font-size: 0.75em;
            font-weight: $font-weight-light;
        }
    }
    .td-number{
       font-weight: $font-weight-light;
       font-size: $font-size-h4;
   }
    .td-name{
        min-width: 200px;
    }
    .td-number{
        text-align: right;
        min-width: 170px;

        small{
            margin-right: 3px;
        }
    }

    .img-container{
        width: 120px;
        max-height: 160px;
        overflow: hidden;
        display: block;

        img{
            width: 100%;
        }
    }
}

// effect table independent
.el-table[id="collapse"] table > tbody > tr > td, {
  background-color:rgba(223, 223, 223, 0.09);
  padding: 10px 7px;
  vertical-align: middle;
  border-spacing:0px 15px; 
  border-top:10px solid white;
  border-color: white;
  border-collapse:separate;
      &:hover{
       //background-color:rgba(74, 187, 240, 0.281); 
       box-sizing: content-box;
       -moz-transition: cubic-bezier(0.001, 0, 0, 0.001);
      }
      &:focus{
        background-color:rgba(170, 206, 223, 0.281); 
        box-sizing: content-box;
        -moz-transition: background-color cubic-bezier(0.005, 0.885, 0.32, 0.005);
       }
      
     
      
}
 .el-table[id="collapse"] tr:hover {
  background-color:#ecf5ff;
  
}
 .el-table[id="collapse"] th:hover {
  border-bottom: 1px solid #EBEEF5;
  //background-color:rgba(51, 201, 238, 0.336);
}


//
.table-responsive{
  overflow: scroll;
  padding-bottom: 10px;
}

#tables .table-responsive{
    margin-bottom: 30px;
}

.table-hover>tbody>tr:hover{
  background-color: #f5f5f5;
}

@media screen and (max-width: 991px) {
  .table {
    font-size: .6em;
  }
}

$width:10px;
$frozen-width:8rem;

.popup{
  width:100%;
}

.first{
    display:block;
    font-weight:bold;
    padding-top:1rem;
    height:7rem; 
    text-transform:capitalize; 
    border: 1px solid #fff;  
    background:#f7f8f9;
    text-align:center;
}

.categories:before{
  content: attr(data-desktoptext);
  
}

.colortitulo{
  padding-left:1rem;
  padding-right:1rem;
  border: 1px solid #fff; 
  height:1rem;
  //transform: rotate(-90deg);
}


span:before{
  content:attr(data-desktoptext);

}
.card-head h5{
  margin-top:1rem;
}
.titleh {
  
  text-align: center;
  background: #e6c100;
  padding-top: 5px;
  border-radius: 5px 5px 0 0;
  margin-top: 50px;
  width: 93.3%;
  height: 40px;
  margin-left: 4.7rem;
  margin-bottom: 2px;
  position: initial;
}

.responsive{
    
    .celdaderecha[name="risk"]{
      display:block;
      padding-top:1rem;
      width:6.5rem;
      height:3rem;
      text-transform:capitalize; 
      border: 1px solid #fff; 
      
    }
    
    
    .celdavertical{
      display:block;
      border:1px solid #fff;
      font-weight: bold; 
      background:#f7f8f9; 
      width:2rem;
    }
  }
  @media screen and(max-width:5000px){
    .colortitulo{
      font-weight: normal;     
      font-size:0.7rem;
    }
    .ancho{
      height:6rem;
      
    }
    .first{
      width:100%;
      height:5rem;
      
    }
  }
  
@media screen and(max-width:4000px){
  .colortitulo{
    font-weight: normal;     
    font-size:0.7rem;
  }
  .ancho{
    height:6rem;
   
  }
  .first{
    width:100%;
    height:5rem;
    
  }
}
  
@media screen and(max-width:3000px){
  .colortitulo{
    font-weight: normal;     
    font-size:0.7rem;
  }
  .ancho{
    height:3rem;
    
  }
  .first{
    width:100%;
    height:5rem;
    
  }
}
@media screen and(max-width:1480px){
  .cont{
    overflow-x:auto;
    
  }
  .head:before{
    content:attr(data-desktoptext);

  } 

  .colortitulo{
    font-weight:normal;
    font-size:0.7rem;

  }
  .ancho{
    height:3rem;
    width:9rem;
  }

  .celdaderecha{
    position:static;
    height:3rem;
    width:111px;
  }
  .titleh{
    position:absolute;
    width:87%
  }
  .celdavertical{
    position:static;
    width:5rem;
    margin-left:3rem;
    top:10rem;
    right:30rem;
    bottom:3rem;
  }
  .popup{
    margin-top:5.6rem;
    right:4rem;
  }
  
}

@media screen and (max-width:1366px){
  .categories:before{
    content:attr(data-tablettext);
  }
  .first{
    font-size:0.85rem;
  }
  .head:before{
    content:attr(data-phonetext);
  }
  
}

@media screen and (max-width:1366px){
  .categories:before{
    content:attr(data-phonetext);
    
  }
  .categories:hover::after{
    content:attr(data-desktoptext);
  }
}
@media screen and (max-width:1278px){
  .categories:before{
    content:attr(data-desktoptext);
  }
  
}



@media screen and (max-width:900px){
  .colortitulo{
    font-size:0.7rem;
  }
  .first{
    height:3rem;
  }
  .tamanio:before{
    content:attr(data-tablettext);
  }
  .colortitulo{
    width:1rem;
    height:1rem;
  }
}
@media screen and (max-width:769px){
.colortitulo{
  font-size:0.6rem;
}
.first{
  height:5rem;
}
.tamanio:before{
  content:attr(data-phonetext);
}

}

@media screen and (max-width:720px){
  .tamanio:before{
    content:attr(data-tablettext);
  }
  .first{
    height:2.5rem;
  }
  .colortitulo{
    width:3rem;
    font-size:0.5rem;
    padding:0px;
    margin:0px;
  }
}