<template>
  <div class="card">
    <div class="card-header">
        <el-table class="table-plan" :data="info" header-row-class-name="text-primary">
        <el-table-column prop="plan"
                        label="Proyecto"
                        min-width="50"
                        class-name="th-contend">
        </el-table-column>
        <el-table-column prop="assign"
                        label="Asignado a"
                        min-width="50"
                        class-name="th-contend">
        </el-table-column>
        <el-table-column prop="priority"
                        label="Prioridad"
                        min-width="80"
                        class-name="th-contend">
            <template slot-scope="props">
            <el-rate v-model="props.row.priority" 
                    @change="updateRate(props.row)"
                    :max=3
                    :texts="rate.text"
                    :colors="rate.colors"
                    show-text>
            </el-rate>
            </template>
            </el-table-column>
            <el-table-column prop="state"
                        label="Estado"
                        min-width="50"
                        class-name="th-contend">
            </el-table-column>
        </el-table>
    </div>
  </div>
</template>
<script>
    import {Table, TableColumn } from 'element-ui'
    import Vue from 'vue'
    import { Rate } from 'element-ui'
    import { gralErrorLog } from 'src/mixins/generalMethods.js'

    Vue.use(Table)
    Vue.use(TableColumn)
    Vue.use(Rate)

    export default {
        name: 'action-plan-info',
        mixins: [gralErrorLog],
        components:{
            Table,
            TableColumn,
            Rate
        },
        props: {
            info: {
                type: Array,
                description: 'Action plan info {plan, assigned to, priority, state}'
            }
        },
        data(){
            return{
                progreso: [
                    {
                        label: 'Atrasados'
                    },
                    {
                        label: 'En progreso'
                    },
                    {
                        label: 'Sin empezar'
                    }
                ],
                rate: {
                    colors: {1:'#35A97A', 2:'#FABE3C', 3:'#FF0040'},
                    text: ['Bajo','Medio','Alto']
                }
            }
        },
        methods:{
            async updateRate(row){
                let access_token = this.$cookies.get("token") 
                let moduleId = "anticorruption"
                let data = row
                let paramsApi = { access_token, data, moduleId}
                paramsApi.id = row.id
                this.$store.dispatch("task/updateTasks", paramsApi)
                .then ((response) =>{
                    console.log(response)
                })
                .catch(error =>{
                    this.notifyError(error,"No se puede realizar la operacion, intente mas tarde")
                    this.writteGenericError('ActionPlanInfo.vue', error, 'Error al obtener tareas, updateTasks ')
                })

            }
        }
    }
</script>
<style>
</style>
