<template>
  <el-menu
    :id="elementId" 
    class="el-menu-vertical"
    @select="handleSelect"
    v-click-outside="vcoConfig"
    >

    <el-menu-item 
      v-for="(option, index) in options" 
      :key="index" 
      :index="index">
      <i :class="[option.icon]"></i>
      <span>{{option.name}}</span>
    </el-menu-item>


  </el-menu>
</template>
<script>
import Vue from 'vue'
import {Menu, MenuItem} from 'element-ui'
import vClickOutside from 'v-click-outside'

Vue.use(vClickOutside)
Vue.use(Menu)
Vue.use(MenuItem)

export default {
  name: 'context-menu',
  props: {
    elementId: {
      type: String,
      required: true
    },
    options: {
      type: Array,
      required: true
    }
  },
  data () {
    return {
      item: null,
      menuWidth: null,
      menuHeight: null,
      vcoConfig: {
        handler: this.handler,
        middleware: this.middleware,
        isActive: true
      }
    }
  },
  methods: {
    handler (event, el) {
      console.log('----->')
      console.log(event)
      console.log(el)
      console.log('Clicked outside (Using config), middleware')
    },
    middleware (event, el) {      
      console.log('----->middleware')
      return el.classList.length > 2 
    },
    showMenu (event, item) {
      this.item = item
      var menu = document.getElementById(this.elementId)
      if (!menu) {
        return
      }

      if (!this.menuWidth || !this.menuHeight) {
        menu.style.visibility = "hidden"
        menu.style.display = "block"
        this.menuWidth = menu.offsetWidth
        this.menuHeight = menu.offsetHeight
        menu.removeAttribute("style")
      }

      let x = event.pageX+document.body.scrollLeft+document.documentElement.scrollLeft
      let y = event.clientY//+document.body.scrollTop+document.documentElement.scrollTop
      console.log ('x' + x)
      console.log ('y' + y)
      x = x- 330
      y = y
      console.log ('x1: ' + x)
      console.log ('y2: '  + y)

      if ((this.menuWidth + x) >= window.innerWidth) {
        menu.style.left = (x - this.menuWidth + 2) + "px"
      } else { 
        menu.style.left = (x - 2) + "px"
      }

      if ((this.menuHeight + y) >= window.innerHeight) {
        menu.style.top = (y - this.menuHeight + 2) + "px"
      } else {
        menu.style.top = (y - 2) + "px"
      }

      menu.classList.add('el-menu-vertical--active')
    },
    handleSelect(key, keyPath) {
      console.log('selected ' + key + 'kepathd ' + keyPath)
      this.hideContextMenu()
      this.$emit('option-clicked', {
        item: this.item,
        option: keyPath
      })
    },
    hideContextMenu() {
      console.log('hideContextMenu')
      let element = document.getElementById(this.elementId)
      if (element) {
          element.classList.remove('el-menu-vertical--active')
      }
    },
    onClickOutside(){
      console.log('onClickOutside')
    }
  }
}
</script>
<style lang="scss">
  $light-grey: rgb(240, 245, 247);
  $black-light: #333;
     $blue: #007AFF;
    $white: #fff;
  .el-menu-vertical{
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    z-index: 1000000;
    width: 240px;
    min-height: 50px;
    background-color: white;
    border-bottom-width: 0px;
    box-shadow: 0 3px 6px 0 rgba($black-light, 0.2);
    border-radius: 4px;
    &--active {
      display: block;
    }
  }
</style>

