<template>
    <div>
        <card class="card-link btn-magnify" :style="{ backgroundImage:image}"  id="first-step" name="style-card">
            <div class="card-title text-center ">
                <i class=" icon-long " name="style-card" />
            </div>
            <div class="head-card" name="card-style">
                <h3 id="second-step" class="text-center title-blog" ><i :class="icon" :style="{color:colors}"/> {{title}}</h3>
            </div>
        </card>
    </div>
</template>
<script>
 import { Card } from 'src/components/UIComponents'
 import {gralErrorMethods} from 'src/mixins/generalMethods'
 

 export default {
     name:"cardlink",
  components: {
    Card
  },
  props: {
      title: {
        type: String,
        default: 'Title',
        description: 'Notify title'
      },
      icon: {
        type: String,
        default: 'none',
        description: 'Apply icon'
      },
      colors: {
        type: String,
        default: 'brown',
        description: 'Color icon'
      },
      image:{
          type: String,
          default:"url(../static/img/news1.jpg)",
          description:"Add image to background"
      },
      cont:{
        type: String,
        default:"Escriba contenido",
        description:"Write content to footer"
      }
 },
 mixins: [gralErrorMethods],
 }
</script>
<style lang="scss">
@import "src/assets/sass/paper/_variables.scss";
//inicio clases para cards nuevos
  .card[name="style-card"] .card-body{
    padding-top:5rem;
    margin:0;
    height:5 0%;
  }
  .card[name="style-card"]  .card-body:hover{
      border-radius:$border-radius-x-large;
      background:$shadow-bg;
    .head-card{
      height:6rem; 
      padding-top:2rem;
      margin-right:0;
    }
    &:focus{
        .head-card{
        margin-right:0;
        color:$new-black;
    }
    }
  }
  .head-card{
    padding-top:0.3rem;  
    background:rgba(0,0,0,0.3);
    border-radius:0 0 10px 10px;
    color:$smoke-bg;
    transition-duration: 500ms;
    font-size:80%;
    height:3rem;
    box-shadow:$box-shadow-raised;
    
  }
  .icon-long{
    padding-top:1rem;  
    font-size:5rem;
  
  }
  .nc-icon[name="style-card"] {
    display: inline-block;
    font: normal normal normal 112px/1 'nucleo-icons';
    font-size: 3rem;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@media screen and (min-width:300px) and (max-width:345px){
  .title-blog{
    font-size: 1.83em;
  }
}
//final clases cards nuevos
</style>