<template>
    <div>
        <drop-down icon="nc-icon nc-bell-55" tag="li"
                   position="right"
                   name="notify"
                   direction="none"
                   class="nav-item btn-rotate dropdown">
          <a slot="title"
             slot-scope="{isOpen}"
             class="nav-link dropdown-toggle "
             name="notifies"
             data-toggle="dropdown"
             aria-haspopup="true"
             :aria-expanded="isOpen">
            <el-badge :value="quant" :hidden="quant===0"> 
              <i class="nc-icon nc-bell-55"></i>
            </el-badge>
            <p>
              <span class="d-lg-none d-md-block space-text">Notificaciones</span>
            </p>
          </a>
           <h5 v-if="notifies.length === 0" class="dropdown-header bar-bottom middle-text" @click="show">Sin notificaciones</h5>
           <h5 v-else class="dropdown-header bar-bottom middle-text" @click="show">Nuevas Notificaciones</h5>
                  
          <a class="dropdown-item drop-item bar-bottom " name="notify" v-for="(notification, index) in notifies" 
              :key="index" 
              @click="goToNextTask(notification.link, notification.id, notification)"> 
              <div class="grid btn-magnify">
                <div class="grid-item  grid-right">
                  <i :class="getNotificationIcon(notification.typeN)"></i>
                </div>
                <div class="grid-item btn-magnify grid-left"> 
                      <h6 class="title-noti btn-magnify">{{notification.title}}</h6>
                      <p class="title-notify word-break">{{notification.bodyN}}</p>
                      <br>
                      <span id="dat" >
                      
                      <span class="time-trans"><i class="fa fa-clock-o"></i> {{getNotificationTimeAgo(notification.createdAt, notification.id)}}</span>
                      </span>
                </div>  
              </div>
          </a>
        </drop-down>
    </div>
</template>
<script>
  import Vue from "vue";
  import { Badge } from 'element-ui'
  import { mapState } from 'vuex';
  import {gralErrorMethods, gralErrorLog} from 'src/mixins/generalMethods'
  import { Navbar, NavbarToggleButton } from 'src/components/UIComponents'
  
    Vue.use(Badge)
    export default
    {
        name: "notify",
        components:{
            Navbar,
            Badge
        },
         props: {
      title: {
        type: String,
        default: 'Title',
        description: 'Notify title'
      },
      body: {
        type: String,
        default: 'Body',
        description: 'Notify body'
      },
      quant:{
        type: Number,
        default: 0,
        description:'quantity of notifies'
      },
      notifies:{
        type: Array,
        default:[],
        description:'size of notifies'
      },
      date:{
        type: String,
        default: 'hour',
        description:'date'
      }
      
    },
    mixins: [gralErrorMethods, gralErrorLog],
    data() {
      return {
        access_token: '',
        activeNotifications: false,
        access_token: '',
        organizationId: '',
        showNavbar: false,
        todayTask:'',
      } 
    },
    created(){
      this.access_token = this.$cookies.get("token")
    },
    async created(){
      this.organizationId = this.$store.state.auth.organizationId
      this.access_token = this.$cookies.get("token")
      
      var params = {
        access_token: this.access_token
      }
      await this.$store.dispatch("notifications/setNotifications", params)
      
    },
    computed:{
      ...mapState ('notifications',['notifications', 'typesN']),
      
    },
    methods:{
      show(){ 
        console.log(this.notifications.map(x =>{ return x.id}))
      },      
      goToNextTask(link, notif_Id, notification){
        var param = {
          access_token: this.access_token,
          id: notif_Id
        }
        this.$store.dispatch("notifications/deleteNotificationTarget", param)
        .then(()=>{
          if(notification.typeN == "revision"){
            localStorage.setItem('folderNameId', JSON.stringify({name: notification.optionsN.name, id: notification.optionsN.id}))
            localStorage.setItem('fileNotification', notification.optionsN.idFile)
          }
          if(notification.typeN == 'audit'){
            localStorage.setItem('idTaskAudit', JSON.stringify({id: notification.optionsN.idTask}))
          }
          this.$router.push({name:link, params:{id:notification.id}} )
        })
        .catch(error =>{
          this.notifyError(error,"No se pudo acceder a la BD para atender la notificacion de forma correcta, intente mas tarde")
          this.writteGenericError('Notify.vue', error, 'Error en deleteNotificationTarget' )
        })
        
      },
      getNotificationIcon(typeN){
        return this.typesN[typeN]
      },
      getNotificationTimeAgo(time, id){
        var seconds = 0, minutes = 0, hours = 0, days = 0
        var text = ''
        var createdAt =new Date(time)
        seconds = (new Date().getTime() - createdAt.getTime())/ 1000
        seconds =  parseInt(seconds)
        if(seconds > 59){
          minutes = Math.floor(seconds / 60)
        }
        if(minutes > 59){
          hours = Math.floor(minutes / 60)
        }
        if(hours > 23 ){
          days = Math.floor(hours / 24)
        }

        if(days > 7){
          text = 'Desde el dia ' + createdAt.getDate() + '/' + (createdAt.getMonth()+1) + '/' + createdAt.getFullYear()
        }else if(days > 0){
          text = `Desde hace ${days} días` 
        }else if(hours > 0){
          text = `Desde hace ${hours} horas` 
        }else if(minutes > 0){
          text = `Desde hace ${minutes} minutos` 
        }else {
          text = `Desde hace ${seconds} segundos` 
        }

        return text
      }
      
    } 
  }

</script>
<style lang="scss" scoped>
@import "src/assets/sass/paper/_variables.scss";
.word-break{
    font-family:'Arial', sans-serif;
    width:200px;
    height:30px;
    -moz-height:20px;
    text-overflow:ellipsis;
    white-space:nowrap; 
    overflow:hidden;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1 s;
    transition: all 1s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
    
}
.dropdown[name="notify"] .dropdown-menu {
    opacity: 1;
    filter: alpha(opacity=100);
    max-height: none;
    max-width:none;
    overflow-y: scroll;
    color:transparent;
}
.dropdown[name="notify"]:hover .dropdown-menu:hover .dropdown-item:hover {
    .size-icon-one{
      animation-name:icon;
      -moz-animation-name: icon;
      -o-animation-name: icon;
      animation-duration:1s;
      -moz-animation-duration: 1s;
      -o-animation-duration:1s; 
    }
  .size-icon-two{
      animation-name:icon;
      -moz-animation-name: icon;
      -o-animation-name: icon;
      animation-duration:1s;
      -moz-animation-duration: 1s;
      -o-animation-duration:1s; 
    }
  .size-icon-three{
      animation-name:icon;
      -moz-animation-name: icon;
      -o-animation-name: icon;
      animation-duration:1s;
      -moz-animation-duration: 1s;
      -o-animation-duration:1s; 
    }
  .size-icon-four{
      animation-name:icon;
      -moz-animation-name: icon;
      -o-animation-name: icon;
      animation-duration:1s;
      -moz-animation-duration: 1s;
      -o-animation-duration:1s; 
    }
    .title-noti{
      cursor: pointer;
      
    }
    .word-break {
      width: auto;
      white-space: initial;
      overflow:visible;
      cursor: pointer;
    }
}
.dropdown-item:hover{
  cursor:pointer;
  .time-trans{
      color:rgba(0,0,0,0.5);
    }
}
.text-right{
    text-align:right;
    color:rgb(177, 177, 177);
    font-size:70%;
    padding-left:7rem;
  }
  .grid {
  display: grid;
  grid-template-columns: auto auto;
  
  }
  .grid-header {
  text-align:center;
  display: grid;
  grid-template-columns: auto ;
  border-bottom:1px solid rgba(48, 47, 47, 0.685);
  
  }
  .grid-item {
  background-color: transparent;
 
  }
  @media screen and (min-width:992px){
  .drop-item {
    background-color: transparent;
    width:100%;
    &:hover {
      font-weight: bolder;
      color:$primary-color;
      border-left:3px solid $primary-color;
      width:400%;
     }
    }
  }
  .title-noti{
    width: 203px;
    height: 30px;
    -moz-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    transition: all 500ms;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
  }
  //
  .dropdown[name="notify"] .dropdown-menu {
    opacity: 1;
    filter: alpha(opacity=100);
    max-height: 0px;
    overflow-y: scroll;
}
  //
  .size-icon-one{
    font-size:200%;
    padding-top:1rem;
    padding-left:0.7rem;
    padding-right:1rem;
    color:$new-green;
    &:hover{
      animation-name:icon;
      -moz-animation-name: icon;
      animation-duration:5s;
      -moz-animation-duration:5s;
     }
  }
  .size-icon-two{
    font-size:200%;
    padding-top:1rem;
    padding-left:0.7rem;
    padding-right:1rem;
    color:$info-color;
     
  }
  .size-icon-three{
    font-size:200%;
    padding-top:1rem;
    padding-left:0.7rem;
    padding-right:1rem;
    color:$danger-color;
     
  }
  .size-icon-four{
    font-size:200%;
    padding-top:1rem;
    padding-left:0.7rem;
    padding-right:1rem;
    color:$success-color;
     
  }
  .title-notify{
    color:#000;
    font-size:80%;
  }
  .time-trans{
    text-align:left;
    color:rgb(177, 177, 177);
    font-size:90%;
    
  }
  .bar-bottom{
    border-bottom:1px solid #ddd;
  }
  .dropdown.show .dropdown-menu, .dropdown-btn.show .dropdown-menu{
    max-height: 475px;
  }
@media screen and(max-width:991px){
  .dropdown[name='notify'] .dropdown-menu .dropdown-item {
    color: #3c3732;
    font-size: 14px;
    padding: 10px 276px 10px 14px;
    clear: both;
    white-space: nowrap;
    width: 0;
    display: block;
}
  .size-icon{
    padding-left:2rem;
  }
  .bar-bottom{
    border-bottom:1px solid #ddd;
  
  }
  .grid-left{
    padding-right:10%;
  }
  .drop-item {
    background-color: transparent;
    &:hover {
      font-weight: bolder;
      color:$primary-color;
      border-left:3px solid red;
    .el-icon-bell{
      color:$new-dark-blue;
    }
    
    }
    
  }
      
}
.space-text{
    padding-left:1.3rem;
  }
  .middle-text{
    padding-right:10%;
  }

@keyframes icon {
  0%{
    transform :scale(1.2) rotate(45deg);
    -ms-transform-origin-z: scale(1.2) rotate(45deg);
  }
  25%{
    transform :scale(1.2) rotate(-45deg);
    -ms-transform-origin-z: scale(1.2) rotate(-45deg);
  }
  75%{
    transform :scale(1.2) rotate(45deg);
    -ms-transform-origin-z: scale(1.2) rotate(45deg);
  }
  100%{
    transform :scale(1.2) rotate(0deg);
    -ms-transform-origin-z: scale(1.2) rotate(0deg);
  }
}
</style>
