<template>
  <div>
    <el-drawer
      title="Preguntas de Evaluación de Riesgo Residual"
      @opened="handleDrawOpen"
      @open="handleBeforeOpen"
      destroy-on-close
      :visible="showDrawer"
      @close="handleDrawClose"
      size="100%"
    >
      <div class="form-sections">
        <el-table
          v-loading="loading"
          element-loading-background="rgba(256, 256, 256, 0.9)"
          element-loading-text="obteniendo preguntas de la sección..."
          element-loading-spinner="el-icon-loading"
          class="questios-table"
          :data="questionsTable"
          header-row-class-name="text-primary"
        >
          <el-table-column
            type="index"
            class-name="th-contend "
          ></el-table-column>
          <el-table-column
            label="Pregunta"
            min-width="250"
            class-name="th-contend"
          >
            <template slot-scope="props">
              <textarea-autosize
                v-if="editIndex == props.$index && props.row.isCustomQuestion"
                class="input-form"
                :class="{ 'field-error': validation.title }"
                :min-height="10"
                :max-height="400"
                type="text"
                placeholder="Introduzca su pregunta aquí"
                v-model="props.row.title"
              >
              </textarea-autosize>
              <span v-else>{{ props.row.title }}</span>
            </template>
          </el-table-column>
          <el-table-column label="Peso" min-width="70" class-name="th-contend">
            <template slot-scope="props">
              <span v-if="editIndex !== props.$index">{{
                props.row.weight
              }}</span>
              <span v-else>
                <fg-input v-model="props.row.weight" type="number"> </fg-input>
              </span>
            </template>
          </el-table-column>
          <el-table-column
            class-name="action-buttons td-actions"
            align="right"
            width="100"
            label="Acciones"
            fixed="right"
          >
            <template slot-scope="props">
              <span v-if="editIndex !== props.$index">
                <p-button
                  v-if="props.row.isCustomQuestion"
                  type="danger"
                  class="btn-magnify mb-2"
                  size="sm"
                  :disabled="editIndex !== null"
                  @click="handleDelete(props.$index)"
                >
                  Borrar
                </p-button>
                <p-button
                  type="info"
                  class="btn-magnify"
                  size="sm"
                  :disabled="editIndex !== null"
                  @click="handleEdit(props)"
                >
                  Editar
                </p-button>
              </span>
              <span v-else>
                <p-button
                  type="danger"
                  class="btn-magnify mb-2"
                  size="sm"
                  outline
                  @click="handleCancel(props.$index)"
                >
                  Cancelar
                </p-button>
                <p-button
                  type="success"
                  class="btn-magnify"
                  size="sm"
                  @click="handleSave(props.$index)"
                >
                  Guardar
                </p-button>
              </span>
            </template>
          </el-table-column>
        </el-table>
        <div v-if="getValidationMsg()" class="text-error">
          {{ getValidationMsg() }}
        </div>
        <div class="col-sm-12 mt-2 text-right" v-if="btnadd">
          <p-button
            type="info"
            link
            v-show="!editIndex"
            @click="handleAdd()"
            class="text-left"
          >
            <i class="fa fa-plus"></i> Agregar Pregunta
          </p-button>
        </div>
        <div class="col-sm-12 mt-2 text-center">
          <div>
            Peso Total <span class="weight-ques">{{ totalWeight }}</span>
          </div>
          <p-button
            type="success"
            round
            style="margin-right: 20px"
            class="btn-next"
            :disabled="editIndex !== null || loading"
            @click="handleFinish"
          >
            Validar Datos y Guardar
          </p-button>
        </div>
      </div>
    </el-drawer>
  </div>
</template>

<script>
import Vue from "vue";
import { Drawer } from "element-ui";
import { Table, TableColumn, Col } from "element-ui";
import { mapState } from "vuex";
import {
  gralErrorMethods,
  gralMethods,
  gralErrorLog
} from "src/mixins/generalMethods";
import VueTextareaAutosize from "vue-textarea-autosize";

import * as R from "ramda";

Vue.use(Drawer);
Vue.use(VueTextareaAutosize);
Vue.use(Table);
Vue.use(TableColumn);

export default {
  data() {
    return {
      access_token: null,
      editIndex: null,
      originalData: null,
      loading: null,
      questionsTable: [],
      questionsToDelete: [],
      validation: {
        title: null
      },
      btnadd:true
    };
  },
  mixins: [gralErrorMethods, gralMethods, gralErrorLog],
  computed: {
    ...mapState("question", ["questions", "showDrawer"]),
    ...mapState("risk", ["subriskTable"]),
    totalWeight: function() {
      let totalWeight = null;
      this.questionsTable.map(question => {
        totalWeight += new Number(question.weight);
      });
      return totalWeight;
    },
    subriskResult: function() {
      let results = this.subriskTable.map(subrisk => {
        return {
          subrisk_id: subrisk._id,
          subriskTitle: subrisk.title,
          result: -1
        };
      });
      return results;
    }
  },
  props: {
    show: {
      type: Boolean,
      default: false
    }
  },
  created() {
    this.access_token = this.$cookies.get("token");
    this.$store.dispatch("risk/selectSubrisks", {
      access_token: this.access_token,
      moduleId: this.$route.path.split("/")[1]
    });
  },
  methods: {
    handleDrawOpen() {
      this.editIndex = null;
      this.resetValidations();
      this.btnadd = true
    },
    handleBeforeOpen() {
      this.questionsTable = [];
      this.questionsToDelete = [];
      this.questionsTable = R.clone(this.questions);
    },
    handleAdd() {
      let questionNumber = this.questionsTable.length + 1;
      this.questionsTable.push({
        questionNumber,
        title: null,
        weight: 1,
        organization_id: this.$store.state.auth.organizationId,
        moduleId: this.$route.path.split("/")[1],
        typeOf: "questionnaire1",
        isCustomQuestion: true,
        results: this.subriskResult
      });
      this.editIndex = this.questionsTable.length - 1;
      this.btnadd=false
    },
    handleDelete(index) {
      if (this.questionsTable[index].id) {
        this.questionsToDelete.push(this.questionsTable[index].id);
      }
      this.questionsTable.splice(index, 1);
      this.btnadd = true;
    },
    handleEdit(props) {
      this.originalData = R.clone(props.row);
      this.editIndex = props.$index;
      this.btnadd=false
    },
    handleCancel(index) {
      this.btnadd = true;
      this.resetValidations();
      this.editIndex = null;
      if (!this.originalData) {
        this.questionsTable.splice(index, 1);
        return;
      }
      this.questionsTable[index] = R.clone(this.originalData);
      this.originalData = null;
    },
    handleSave(index) {
      this.resetValidations();
      let questionToSave = this.questionsTable[index];
      if (!questionToSave.title) {
        this.validation.title = "Campo Pregunta es requerido";
        return;
      }
      this.originalData = null;
      this.editIndex = null;
      this.btnadd = true;
    },
    handleFinish() {
      let totalWeight = 0;
      this.questionsTable.map(question => {
        totalWeight += new Number(question.weight);
      });

      if (totalWeight !== 100) {
        this.showGenericError(
          "Validación",
          "La suma total de los pesos debe de ser igual a 100"
        );
        return;
      }
      this.updateQuestions();
    },
    async updateQuestions() {
      //get questionsToAdd && questionsToUpdate
      let questionsToAdd = null;
      questionsToAdd = this.questionsTable.filter(question => !question.id);

      let questionsToUpdate = [];
      this.questionsTable.map(question => {
        if (question.id) {
          question.result = -1;
          questionsToUpdate.push(question);
        }
      });
      try {
        let paramsApi = {
          access_token: this.access_token,
          questionsToAdd,
          questionsToUpdate,
          questionsToDelete: this.questionsToDelete
        };
        this.loading = true;
        let addResponse = await this.$store.dispatch(
          "question/updateQuestions",
          paramsApi
        );
        if (addResponse.status == 200) {
          this.$store.commit("question/SET_SHOW_DRAWER", false);
        }
      } catch (error) {
        this.notifyError(error);
        this.writteGenericError(
          "QuestionTable.vue",
          error,
          "Error update questions"
        );
      } finally {
        this.loading = false;
      }
    },
    handleDrawClose() {
      this.$emit("close");
    },
    // -> Custom validation
    resetValidations() {
      Object.keys(this.validation).map(element => {
        this.validation[element] = null;
      });
    },
    getValidationMsg() {
      let msg = null;
      Object.keys(this.validation).map(element => {
        if (this.validation[element]) {
          msg = this.validation[element];
          return;
        }
      });
      return msg;
    }
  }
};
</script>

<style lang="scss" scoped>
@import "src/assets/sass/paper/_variables.scss";
.weight-ques {
  font-size: 2.5em;
  color: $primary-color;
}
.input-form {
  width: 650px;
  min-width: 250px;
  font-size: 1.2em;
  width: 100%;
  outline: none;
  background: #fff;
  border: solid 1px #ddd;
  line-height: 1.5;
  padding: 5px;
  &:focus-within {
    border: solid 1px $primary-color;
    background: #fff;
    color: #000;
  }
  &::placeholder {
    color: $input-color-placeholder;
  }
}
.text-error {
  color: $danger-color;
  font-size: 0.8em;
  padding-left: 20px;
}
.field-error {
  border: 1px solid $danger-color;
}
</style>
