<template>
    <div >
        <el-select @change="emitChange"
                    class="select-default"
                    style="font-size:10px;"
                    v-model="area"
                    filterable
                    name="areas"
                    placeholder="Seleccione un dueño de proceso">        
            <el-option  v-for="myArea in areas"
                        style="overflow:auto; font-size:10px;"
                        class="select-default"
                        :value="myArea.value"
                        :label="myArea.name"
                        :key="myArea.name">
            </el-option>
        </el-select>
    </div>
</template>
<script>
import { Select, Option } from 'element-ui'
import { mapState } from 'vuex';

export default {
    name:"areaSelect",
    components:{
      [Select.name]: Select,
      [Option.name]: Option,
    },
    data(){
        return {
            area: '',
        }
    },
    props:{
        areaSelected:{
            type: String,
            default: ''
        },
        areaItem:{
            type:String,
            default:''
        }
    },
    created(){
        this.area = this.areaSelected == ' ' ? '' : this.areaSelected
    },
    computed:{
        ...mapState ('organization',['areas']),
        areaSelect(){
            let area = this.areas.find(area => area.name === this.area)
            return area ? area.name : 'Seleccione al dueño del proceso'
        }
    },
    methods:{
        emitChange(){
            // console.log(this.area)
            this.$emit("areaSelect", this.area)
        }
    },
    watch:{
        areaSelected(newValue, oldValue){
            this.area = this.areaSelected == ' ' ? '' : this.areaSelected
        }
    }
}
</script>
<style lang="scss" scoped>
.el-popper[x-placement^=bottom] {
    margin-top: 12px;
    width: 100%;
}
.el-select-dropdown {
    position: absolute;
    z-index: 1001;
    border: 1px solid #E4E7ED;
    border-radius: 4px;
    width: 100%;
    background-color: #FFF;
    -webkit-box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 5px 0;
}
</style>