<template>
    <div>
        <el-select @change="emitChange"
                    class="select-default font"
                    v-model="userId"
                    filterable
                    style="font-size:10px;"
                    name="member"
                    placeholder="Asigne a un miembro">        
            <template v-if="imageUser !== ''" slot="prefix"><img class="mt-2" width="20px" height="20px" :src="imageUser" /></template>
            <el-option v-for="member in members"
                        class="select-default"
                        style="font-size:10px;"
                        :value="member._id"
                        :label="member.name"
                        :key="member._id">
                <img width="20px" height="20px" :src="member.picture" alt="..."> <span style="padding:10px">{{member.name}}</span>
            </el-option>
        </el-select>
    </div>
</template>
<script>
import { Select, Option } from 'element-ui'
import { mapState } from 'vuex';

export default {
    name:"membersSelect",
    components:{
      [Select.name]: Select,
      [Option.name]: Option,
    },
    data(){
        return {
            userId: '',
        }
    },
    props:{
        memberSelected:{
            type: String,
            default:''
        },
        id_selected:{
            type:String,
            default:''
        }
    },
    created(){
        this.userId = this.memberSelected || ''         
    },
    computed:{
        ...mapState ('user',['members']),
        imageUser(){
            let member = this.members.find(member => member._id === this.userId)
            return member ? member.picture : ''
        },
        memberSelect(){
            let member = this.members.find(member => member._id === this.userId)
            return member ? member.name : 'Selecciona un miembro'
        }
    },
    methods:{
        emitChange(){
            // console.log("asgn select member"+this.userId)
            this.$emit("memberSelect", this.userId)
        }
    },
    watch:{
        memberSelected(newValue, oldValue){
            this.userId = this.memberSelected || ''
        }
    }
}
</script>
<style lang="scss" scoped>

.el-input__prefix {
    left: 5px;
    transition: all .3s;
    font-size: 10px;
}
</style>