<template>
  <div>
    <span @click.prevent.stop="">
      <drop-down tag="li" position="right" direction="none" class="nav-item btn-rotate dropdown">
        <a
          slot="title"
          slot-scope="{isOpen}"
          class="nav-link dropdown-toggle"
          data-toggle="dropdown"
          aria-haspopup="true"
          :aria-expanded="isOpen"
        >
          <i class="fa fa-ellipsis-v"></i>
          <p>
            <span class="d-lg-none d-md-block">Some Actions</span>
          </p>
        </a>
        <a
          v-for="(option, index) in optionsMenu"
          :key="index"
          class="dropdown-item"
          @click="handleClick(option.id)"
        >{{option.label}}</a>
      </drop-down>
    </span>
  </div>
</template>
<script>
import Dropdown from './Dropdown'
export default {
  name: 'three-dot-menu',
  components: {
    Dropdown
  },
  props: {
    optionsMenu: {
      type: Array,
      description: 'Array with the menu options',
      default: () => [{id,label}]
    },
    index:{
      type: [Object, String],
      description: 'id or index which triggers menu',
      default: ''
    }
  },
  methods: {
    handleClick(option){
      this.$emit('click',{ index: this.index, optionClicked: option } )
    }
  },
}
</script>
<style lang="scss" scoped>
@import "src/assets/sass/paper/_variables.scss";
.menu {
  top: -30px;
}
.nav-link {
  z-index: 100;
}
.dropdown-item:hover {
  color: #222;
}
.dropdown-toggle::after {
  content: none;
}
</style>