<template>
    <div>
        <drop-down tag="li"
                   position="right"
                   name="user"
                   direction="none"
                   class="nav-item dropdown" id="vue-tour-user">
                   
          <a slot="title"
             slot-scope="{isOpen}"
             class="nav-link dropdown-toggle "
             data-toggle="dropdown"
             aria-haspopup="true"
             :aria-expanded="isOpen"
             name="photo">
              <img class="user  " :src="myUser.picture" alt="..."    >
            <p>
              <span class="d-lg-none d-md-block space-text">Perfil de Usuario</span>
            </p>
          </a>
           <h5 class="dropdown-header bar-bottom">
            <div class="grid">       
              <div class="grid-item">        
                <img class="user " name="userimg" :src="myUser.picture" alt="..."    >
                <p class="grid-item word-break" name="user">{{myUser.name}}</p>
              </div>
            </div>
          </h5>   
          <a class="dropdown-item drop-item bar-bottom grid" v-on:click="editarperfil">
            <div class="grid-item">
              <i class="el-icon-s-custom size-icon-one"></i>
              <span class="sidebar-normal head grid-item">Mi Perfil</span>
            </div>     
          </a>
          <a class="dropdown-item drop-item bar-bottom grid" @click="goToOptions">
            <div class="grid-item">
              <i class="nc-icon nc-settings-gear-65 size-icon-one"></i>
              <span class="sidebar-normal head grid-item">Opciones</span>
            </div>  
          </a>
          <div @click="logout">
            <a class="dropdown-item drop-item bar-bottom grid" name="close" href="#">
              <div class="grid-item">
                <i class="fa fa-sign-out size-icon-one"></i>
                <p class="grid-item head"> Cerrar sesión
                  <span class="d-lg-none d-md-block"></span>
                </p>
              </div>
            </a>
          </div>    
        </drop-down>
    </div>
</template>
<script>
  import Vue from "vue";
  import { Badge } from 'element-ui'
  import { mapState } from 'vuex';
  import {gralErrorMethods} from 'src/mixins/generalMethods'
  import { Navbar, NavbarToggleButton } from 'src/components/UIComponents'
  import EditProfile from 'src/components/Dashboard/UserProfile/EditProfile.vue'
  import UserCard from 'src/components/Dashboard/UserProfile/UserCard.vue'
  import getUsers from 'src/api/user/user'
  
  Vue.use(Badge)

  export default {
    name: "useredit",
    components: {
        EditProfile,
        UserCard,
        Navbar,
        Badge
    },  
    mixins: [gralErrorMethods],
    data() {
      return {
        activeNotifications: false,
        access_token: '',
        organizationId: '',
        showNavbar: false,
        todayTask:'',
        name: '',
        picture:'',
        img_cmp:'',
      }
    },
    computed:{
      ...mapState ('user',['myUser'])
    },
    methods:{
      editarperfil(){
        this.$router.push({ name: "userProfile" })
      },
      goToOptions (){
        this.$router.push({name: "options"})
      },
      logout(){
        this.$store.dispatch("auth/logout")
        this.$router.push({ name: "exit" })
      }
    }
  }

</script>
<style lang="scss" scoped>
  @import "src/assets/sass/paper/_variables.scss";
  .word-break{
    position:relative;
    top:0.5rem;
    width:200px;
    height:20px;
    padding:20px;
    padding-top:8px;
    text-overflow:ellipsis;
    white-space:nowrap; 
    overflow:hidden;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
  /*.word-break{
  width:200px;
  height:20px;
  padding:20px;
  text-overflow:ellipsis;
  white-space:nowrap; 
  overflow:hidden; 
  }*/
  .text-right{
    text-align:right;
    color:rgb(177, 177, 177);
    font-size:70%;
    padding-left:6rem;
  }
  .grid {
    display: grid;
    grid-template-columns: auto auto;
  }
  .grid-header {
    text-align:center;
    display: grid;
    padding:0.2rem;
    grid-template-columns: auto ;
    border-bottom:1px solid rgba(48, 47, 47, 0.685);
  }
  .grid-item {
    background-color: transparent;
    color:#000;
    &:hover{
        color:#000;
    }
    &[name="user"]{
        font-size:0.7em;  
    } 
  }
  .drop-item {
    background-color: transparent;
    &:hover {
      font-weight: bolder;
      color:#000;
      border-left:3px solid $primary-color;
      .title-noti{
        font-weight:bolder;
        color:$new-dark-blue;
      } 
      .title-notify{
        color:#000;
      }
    }
  }
  .user {
    border: .15px $font-color-gray solid;
  } 
  .title-noti{
    font-weight:900;
  }
  .size-icon-one{
    font-size:150%;
    padding-top:1rem;
    padding-left:0.7rem;
    padding-right:1rem;
    color:$info-color;
  }

  .title-notify{
    color:#000;
    font-size:80%;
  }
  .time-trans{
    text-align:right;
    color:rgb(177, 177, 177);
    
  }
  .bar-bottom{
    border-bottom:1px solid #ddd;
  }
  @media screen and(max-width:991px){
    .size-icon{
      padding-left:2rem;
    }
    .navbar.navbar-transparent .nav-item .nav-link:not(.btn)[name="photo"] {
    color: black;
    width:100%;
    }
    .dropdown[name='notify'] .dropdown-menu .dropdown-item {
    color: #3c3732;
    font-size: 14px;
    padding: 10px 220px 10px 15px;
    clear: both;
    white-space: nowrap;
    width: 0;
    display: block;
    }
    .bar-bottom{
    border-bottom:1px solid #ddd;
    width:240px;
  }
  }
  .user{
    height:30px;
    width:30px;
    border-radius:50%;
    text-transform:capitalize;
    &[name="userimg"] {
        margin-left:3px;
    }
  }
  .head{
      font-size:0.7em;
  }
  .space-text{
    padding-left:1rem;
  }
  .navbar.navbar-transparent .nav-item .nav-link:not(.btn)[name="photo"] {
    color: black;
    width:139%;
}
</style>
