<template>
  <div class="card">
    <div class="card-header text-center">
      <slot name="header">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-category">{{description}}</p>
      </slot>
    </div>
    <div class="card-body">
      <doughnut :data="chartData"
                @onClickChart="onClickChart"
                      :labels="labels"
                      :height="250"
                      :secondary-color="secondaryColor"
                      :color="color">
      </doughnut>
    </div>
    <div class="card-footer">
      <slot name="footer"></slot>
    </div>
  </div>
</template>
<script>
  import Doughnut from '../Charts/DoughnutFull'

  export default {
    name: 'donut-chart',
    components: {
      Doughnut,
    },
    props: {
      data: {
      type: Array,
      description: 'Chart.js chart data (overrides all default data)',
        },
      color: {
        type: [String,Array],
        default: '#4acccd',
        description: 'Chart color'
      },
      secondaryColor: {
        type: [String,Array],
        default: '#f4f3ef',
        description: 'Secondayr color'
      },
      percentage:{
        type: Number,
        default: 0,
        description: 'Chart percentage'
      },
      percentarr:{
          type: Array,
          default:[]
      },
      title: {
        type: String,
        description: 'Chart card title'
      },
      description: {
        type: String,
        description: 'Chart card description'
      },
      labels: {
        type: Array,
        default: () => {
          return [1, 2, 3]
        },
        description: 'Labels for each chart section'
      }
    },
    computed: {
      chartData() {
        return this.percentarr
      }
    },
    methods:{
      onClickChart(value){
        this.$emit('onClickChart', value)
      }
    }
  }
</script>
<style>
</style>
