<template>
  <div class="card" @click="goToLink">
    <three-dot-menu  v-if="idQuestion" class="three-dot-menu" :optionsMenu="optionsMenu" :index="id" @click="handleMenu"></three-dot-menu>  
    <div class="card-header" name="head">
       <h5 id="sectionTitle">{{title1}}</h5>
    </div> 
    <div class="card-body">
      <div class="row" style="margin-bottom:20px;">
        <div class="col-sm-4">
          <fg-input v-if="idEditing && idEditing === idQuestion"
            placeholder="Introduzca nueva descripción"
            v-model="newCardDescription"
            v-click-outside="closeEdit"
          ></fg-input>
          <p v-else>{{description}}</p>
        </div>
        <div class="col-sm-4">
          <h6 class="position" name="cant">{{progressQues}} de {{totalQues}}</h6><br>
          <h6 class="position">Completados</h6>
        </div>
        <div class="col-sm-4" id="sectionChart">
          <doughnut-chart :data="chartData"
                      :labels="labels"
                      :height="120"
                      :secondary-color="secondaryColor"
                      :color="color"
                      :bottom="50">
          </doughnut-chart>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import DoughnutChart from '../Charts/DoughnutChart'
  import ThreeDotMenu from '../ThreeDotMenu'

  export default {
    name: 'section-chart-card',
    components: {
      DoughnutChart,
      ThreeDotMenu
    },
    
    props: {
      typeOf:{
        type: String
      },
      id:{
        type: String
      },
      totalQues:{
        type: Number,
        default: 0,
        description: 'Total questions'
      },
      progressQues:{
        type: Number,
        default: 0,
        description: 'Progress answered questions'
      },
      title1:{
        type: String, 
        default:'Editar'
        
      },
      visible:{
        type:Boolean
      },
      section:{
        type:Number
      },
      color: {
        type: String,
        default: '#0f5dac',
        description: 'Chart color'
      },
      secondaryColor: {
        type: String,
        default: '#009a9d',
        description: 'Secondary color'
      },
      title: {
        type: String,
        description: 'Chart card title'
      },
      description: {
        type: String,
        default: '',
        description: 'Chart card description'
      },
      labels: {
        type: Array,
        default: () => {
          return [1, 2]
        },
        description: 'Labels for each chart section'
      },
      optionsMenu: {
        type: Array,
        description: 'Three dot menu options'
      },
      idQuestion: {
        type: String,
        default: null,
        description: 'Question Id'
      },
      idEditing:{
        type: String,
        default: false,
        description: 'Id of Object to Edit'
      }

    },
    data(){
      return{
        newCardDescription: null
      }
    },
    methods:{
      goToLink(){
        if (this.idEditing) {
          return
        }
        this.$emit("click", this.typeOf)
      },
      setVisible(enter){
        this.$emit('change', enter, this.id, this.title1)
      },
      getFocus(){
        document.getElementById(this.id).focus()
      },
      handleMenu (obj ) {
        this.$emit('clickMenu', obj)
      },
      closeEdit(){
        this.$emit('closeEditMode', this.newCardDescription)
      }
    },
    computed: {
      chartData() {
        return [this.percentage, 100 - this.percentage]
      },
      percentage(){
        return Math.floor((this.progressQues*100)/this.totalQues)
      },
    },
    watch: {
      idEditing: function() {
        this.newCardDescription = this.description
      }    
    },
  }
</script>
<style lang="scss">

.card-header[name="head"]{
  width: 250px;
  margin:0px;
}
.position[name="cant"]{
  padding-left:70px;
}
.position{
  padding-left:40px;
}
.three-dot-menu{
  position: absolute;
  top: 10px;
  right: 10px;
}
</style>
