<template>
  <div class="wizard-container">
    <div class="card card-wizard active">
      <form @submit.prevent>
        <!--        You can switch " data-color="primary" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->
        <div class="card-header text-center">
          <slot name="header">
            <h3 class="card-title">{{ title }}</h3>
            <h3 class="description">{{ subTitle }}</h3>
          </slot>

          <div class="wizard-navigation">
            <ul class="nav nav-pills" role="tablist">
              <li
                v-for="(tab, index) in tabs"
                :key="tab.title"
                role="tab"
                :tabindex="tab.checked ? 0 : ''"
                :id="`step-${tab.tabId}`"
                :aria-controls="tab.tabId"
                :aria-disabled="tab.active"
                :aria-selected="tab.active"
                :ref="`tab-${index}`"
                class="nav-item wizard-tab-link"
                :style="linkWidth"
              >
                <a
                  class="nav-link"
                  @click="navigateToTab(index)"
                  :class="[
                    { 'disabled-wizard-link': !tab.checked },
                    { active: tab.active },
                    { checked: tab.checked }
                  ]"
                  data-toggle="tab"
                >
                  <tab-item-content :tab="tab"></tab-item-content>
                </a>
              </li>
            </ul>
            <div
              class="moving-tab"
              :class="{ 'error-link': activeTab.hasError }"
              v-if="activeTab"
              :style="movingTabStyles"
            >
              <tab-item-content
                :tab="activeTab"
                :moving-tab="true"
              ></tab-item-content>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="tab-content">
            <slot :activeIndex="activeTabIndex" :activeTab="activeTab"> </slot>
          </div>
        </div>

        <div class="card-footer" v-if="qasIsEmpty"></div>

        <div class="card-footer" v-else>
          <slot name="footer" :next-tab="nextTab" :prev-tab="prevTab">
            <div class="row">
              <div class="col-sm-3">
                <p-button
                  v-if="activeTabIndex > 0"
                  @click.native="prevTab"
                  type="info"
                  round
                  class="btn-magnify btn-footer"
                >
                  <i class="el-icon-arrow-left"></i>
                  {{ prevButtonText }}
                </p-button>
              </div>
              <div class="col-sm-6">
                <p-button
                  class="btn-footer"
                  @click.native="backup"
                  type="default"
                  link
                  ><i class="el-icon-s-order"></i> Guardar y continuar
                  después</p-button
                >
              </div>
              <div class="col-sm-3">
                <p-button
                  v-if="activeTabIndex < tabCount - 1"
                  @click.native="nextTab"
                  type="info"
                  round
                  class="btn-magnify btn-footer"
                >
                  {{ nextButtonText }}
                  <i class="el-icon-arrow-right"></i>
                </p-button>
                <p-button
                  v-else
                  wide
                  type="success"
                  @click.native="nextTab"
                  class="btn-footer"
                  >{{ finishButtonText }}</p-button
                >
              </div>
            </div>
          </slot>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
import { throttle } from "./throttle";
import { Tooltip } from "element-ui";
import {
  gralMethods,
  gralErrorMethods,
  gralErrorLog
} from "src/mixins/generalMethods.js";

export default {
  name: "simple-wizard",
  props: {
    startIndex: {
      type: Number,
      default: 0,
      description: "Wizard start index (activated tab to start with)"
    },
    title: {
      type: String,
      default: "Title",
      description: "Wizard title"
    },
    subTitle: {
      type: String,
      default: "Subtitle",
      description: "Wizard sub title"
    },
    prevButtonText: {
      type: String,
      default: "Anterior",
      description: "Previous button text"
    },
    nextButtonText: {
      type: String,
      default: "Siguiente",
      description: "Next button text"
    },
    finishButtonText: {
      type: String,
      default: "Terminar",
      description: "Finish button text"
    },
    saveButton: {
      type: String,
      default: "Guardar/Continuar Después",
      description: "Save data"
    },
    vertical: {
      type: Boolean,
      description: "Whether wizard tabs should be vertical"
    }
  },
  components: {
    [Tooltip.name]: Tooltip,
    TabItemContent: {
      props: ["tab", "movingTab"],
      render(h) {
        return h("span", [this.tab.$slots.label || this.tab.label]);
      }
    }
  },

  provide() {
    return {
      addTab: this.addTab,
      removeTab: this.removeTab
    };
  },
  data() {
    return {
      tabs: [],
      activeTabIndex: 0,
      tabLinkWidth: `${100}px`,
      tabLinkHeight: 50,
      moduleId: this.$route.path.split("/")[1]
    };
  },
  mixins: [gralMethods, gralErrorMethods, gralErrorLog],
  computed: {
    qasIsEmpty() {
      return this.$store.getters["question/isEmpty"];
    },
    tabCount() {
      return this.tabs.length;
    },
    linkWidth() {
      let width = 100;
      if (this.tabCount > 0) {
        width = 100 / this.tabCount;
      }
      if (this.vertical) {
        width = 100;
      }
      return { width: `${width}%` };
    },
    activeTab() {
      return this.tabs[this.activeTabIndex];
    },
    movingTabStyles(Boolean) {
      let translateXValue =
        (this.activeTabIndex * (100 * this.tabs.length)) / this.tabs.length;
      let translateYValue = 0;

      if (this.vertical) {
        translateYValue = this.tabLinkHeight * this.activeTabIndex;
        translateXValue = 0;
      }
      let styles = {
        transform: `translate3d(${translateXValue}%, ${translateYValue}px, 0px)`
      };
      if (this.tabLinkWidth !== 0) {
        styles.width = `${100 / this.tabs.length}%`;
      }

      return styles;
    }
  },
  methods: {
    addTab(tab) {
      const index = this.$slots.default.indexOf(tab.$vnode);
      let tabTitle = tab.title || "";
      tab.tabId = `${tabTitle.replace(/ /g, "")}${index}`;
      if (!this.activeTab && index === 0) {
        tab.active = true;
        tab.checked = true;
      }
      if (this.activeTab === tab.name) {
        tab.active = true;
        tab.checked = true;
      }
      this.tabs.splice(index, 0, tab);
    },
    backup() {
      this.$emit("onSave");
    },
    removeTab(tab) {
      const tabs = this.tabs;
      const index = tabs.indexOf(tab);
      if (index > -1) {
        tabs.splice(index, 1);
      }
    },
    validate(tab) {
      let tabToValidate = tab || this.activeTab;
      let beforeChange = tabToValidate.beforeChange;
      if (beforeChange) {
        return Promise.resolve(beforeChange())
          .then(res => {
            this.activeTab.hasError = res ? false : true;
            return res;
          })
          .catch(() => {
            this.activeTab.hasError = true;
          });
      } else {
        return Promise.resolve(true);
      }
    },
    async nextTab() {
      let isValid = await this.validate();
      if (isValid && this.activeTabIndex < this.tabCount - 1) {
        this.activeTabIndex++;
      } else if (isValid) {
        this.$router.push({
          name: this._getNameRoute("graphqas", this.moduleId)
        });
      }
      return isValid;
    },
    prevTab() {
      this.activeTabIndex--;
    },
    async navigateToTab(index) {
      if (this.tabs[index].checked) {
        // recursively validate each tab
        if (index > this.activeTabIndex) {
          let valid = await this.nextTab();
          if (valid) {
            this.navigateToTab(index);
          }
        } else {
          this.activeTabIndex = index;
        }
      }
    },
    onResize() {
      let tabLinks = document.getElementsByClassName("wizard-tab-link");
      if (tabLinks.length > 0 && this.tabCount > 0) {
        let { clientWidth, clientHeight } = tabLinks[0];
        this.tabLinkWidth = clientWidth;
        this.tabLinkHeight = clientHeight;
      }
    }
  },
  mounted() {
    this.activeTabIndex = this.startIndex;
    if (this.tabs.length != 0) {
      {
        this.$nextTick(() => {
          this.tabs[this.activeTabIndex].active = true;
          this.tabs[this.activeTabIndex].checked = true;
          this.onResize();
        });
      }
    }
    window.addEventListener(
      "resize",
      () => {
        throttle(this.onResize, 40);
      },
      false
    );
  },
  watch: {
    activeTabIndex(newValue, oldValue) {
      if (newValue !== oldValue) {
        let oldTab = this.tabs[oldValue];
        let newTab = this.tabs[newValue];
        oldTab.active = false;
        newTab.active = true;

        if (!newTab.checked) {
          newTab.checked = true;
        }
        this.$emit("tab-change", oldTab, newTab);
        this.$emit("update:startIndex", newValue);
      }
    }
  }
};
</script>
<style scoped lang="scss">
/* Tab content animation */
.tab-content {
  display: flex; // to avoid horizontal scroll when animating
  .tab-pane {
    display: block;
    animation: fadeIn 0.5s;
    width: 100%;
  }
}
.card .card-footer .btn-footer {
  margin-top: 0px;
  margin-bottom: 5px;
}
/**
    Extra niceties. Display error tabs and disable navigation unvisited tabs
   */
.wizard-navigation .nav-link {
  &.active,
  &.checked {
    cursor: pointer;
  }
}

.disabled-wizard-link {
  cursor: not-allowed;
}
</style>
