<template>
  <div>
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-12">
            <h3 class="card-title">Calificación Riesgo Residual</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 text-center">
          </div>
          <div class="col-sm-4 text-center">
            <p-button name="evaluar" type="default" @click="resetResidualLevel" link v-if="this.moduleId!='continuidad'">
              <i class="nc-icon nc-refresh-69" ></i> Volver a Evaluar
            </p-button>
                 <p-button name="evaluar" type="default" @click="resetResidualLevel" link v-else-if="this.moduleId=='continuidad' && $store.state.organization.premium.vigenciaContinuidad">
              <i class="nc-icon nc-refresh-69" ></i> Volver a Evaluar
            </p-button>
            <p-button name="evaluar" type="default" @click="invitacion" link v-else>
              <i class="nc-icon nc-refresh-69" ></i> Volver a Evaluar
            </p-button>
          </div>
          <div class="col-sm-4 text-center">
            <p-button name="evaluar" type="default" class="btn btn-round btn-info noHover" @click="goToLink" link>
              Continuar a Evaluar tus controles  <i class="fa fa-arrow-right" ></i> 
            </p-button>

               <!-- <p-button name="cuestionario" type="default" @click="goToLink" class="btn-magnify" size="mid" style=" width:90%; background-color:primary !important;">
                <i class="fa fa-file-text-o" aria-hidden="true"></i> Cuestionario
            </p-button> -->
          </div>
        </div>
        <hr />
        <div class="row text-center">
          <div class="col-sm-1"></div>
          <div class="col-sm-3 legend-field" v-for="(card, index) in residualCatalog" :key="index">
            <i class="fa fa-circle" :style="'color:'+card.color"> {{ card.label}} Riesgo</i>
            {{card.value}}% - {{card.valueMax}}% <br>
            <span :style="'color:#9A9A9A; font-weight: bold'">{{labelMessage[index].value}}</span>
          </div>
          <div class="col-sm-1"></div>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-lg-3 col-md-4 col-sm-4" v-for="(label,index) in graphGral" :key="index">
        <div class="card"><br>
          <read-more more-str="...ver mas" :text="graphGral[index].title" class="link" link="#" less-str="...ver menos"  :max-chars="20"></read-more>
          <div v-if="graphGral[index].Datos[0]>0">
          <donut-chart
              :options="options"
              :color="graphGral[index].Color"
              :percentarr="graphGral[index].Datos"
          ></donut-chart>
          </div>
          <div else>
            <donut-chart v-if="graphGral[index].Datos[0]===0"
              :options="options"
              color="#FF0000"
              :percentarr="graphGral[index].Datos"
          ></donut-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import ChartCard from "src/components/UIComponents/Cards/ChartCard";
import Vue from "vue";
import DonutChart from "src/components/UIComponents/Cards/DonutChart.vue";
import { Badge } from "src/components/UIComponents";
import { Card } from "src/components/UIComponents";
import SectionChartCard from "src/components/UIComponents/Cards/SectionChartCard.vue";
import { mapGetters, mapState } from "vuex";
import ReadMore from "vue-read-more";
import {
  gralMethods,
  gralErrorMethods,
  gralErrorLog
} from "src/mixins/generalMethods.js";
import apiQas from "src/api/question/question.js";
import ChartDataLabels from "chartjs-plugin-datalabels";
import { color } from "d3";
import swal from "sweetalert2";
Chart.plugins.unregister(ChartDataLabels);
Vue.use(ReadMore);
export default {
  components: {
    ChartCard,
    Card,
    Badge,
    SectionChartCard,
    DonutChart
  },
  mixins: [gralMethods, gralErrorMethods, gralErrorLog],
  /**
   * Chart data used to render stats, charts. Should be replaced with server data
   */
  data() {
    return {
      access_token: "",
      moduleId: "",

      organizationId: "",
      colorsData: [],
      options: {
        responsive: true,
        maintainAspectRatio: true,
        animation: {
          animateRotate: false
        }
      },
      labelMessage: [
        {
          value: "Bajos controles"
        },
        {
          value: "De bajo a medio control"
        },
        {
          value: "Controles razonables por mejorar"
        }
      ]
    };
  },
  created() {
    // get organization id
    this.organizationId = this.$store.state.auth.organizationId;
    // get the module from url
    this.moduleId = this.$route.path.split("/")[1];
    // get session token
    this.access_token = this.$cookies.get("token");
  },
  methods: {
    goToLink() {
      this.$router.push({
        name: this._getNameRoute("secteval", this.$route.path.split("/")[1])
      });
    },
    gotoControles() {
      this.$router.push({
        name: this._getNameRoute("secteval", this.$route.path.split("/")[1])
      });
    },

    getColorGraph() {
      const colors = this.getColorLevelGraf.map(label => {
        let colorInCatalog = this.residualCatalog.find(
          color => color.label === label
        );

        if (colorInCatalog !== undefined) {
          return colorInCatalog.color;
        } else {
          return "fff";
        }
      });
      return colors;
    },
    getData(index) {
      var value = this.getDataGraph.series[index];
      var complement = 100 - value;
      return [value, complement];
    },
    getTitle(index) {
      return this.getDataGraph.labels[index];
    },
    getLabels(index) {
      return [this.getTitle(index)];
    },
    getColor(index) {
      const colors = this.getColorLevelGraf.map(label => {
        let colorInCatalog = this.residualCatalog.find(
          color => color.label === label
        );

        if (colorInCatalog !== undefined) {
          return colorInCatalog.color;
        } else {
          return "fff";
        }
      });
      return [colors[index], "#f0f0f0"];
    },
    async resetResidualLevel() {
      try {
        let paramsReset = {
          access_token: this.access_token,
          typeOf: "questionnaire1"
        };
        let subrisks = this.subriskTable.map(subrisk => {
          let sub = {};
          sub.subrisk_id = subrisk._id;
          sub.levelResidualAvg = { label: "No definido", value: -1 };

          return sub;
        });
        paramsReset.subrisks = subrisks;
        await apiQas.resetResponses(paramsReset);
        await this.$store.dispatch("risk/setResidualLevels", paramsReset);
        this.$router.push({ name: this._getNameRoute("ques", this.moduleId) });
      } catch (error) {
        this.notifyError(error);
        this.writteGenericError(
          "GraphQas.vue",
          error,
          "Error al cargar Niveles Residuales, setResidualLevels"
        );
      }
    },
    invitacion() {
      swal({
        title: "Módulo con Vigencia expirada",
        html:
          "Esta opción está desactivada, debido a que ha expirado la vigencia de este módulo.",
        allowEscapeKey: false,
        allowOutsideClick: false,
        type: "warning",
        showCancelButton: false,
        confirmButtonClass: "btn btn-warning btn-fill",
        confirmButtonText: "OK"
      });
    }
  },
  computed: {
    ...mapGetters("risk", [
      "getDataGraph",
      "getLabelsGraph",
      "getColorLevelGraf",
      "isQuesFinished"
    ]),
    ...mapState("organization", ["residualCatalog", "premium"]),
    ...mapState("question", ["questions"]),
    ...mapState("risk", ["subriskTable"]),
    ...mapState("user", ["myUser"]),
    graphGral() {
      let graphValues = [];
      let count = 0;
      this.getLabelsGraph.map(item => {
        item.Color = this.getColor(count);
        item.Datos = this.getData(count);
        item.Labels = this.getLabels(count);
        item.index = item.Datos[0];
        graphValues.push(item);
        count++;
      });
      graphValues.sort(function(a, b) {
        var titlea = a.index;
        var titleb = b.index;
        return titlea - titleb;
      });
      return graphValues;
    }
  }
};
</script>

<style lang="scss" scoped>
@import "src/assets/sass/paper/_variables.scss";
.titleLabel {
  text-transform: lowercase;
}
.titleLabel::first-letter {
  text-transform: uppercase;
}

.columnaCode {
  font-size: 15px;
}
.code {
  font-style: italic;
  font-weight: bold;
}
.colorModule {
  font-style: italic;
  font-weight: bold;
}
.trybutton {
  width: 200px;
  height: 50px;
  margin: 0 auto;
  background: white;
  border: 5px solid;
  border-radius: 10px;
  font: bold 15px Helvetica, Sans-Serif;
  text-transform: uppercase;
}
.title-chart {
  text-transform: uppercase;
  font-weight: bold;
}
.title-leyenda {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  color: rgb(25, 171, 219);
}
.lista-leyenda {
  column-count: 3;
  list-style: none;
  text-transform: capitalize;
  font-weight: bold;
  color: rgb(25, 171, 219);
}
.legend-field {
  font-size: $font-size-blockquote;
}
.fa-circle {
  font-weight: 700;
}
.card-title {
  padding: 25px;
  height: 30px;
  background: transparent;
  border-radius: $border-radius-extreme;
}
.card[data-v-b306bcfe] {
  box-shadow: none;
}
.btn-link[name="evaluar"] {
  border: 0;
  margin: 2rem 0.7rem;
  background-color: transparent;
}
</style>
