<template>
  <div>
    <div class="row d-flex justify-content-center">
      <div class="col-md-10 mr-auto ml-auto text-center">
        <question-table @close="handleCloseDrawer()"></question-table>
        <template v-if="isEmpty">
          <p-button
            type="info"
            id="quesCard"
            link
            @click="handleAddQuestion()"
            class="text-center"
          >
            <i class="fa fa-edit"></i> Editar Preguntas
          </p-button>
          <h5 style="padding:75px;">
            <i class="el-icon-warning length"></i>
            <br />
            <h6 style="color:rgb(179,179,179); font-size:100%;">
              {{ msgEmptyQas }}
            </h6>
          </h5>
        </template>
        <wizard
          v-else
          @onSave="saveResults"
          v-loading="loading"
          element-loading-background="rgba(256, 256, 256, 0.9)"
          element-loading-text="cargando cuestionario..."
          element-loading-spinner="el-icon-loading"
        >
          <template slot="header">
            <p-button
              type="info"
              id="quesCard"
              link
              @click="handleAddQuestion()"
              class="text-left"
            >
              <i class="fa fa-edit"></i> Editar Preguntas
            </p-button>
          </template>

          <template v-if="isEmpty">
            <h5 style="padding:75px;">
              <i class="el-icon-warning length"></i>
              <br />
              <h6 style="color:rgb(179,179,179); font-size:100%;">
                {{ msgEmptyQas }}
              </h6>
            </h5>
          </template>
          <wizard-tab
            v-for="(tab, index) in questions"
            :key="tab.id"
            :before-change="() => validateStep(index, tab.id)"
          >
            <template slot="label">
              <i class="nc-icon nc-single-02 center" name="icon"> </i><br />
              <span
                class="size"
                data-desktoptext="Pregunta"
                data-tablettext="Preg."
                data-phonetext="P"
                ><br />
                {{ index + 1 }}</span
              >
            </template>

            <first-step
              v-if="index < questions.length - 1"
              :nombre1="tab.title"
              :tabIndex="index"
              ref="element"
              @on-validated="onStepValidated"
            >
            </first-step>
            <first-step
              v-else
              ref="element"
              :nombre1="tab.title"
              :tabIndex="index"
              @on-validated="wizardComplete"
            >
            </first-step>
          </wizard-tab>
        </wizard>
      </div>
    </div>
  </div>
</template>
<script>
import FirstStep from "./Wizard/FirstStep.vue";
import swal from "sweetalert2";
import QuestionTable from "@/components/UIComponents/QuestionTable";
import { Wizard, WizardTab } from "src/components/UIComponents";
import {
  gralMethods,
  gralErrorMethods,
  gralErrorLog
} from "src/mixins/generalMethods.js";
import { mapState, mapGetters, mapMutations } from "vuex";

export default {
  name: "ques",
  data() {
    return {
      wizardModel: {},
      n: 0,
      access_token: "",
      moduleId: "",
      organizationId: "",
      loading: true,
      msgEmpQas: "",
      preg: [1, 2, 3, 4, 5, 6, 7, 8, 9]
    };
  },
  components: {
    FirstStep,
    Wizard,
    WizardTab,
    swal,
    QuestionTable
  },
  mixins: [gralMethods, gralErrorMethods, gralErrorLog],
  computed: {
    ...mapState("question", ["questions", "isEmpty"]),
    ...mapState("risk", ["subriskTable"]),
    ...mapGetters("risk", ["isQuesFinished"]),
    msgEmptyQas() {
      return this.msgEmpQas;
    }
  },
  created() {
    // get organization id
    this.organizationId = this.$store.state.auth.organizationId;
    // get the module from url
    this.moduleId = this.$route.path.split("/")[1];
    // get session token
    this.access_token = this.$cookies.get("token");
    this.loadInfo();
  },
  methods: {
    loadInfo() {
      this.$store
        .dispatch("risk/selectSubrisks", {
          access_token: this.access_token,
          moduleId: this.moduleId
        })
        .then(x => {
          // change numeric value for label
          this.$store.dispatch("risk/updateLabelInSubrisks").then(() => {
            this.$store
              .dispatch("organization/selectUmbrals", {
                access_token: this.$cookies.get("token"),
                moduleId: this.moduleId
              })
              .then(() => {
                if (this.isQuesFinished) {
                  this.$router.push({
                    name: this._getNameRoute("graphqas", this.moduleId)
                  });
                } else {
                  this.retriveQuestions();
                }
              })
              .catch(error => {
                this.notifyError(error, "Error al cargar Umbrales");
                this.writteGenericError(
                  "GraphQas.vue",
                  error,
                  "Error al cargar Umbrales"
                );
              });
          });
        })
        .catch(error => {
          this.notifyError(error);
          this.writteGenericError(
            "GraphQas.vue",
            error,
            "Error selectSubrisk "
          );
        });
    },
    handleAddQuestion() {
      this.$store.commit("question/SET_SHOW_DRAWER", true);
    },
    handleCloseDrawer() {
      this.loading = true;
      this.$store.commit("question/SET_SHOW_DRAWER", false);
      this.loadInfo();
    },
    retriveQuestions() {
      let paramsApi = {
        access_token: this.access_token,
        moduleId: this.moduleId,
        organizationId: this.organizationId
      };

      this.$store
        .dispatch("question/questions", paramsApi)
        .then(() => {
          if (this.questions.length == 0) {
            this.msgEmpQas =
              "Ooops, parece que no tienes configurada ninguna pregunta !!!";
            this.$store.dispatch("question/setEmpty", true);
          } else {
            this.$store.dispatch("question/setEmpty", false);
            if (this.subriskTable.length < 1) {
              this.msgEmpQas =
                "Ooops, parece que no tienes configurado ningún subriesgo!!!";
              this.$store.dispatch("question/setEmpty", true);
            } else {
              this.$store.dispatch("question/setEmpty", false);
            }
          }
          this.loading = false;
        })
        .catch(error => {
          if (error.message == "Network Error") {
            this.msgEmpQas =
              "Ooops, parece que no fue posible acceder a la encuesta";
            this.loading = false;
            this.$store.dispatch("question/setEmpty", true);
          }
          this.notifyError(
            error,
            "El servidor no esta disponible, intente más tarde"
          );
          this.writteGenericError("Ques.vue", error, "Error en red");
        });
    },

    validateStep(index, id) {
      return this.$refs.element[index].validate(id);
    },

    wizardComplete(id, model) {
      let paramsApi = {
        access_token: this.access_token
      };

      this.$store
        .dispatch("question/calculateTotalsAndSave", paramsApi)
        .then()
        .catch(error => {
          this.notifyError(
            error,
            "La encuesta no pudo guardarse, intente más tarde"
          );
          this.writteGenericError(
            "Ques.vue",
            error,
            "Error calculateTotalsAndSave"
          );
        });
    },

    saveResults() {
      let paramsApi = {
        access_token: this.access_token
      };

      this.$store
        .dispatch("question/saveProgress", paramsApi)
        .then(response => {
          if (response.status === 200) {
            this.showGenericSuccess(
              "Se ha guardado tu progreso con éxito",
              "Puedes continuar la encuesta en cualquier momento"
            );
          }
        })
        .catch(error => {
          this.notifyError(
            error,
            "La encuesta no pudo guardarse, intente mas tarde"
          );
          this.writteGenericError("Ques.vue", error, "Error saveProgress");
        });
    },

    onStepValidated(id, model) {
      this.wizardModel = { ...this.wizardModel, ...model };
    }
  }
};
</script>
<style lang="scss"></style>
