<template>
  <div >  
    <div v-loading="loading"
      element-loading-background="rgba(256, 256, 256, 0.9)" 
      element-loading-text="cargando secciones..."
      element-loading-spinner="el-icon-loading">
      <!-- <div v-if="this.moduleId!=='anticorruption'">
      <el-page-header style="padding-bottom:20px;" @back="goBackPenal" title="Ir a Configuración de Parámetros" content="Cuestionarios">
      </el-page-header>
      </div> -->
      <div class="text-center" v-if="0 !== sectionsWithQuestions.length">
        <div v-if="this.moduleId!='continuidad'">
          <section-chart-card 
          class="cardSection"
          v-for="(card,index) in sectionsWithQuestions" 
          :key="index" 
          :section="index+1"
          :typeOf="card.questions.typeOf"
          :title1="card.questions.title"
          :description="card.questions.description"
          :id="index + ''"
          :idQuestion="card.questions._id"
          :totalQues="card.questions.total"
          :progressQues="card.questions.progress"
          :optionsMenu="optionsMenu"
          :idEditing="idEditing"
          @closeEditMode="closeEditMode"
          @click="goToLink"
          @clickMenu="handleClickOnMenu"/>
        </div>
        <div v-else-if="this.moduleId=='continuidad' && $store.state.organization.premium.vigenciaContinuidad">
       <section-chart-card 
          class="cardSection"
          v-for="(card,index) in sectionsWithQuestions" 
          :key="index" 
          :section="index+1"
          :typeOf="card.questions.typeOf"
          :title1="card.questions.title"
          :description="card.questions.description"
          :id="index + ''"
          :idQuestion="card.questions._id"
          :totalQues="card.questions.total"
          :progressQues="card.questions.progress"
          :optionsMenu="optionsMenu"
          :idEditing="idEditing"
          @closeEditMode="closeEditMode"
          @click="goToLink"
          @clickMenu="handleClickOnMenu"/>
        </div>
         <div v-else>
       <section-chart-card 
          class="cardSection"
          v-for="(card,index) in sectionsWithQuestions" 
          :key="index" 
          :section="index+1"
          :typeOf="card.questions.typeOf"
          :title1="card.questions.title"
          :description="card.questions.description"
          :id="index + ''"
          :idQuestion="card.questions._id"
          :totalQues="card.questions.total"
          :progressQues="card.questions.progress"
          :optionsMenu="optionsMenu"
          :idEditing="idEditing"
          @closeEditMode="closeEditMode"
          @click="invitacion"
          @clickMenu="invitacion"/>
        </div>
      </div>
      <div class="text-center" v-else>
        <i class="el-icon-warning length" style="font-size:50px"></i>  
        <h3>Ooops, parece que no tienes configurada ninguna seccion de evaluación</h3>
      </div>
      <div class="text-center">
        <div v-if=" this.$route.path.split('/')[1] !== 'autoevaluation' && this.moduleId!='continuidad'"  class="card add" @click="handleDrawer()">
          <div class="card-header add"> <i class="fa fa-plus"></i></div>
          <div class="card-body">
            Agregar Nueva Sección
          </div>
        </div>
        <div v-else-if="this.moduleId=='continuidad' && $store.state.organization.premium.vigenciaContinuidad"  class="card add" @click="handleDrawer()">
          <div class="card-header add"> <i class="fa fa-plus"></i></div>
          <div class="card-body">
            Agregar Nueva Sección
          </div>
        </div>
        <div v-else class="card add" @click="invitacion()">
          <div class="card-header add"> <i class="fa fa-plus"></i></div>
          <div class="card-body">
            Agregar Nueva Sección
          </div>
        </div>
        <edit-section 
          :data="dataDrawer" 
          :operation="operation" 
          :show.sync="showDrawerSeccion" 
          @close="showDrawerSeccion=false">
        </edit-section>
      </div>
    </div>
  </div>
  
</template>

<script>
import ChartCard from "src/components/UIComponents/Cards/ChartCard";
import { Badge } from "src/components/UIComponents";
import { Card } from "src/components/UIComponents";
import SectionChartCard from "src/components/UIComponents/Cards/SectionChartCard.vue";
import EditSection from "src/components/Dashboard/Anticorruption/EditSection.vue";
import apiSectInfo from "src/api/organization/umbralSectInfo";
import {
  gralErrorMethods,
  gralMethods,
  gralErrorLog
} from "src/mixins/generalMethods";
import { Col, Switch } from "element-ui";
import { mapState, mapGetters } from "vuex";
import ChartDataLabels from "chartjs-plugin-datalabels";
import swal from "sweetalert2";
Chart.plugins.unregister(ChartDataLabels);

export default {
  mixins: [gralErrorMethods, gralMethods, gralErrorLog],
  components: {
    ChartCard,
    Card,
    Badge,
    SectionChartCard,
    EditSection
  },
  /**
   * Chart data used to render stats, charts. Should be replaced with server data
   */
  data() {
    return {
      organizationId: "",
      access_token: "",
      moduleId: "",
      subTypeOf: "",
      loading: true,
      showDrawerSeccion: false,
      operation: null,
      idEditing: null,
      dataDrawer: null,
      optionsMenu: [
        { id: "edit", label: "Editar Preguntas" },
        { id: "editName", label: "Editar Descripción" },
        { id: "delete", label: "Borrar" }
      ]
    };
  },
  created() {
    this.organizationId = this.$store.state.auth.organizationId;
    this.access_token = this.$cookies.get("token");
    switch (this.$route.path.split("/")[1]) {
      case "autoevaluation":
        this.moduleId = this.$route.path.split("/")[2];
        this.subTypeOf = "diagnostic";
        break;
      default:
        this.moduleId = this.$route.path.split("/")[1];
        this.subTypeOf = "section";
        break;
    }
    this.getSelects();
  },
  computed: {
    ...mapGetters("sections", ["sectionsWithQuestions"])
  },
  methods: {
    handleDrawer() {
      this.showDrawerSeccion = true;
      this.operation = "add";
    },
    async closeEditMode(newDescription) {
      let paramsApi = {
        access_token: this.access_token,
        id: this.idEditing,
        questions: {
          description: newDescription
        }
      };
      try {
        let res = await this.$store.dispatch(
          "sections/updateInfoProgressSections",
          paramsApi
        );
      } catch (error) {
        this.notifyError(error, "Ha ocurrido un problema en el servidor");
        this.writteGenericError(
          "SectEval.vue",
          error,
          "Error en handleClickOnMenu"
        );
      } finally {
        this.idEditing = null;
      }
    },
    async handleClickOnMenu(item) {
      switch (item.optionClicked) {
        case "edit":
          this.showDrawerSeccion = true;
          this.operation = "update";
          this.dataDrawer = this.sectionsWithQuestions[item.index].questions;

          break;
        case "editName":
          this.idEditing = this.sectionsWithQuestions[item.index].questions._id;
          break;
        case "delete":
          let resMsgDelete = await this.showDeleteMsg();
          if (!resMsgDelete) {
            return;
          }
          let id = this.sectionsWithQuestions[item.index].questions._id;
          let paramsApi = {
            id,
            access_token: this.access_token
          };
          try {
            this.loading = true;
            let res = await this.$store.dispatch(
              "sections/deleteSection",
              paramsApi
            );
            if (res.status !== 200) {
              this.notifyError(
                error,
                "No fue posible borrar la sección. Intentelo de nuevo"
              );
              this.writteGenericError(
                "SectEval.vue",
                error,
                "Error al borrar sección, handleClickOnMenu"
              );
            }
          } catch (error) {
            this.notifyError(error, "Ha ocurrido un problema en el servidor");
            this.writteGenericError(
              "SectEval.vue",
              error,
              "Error en handleClickOnMenu"
            );
          } finally {
            this.loading = false;
          }
          break;
        default:
          break;
      }
    },
    getSelects() {
      let paramsApi = {
        access_token: this.access_token,
        moduleId: this.moduleId,
        subTypeOf: this.subTypeOf
      };
      this.$store
        .dispatch("sections/getSectionsProgressInfo", paramsApi)
        .then(() => {
          this.loading = false;
        })
        .catch(error => {
          this.notifyError(
            error,
            "Ha ocurrido un problema, intentelo mas tarde"
          );
          this.loading = false;
          this.writteGenericError(
            "SectEval.vue",
            error,
            "Error al cargar secciones, getSectionsProgressInfo"
          );
        });
    },
    goToLink(myTypeOf) {
      switch (this.subTypeOf) {
        case "section":
          this.$router.push({
            name: this._getNameRoute("quizRisk", this.moduleId)
          });
          localStorage.setItem("quizTypeOf", myTypeOf);
          break;
        case "diagnostic":
          this.$router.push({
            name: this._getNameRoute("quiz", this.moduleId)
          });
          localStorage.setItem("quizTypeOf", myTypeOf);
          break;
      }
    },
    goBackPenal() {
      this.$router.push({
        name: this._getNameRoute("matrix", this.$route.path.split("/")[1])
      });
    },
    showDeleteMsg() {
      return swal({
        title: "¿Estás seguro?",
        text: "Esta acción no puede deshacerse",
        type: "warning",
        showCancelButton: true,
        confirmButtonClass: "btn btn-success btn-fill",
        cancelButtonClass: "btn btn-danger btn-fill",
        confirmButtonText: "Sí, Eliminar",
        cancelButtonText: "Cancelar",
        buttonsStyling: false
      })
        .then(response => (response ? response : false))
        .catch(error => (error ? console.log(error) : false));
    },
    invitacion() {
      swal({
        title: "Módulo con Vigencia expirada",
        html:
          "Esta opción está desactivada, debido a que ha expirado la vigencia de este módulo.",
        allowEscapeKey: false,
        allowOutsideClick: false,
        type: "warning",
        showCancelButton: false,
        confirmButtonClass: "btn btn-warning btn-fill",
        confirmButtonText: "OK"
      });
    }
  }
};
</script>

<style lang="scss" scoped>
@import "src/assets/sass/paper/_variables.scss";
.cardSection:hover {
  background: $hover-color;
  cursor: hand;
  cursor: pointer;
}
.card.add {
  color: $primary-color;
  height: 150px;

  .card-header.add {
    padding-top: 45px !important;
  }
  &:hover {
    background: $hover-color;
    cursor: pointer;
  }
}
</style>
