@import "../../variables";
@mixin select($type, $color) {
  .select-#{$type}.el-select {

  }
  .select-#{$type}.el-select .el-input  {
    .el-input__suffix{
      display: flex;
      align-items: center;
    }
    input {
      &[placeholder="Seleccione un dueño de proceso"],
      &[placeholder="Selecciona la frecuencia"],
      &[placeholder="Asigne a un miembro"],
      &[placeholder="Selecciona una opción"]{
        font-size:10px;
      }
      &::placeholder{
        color: $input-color-placeholder;
        opacity: 1;
        font-size:10px;
      }
      &[placeholder="Seleccione un dueño de proceso"]::placeholder,
      &[placeholder="Selecciona la frecuencia"]::placeholder,
      &[placeholder="Asigne a un miembro"]::placeholder,
      &[placeholder="Selecciona una opción"]::placeholder
      {
        color: $input-color-placeholder;
        opacity: 1;
        font-size:10px;
      }
    }
    &:hover{
      .el-input__icon,
      input {
        &::placeholder{
          color: white;
        }
        color: white;
      }
      input,
      .el-input__icon{
        background-color: $color;
      }

    }
    .el-input__icon{
      border-radius:20px;
      height: 40px;
      width: 30px;
      font-size: 10px;
      font-weight: 700
    }

    input{
      background-color: white;
      border-color: $medium-gray !important;
      border-width: 1px;
      border-radius: 2px;
      color: $font-color;
    }
    .el-input__icon{
      color:$color;
    }
  }
  .select-#{$type}{

    .el-tag, .el-tag.el-tag--info {
      line-height: 24px;
      background-color: $color !important;
      border: none !important;
      .el-tag__close{
        width: 20px;
        height: 20px;
        color: white;
        background-color: transparent;
        &:hover {
         background-color: white;
         color: $color;
        }

        &:before {
          margin-top: 2px;
        }

      }
    }
    &.el-select-dropdown__item.selected,
    &.el-select-dropdown__item.selected.hover {
      background-color: $color;
      color: white;
    }
  }

  &.el-select-dropdown.is-multiple
  .el-select-dropdown__item.selected{
    &.select-#{$type}{
      color: $color;
    }
  }
}

.el-select .el-input {
  &:hover {
    .el-input__icon,
    input {
      &::placeholder {
        color: white;
      }
      color: white;
    }
  }
}
.el-select-dropdown {
  border-radius:10px;
}

@include select('default', $default-color)
@include select('info', $info-color)
@include select('primary', $primary-color)
@include select('success', $success-color)
@include select('warning', $warning-color)
@include select('danger', $danger-color)
