.notifications.vue-notifyjs {
  .alert {
    z-index: 4000;
    position: fixed;
  }
  .notification-list-move {
    transition: transform 0.3s, opacity 0.4s;
  }
  .notification-list-item {
    display: inline-block;
    margin-right: 10px;

  }
  .notification-list-enter-active, .notification-list-leave-active {
    transition: opacity 0.4s;
  }
  .notification-list-enter, .notification-list-leave-to /* .list-leave-active for <2.1.8 */
  {
    opacity: 0;
  }
}
